<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.block.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Заблокувати номер телефону</h1>
	
		<p data-tx="t0002">Черговий недоброзичливець прослизнув крізь сітку PhoneBlock? Прикро, але не біда, ви швидко його позбудетеся. Для цього просто додайте номер порушника спокою до "Списку блокування". Для цього увійдіть до своєї Fritz!Box скриньки.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank"><button class="button is-medium is-primary is-fullwidth" data-tx="t0003">Увійдіть до FRITZ!Box</button></a>
		  </div>
		</div>
		
		<h2 data-tx="t0004">Показати список абонентів</h2>
		
		<p data-tx="t0005">В інтерфейсі вашого FRITZ!Box ви можете побачити всіх останніх абонентів. Якщо все пройшло успішно, список буде виглядати так, як показано нижче. Небажаний дзвінок було розпізнано, позначено як спам і відхилено (дзвінок позначено червоним хрестиком).</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Список викликів Fritz!Box" class="image" data-tx="t0021" th:src="@{/assets/img/block/07-spam-caller.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0006">У цьому випадку нічого не поробиш. Небажаний абонент вже в "чорному списку" і більше не може вас турбувати.</p>
		
		<h2 data-tx="t0007">Новий запис "Блокування"</h2>
		
		<p data-tx="t0008">Якщо у неприємного абонента з'явився новий номер телефону або розпочав свою діяльність новий телефонний терорист, небажаний дзвінок все одно може надійти до вас. У цьому випадку ви можете додати новий запис до "Блокування" тут.</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<div class="tile is-ancestor">
		      <div class="tile is-parent">
		      	<article class="tile is-child notification is-danger">
			        <p class="title" data-tx="t0009">Струнко!</p>
			        <p class="subtitle" data-tx="t0010">Не заводьте собі особистих ворогів!</p>
			        <div class="content">
			          <p data-tx="t0011">Запис у "Блок-листі" блокує абонента не тільки для вас, але й для всіх учасників спільноти PhoneBlock! Тому, якщо ви більше не хочете отримувати дзвінки від тещі, внесіть її номер до локального списку блокування дзвінків у вашому FRITZ!Box, але не в "Блок-лист" PhoneBlock!</p>
			          
			          <p data-tx="t0012">У разі порушення ваш обліковий запис буде безповоротно заблоковано без попередження!</p>
			        </div>
			  	</article>
			  </div>
			</div>
	    </div>
	 </div>
	 
	 <p data-tx="t0013">Ви впевнені, що вам надійшов рекламний дзвінок, який ви не замовляли і який, ви впевнені, більше ніхто не хоче отримувати? Тоді вперед - заблокуйте номер...</p>
		
	<p data-tx="t0014">Номер блокується шляхом створення нового запису в телефонній книзі з назвою "Список блокування". Ваш FRITZ!Box завантажить цей новий запис на сервер PhoneBlock, і всі інші підключені користувачі спільноти PhoneBlock також отримають цей запис у своєму списку блокування. Щоб внести новий запис до телефонної книги, натисніть на символ книги в кінці рядка з номером небажаного дзвінка.</p>
	
	<p data-tx="t0015">Тепер виберіть телефонну книгу "Блокування":</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Позначити дзвінок як небажаний" class="image" data-tx="t0022" th:src="@{/assets/img/block/08-mark-as-spam.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0016">Натисніть "Далі" і виберіть "Створити новий":</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Створіть новий запис у списку блокування" class="image" data-tx="t0023" th:src="@{/assets/img/block/09-create-entry-create.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0017">На наступному екрані введіть ім'я на свій розсуд і натисніть "ОК". Після синхронізації з сервером PhoneBlock ім'я буде замінено на "СПАМ: номер телефону", тому вам не потрібно докладати зусиль, щоб ввести щось приємне:</p>
	
	<p data-tx="t0018"><b>Важливо:</b> Ви можете ввести лише <b>один номер</b> для кожного запису телефонної книги у списку блокування. Після цього PhoneBlock відсортує телефонний номер до потрібного блоку. Номер, який ви вводите, не повинен <b>містити підстановочний знак ("*")</b>. Підстановочні номери генеруються самим PhoneBlock тільки в тому випадку, якщо є багато скарг на номери телефонів, які знаходяться близько один до одного.</p>
	
	<p data-tx="t0019"><b>Важливо:</b> Ви не повинні <b>редагувати</b> існуючі записи в списку блокування (не додавати номери, не видаляти номери), інакше PhoneBlock відкине ваші зміни під час наступної синхронізації. Якщо ви хочете видалити номер із списку блокування, додайте його до вашого <a th:href="@{/settings/#whitelist}">білого списку в налаштуваннях</a>.</p>

	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Прийняти новий запис до списку блоків" class="image" data-tx="t0024" th:src="@{/assets/img/block/10-add-entry-save.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0020">Готово! Ви врятували себе і всю спільноту PhoneBlock від чергового болю в дупі, дякуємо!</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>