<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001:4fb302c1">Ця сторінка не відображається в браузері</h1>

			<p data-tx="t0002:3d6127e">Ви повинні ввести посилання на адресну книгу, яке ви отримали під час <a th:href="@{/login}">реєстрації</a> адресної книги у вашому Fritz!Box, як описано в <a th:href="@{/setup}">інструкції з інсталяції</a>, разом з вашою адресою електронної пошти та паролем, надісланим вам на пошту. Ви не можете відобразити це посилання безпосередньо в браузері, оскільки доступ до адресних книг здійснюється через спеціальний протокол (CardDAV), який не підтримується вашим браузером.</p>
		</div>
	</section>

	<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>