<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.faq.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Питання та відповіді про PhoneBlock</h1>

		<h2 data-tx="t0002">Чи є PhoneBlock безкоштовним?</h2>
		<p data-tx="t0003">Так, наразі вам не потрібно нічого платити за користування PhoneBlock. Однак, робота PhoneBlock вимагає поточних витрат на оренду сервера, доступ до інтернету та реєстрацію домену. Щоб покрити ці витрати, було б добре, якби ви могли зробити <b><a th:href="@{/support.jsp}">невелику пожертву</a></b>.</p>
		
		<p data-tx="t0004">Довгий час PhoneBlock працював на <a href="https://www.raspberrypi.com/">Raspberry PI 4</a> на моєму робочому столі і тому майже не вимагав додаткових витрат (окрім підключення до Інтернету та реєстрації домену). Однак, у зв'язку зі збільшенням кількості користувачів і, перш за все, для забезпечення кращої доступності сервісу, PhoneBlock переїхав до <a href="https://www.hetzner.com/">Hetzner Cloud</a> (місцезнаходження сервера - Фалькенштайн, Німеччина). Перейшовши за <a href="https://hetzner.cloud/?ref=XcWUSVoJ3AU8">цим посиланням, ви отримаєте 20 євро хмарного кредиту від Hetzner у подарунок</a> - і якщо ви дійсно скористаєтеся ним і заплатите за нього гроші, PhoneBlock зарахує перші 10 євро, які ви витратите, як хмарний кредит.</p>

		<h2 data-tx="t0005">Яка різниця між PhoneBlock та "<a target="_blank" th:href="@{/link/tellows}">дзвінки не турбують</a>"?</h2>
		<p data-tx="t0006">Автовідповідач <a th:href="@{/anrufbeantworter/}">PhoneBlock</a> не розпізнає обмеження на розмір телефонної книги чорного списку. Він приймає виклик на всі номери зі списку блокування. Вам не потрібно щовечора оновлювати список блокування у вашому Fritz!Box, він завжди актуальний.</p>
		
		<p data-tx="t0007">Ви можете встановити автовідповідач <a th:href="@{/anrufbeantworter/}">PhoneBlock</a> на будь-який інтернет-маршрутизатор з підтримкою VOIP, навіть якщо ваш маршрутизатор не підтримує протокол CardDAV для інтернет-телефонних довідників.</p>
		
		<p data-tx="t0008">За допомогою обох пропозицій ви можете налаштувати <a th:href="@{/setup.jsp}">блок-лист як інтернет-телефонну книгу</a> у вашому Fritz!Box і заблокувати номери з цієї телефонної книги. PhoneBlock також пропонує вам можливість персоналізації вашого списку блокування і також є безкоштовним (див. вище).</p>
		
		<p data-tx="t0009">Ви можете самостійно додавати номери до свого персонального списку блокування і, що більш важливо, ви також можете виключати номери з блокування (див. також "Номер заблоковано помилково, що робити?" нижче). Це цікаво, якщо PhoneBlock додав до списку блокування номер, на який ви хотіли б, щоб вам телефонували. Наприклад, номер інтернет-провайдера може легко опинитися в списку блокування, якщо багатьох людей дратують дзвінки з цього номера, а ви чекаєте на дзвінок. Це також дуже добре пояснюється в цьому <a target="_blank" th:href="@{/link/tellows-problems}">відео на YouTube</a>. За допомогою PhoneBlock ви можете налаштувати свій список блокування, номери, які ви самі внесли до нього, залишаться заблокованими, а номери, які ви додали до свого білого списку, точно не будуть заблоковані.</p>

		<h2 data-tx="t0010">Мій Fritz! box ще не підтримує CardDAV, чи можу я використовувати PhoneBlock?</h2>
		<p data-tx="t0011">Так, є дві можливості:</p>
		<ol>
		<li data-tx="t0012">Використовуйте автовідповідач PhoneBlock (наразі все ще в стадії бета-тестування) замість телефонної книги. Ви реєструєте автовідповідач PhoneBlock у Fritz!Box як інтернет-телефон, і він завжди відповідає на дзвінки зі спам-номерів так швидко, що ваш телефон не дзвонить або дзвонить дуже коротко. Автовідповідач PhoneBlock наразі доступний лише в тестовій системі, яка вимагає окремої реєстрації: <a th:href="@{/anrufbeantworter/}">До тестової системи автовідповідача</a>. Якщо ви змогли успішно встановити автовідповідач - або у вас виникли проблеми - будь ласка, повідомте нам про це, щоб новий інструмент став загальнодоступним якнайшвидше.</li>
		<li data-tx="t0013">Використовуйте інструмент <a href="https://spamblockup.jimdofree.com/">SpamBlockUp</a>, щоб завантажити список блокування у ваш Fritz! Однак вам знадобиться комп'ютер, на якому ви зможете встановити програму. SpamBlockUp також може використовувати список блокування PhoneBlock і завантажувати його у ваш Fritz! За деталями, будь ласка, зв'яжіться з автором цієї програми. PhoneBlock не має відношення до SpamBlockUp.</li>
		</ol>

		<h2 data-tx="t0014">У мене немає Fritz! box, чи можу я використовувати PhoneBlock?</h2>
		
		<p data-tx="t0015">Ви можете встановити автовідповідач <a th:href="@{/anrufbeantworter/}">PhoneBlock</a> на будь-який інтернет-маршрутизатор з підтримкою VOIP, навіть якщо ваш маршрутизатор не підтримує протокол CardDAV для інтернет-телефонних книг. Встановіть автовідповідач як звичайний VOIP-телефон, який підключається до вашої скриньки через Інтернет.</p>
		
		<p data-tx="t0016">Для того, щоб імпортувати список блокування у вигляді телефонної книги, ваш інтернет-маршрутизатор/телефонна система повинна мати можливість підписуватися на телефонну книгу за протоколом <code>CardDAV</code> і автоматично відхиляти всі дзвінки з номерів з певної телефонної книги (або переадресовувати їх на автовідповідач). Щоб дізнатися, чи можливо це у вашій телефонній системі, зверніться до інструкції або запитайте у вашого телефонного провайдера. Якщо ви успішно встановили список блокування на іншому маршрутизаторі, будь ласка, повідомте нам про це, щоб ми могли адаптувати інструкції з встановлення.</p>

		<h2 data-tx="t0017">Чи можна використовувати PhoneBlock на мобільному телефоні Android?</h2>
		<p data-tx="t0018">Так, у вас навіть є два варіанти: (а) підписатися на адресну книгу PhoneBlock або (б) налаштувати SpamBlocker і інтегрувати базу даних PhoneBlock туди.</p>
		<p data-tx="t0019">Якщо ви підписані на адресну книгу <a th:href="@{/setup-android/}">PhoneBlock</a>, ви можете бачити безпосередньо під час дзвінка, чи варто відповідати на нього або передзвонити, якщо ви пропустили дзвінок. Однак відхиляти спам-дзвінки безпосередньо неможливо.</p>
		<p data-tx="t0020">Якщо ви встановите <a href="https://news.phoneblock.net/setup-spamblocker-mit-phoneblock/">SpamBlocker</a>, ви зможете інтегрувати в нього базу даних PhoneBlock. Тоді SpamBlocker зможе порівнювати номер з базою даних PhoneBlock при отриманні дзвінка і відхиляти дзвінок безпосередньо, якщо вони збігаються. <a href="https://github.com/aj3423/SpamBlocker">SpamBlocker</a> є незалежним додатком, будь ласка, зв'яжіться з розробником, якщо у вас виникли проблеми з ним.</p>
		
		<h2 data-tx="t0021">Чи можна використовувати PhoneBlock на iPhone?</h2>
		<p data-tx="t0022">Так, на iPhone це можна зробити навіть без встановлення додаткових додатків. Погляньте на <a th:href="@{/setup-iphone/}">інструкції з встановлення</a> тут.</p>

		<h2 data-tx="t0023" id="Error26">Мій FritzBox! повідомляє "Помилка 26" під час налаштування</h2>
		
		<p data-tx="t0024">Незрозуміло, звідки з'являється ця помилка і що вона означає. Однак користувачі повідомляють, що наступні кроки все одно допомагають налаштувати PhoneBlock:</p>
		
		<ol>
			<li data-tx="t0025">Повністю видаліть телефонну книгу ще раз</li>
			<li data-tx="t0026">Перезавантажте пристрій і перевірте, чи дійсно було видалено телефонну книгу. Якщо ні, повторіть видалення.</li>
			<li data-tx="t0027">Відновіть телефонну книгу. Переконайтеся, що ви дійсно правильно скопіювали адресу сервера. Переконайтеся, що на початку і в кінці імені користувача та пароля немає пробілів.</li>
		</ol>
		
		<p data-tx="t0028">Зверніть увагу: Якщо ви змінюєте пароль доступу до PhoneBlock, недостатньо встановити новий пароль у налаштуваннях телефонної книги. Здається, у Fritz! виникла проблема з оновленням даних доступу. Замість цього видаліть телефонну книгу і налаштуйте її заново.</p>

		<h2 data-tx="t0029" id="disposable-mail">Чому я не можу зареєструватися з одноразовою електронною адресою?</h2>
		<p data-tx="t0030">Якщо ви використовуєте PhoneBlock, ви постійно споживаєте обчислювальну потужність і пропускну здатність Інтернету, оскільки список блокування оновлюється щодня. Робота PhoneBlock наразі споживає близько 500 ГБ даних на місяць. Наразі це безкоштовно для вас. Однак, якщо під час роботи щось не працює "гладко", я очікую, що ви будете на зв'язку, щоб виправити будь-які проблеми. Якщо ви реєструєтесь за одноразовою адресою, це неможливо. Реєстрація на одноразову адресу буде так само добре, як і відсутність реєстрації взагалі.</p>

		<h2 data-tx="t0031">Коли номер блокується PhoneBlock?</h2>
		<p data-tx="t0032">Якщо ви додасте номер до списку блокування самостійно, дзвінки з цього номера будуть заблоковані для вас негайно. Однак інші абоненти, які перебувають у списку блокування PhoneBlock, не отримають цей номер у свій список блокування одразу. Новий номер буде розподілений серед усіх абонентів лише після того, як принаймні три абоненти також заблокують цей номер. Точні правила додавання номера до списку блокування та його видалення з нього ще допрацьовуються. Однак одне можна сказати напевно: номер, який ви самі додали до списку заблокованих, залишиться заблокованим для вас у будь-якому випадку.</p>
		
		<h2 data-tx="t0033">Я все ще отримую спам-дзвінки, незважаючи на PhoneBlock, що я можу зробити?</h2>
		<p data-tx="t0034">Завжди з'являються нові спам-номера, тому PhoneBlock не може забезпечити 100% захист. <a th:href="@{/block.jsp}">Додайте нового небажаного абонента до списку блокування</a> і допоможіть іншим швидко позбутися шкідника!</p>

		<h2 data-tx="t0035">Номер заблоковано помилково, що мені робити?</h2>
		<p data-tx="t0036">Без проблем, відкрийте <a th:href="@{/settings/#whitelist}">Ваші налаштування</a> і додайте номер до білого списку. Ваш білий список - це список телефонних номерів, які ви виключили з блокування. Вони ніколи не потраплять до вашого списку, навіть якщо багато інших користувачів відчувають роздратування від дзвінків з цього номера і блокують їх.</p>

		<h2 data-tx="t0037">Допоможіть, я помилково додав номер до списку блокування!</h2>
		<p data-tx="t0038">Якщо ви створюєте новий "контакт" у телефонній книзі блокування у вашому Fritz!Box, ваш Fritz!Box інформує сервер PhoneBlock, і він інтерпретує це як скаргу на цей номер. Крім того, номер додається до вашого персонального списку блокування, щоб вас більше не турбував цей номер. Через стиснене зберігання багатьох номерів у контакті, на жаль, неможливо видалити номер з персонального списку блокування в такий самий спосіб. Замість цього вам потрібно авторизуватися тут, на сайті, під своїми даними доступу і видалити номер з чорного списку в <a th:href="@{/settings/#blacklist}">Ваших налаштуваннях</a>. Після цього номер повинен зникнути зі списку блокування вашого Fritz!Box під час наступної синхронізації.</p>

		<h2 data-tx="t0039">Я боюся, що PhoneBlock заблокує потрібні мені номери, що я можу зробити?</h2>
		<p data-tx="t0040">З PhoneBlock вам не обов'язково блокувати номери. У вас є наступні можливості:</p>
		<ol>
			<li data-tx="t0041">Замість блокування налаштуйте переадресацію на автовідповідач. Якщо вам зателефонує хтось, хто дійсно чогось від вас хоче, він залишить повідомлення, і ви зможете йому передзвонити.</li>
			<li data-tx="t0042">Пропустіть крок встановлення з блокуванням повністю. Просто налаштуйте телефонну книгу PhoneBlock у вашому Fritz! Тоді, наприклад, при надходженні дзвінка на екрані телефону з'явиться повідомлення "СПАМ: 03016637169". Після цього ви можете вирішити, чи відповісти на дзвінок, тому що чекаєте зворотного дзвінка, чи відштовхнути абонента.</li>
		</ol>

		<h2 data-tx="t0043">Чи потрібно оновлювати телефонну книгу вручну?</h2>
		<p data-tx="t0044">Ні, це відбувається автоматично щоночі. Щовечора ваш Fritz! зв'язується з сервером PhoneBlock і синхронізує номери в списку блокування з телефонною книгою блокувальника. Таким чином, ваш список блокування завжди залишається актуальним. Якщо список блокування не завантажується з Fritz! Box протягом тривалого періоду часу (з будь-якої причини), PhoneBlock надішле вам електронного листа, щоб ви могли перевірити конфігурацію до того, як ваш список блокування стане застарілим.</p>

		<h2 data-tx="t0045">Коли саме буде оновлено список блокування?</h2>
		<p data-tx="t0046">Це вирішує ваш Fritz! Якщо ви не натиснете кнопку "Оновити" у телефонній книзі блокування, ваш Fritz! виділить для оновлення час між 0 і 6 годинами ранку. Компанія AVM зробила це дуже розумно, адже це означає, що дзвінки розподіляються відносно рівномірно протягом ночі і навантаження на сервер залишається обмеженим.</p>
		
		<h2 data-tx="t0047">Я думаю, що PhoneBlock - це чудово, чи можу я зробити пожертву?</h2>
		<p data-tx="t0048">Так, якщо вам подобається PhoneBlock, ви можете зробити <a th:href="@{/support.jsp}">невелику пожертву</a> на поточні витрати на оренду сервера, реєстрацію домену, доступ до інтернету тощо.</p>
		
		<p data-tx="t0049">Але також важливо, щоб про PhoneBlock стало більше відомо. Тому, якщо ви не можете або не хочете робити пожертвування, розмістіть посилання на сторінку PhoneBlock на форумах, в Facebook, в коментарях до журнальних статей, в своєму блозі або деінде, де ви вважаєте за потрібне. Тільки якщо поширення PhoneBlock зростатиме швидше, проект матиме ефект проти обурливого телефонного терору, який вирує в німецькій телефонній мережі.</p>

		<h2 data-tx="t0050">У мене є побажання, яке PhoneBlock обов'язково повинен вміти робити, де я можу його висловити?</h2>
		<p data-tx="t0051">Якщо у вас є акаунт на GitHub, ви можете відкрити тікет на сторінці проекту <a target="_blank" th:href="@{/link/issues}">PhoneBlock</a> і описати свій запит. Ви також можете обговорити пропозицію зі мною електронною поштою: <code>Bernhard Haumacher &lt;<button class="showaddr">...</button></code>.</p>
		
		<h2 data-tx="t0052">Як я можу знову видалити PhoneBlock?</h2>
		<p data-tx="t0053">Вам більше не потрібен PhoneBlock або ви не задоволені ним? Шкода, можливо, ви можете <a target="_blank" th:href="@{/link/issues}">внести пропозицію щодо покращення</a>?</p>
		
		<p data-tx="t0054">Щоб видалити програму, виконайте ті ж дії, що і для встановлення, тільки у зворотному порядку. Залежно від того, як ви встановили PhoneBlock (як <a th:href="@{/setup.jsp}">Телефонна книга</a> або як <a th:href="@{/anrufbeantworter/}">Автовідповідач</a>, або і те, і інше), вам потрібно видалити відповідні налаштування. Для телефонної книги: Видаліть блокування викликів (або переадресацію), яке застосовується до всіх викликів з телефонної книги PhoneBlock. Після цього ви можете видалити телефонну книгу PhoneBlock. Для автовідповідача: Видаліть пристрій телефонії "PhoneBlock", а потім деактивуйте випуск DynIP (якщо ви не користуєтеся окремою послугою DynIP). Після цього видаліть свій обліковий запис PhoneBlock у <a th:href="@{/settings/}">налаштуваннях</a>.</p>

		<h2 data-tx="t0055">На моє запитання тут немає відповіді, хто може допомогти?</h2>
		<p data-tx="t0056">Чому б вам не написати коментар на <a target="_blank" th:href="@{/link/facebook}">Фейсбук-сторінці PhoneBlock</a>, тоді всі зможуть прочитати питання. Ви також можете надіслати мені особисте повідомлення на електронну пошту: <code>Бернхард Хаумахер <button class="showaddr">...</button></code>.</p>
	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>