<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.impressum.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Відбиток</h1>

		<p data-tx="t0002">PhoneBlock - це <a href="https://github.com/haumacher/phoneblock">приватний проект</a>, який може допомогти вам у цифровому самозахисті від телефонного терору та небажаних рекламних дзвінків. PhoneBlock не є ні продуктом, ні комерційною послугою в розумінні <a href="https://www.gesetze-im-internet.de/ddg/__5.html">Закону про цифрові послуги</a>.</p>
		
		<p data-tx="t0003">Я (Бернхард Хаумахер <button class="button is-small is-link is-light showaddr">...</button>) керую цим веб-сайтом як приватна особа для мого особистого задоволення і з технологічного інтересу. Я надаю вам можливість безкоштовно користуватися програмним забезпеченням, а також безкоштовно надаю необхідні серверні потужності. Якщо ви хочете зробити свій внесок в операційні витрати або просто сказати "дякую", ви можете "пожертвувати" <a th:href="@{/support.jsp}">невелику суму</a>. Однак, ви робите це, не очікуючи нічого натомість.</p>
		
		<p data-tx="t0004">Програмне забезпечення, що лежить в основі цього веб-сайту, було розроблене Бернхардом Хаумахером <button class="button is-small is-link is-light showaddr">...</button> та іншими. Якщо у вас виникли запитання, на які ви не знайшли відповіді в <a th:href="@{/faq.jsp}">Часті запитання</a> та <a th:href="@{/usage.jsp}">Умовах використання</a>, будь ласка, не соромтеся звертатися до мене (<button class="button is-small is-link is-light showaddr">...</button>). Однак, я не бажаю приймати телефонні дзвінки або візити, тому єдиним варіантом зв'язку є електронна пошта. У разі виникнення проблем, наприклад, якщо ваш номер телефону випадково потрапив до списку блокування, я буду радий допомогти вам негайно і без ускладнень.</p>

		</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>