<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="Логотип PhoneBlock" data-tx="t0015:5b0e8765" th:src="@{/assets/img/animation.svg}"/>
		</div>

		<h1 data-tx="t0001:79729e8b">Автоматично відхиляйте небажаних абонентів</h1>

		<p data-tx="t0002:d74f7216">Ваш номер телефону також потрапив до рук нечесних торговців адресами і ви постійно отримуєте настирливі дзвінки, які хочуть "оптимізувати" ваш рахунок за електроенергію, дати вам пораду щодо сонячної системи, оголосити про черговий грандіозний приз або запропонувати інші "привілеї"? Тоді <b>PhoneBlock</b> - це саме те, що вам потрібно!</p>

		<div th:replace="~{fragments/page :: buttons}"></div>

		<h2 data-tx="t0007:20eeb709">Як працює PhoneBlock?</h2>

		<p data-tx="t0008:62e0be42">PhoneBlock - це список телефонних номерів, що підтримується спільнотою PhoneBlock, які підозрюються як спам. Автовідповідач <a th:href="@{/anrufbeantworter}">PhoneBlock</a> приймає дзвінки від абонентів зі списку блокування, так що ваш телефон буде мовчати під час цих дзвінків.</p>
		
		<p data-tx="t0009:149bd771">Крім того, ви також можете імпортувати чорний список у вигляді телефонної книги в інтернет-маршрутизатор "FRITZ!Box" і блокувати дзвінки з номерів з цієї <a th:href="@{/setup}">спеціальної телефонної книги</a>. Вам більше не потрібно вручну блокувати діапазони номерів, оскільки ваш Fritz!Box автоматично оновлює список заблокованих номерів щовечора. Як тільки номер додається до цього чорного списку, ваш FRITZ!Box автоматично відхиляє дзвінки з цього номера. Однак <a th:href="@{/anrufbeantworter}"> автовідповідач</a> є кращим рішенням, оскільки телефонна книга має обмежений розмір і не може вмістити всі номери в списку блокування.</p>

		<p data-tx="t0010:c0b8328d">Якщо ви все ще отримуєте небажаний дзвінок, тому що номер ще не додано до списку заблокованих, ви можете легко заблокувати <a th:href="@{/block}">номер у вашій FRITZ!Box</a>. Для цього внесіть запис про небажаного абонента в адресну книгу PhoneBlock безпосередньо у вашому Fritz!Box Щойно ви це зробите, ваш FritzBox оновить список блокування для всіх членів спільноти PhoneBlock, і дзвінки з цього нового номера також будуть негайно заблоковані для всіх інших. Це трохи довше, ніж блокування номера безпосередньо у вашому Fritz!BoxТелефоні, але має перевагу в тому, що ви захищаєте всю спільноту PhoneBlock від <a th:href="@{/status}">подальших спам-дзвінків</a>.</p>

		<h2 data-tx="t0011:db4a3206">Які вимоги?</h2>

		<div class="fritzbox-position">
			<a th:href="@{/link/fritzbox}"> <img alt="AVM Fritz!Box 7590" data-tx="t0016:778ea20f" id="fritzbox" th:src="@{/assets/img/fritzbox.png}" width="200"/>
			</a>
		</div>
		
		<p data-tx="t0012:21ca43c">PhoneBlock може блокувати небажані дзвінки або на <a th:href="@{/setup}">"стаціонарному телефоні"</a> у поєднанні з <a th:href="@{/link/fritzbox}">"інтернет-роутером FRITZ!Box" від AVM</a>, або показувати безпосередньо на вашому <a th:href="@{/setup-android}">мобільному телефоні</a>, чи є абонент потенційно небажаним.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			  <input id="context-path" th:value="${contextPath}" type="hidden"/>
			<a class="button is-medium is-info is-fullwidth state-initial" href="#" id="search-fritzbox">
				<span class="icon is-small is-left">
					<i class="fa-solid fa-magnifying-glass"></i>
				</span>
				<span class="display-initial" data-tx="t0013:f1e2844f">Шукай Fritz!Box</span>
				<span class="display-searching" data-tx="t0017:afb59ec0">Зачекай хвилинку...</span>
				<span class="display-success" data-tx="t0018:a0e3f5f5">Знайшли, починайте!</span>
				<span class="display-failed" data-tx="t0019:ab0e4be2">Не знайдено, що робити?</span>
			</a>
		  </div>
		</div>

		<p data-tx="t0014:d5f9ffe8">Не знаєте, чи є у вас Fritz!Box box? Якщо ви зараз перебуваєте вдома в бездротовій мережі, натисніть кнопку пошуку вище. PhoneBlock спробує знайти Fritz!Box box у вашому районі.</p>
	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>