<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">Встановлення як телефонної книги</h1>

<p data-tx="t0002:10d70c8f">Для встановлення списку блокування вам потрібен інтернет-роутер <a th:href="@{/link/fritzbox}">"FRITZ!Box" від AVM</a> та обліковий запис PhoneBlock. Це не обов'язково повинна бути остання модель, але ви повинні перевірити, чи встановлена на ньому остання версія FRITZ!OS (07.29 або новіша). Якщо це не так, скористайтеся наступними інструкціями по встановленню, щоб перевірити, чи ваша версія вже пропонує необхідні опції.</p>

<p data-tx="t0003:d62d702f">Примітка: Через технічні обмеження Fritz!Box, весь список блокування не може бути завантажений до телефонної книги. Тому налаштування автовідповідача <a th:href="@{/anrufbeantworter}">PhoneBlock</a> забезпечує кращий захист від СПАМ-дзвінків.</p>

<p data-tx="t0052:818cc317">Щоб налаштувати список блоків, виконайте наступні кроки:</p>

<ol>
	<li><a data-tx="t0053:5cb36b90" href="#register">Зареєструйтеся в PhoneBlock</a> <span class="tag is-success" data-tx="t0054:3378b39d" th:if="${userName}">✓ Готово</span></li>
	<li><a data-tx="t0055:d44f7d1" href="#fritzbox">Увійдіть до FRITZ!Box</a></li>
	<li><a data-tx="t0056:d6fa7b4e" href="#phonebook">Створіть нову телефонну книгу "Blocklist"</a></li>
	<li><a data-tx="t0070:958ad5cf" href="#create-token">Згенеруйте токен CardDAV</a> <span class="tag is-success" data-tx="t0058:3378b39d" th:if="${cardDavToken}">✓ Готово</span></li>
	<li><a data-tx="t0071:9e1ea08e" href="#credentials">Введіть дані для входу у Fritz!Box</a></li>
	<li><a data-tx="t0059:4f985acc" href="#verify">Перевірте встановлення</a></li>
	<li><a data-tx="t0060:91946e2c" href="#block">Увімкнути заборону дзвінків</a></li>
</ol>

<h2 data-tx="t0061:e8d5bb12" id="register">Крок 1: Зареєструйтеся в PhoneBlock</h2>

<p data-tx="t0062:fffc269" th:unless="${userName}">По-перше, вам потрібно зареєструватися або увійти в PhoneBlock, щоб почати налаштування.</p>

<div class="columns" th:unless="${userName}">
  <div class="column is-half is-offset-one-quarter">
	<a th:href="@{/login(location='/setup')}">
		<button class="button is-medium is-info is-fullwidth">
			<span class="icon">
				<i class="fa-solid fa-right-to-bracket"></i>
			</span>
			<span data-tx="t0063:1dc205">Увійдіть в систему</span>
		</button>
	</a>
  </div>
</div>
<p data-tx="t0064:1a4e19e4" th:if="${userName}"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Ви вже увійшли як <code dir="ltr" th:text="${userName}"></code>, чудово! Перейдіть до наступного кроку.</p>
		
		<h2 data-tx="t0065:8bf85697" id="fritzbox">Крок 2: Увійдіть до FRITZ!Box</h2>

		<p data-tx="t0012:2354f60">Для того, щоб це спрацювало, ви повинні бути вдома у вашій бездротовій локальній мережі або ваш комп'ютер повинен бути підключений безпосередньо до FRITZ!Box за допомогою кабелю. Спочатку FRITZ!Box запитає у вас пароль. Якщо ви ніколи раніше не входили в систему, ви знайдете цей пароль на нижній панелі пристрою.</p>

		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">Увійдіть до FRITZ!Box</button>
			</a>
		  </div>
		</div>

		<h2 data-tx="t0066:502b2c97" id="phonebook">Крок 3: Створіть нову телефонну книгу "Blocklist"</h2>
		
		<p data-tx="t0015:60de307b">Для того, щоб ваш FRITZ!Box блокував спам-дзвінки, йому потрібна власна телефонна книга, в яку заносяться всі номери небажаних абонентів. Назвемо цю телефонну книгу "Блок-лист". Для цього</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">Спочатку перейдіть до розділу "Телефонія",</li>
			<li data-tx="t0017:bf3c833">оберіть пункт меню "Телефонна книга" та</li>
			<li data-tx="t0018:9545daeb">потім натисніть на посилання "Нова телефонна книга".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Список викликів Fritz!Box" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0072:356d507a" id="create-token">Крок 4: Створіть токен CardDAV</h2>

		<p data-tx="t0073:5843bc02">Для налаштування у вашому Fritz!Box вам знадобиться спеціальний токен CardDAV як пароль. Цей токен використовується тільки для з'єднання між Fritz!Box і PhoneBlock і може бути відкликаний у будь-який момент у налаштуваннях.</p>

		<th:block th:if="${cardDavToken}">
			<p data-tx="t0074:9b72e482"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Ви вже створили токен! Перейдіть до наступного кроку.</p>
		</th:block>

		<th:block th:if="${userName} and ${!cardDavToken}">
			<p data-tx="t0075:ca529190">Тепер створіть токен для Fritz! За бажанням ви можете додати коментар, щоб пізніше знати, для чого використовується токен (наприклад, "Вітальня Fritz!Box").</p>

			<form method="post" th:action="@{/update-settings(action='createToken', location='/setup#credentials')}">
				<input name="token-type" type="hidden" value="CARDDAV"/>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" data-tx="t0049:fe053998" name="token-label" placeholder="Необов'язково: коментар (наприклад, &quot;Вітальня Fritz!Box&quot;)" type="text"/>
					</div>
					<div class="control">
						<button class="button is-primary" data-tx="t0050:21ce66dd" type="submit"><i class="fa-solid fa-key"></i> Створити токен</button>
					</div>
				</div>
			</form>
		</th:block>

		<p data-tx="t0051:9fe447a" th:unless="${userName}">Щоб створити токен, ви повинні спочатку <a th:href="@{/login(location='/setup')}">увійти</a>.</p>

		<h2 data-tx="t0076:35997409" id="credentials">Крок 5: Введіть дані для входу у Fritz!Box</h2>

		<p data-tx="t0020:e4a227b8">Тепер вам потрібно ввести дані для входу у FRITZ!</p>

		<ol>
			<li>
				<div data-tx="t0021:d5b1f48a">Введіть назву <code dir="ltr">Блокліст</code> для телефонної книги, яку буде використано як блокліст. Ця назва знадобиться вам на наступному кроці.</div>
			</li>

			<li data-tx="t0022:32f6ec7">Виберіть опцію <i>Використовувати телефонну книгу інтернет-провайдера</i>.</li>

			<li data-tx="t0023:d59c1b48">Виберіть постачальника <i>CardDAV-провайдера</i>.</li>

			<li>
				<div data-tx="t0079:c5926e14">Перенесіть дані для входу (бажано за допомогою Cut&amp;Paste, щоб уникнути помилок при введенні).</div>

				<ul>
					<li data-tx="t0080:d646341e"><span><i>Інтернет-адреса сервера CardDAV</i>:</span> <code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="Скопіювати в буфер обміну."><i class="fa-solid fa-copy"></i></a> (URL адресної книги PhoneBlock)</li>

					<li>
						<i data-tx="t0081:548c40c1">Ім'я користувача</i>: 
						
						<th:block data-tx="t0082:baafe4ec" th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="Скопіювати в буфер обміну."><i class="fa-solid fa-copy"></i></a> (Ваше ім'я користувача PhoneBlock)</th:block>

						<th:block data-tx="t0083:c9c6fa56" th:unless="${userName}">Спочатку ви повинні увійти в систему (див. <a href="#register">Крок 1</a>).</th:block>
					</li>

					<li>
						<span>
							<i data-tx="t0084:e99dee32">пароль</i>:
						</span>
						
						<th:block data-tx="t0085:1d7c0447" th:if="${cardDavToken}"><code dir="ltr" id="passwd2" th:text="${cardDavToken.token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="Скопіювати в буфер обміну."><i class="fa-solid fa-copy"></i></a> (токен з кроку 4)</th:block>
						
						<th:block data-tx="t0078:c657e130" th:unless="${cardDavToken}">Спочатку ви повинні створити токен (див. <a href="#create-token">Крок 4</a>).</th:block>
					</li>
				</ul>
			</li>

			<li data-tx="t0025:a4fb7bb8">Тепер ви можете підтвердити створення нової телефонної книги. Зверніть увагу: Виберіть <b>ні один з ваших телефонів</b> в розділі "Призначення телефону"! Інакше в контактах на вашому телефоні ви побачите лише абонентів зі спамом.</li>
		</ol>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Створіть нову адресну книгу" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0068:49ed5643" id="verify">Крок 6: Перевірте встановлення</h2>

		<p data-tx="t0027:6bd9c881">Якщо все пройшло успішно, то ваш FRITZ!Box завантажив всі номери з блокування PhoneBlock. Тепер у вас повинна з'явитися нова телефонна книга "Блокування" в розділі "Телефонія / Телефонна книга". Якщо ви виберете вкладку "Блокування", ви побачите всі номери поточних абонентів, які отримують спам.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Показати отриманий список блокування" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0069:16c40784" id="block">Крок 7: Увімкніть заборону дзвінків</h2>
		
		<p data-tx="t0029:ffbbaf55">У розділі "Телефонія / Обробка викликів" ви можете вказати нову телефонну книгу "Блокування" як діапазон телефонних номерів для блокування.</p>			
		
		<p data-tx="t0030:2d9a1437">Прокрутіть вниз до підпункту "Діапазони номерів блоків" і натисніть кнопку "Додати діапазон".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Додати нову заборону викликів" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">На новому екрані виберіть опцію "Телефонна книга" у виборі "Область" і виберіть новостворену телефонну книгу "Блокований список" як "Телефонну книгу", яку потрібно заблокувати.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Блокувати абонентів з номером телефону в списку блокування" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">Чудово! Ви все налаштували. Тепер ваш телефон буде набагато рідше дзвонити через небажаних абонентів. А якщо це станеться, ви легко зможете змусити порушника спокою для вас і всієї спільноти PhoneBlock замовкнути:</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">Заблокувати номер телефону</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>