<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Встановлення в телефонні системи</h1>
		
		<p data-tx="t0002">PhoneBlock також можна інтегрувати в телефонні системи. Оскільки телефонні системи, як правило, використовуються в комерційних цілях, будь ласка, зверніть увагу на <a th:href="@{/usage}">Зауваження щодо комерційного використання</a> PhoneBlock, зокрема на відмову від відповідальності. Скрипти для інтеграції телефонної системи є внеском спільноти PhoneBlock. Тому, якщо у вас виникли будь-які питання/проблеми з ними, будь ласка, звертайтеся безпосередньо до відповідного розробника.</p>
		
		<h2 data-tx="t0003">3CX</h2>
		
		<p data-tx="t0004">Для використання PhoneBlock у телефонній системі <a href="https://www.3cx.com/">3CX</a> погляньте на проект <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a>.</p>
		
		<h2 data-tx="t0005">Інше</h2>
		
		<p data-tx="t0006">Ви написали інтеграцію для іншої телефонної системи? Тоді повідомте <a th:href="@{/impressum}">мені</a> про це, щоб я міг встановити посилання на ваш проект.</p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>