<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.support.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Підтримка PhoneBlock</h1>

		<p data-tx="t0002">PhoneBlock є безкоштовним у використанні, ви можете встановити його на всі свої Fritz!Box коробки та мобільні телефони без необхідності платити за нього. Однак робота PhoneBlock аж ніяк не безкоштовна. Існують постійні витрати на оренду сервера, доступ до Інтернету та реєстрацію домену. <a th:href="@{/impressum.jsp}">Я</a> фінансую це з власної кишені.</p>
		
		<p data-tx="t0003">Якщо вам подобається PhoneBlock і він допомагає вам тримати настирливих шкідників подалі від вашого телефонного з'єднання, ви можете зробити свій внесок у витрати на PhoneBlock або просто сказати "дякую" невеликим пожертвуванням. Якщо долучиться багато користувачів, невеликої суми - наприклад, <b>€1 на рік</b> або <b>€0,01 за перехоплений спам-дзвінок</b> - буде достатньо, щоб покрити витрати. Сума залежить від вас. Ваша пожертва не є "членським внеском", і ви не очікуєте нічого натомість.</p>
		
		<div class="columns">
			<div class="column is-full">
				<a class="card" href="http://paypal.me/phoneblock" target="_blank">
				  <div class="card-content has-background-primary">
					<div class="title">
					    <span class="icon">
							<i class="fa-brands fa-paypal"></i>
					    </span>
						<span data-tx="t0004">Пожертвувати за допомогою PayPal</span>			
					</div>
					<p class="subtitle" data-tx="t0005">Використовуйте "Надіслати гроші друзям", інакше PayPal стягує абсурдну комісію, з 1 євро приходить лише 60 центів.</p>
					<p class="subtitle" data-tx="t0006" th:unless="${loggedIn}">Будь ласка, введіть перші кілька символів вашого імені користувача в повідомленні, щоб я міг розподілити платіж.</p>
					<p class="subtitle" data-tx="t0007" th:if="${loggedIn}">Будь ласка, введіть <code id="purpose" th:text="${supporterId}"></code><span class="copyToClipboard" data-tx="t0013" href="#" id="purpose_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></span> як повідомлення, щоб я міг розподілити платіж.</p>
				  </div>
				</a>
			</div>
		</div>

		<div class="columns">
			<div class="column is-half">
				<a class="card" href="https://github.com/sponsors/haumacher" target="_blank">
				  <div class="card-content has-background-info">
					<p class="title">
					    <span class="icon">
							<i class="fa-brands fa-github"></i>
					    </span>
						<span data-tx="t0008">Стати спонсором на GitHub</span>
					</p>
					<p class="subtitle" data-tx="t0009">Ви можете зробити одноразову або регулярну пожертву.</p>
				  </div>
				</a>
			</div>
			<div class="column is-half">
				<a class="card" th:href="@{/support-banktransfer.jsp}">
				  <div class="card-content has-background-info">
					<p class="title">
					    <span class="icon">
							<i class="fa-solid fa-building-columns"></i>
					    </span>
						<span data-tx="t0010">Пожертвувати банківським переказом</span>
					</p>
					<p class="subtitle" data-tx="t0011">Ви повинні увійти в систему, щоб побачити деталі облікового запису.</p>
				  </div>
				</a>
			</div>
		</div>
				
		<p data-tx="t0012">Дякуємо, що долучилися до фінансування PhoneBlock!</p>
		
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>