<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.usage.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Умови використання</h1>
		
		<p data-tx="t0002">PhoneBlock може допомогти вам у цифровому самозахисті від телефонного терору та небажаних рекламних дзвінків. PhoneBlock є <a th:href="@{/impressum}">моїм</a> приватним <a href="https://github.com/haumacher/phoneblock">проектом</a>, і я радий дозволити вам брати в ньому участь безкоштовно.</p>
		
		<h2 data-tx="t0003">Відмова від відповідальності</h2>
		
		<p data-tx="t0004">Ви використовуєте PhoneBlock виключно на свій страх і ризик. Використовуючи PhoneBlock, ви усвідомлюєте, що помилка в програмному забезпеченні або, можливо, зловмисне додавання номерів до списку блокування може заблокувати номер, з якого вам можуть зателефонувати.</p>
		
		<h2 data-tx="t0005">Комерційне використання</h2>
		
		<p data-tx="t0006">Я не рекомендую використовувати PhoneBlock на робочому телефонному зв'язку. Якщо ви все ж таки хочете це зробити, то ви несете повну відповідальність за будь-які збитки, які можуть виникнути в результаті. Щоб мінімізувати ризик використання, я рекомендую не блокувати номери зі списку блокування, а лише переадресовувати їх на автовідповідач. Я також наполегливо рекомендую не використовувати автовідповідач PhoneBlock у комерційному середовищі - за жодних обставин ви не хочете ризикувати тим, що потенційний клієнт на вашій телефонній лінії буде "обдурений" автовідповідачем.</p>
		
		<h2 data-tx="t0007">Робота сервера PhoneBlock</h2>
		
		<p data-tx="t0008">PhoneBlock доступний для вас безкоштовно. Однак робота веб-додатку не є безкоштовною. Якщо PhoneBlock допомагає вам, ви можете внести свій вклад в операційні витрати у вигляді <a th:href="@{/support}">невеликого пожертвування</a>. Однак ви робите це, не очікуючи нічого натомість.</p>
		
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>