<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock: Segreteria telefonica disattivata</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">Ciao {nome},</h2>

<p data-tx="t0004">È stata registrata una segreteria telefonica con <a href="{home}">Blocco telefono</a>.</p>

<p data-tx="t0005">Il vostro nome utente PhoneBlock: <code>{nomeutente}</code><br/></p>

<p data-tx="t0006">Si prega di <a href="{app}">controllare le impostazioni</a>, altrimenti si riceveranno chiamate SPAM.</p>

<p data-tx="t0007">Cordiali saluti</p>

<p data-tx="t0008">Bernhard Haumacher</p>

<p data-tx="t0009" style="color: gray;">--<br/></p>

</body>
</html>