<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-tx="t0001:7e1ebbc9">Codice di accesso PhoneBlock</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" th:src="${image}" width="96"/>
</div>

<h2 data-tx="t0007:f05885dc">Salve <span th:text="${name}">utente</span>,</h2>

<p data-tx="t0004:7d470c8b">Ecco il codice di accesso per il vostro account <i>PhoneBlock</i>. Per verificare il vostro indirizzo e-mail,</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;" th:text="${code}">123456</code>
</p>

<p data-tx="t0005:a2efd4c6">Se non volete registrarvi con <i>PhoneBlock</i>, potete tranquillamente ignorare questa e-mail.</p>

<p data-tx="t0006:3d9f6d93">Grazie per il vostro interesse in <i>PhoneBlock</i>! <br/><i></i></p>

</body>
</html>