<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001:cee289b8">Ciao {nome}, <img align="right" alt="Logo PhoneBlock" data-tx="t0002:5b0e8765" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003:a8d0d40f">Grazie mille per la tua {attributo}donazione per il progetto PhoneBlock! Spero che possa aiutarvi a ridurre in modo significativo le chiamate indesiderate.</p>

	<p data-tx="t0004:b088fcbb">E se un altro chiamante indesiderato sfugge alla rete, non dimenticate di contrassegnarlo come SPAM sul sito web di PhoneBlock. Se tutti lo fanno con costanza, ogni nuovo numero SPAM viene immediatamente bloccato di nuovo.</p>

    <p data-tx="t0005:dfdaf9d7">Cordiali saluti</p>
    <p data-tx="t0006:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0007:d3aaad68" style="color: gray;">--<br/>
Homepage: <a href="{home}">{home}</a><br/>
Donazione: <a href="{support}">{sostegno}</a><br/>
Impostazioni: <a href="{settings}">{impostazioni}</a><br/>
Video tutorial: <a href="{help}">{help}</a><br/>
Facebook: <a href="{facebook}">{facebook}</a><br/>
Contatti: <a href="mailto:{mail}">{mail}</a><br/></p>

</body>
</html>