<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:1733978d">Confirmación de cambio de correo electrónico de PhoneBlock</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">Hola {nombre},</h2>

<p data-tx="t0004:496fe8b0">Has enviado una solicitud para cambiar la dirección de correo electrónico de tu cuenta <i>PhoneBlock</i>.
Para confirmar el cambio, introduzca el siguiente código en la máscara de confirmación que tiene actualmente abierta en su navegador
abrir en su navegador:</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005:cb2ec23c">Si no ha realizado esta solicitud, puede ignorar este correo electrónico y
Su dirección de correo electrónico no se modificará.</p>

<p data-tx="t0006:ed88831e">Muchas gracias,<br/>
Su servidor <i>PhoneBlock</i></p>

</body>
</html>