<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.mobile.code.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header-mobile}"></div>

<section class="section">
<div class="content">

<div class="columns">
  <div class="column">
	<div class="tile is-ancestor">
      <div class="tile is-parent">
      	<article class="tile is-child notification">
	        <h1 class="title" data-tx="t0001">Confirm e-mail address</h1>
	        <p class="subtitle" data-tx="t0002">Enter code from e-mail.</p>
	        <div class="content">
				<p data-tx="t0003">An email has been sent to the address <code th:text="${email}"></code>.</p>
				<p data-tx="t0004">Please copy the code from the e-mail and enter it here to confirm your e-mail address.</p>
				<form action="@{/register-mobile}" enctype="application/x-www-form-urlencoded" method="post">
					<div class="field">
						<label class="label" data-tx="t0005">Code</label>
						<div class="control has-icons-left has-icons-right">
							<input data-tx="t0006" name="code" placeholder="Confirmation code" th:class="${#strings.isEmpty(message) ? 'input' : 'input is-danger'}" type="text" value=""/>
							<span class="icon is-small is-left">
							  <i class="fa-solid fa-barcode"></i>
							</span>
							<span class="icon is-small is-right" th:unless="${#strings.isEmpty(message)}">
							  <i class="fas fa-exclamation-triangle"></i>
							</span>
						</div>
						<p data-tx="t0007" th:class="${#strings.isEmpty(message) ? 'help' : 'help is-danger'}" th:unless="${#strings.isEmpty(message)}"><span th:text="${message}" th:unless="#strings.isEmpty(message)"></span> <span th:if="#strings.isEmpty(message)">No e-mail received? Please check your spam folder!</span> <a th:href="@{/mobile/login}">Try again.</a>.</p>
					</div>		
							
					<div class="buttons is-right">
				    	<button class="button is-link" data-tx="t0008" type="submit">Create account</button>
					</div>
				</form>
	        </div>
	  	</article>
	  </div>
	</div>
   </div>
</div>

</div>
</section>

<div th:replace="~{fragments/page :: footer-mobile}"></div>
</body>
</html>