<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.block.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:fcebb7bf">Αποκλεισμός αριθμού τηλεφώνου</h1>
	
		<p data-tx="t0002:a397e0b8">Άλλη μια γκρίνια πέρασε από το δίχτυ του PhoneBlock; Ενοχλητικό, αλλά κανένα πρόβλημα, θα τον ξεφορτωθείτε σε χρόνο μηδέν. Απλώς προσθέστε τον αριθμό του ενοχλητικού στη "Λίστα αποκλεισμού". Για να το κάνετε αυτό, συνδεθείτε στο κουτί σας Fritz!Box</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank"><button class="button is-medium is-primary is-fullwidth" data-tx="t0003:d44f7d1">Συνδεθείτε στο FRITZ!Box</button></a>
		  </div>
		</div>
		
		<h2 data-tx="t0004:b426e9e3">Εμφάνιση της λίστας καλούντων</h2>
		
		<p data-tx="t0005:569dde89">Στο περιβάλλον χρήστη του FRITZ!Box σας μπορείτε να δείτε όλους τους πρόσφατους καλούντες. Αν όλα πήγαν καλά, η λίστα θα μοιάζει με την παρακάτω. Μια ανεπιθύμητη κλήση έχει αναγνωριστεί, έχει επισημανθεί ως ανεπιθύμητη και η κλήση έχει απορριφθεί (η κλήση εμφανίζεται με ένα κόκκινο Χ).</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Λίστα κλήσεων Fritz!Box" class="image" data-tx="t0021:b9f34dc9" th:src="@{/assets/img/block/07-spam-caller.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0006:b7e0ed70">Σε αυτή την περίπτωση δεν υπάρχει τίποτα να κάνετε. Ο ανεπιθύμητος καλών είναι ήδη στη "λίστα αποκλεισμού" και δεν μπορεί πλέον να σας ενοχλεί.</p>
		
		<h2 data-tx="t0007:69911c3">Νέα καταχώρηση "Blocklist"</h2>
		
		<p data-tx="t0008:3d7ee481">Εάν ο ενοχλητικός έχει νέο αριθμό τηλεφώνου ή εάν ένας νέος τηλεφωνικός τρομοκράτης έχει ξεκινήσει την επιχείρησή του, μια ανεπιθύμητη κλήση μπορεί ακόμα να σας φτάσει. Σε αυτή την περίπτωση, μπορείτε να προσθέσετε μια νέα καταχώρηση στη "Λίστα αποκλεισμού" εδώ.</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<div class="tile is-ancestor">
		      <div class="tile is-parent">
		      	<article class="tile is-child notification is-danger">
			        <p class="title" data-tx="t0009:7782bb7e">Προσοχή!</p>
			        <p class="subtitle" data-tx="t0010:1ac05a0e">Μην εισάγετε προσωπικούς εχθρούς!</p>
			        <div class="content">
			          <p data-tx="t0011:77ef4b4b">Μια καταχώρηση στη "BlockList" μπλοκάρει τον καλούντα όχι μόνο για εσάς, αλλά και για όλα τα μέλη της κοινότητας PhoneBlock! Έτσι, αν δεν θέλετε πλέον να λαμβάνετε κλήσεις από την πεθερά σας, καταχωρίστε τον αριθμό της στη λίστα αποκλεισμού τοπικών κλήσεων στο FRITZ!Box σας, αλλά όχι στη "Blocklist" του PhoneBlock!</p>
			          
			          <p data-tx="t0012:6a262e43">Ο λογαριασμός σας θα μπλοκαριστεί αμετάκλητα και χωρίς προειδοποίηση σε περίπτωση παράβασης!</p>
			        </div>
			  	</article>
			  </div>
			</div>
	    </div>
	 </div>
	 
	 <p data-tx="t0013:dca801b2">Είστε λοιπόν σίγουροι ότι έχετε λάβει ένα διαφημιστικό τηλεφώνημα που δεν παραγγείλατε και που είστε σίγουροι ότι κανείς άλλος δεν θέλει να λάβει; Τότε προχωρήστε - μπλοκάρετε τον αριθμό...</p>
		
	<p data-tx="t0014:54a3fa">Ένας αριθμός μπλοκάρεται με τη δημιουργία μιας νέας καταχώρησης στον τηλεφωνικό κατάλογο με το όνομα "Blocklist". Το FRITZ!Box σας θα μεταφορτώσει αυτή τη νέα καταχώρηση στο διακομιστή PhoneBlock και όλα τα άλλα συνδεδεμένα μέλη της κοινότητας PhoneBlock θα λάβουν επίσης αυτή την καταχώρηση στη λίστα αποκλεισμού τους. Για να πραγματοποιήσετε μια νέα καταχώρηση στον τηλεφωνικό κατάλογο, κάντε κλικ στο σύμβολο βιβλίου στο τέλος της γραμμής με τον αριθμό της ανεπιθύμητης κλήσης.</p>
	
	<p data-tx="t0015:7ad07cdb">Τώρα επιλέξτε τον τηλεφωνικό κατάλογο "Blocklist":</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Χαρακτηρίστε την κλήση ως ανεπιθύμητη" class="image" data-tx="t0022:60a63f5f" th:src="@{/assets/img/block/08-mark-as-spam.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0016:7bce8bcc">Κάντε κλικ στο "Επόμενο" και επιλέξτε "Δημιουργία νέου":</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Δημιουργήστε μια νέα καταχώρηση στη λίστα αποκλεισμού" class="image" data-tx="t0023:26f4812f" th:src="@{/assets/img/block/09-create-entry-create.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0017:fb92184b">Στην επόμενη οθόνη, εισαγάγετε ένα όνομα της επιλογής σας και κάντε κλικ στο "OK". Μετά το συγχρονισμό με το διακομιστή PhoneBlock, το όνομα θα αντικατασταθεί από το "SPAM: αριθμός τηλεφώνου", οπότε δεν χρειάζεται να κάνετε καμία προσπάθεια για να εισάγετε κάτι ωραίο εδώ:</p>
	
	<p data-tx="t0018:7caa174e"><b>Σημαντικό:</b> Μπορείτε να εισαγάγετε μόνο <b>έναν αριθμό</b> ανά καταχώρηση του τηλεφωνικού καταλόγου στη λίστα φραγής. Στη συνέχεια, το PhoneBlock ταξινομεί τον αριθμό τηλεφώνου στο σωστό μπλοκ. Ένας αριθμός που εισάγετε εσείς πρέπει <b>να μην περιέχει μπαλαντέρ ("*")</b>. Οι αριθμοί μπαλαντέρ δημιουργούνται από το ίδιο το PhoneBlock μόνο εάν υπάρχουν πολλές καταγγελίες για τηλεφωνικούς αριθμούς που βρίσκονται κοντά μεταξύ τους.</p>
	
	<p data-tx="t0019:53b8857b"><b>Σημαντικό:</b> Πρέπει να <b>μην επεξεργάζεστε</b> τις υπάρχουσες καταχωρήσεις στη λίστα αποκλεισμού (μην προσθέτετε ή διαγράφετε αριθμούς), διαφορετικά το PhoneBlock θα απορρίψει τις αλλαγές σας την επόμενη φορά που θα συγχρονίσετε. Εάν θέλετε να διαγράψετε έναν αριθμό από τη λίστα φραγής, προσθέστε αντί αυτού μια καταχώρηση στη <a th:href="@{/settings/#whitelist}">λευκή λίστα στις ρυθμίσεις</a>.</p>

	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Αποδοχή νέας καταχώρησης στη λίστα αποκλεισμού" class="image" data-tx="t0024:9b0d49ad" th:src="@{/assets/img/block/10-add-entry-save.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0020:60b80623">Έγινε! Έσωσες τον εαυτό σου και ολόκληρη την κοινότητα PhoneBlock από έναν ακόμη πόνο στον κώλο, σε ευχαριστώ!</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>