<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.datenschutz.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001">Πολιτική απορρήτου</h1>

			<h2 data-tx="t0002">Διεύθυνση IP</h2>
			<p data-tx="t0003">Όταν επισκέπτεστε αυτόν τον ιστότοπο, η διεύθυνση IP του υπολογιστή σας αποθηκεύεται προσωρινά σε ένα αρχείο καταγραφής για σκοπούς ανάλυσης σφαλμάτων και διαγράφεται αυτόματα μετά από 14 ημέρες. Χωρίς εγγραφή, αυτός ο ιστότοπος δεν συλλέγει προσωπικά δεδομένα από τους επισκέπτες του και δεν περιέχει ούτε διαφημίσεις ούτε ανιχνευτές τρίτων.</p>

			<h2 data-tx="t0004">e-mail</h2>
			<p data-tx="t0005">Όταν εγγράφεστε για λογαριασμό PhoneBlock, η διεύθυνση ηλεκτρονικού ταχυδρομείου που παρέχετε θα αποθηκευτεί για τον σκοπό της πιστοποίησης ταυτότητας του χρήστη. Η διεύθυνση ηλεκτρονικού ταχυδρομείου δεν θα διαβιβαστεί σε τρίτους. Τα μηνύματα ηλεκτρονικού ταχυδρομείου θα αποστέλλονται μόνο στην καθορισμένη διεύθυνση για τον έλεγχο ταυτότητας ή για τη λειτουργία του PhoneBlock.</p>

			<h2 data-tx="t0006">Cookies</h2>
			<p data-tx="t0007">Ένα τεχνικά απαραίτητο cookie συνεδρίας τίθεται κατά τη διάρκεια ορισμένων αλληλεπιδράσεων με τον ιστότοπο PhoneBlock, π.χ. κατά την εγγραφή και την αξιολόγηση των τηλεφωνικών αριθμών.</p>
			<p data-tx="t0008">Εάν ενεργοποιήσετε τη λειτουργία "Να παραμείνω συνδεδεμένος σε αυτή τη συσκευή" κατά τη σύνδεσή σας, το PhoneBlock θα θέσει ένα μόνιμο cookie με το οποίο ο ιστότοπος θα σας αναγνωρίζει στην επόμενη επίσκεψή σας, ώστε να συνδέεστε αυτόματα χωρίς να χρειάζεται να εισάγετε ξανά τον κωδικό πρόσβασής σας ή να επαναλάβετε τη διαδικασία σύνδεσης στο Google. Εάν κάνετε κλικ στο κουμπί "Αποσύνδεση", αυτό το cookie θα διαγραφεί και θα πρέπει να συνδεθείτε ξανά κατά την επόμενη επίσκεψή σας.</p>

			<h2 data-tx="t0009">Διαγραφή λογαριασμού</h2>
			<p data-tx="t0010">Μπορείτε να διαγράψετε το λογαριασμό σας PhoneBlock ανά πάσα στιγμή στις <a th:href="@{/settings/}">ρυθμίσεις</a>. Με τη διαγραφή του λογαριασμού σας, τα δεδομένα σας που είναι αποθηκευμένα στο PhoneBlock θα διαγραφούν.</p>
			
			<h2 data-tx="t0011">Αριθμοί τηλεφώνου</h2>
			<p data-tx="t0012">Εάν ο αριθμός τηλεφώνου σας έχει προστεθεί κατά λάθος στη λίστα αποκλεισμού, μπορείτε φυσικά να ζητήσετε τη διαγραφή του. Γράψτε ένα e-mail στην ηλεκτρονική διεύθυνση <code>Bernhard Haumacher &lt;<button class="showaddr">...</button></code>.</p>

			<h2 data-tx="t0013">Τηλεφωνητής</h2>
			<p data-tx="t0014">Όταν χρησιμοποιείτε τον <a th:href="@{/anrufbeantworter/}">Αυτόματο τηλεφωνητή του PhoneBlock</a>, το PhoneBlock πρέπει να αποθηκεύσει μόνιμα τη διεύθυνση IP του Fritz!Box σας, προκειμένου να καταχωρίσει εκεί τον αυτόματο τηλεφωνητή και να διατηρήσει την καταχώριση. Για να γίνει αυτό, είτε έχετε αποθηκεύσει το όνομα κεντρικού υπολογιστή του Fritz!Box σας είτε έχετε εγκαταστήσει την υπηρεσία DynDNS από το PhoneBlock στο Fritz!</p>
			
			<p data-tx="t0015">Οι εισερχόμενες κλήσεις στο Fritz!Box σας εμφανίζονται σε έναν καταχωρημένο τηλεφωνητή. Ο αριθμός τηλεφώνου του καλούντος μεταδίδεται στον τηλεφωνητή PhoneBlock. Αυτός ο τηλεφωνικός αριθμός χρησιμοποιείται για τη σύγκρισή του με τη βάση δεδομένων των τηλεφωνικών αριθμών SPAM. Μόνο εάν ο τηλεφωνικός αριθμός περιέχεται στη βάση δεδομένων SPAM, ο τηλεφωνητής θα δεχτεί την κλήση και θα αποθηκεύσει την κλήση στη λίστα κλήσεων του τηλεφωνητή σας. Σε όλες τις άλλες περιπτώσεις, δεν θα αποθηκευτεί κανένα δεδομένο σχετικά με την κλήση στο PhoneBlock.</p>
			
		</div>
	</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>