<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title='PhoneBlock Impressum')}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Εκτύπωση</h1>

		<p data-tx="t0002">Το PhoneBlock είναι ένα <a href="https://github.com/haumacher/phoneblock">ιδιωτικό έργο</a> που μπορεί να σας βοηθήσει στην ψηφιακή αυτοάμυνα κατά της τηλεφωνικής τρομοκρατίας και των ανεπιθύμητων διαφημιστικών κλήσεων. Το PhoneBlock δεν είναι ούτε προϊόν ούτε εμπορική υπηρεσία κατά την έννοια του <a href="https://www.gesetze-im-internet.de/ddg/__5.html">Νόμου περί ψηφιακών υπηρεσιών</a>.</p>
		
		<p data-tx="t0003">Εγώ (Bernhard Haumacher &lt;<button class="showaddr">...</button>&gt;) διαχειρίζομαι αυτόν τον ιστότοπο ως ιδιώτης για την προσωπική μου ευχαρίστηση και από τεχνολογικό ενδιαφέρον. Σας δίνω τη δυνατότητα να χρησιμοποιήσετε το λογισμικό δωρεάν και σας παρέχω επίσης δωρεάν την απαραίτητη χωρητικότητα του διακομιστή. Αν θέλετε να συνεισφέρετε στα έξοδα λειτουργίας ή απλά να πείτε "ευχαριστώ", μπορείτε να "δωρίσετε" ένα <a th:href="@{/support.jsp}">μικρό ποσό</a>. Ωστόσο, αυτό το κάνετε χωρίς να περιμένετε κανένα αντάλλαγμα.</p>
		
		<p data-tx="t0004">Το λογισμικό πίσω από αυτόν τον ιστότοπο αναπτύχθηκε από τον Bernhard Haumacher &lt;<button class="showaddr">...</button>&gt; και άλλους. Εάν έχετε ερωτήσεις που δεν έχουν ήδη απαντηθεί στο <a th:href="@{/faq.jsp}">FAQ</a> και στους <a th:href="@{/usage.jsp}">Όρους χρήσης</a>, μπορείτε να επικοινωνήσετε μαζί μου (<button class="showaddr">...</button>). Ωστόσο, δεν επιθυμώ να δέχομαι τηλεφωνήματα ή επισκέψεις, γι' αυτό και το ηλεκτρονικό ταχυδρομείο είναι η μόνη επιλογή επικοινωνίας. Σε περίπτωση προβλημάτων, π.χ. αν ο αριθμός τηλεφώνου σας έχει προστεθεί κατά λάθος στη λίστα αποκλεισμού, θα χαρώ να σας βοηθήσω άμεσα και χωρίς επιπλοκές.</p>

		</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>