<!DOCTYPE html>
<html>
<head>
	<script th:src="@{/assets/js/pow.js}" type="text/javascript"></script>
	<link rel="stylesheet" th:href="@{/assets/css/pow.css}"/>
	
	<meta http-equiv="content-language" th:content="${currentLang.tag}"/>
	<meta content="text/html;charset=utf-8" http-equiv="content-type"/>
	
	<meta content="width=device-width,initial-scale=1" name="viewport"/>
	<title data-tx="t0001">Έλεγχος σύνδεσης...</title>
</head>

<body th:dir="${currentLang.direction}">
  <main class="center" role="main">
    <div aria-busy="true" aria-live="polite" class="card">
      <div aria-hidden="true" class="spinner">
        <svg aria-label="Φόρτωση" class="rotating" data-tx="t0002" height="100%" role="img" viewBox="0 0 50 50" width="100%" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" fill="none" r="20" stroke="rgba(0,0,0,0.08)" stroke-width="6"></circle>
          <path d="M45 25a20 20 0 0 1-20 20" fill="none" stroke="rgba(0,0,0,0.65)" stroke-linecap="round" stroke-width="6">
            <animateTransform attributeName="transform" dur="1s" from="0 25 25" repeatCount="indefinite" to="360 25 25" type="rotate"></animateTransform>
          </path>
        </svg>
      </div>

      <div aria-hidden="true" class="css-spinner"></div>
      <div class="message" data-tx="t0003">Έλεγχος σύνδεσης...</div>
      <div class="message" data-tx="t0004"><a th:href="@{/login(location=${location})}">Εγγραφείτε</a> για να παραλείψετε.</div>
    </div>
  </main>
</body>
</html>