<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-api-key.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Νέο κλειδί API</h1>
		
		<form method="get" th:action="@{/settings#myAPIKeys}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0002">Το νέο σας API έχει δημιουργηθεί. Παρακαλούμε αντιγράψτε την τιμή, καθώς δεν μπορεί πλέον να εμφανιστεί μόλις φύγετε από αυτή τη σελίδα.</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0003">Παρατήρηση</label>
			  <div class="control" th:text="${apiKey.label}"></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0004">Κλειδί API</label>
			  <div class="control"><code id="apiKey" th:text="${apiKey.token}"></code><a class="copyToClipboard" data-tx="t0001" href="#" id="apiKey_" title="Αντιγραφή στο πρόχειρο.">Νέο κλειδί API</a></div>
			</div>
		  </div>
		</article>
		
		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0005" type="submit">Περαιτέρω</button>
		  </p>
		</div>
		
		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>