<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header-mobile}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001">تم تسجيل دخولك بنجاح</h1>

<p data-tx="t0002">رمز التفويض الخاص بك: <code id="token" th:text="${token}"></code></p>

<p data-tx="t0003">تم تسجيل دخولك إلى PhoneBlock بنجاح. إذا لم يتم إغلاق هذه الصفحة تلقائيًا، فقد يكون هناك خطأ ما في تطبيق هاتفك المحمول.</p>

</div>
</section>

<div th:replace="~{fragments/page :: footer-mobile}"></div>
</body>
</html>