<!DOCTYPE html>
<html>

<head>
<th:block th:replace="~{fragments/page :: headContent(title=#{page.api.title})}"></th:block>
<link rel="stylesheet" th:href="|${contextPath}${deps.swagger}/swagger-ui.css|"></link>
</head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section" id="swagger-ui">
</section>

<script th:src="|${contextPath}${deps.swagger}/swagger-ui-bundle.js|"></script>
<script th:src="@{/assets/js/api.js}" type="text/javascript"></script>
<input id="context-path" th:value="${contextPath}" type="hidden"></input>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>