<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(titleKey='page.dongle.title', descriptionKey='page.dongle.description', titleText=null, descriptionText=null)}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:365a40ae">PhoneBlock 加密狗</h1>

		<p class="subtitle" data-tx="t0095:dab19814">一台披着 IP 电话外衣的智能应答机。它只有拇指大小，可插入路由器的 USB 端口，注册为一个额外的 SIP 电话，并在实际电话响起之前拦截商业来电。无论路由器型号如何，即使没有 Fritz 也能使用！</p>

		<div class="notification is-warning">
			<p data-tx="t0123:cedc07e4"><strong>状态：测试版</strong>第一个版本已经可以稳定运行。我正在寻找更多的测试人员，以便在尽可能多的不同环境中试用加密狗 - <a th:href="@{/dongle-install#tester}">欢迎提交经验报告</a>。</p>
		</div>

		<h2 data-tx="t0004:6b104c7a">一句话说清想法</h2>

		<p data-tx="t0081:567e2d4a">加密狗像一个额外的 IP 电话一样登录路由器。每次有电话打进来，它都会以闪电般的速度询问 PhoneBlock 数据库：<em>"这是垃圾邮件吗？"</em>如果是，它就会自己接听电话，如果需要，还会播放一段简短的广播，然后再次挂断电话。此时，您的真实电话甚至还没有响起。与<a th:href="@{/anrufbeantworter}">云答录机</a>相比，所有呼叫处理都是在您家中本地进行的。</p>

		<div class="columns is-centered mt-5">
			<div class="column is-one-quarter has-text-centered">
				<p><span class="icon is-large has-text-info"><i class="fas fa-phone-volume fa-3x"></i></span></p>
				<h4 data-tx="t0006:fbca4eec">第一个电话打进来</h4>
				<p data-tx="t0097:e81f88f3">路由器向包括加密狗在内的所有注册电话发出呼叫信号。真实 "电话可配置 3-5 秒的铃声延迟。</p>
			</div>
			<div class="column is-one-quarter has-text-centered">
				<p><span class="icon is-large has-text-warning"><i class="fas fa-bolt fa-3x"></i></span></p>
				<h4 data-tx="t0008:acac085a">2. 闪光灯检查</h4>
				<p data-tx="t0098:b7f3abe5">加密狗会以迅雷不及掩耳之势询问 PhoneBlock 该号码是否为垃圾号码。查询通过加密的 HTTPS 进行，只传输号码的哈希值。电话簿中联系人的来电甚至都不会被检查--它们永远不会离开你的家庭网络。</p>
			</div>
			<div class="column is-one-quarter has-text-centered">
				<p><span class="icon is-large has-text-danger"><i class="fas fa-ban fa-3x"></i></span></p>
				<h4 data-tx="t0010:be667d0f">3. 摆脱它</h4>
				<p data-tx="t0099:5eb763c7">如果号码是垃圾邮件，加密狗就会接听，播放一段广播，然后挂断。客厅里的电话则保持沉默。如果号码不是已知的垃圾号码，加密狗就什么也不做，电话正常接通。</p>
			</div>
		</div>

		<div class="notification is-info">
			<p data-tx="t0100:86bdb13f"><strong>它为何如此迷人：</strong>加密狗只需最低限度的电源和 Wi-Fi 即可使用。无需额外的服务器，无需 Fritz！Box，无需合同。内部的 ESP32 微控制器耗电不到半瓦，您只需将其插入路由器的 USB 端口，然后就可以不用管它了。</p>
		</div>

		<div class="notification is-success has-text-centered">
			<p data-tx="t0124:73607539"><strong>信服吗？</strong>硬件成本约为 9 欧元，只需几分钟即可完成设置。说明书将一步步指导您完成订购、闪存和设置。</p>
			<p class="mt-3">
				<a class="button is-primary is-large" th:href="@{/dongle-install}">
					<span class="icon"><i class="fas fa-bolt"></i></span>
					<span data-tx="t0125:650ed7eb">查看说明 - 安装 PhoneBlock 加密狗</span>
				</a>
			</p>
			<p class="mt-3">
				<a class="has-text-grey" href="https://github.com/haumacher/phoneblock/tree/master/phoneblock-dongle" rel="noopener" target="_blank">
					<span class="icon"><i class="fab fa-github"></i></span>
					<span data-tx="t0129:97d67640">GitHub 上的源代码</span>
				</a>
			</p>
		</div>

	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>