<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="PhoneBlock 徽标" data-tx="t0015:5b0e8765" th:src="@{/assets/img/animation.svg}"/>
		</div>

		<h1 data-tx="t0001:79729e8b">自动拒绝不受欢迎的来电</h1>

		<p data-tx="t0002:d74f7216">您的电话号码是否也落入了不法地址商的手中，您是否经常接到恼人的电话，希望 "优化 "您的电费账单，给您提供太阳能系统的建议，宣布另一个大奖或提供其他 "福利"？那么<b>PhoneBlock</b>正是您所需要的！</p>

		<div th:replace="~{fragments/page :: buttons}"></div>

		<h2 data-tx="t0007:20eeb709">PhoneBlock 如何工作？</h2>

		<h3 data-tx="t0029:e557e16d">社区黑名单</h3>

		<p data-tx="t0008:62e0be42">PhoneBlock 是由 PhoneBlock 社区维护的一份涉嫌垃圾邮件的电话号码列表。<a th:href="@{/anrufbeantworter}">PhoneBlock应答机</a>会接受来自阻止列表上的来电者的呼叫，因此您的电话在接到这些呼叫时会保持静音。</p>

		<h3 data-tx="t0030:397ca321">替代品：FRITZ!Box 电话簿</h3>

		<p data-tx="t0009:149bd771">或者，您也可以将黑名单作为电话簿导入 "FRITZ！Box "互联网路由器，并阻止来自<a th:href="@{/setup}">专用电话簿</a>中号码的呼叫。您不必再手动阻止号码范围，因为您的 "Fritz！Box "每晚都会自动更新阻止列表。一旦某个号码被添加到黑名单中，FRITZ！Box 就会自动拒绝该号码的来电。不过，<a th:href="@{/anrufbeantworter}">应答机</a>是更好的解决方案，因为电话簿的容量有限，无法容纳阻止列表中的所有号码。</p>

		<h3 data-tx="t0031:6045153a">报告垃圾邮件号码</h3>

		<p data-tx="t0010:34e8fe06">如果由于该号码尚未被添加到拦截列表中，您仍然会接到不需要的电话，您可以报告该号码，从而保护整个 PhoneBlock 社区免受 <a th:href="@{/status}">更多垃圾电话的骚扰</a>。您有几种选择：直接从 PhoneBlock 应用程序报告垃圾邮件，在网站上搜索号码并对其进行评分，或者通过在 PhoneBlock 地址簿中创建条目<a th:href="@{/block}">在您的 FRITZ!Box</a> 中阻止该号码。一旦号码被举报，它就会被添加到拦截列表中，所有其他 PhoneBlock 用户都会受到自动保护。</p>

		<h2 data-tx="t0011:db4a3206">有哪些要求？</h2>

		<p data-tx="t0020:537ee553">PhoneBlock 支持多种平台，可拦截骚扰电话：</p>

		<div class="columns is-multiline">
			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-router"></i>
							</span>
							<span data-tx="t0021:7852d066">FRITZ!Box</span>
						</span>
					</h3>
					<p data-tx="t0022:342d09aa">使用 AVM 的 <a th:href="@{/link/fritzbox}">FRITZ!Box Internet 路由器</a>阻止座机来电。或者安装 <a th:href="@{/anrufbeantworter}">PhoneBlock 应答机</a>，或者将拦截列表导入 <a th:href="@{/setup}"> 电话簿</a>。</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-android"></i>
							</span>
							<span data-tx="t0023:aecec7cb">安卓</span>
						</span>
					</h3>
					<p data-tx="t0024:b6746620">使用 <a th:href="@{/setup-android}">PhoneBlock 应用程序</a>直接在您的 Android 手机上阻止垃圾电话。</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-apple"></i>
							</span>
							<span data-tx="t0025:b21bebc5">iPhone</span>
						</span>
					</h3>
					<p data-tx="t0026:f5b65b16">在您的 <a th:href="@{/setup-iphone}">iPhone</a> 中加入 PhoneBlock 封锁列表。</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-phone-office"></i>
							</span>
							<span data-tx="t0027:9faa419a">电话系统</span>
						</span>
					</h3>
					<p data-tx="t0028:c76080b9">将 PhoneBlock 集成到您的 <a th:href="@{/setup-pbx}"> 电话系统</a>中，作为屏蔽列表。</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>