<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="PhoneBlock 徽标" data-tx="t0015" th:src="@{/assets/img/animation.svg}"/>
		</div>

		<h1 data-tx="t0001">自动拒绝不受欢迎的来电</h1>

		<p data-tx="t0002">您的电话号码是否也落入了不法地址商的手中，您是否经常接到恼人的电话，希望 "优化 "您的电费账单，给您提供太阳能系统的建议，宣布另一个大奖或提供其他 "福利"？那么<b>PhoneBlock</b>正是您所需要的！</p>

		<div th:replace="~{fragments/page :: buttons}"></div>

		<h2 data-tx="t0007">PhoneBlock 如何工作？</h2>

		<p data-tx="t0008">PhoneBlock 是由 PhoneBlock 社区维护的一份涉嫌垃圾邮件的电话号码列表。<a th:href="@{/anrufbeantworter}">PhoneBlock应答机</a>会接受来自阻止列表上的来电者的呼叫，因此您的电话在接到这些呼叫时会保持静音。</p>
		
		<p data-tx="t0009">或者，您也可以将黑名单作为电话簿导入 "FRITZ！Box "互联网路由器，并阻止来自<a th:href="@{/setup}">专用电话簿</a>中号码的呼叫。您不必再手动阻止号码范围，因为您的 "Fritz！Box "每晚都会自动更新阻止列表。一旦某个号码被添加到黑名单中，FRITZ！Box 就会自动拒绝该号码的来电。不过，<a th:href="@{/anrufbeantworter}">应答机</a>是更好的解决方案，因为电话簿的容量有限，无法容纳阻止列表中的所有号码。</p>

		<p data-tx="t0010">如果由于该号码尚未添加到拦截列表中而仍然收到骚扰电话，您可以在 FRITZ！Box 中轻松拦截该<a th:href="@{/block}">号码</a>。为此，请直接在您的 Fritz 中的 PhoneBlock 通讯录中为不受欢迎的来电者创建一个条目！一旦您这样做了，您的FrizBox就会更新PhoneBlock社区所有成员的拦截列表，来自这个新号码的来电也会立即被拦截。这比直接在您的Fritz！Phone中封堵该号码要费时一些，但其优点是您可以保护整个PhoneBlock社区免受<a th:href="@{/status}">更多垃圾电话的骚扰</a>。</p>

		<h2 data-tx="t0011">有哪些要求？</h2>

		<div class="fritzbox-position">
			<a th:href="@{/link/fritzbox}"> <img alt="AVM Fritz！信箱 7590" data-tx="t0016" id="fritzbox" th:src="@{/assets/img/fritzbox.png}" width="200"/>
			</a>
		</div>
		
		<p data-tx="t0012">PhoneBlock 可以与 AVM 的 <a th:href="@{/link/fritzbox}">"FRITZ!Box" 互联网路由器</a>结合使用，在 <a th:href="@{/setup}">"座机"</a>上阻止骚扰电话，或者直接在您的 <a th:href="@{/setup-android}">移动电话</a>上显示来电者是否可能是骚扰电话。</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			  <input id="context-path" th:value="${contextPath}" type="hidden"/>
			<a class="button is-medium is-info is-fullwidth state-initial" href="#" id="search-fritzbox">
				<span class="icon is-small is-left">
					<i class="fa-solid fa-magnifying-glass"></i>
				</span>
				<span class="display-initial" data-tx="t0013">搜索 Fritz!Box</span>
				<span class="display-searching" data-tx="t0017">等等...</span>
				<span class="display-success" data-tx="t0018">找到了，开始吧！</span>
				<span class="display-failed" data-tx="t0019">未找到，怎么办？</span>
			</a>
		  </div>
		</div>

		<p data-tx="t0014">不确定您是否拥有 Fritz!Box如果您目前在 WLan 的家中，请按上面的搜索按钮。然后，PhoneBlock 将尝试查找您附近的 Fritz!Box</p>
	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>