<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">连接中断</h1>

		<p data-tx="t0002">PhoneBlock 无法确认这不是一个自动批量请求。因此，无法显示页面内容。如果你不是机器人，可以通过登录 PhoneBlock 绕过检查。最好在登录时激活 "保持登录状态 "选项，这样下次访问网站时就不会出现这个问题了。</p>
		
		<p data-tx="t0003">请原谅给您带来的不便，PhoneBlock 网站正受到互联网上数量惊人的计算机的大量查询攻击，如果没有这种检查，网站的可用性将受到严重限制。为了使 PhoneBlock 能够继续免费提供（或以<a th:href="@{/support}">捐赠的方式提供</a>），这些措施是不可避免的。</p>
		
		<div class="columns">
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/login(location=${location})}">
				<span class="icon">
					<i class="fa-solid fa-right-to-bracket"></i>
   				</span>
				<span data-tx="t0004">登录</span>			
			</a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>