<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.settings.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section" th:unless="${userName}">
	<div class="content">
		<h1 data-tx="t0001">设置</h1>
		
		<p data-tx="t0002">要编辑个人设置，必须<a th:href="@{/login.jsp(location=${location})}">登录</a>。</p>
	</div>
</section>

<section class="section" th:if="${userName}">
	<div class="content">
		<h1 data-tx="t0003">设置</h1>
			<p data-tx="t0004">欢迎 <th:block th:text="${settings.displayName}"></th:block> <th:block th:if="${settings.email}"> (<th:block th:text="${settings.email}"></th:block>)</th:block>。</p>
			
			<form method="post" th:action="@{/update-settings}">

			<article class="message is-info" th:if="${token}">
			  <div class="message-header">
			    <p data-tx="t0005">您的访问数据</p>
			  </div>
			  
			  <div class="message-body">
				<div class="field">
				  <label class="label" data-tx="t0006">CardDAV 服务器的互联网地址</label>
				  <div class="control"><code id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0083" href="#" id="url_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></div>
				</div>

				<div class="field">
				  <label class="label" data-tx="t0007">用户名</label>
				  <div class="control"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0084" id="login_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></div>
				  <p class="help" data-tx="t0008">您必须输入此值作为用户名，以便<a th:href="@{/setup.jsp}">调用拦截列表</a>。</p>
				</div>
					
				<div class="field">
				  <label class="label" data-tx="t0009">暗号</label>
				  <div class="control"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0085" href="#" id="passwd_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></div>
				  <p class="help" data-tx="t0010">您必须使用此密码才能<a th:href="@{/setup.jsp}">设置电话簿</a>或登录本网站。</p>
				  <p class="help" data-tx="t0011">请记下密码（或将其保存在<a href="https://keepass.info/">密码管理器</a>中），因为密码只会在您注销或会话过期前显示。</p>
				</div>
			  </div>
			</article>

			<div class="field" th:unless="${token}">
			  <label class="label" data-tx="t0012">用户名</label>
			  <div class="control"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0086" id="login_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0013">您必须输入此值作为用户名，以便<a th:href="@{/setup.jsp}">检索拦截列表</a>。你的密码在首次登录时就已显示。如果你不再记得它，可以在本页底部创建一个 <a href="#resetPassword">新密码</a>。但请注意：旧密码将失效。</p>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0014">最大拦截列表大小</label>
			  <div class="control has-icons-left">
				<div class="select">			  
			    <select class="input" name="maxLength">
			    	<option data-tx="t0015" th:selected="${settings.maxLength == 1000}" value="1000">1000（对于非常老旧的 Fritz!Box 而言是个小数字）</option>
			    	<option data-tx="t0016" th:selected="${settings.maxLength == 2000}" value="2000">2000（建议用于大多数 Fritz！Box）</option>
			    	<option data-tx="t0017" th:selected="${settings.maxLength == 3000}" value="3000">3000 （例如，在 FRITZ!Box 7590 上仍可使用）</option>
			    	<option data-tx="t0018" th:selected="${settings.maxLength == 4000}" value="4000">4000（见下文注释）</option>
			    	<option data-tx="t0019" th:selected="${settings.maxLength == 5000}" value="5000">5000（数额巨大，见下文注释）</option>
			    	<option data-tx="t0020" th:selected="${settings.maxLength == 6000}" value="6000">6000（极端，小心，您的 Fritz！Box 可能会崩溃）</option>
			    </select>
			    </div>
			    <span class="icon is-small is-left">
			      <i class="fas fa-ruler-vertical"></i>
			    </span>
			  </div>
			  <p class="help" data-tx="t0021">如果您在更新拦截列表时遇到问题，可以在此处缩小拦截列表的大小。AVM 建议电话簿最多包含 1000 个条目。例如，FRITZ!Box 7590 最多可处理 3000 个电话簿条目。</p>
			  
			  <p class="help" data-tx="t0022"><b>注意：</b> 如果您想测试话匣子可以在电话簿中保存多少条目，请按以下步骤操作：从默认设置 2000 条目开始。同步 blocklist 并显示 blocklist 电话簿。滚动到最末端，显示分块列表的打印预览，并记下打印的页数。现在将分块列表的大小增加一步，重新同步分块列表并再次显示分块列表的打印预览。如果页数相应增加，则说明您的盒子可以处理这种尺寸，请尝试下一种尺寸。如果打印预览中的页数没有增加或没有相应增加，则使用上次较小尺寸的分块列表。有趣的是，如果电话簿过大，Fritz!Box如果电话簿的大小过大，我曾见过有的盒子会直接崩溃--所以一定要小心。</p>
			</div>
			
			<div class="field">
			  <label class="label" data-tx="t0023">最低信心</label>
			  <div class="control has-icons-left">
				<div class="select">			  
			    <select class="input" name="minVotes">
			    <option data-tx="t0024" th:selected="${settings.minVotes == 2}" value="2">2（立即锁定）</option>	
			    <option data-tx="t0025" th:selected="${settings.minVotes == 4}" value="4">4 （等待确认）</option>	
			    <option data-tx="t0026" th:selected="${settings.minVotes == 10}" value="10">10 （仅在安全情况下）</option>	
			    <option data-tx="t0027" th:selected="${settings.minVotes == 100}" value="100">100（仅限顶级垃圾邮件发送者）</option>	
			    </select>
			    </div>
			    <span class="icon is-small is-left">
			      <i class="fas fa-phone-volume"></i>
			    </span>
			  </div>
			  <p class="help" data-tx="t0028">您选择的号码越高，电话号码在被添加到您的个人拦截名单之前必须收到的投诉就越多，您也就越有可能收到来自新垃圾邮件号码的电话。每投诉一次，置信度就增加 2 分。</p>
			</div>
			
			<div class="field">
			  <label class="checkbox" data-tx="t0029"><input name="wildcards" th:checked="${settings.wildcards}" type="checkbox"></input> 用 "*"来概括数字</label>
			  <p class="help" data-tx="t0030">如果选择此选项，您的拦截列表中的相邻号码将合并为一个带通配符（"*"）的号码。许多专业垃圾邮件发送者拥有多设备连接，并使用整个号码块作为发送者。有了这个选项，所有这些号码都会被自动拦截，您的拦截列表也可以包含更多的垃圾邮件号码。Fritz!Box 支持带有通配符号码的电话簿，然后会阻止整个指定的号码范围。但是，您可能无法在其他设备上使用通配符号码。</p>
			</div>
			
			<div class="field is-grouped">
			  <p class="control">
			    <button class="button is-primary" data-tx="t0031" type="submit">节省</button>
			  </p>
			  <p class="control">
			    <a class="button " data-tx="t0032" th:href="@{/settings.jsp}">丢弃</a>
			  </p>
			</div>
		</form>
	</div>
</section>

<section class="section">
	<div class="content">
	<h2 data-tx="t0033" id="myAPIKeys">您的应用程序接口密钥</h2>
	<p data-tx="t0034">如果您使用其他应用程序通过 PhoneBlock 检查电话号码（例如 <a href="https://f-droid.org/packages/spam.blocker/">SpamBlocker</a> 或 <a href="https://spamblockup.jimdofree.com/">SpamBlockUp</a>），则需要一个 API 密钥。对于 Fritz!Box 中的 blocklist 电话簿，您只需使用 PhoneBlock 用户名和 PhoneBlock 密码即可，因此不需要 API 密钥。</p>
	
	<p data-tx="t0035" th:unless="${explicitTokens}">您尚未创建任何 API 密钥。</p>
	<form method="post" th:action="@{/update-settings(action='deleteAPIKeys')}" th:if="${explicitTokens}">
	<table>
		<tr>
			<th>
			</th>
			<th data-tx="t0036">名称</th>
			<th data-tx="t0037">生成</th>
			<th data-tx="t0038">最后一次使用</th>
			<th data-tx="t0039">设备</th>
		</tr>

		<tr th:each="authToken : ${explicitTokens}">
			<td>
				<input th:name="'key-' + ${authToken.id}" type="checkbox"></input>
			</td>
			<td th:text="${authToken.label}"></td>
			<td th:text="${#dates.format(#converters.fromEpoch(authToken.created))}"></td>
			<td>
				<th:block data-tx="t0040" th:unless="${authToken.lastAccess}">未使用。</th:block>
				<th:block th:if="${authToken.lastAccess}" th:text="${#dates.format(#converters.fromEpoch(authToken.lastAccess))}"></th:block>
			</td>
			<td th:text="${authToken.userAgent}"></td>
		</tr>
	</table>
	
	<div class="field is-grouped">
	  <p class="control">
	    <button class="button is-danger" data-tx="t0041" type="submit">删除所选</button>
	  </p>
	</div>
	
	</form>
	</div>
</section>

<section class="section">
	<div class="content">
	<h2 data-tx="t0042" id="createAPIKey">生成应用程序接口密钥</h2>

	<form method="post" th:action="@{/update-settings(action='createAPIKey')}">

	<div class="field">
	  <label class="label" data-tx="t0043">使用说明</label>
	  <p class="control has-icons-left">
	    <input class="input" data-tx="t0087" name="apikey-label" placeholder="用于..." type="text"></input>
	  </p>
	  <p class="help" data-tx="t0044">您可以在此处输入备注，说明生成 API 密钥的用途，例如 "奶奶手机上的垃圾邮件拦截器"。</p>
	</div>
		
	<div class="field is-grouped">
	  <p class="control">
	    <button class="button is-primary" data-tx="t0045" type="submit">生成应用程序接口密钥</button>
	  </p>
	</div>

	</form>

	</div>
</section>

<section class="section">
	<div class="content">
	<h2 data-tx="t0046" id="blacklist">您的黑名单</h2>
	
	<form method="post" th:action="@{/update-settings(action='lists')}">

	<p data-tx="t0047" th:unless="${blacklist}">您尚未明确阻止任何号码。要阻止一个号码，请使用上面的搜索栏搜索该号码并写下负面评论，或者在 Fritz 的阻止列表中为该号码建立一个电话簿条目！</p>

	<th:block th:if="${blacklist}">
	<p data-tx="t0048">您已明确阻止了这些号码。您可以在此取消意外阻止：</p>
	<div class="field" th:each="number : ${blacklist}">
		<label class="checkbox">
			<input th:name="|bl-${number}|" type="checkbox"></input> <th:block th:text="${number}"></th:block>
		</label>
	</div>

	<div class="field is-grouped">
	  <p class="control">
	    <button class="button is-danger" data-tx="t0049" type="submit">删除</button>
	  </p>
	</div>
	</th:block>
		
	</form>
	
	</div>
</section>

<section class="section">
	<div class="content">
	<h2 data-tx="t0050" id="whitelist">您的白名单</h2>
	
	<form method="post" th:action="@{/update-settings(action='lists')}">

	<p data-tx="t0051" th:unless="${whitelist}">您没有将任何数字排除在屏蔽范围之外。</p>

	<th:block th:if="${whitelist}">
	<p data-tx="t0052">您已明确将这些数字排除在拦截范围之外：</p>

	<div class="field" th:each="number : ${whitelist}">
		<label class="checkbox">
			<input th:name="|wl-${number}|" type="checkbox"></input> <th:block th:text="${number}"></th:block>
		</label>
	</div>
	
	<div class="field is-grouped">
	  <p class="control">
	    <button class="button is-danger" data-tx="t0053" type="submit">删除</button>
	  </p>
	</div>
	</th:block>
	
	</form>
	</div>
	
	<div class="content">
	<form method="post" th:action="@{/update-settings(action='lists')}">

	<div class="field">
	  <label class="label" data-tx="t0054">添加例外情况</label>
	  <p class="control has-icons-left">
	    <input class="input" data-tx="t0088" name="add-wl" placeholder="新例外" type="tel"></input>
	    <span class="icon is-small is-left" data-tx="t0055">☎</span>
	  </p>
	  <p class="help" data-tx="t0056">您可以在此处输入一个或多个电话号码，中间用逗号隔开，格式不限：07041-123456789、+49171123456789、0034 123456789</p>
	</div>
	
	<div class="field is-grouped">
	  <p class="control">
	    <button class="button is-primary" data-tx="t0057" type="submit">添加</button>
	  </p>
	</div>
	
	</form>
	</div>
</section>

<section class="section">
<div class="content">
	<h2 data-tx="t0058" id="sec-contributions">您为 PhoneBlock 运营所做的捐赠</h2>
	
	<p data-tx="t0059">如果您为 PhoneBlock 的运行进行了 <a th:href="@{/support.jsp}"> 捐助</a>，它将在这里列出（一段时间后）。如果您能在转账信息中包含您的用户名的前几个字符，例如 <code id="purpose" th:text="${supporterId}"></code><span class="copyToClipboard" data-tx="t0090" href="#" id="purpose_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></span>，这将会更有效。遗憾的是，通过 GitHub 赞助计划做出的贡献无法在此列出。</p>
	
	<p data-tx="t0060" th:unless="${contributions}">未找到捐赠。</p>
	
	<th:block th:if="${contributions}">
	<table class="table">
	<thead>
		<tr>
			<th data-tx="t0061">日期</th>
			<th data-tx="t0062">留言</th>
			<th data-tx="t0063">金额</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="contribution : ${contributions}">
			<th th:text="${#dates.format(#converters.fromEpoch(contribution.received))}"></th>
			<th th:text="${contribution.message}"></th>
			<th th:text="${'€ ' + #numbers.formatDecimal(contribution.amount / 100.0,1,'POINT',2,'COMMA')}"></th>
		</tr>
	</tbody>
	</table>
	
	<p data-tx="t0064">非常感谢你们为 PhoneBlock 的运营提供资金支持！</p>	
	</th:block>
</div>

<nav class="panel is-info">
	<p class="panel-heading"><a data-action="collapse" href="#contribForm"><i class="fa-solid fa-eraser"></i> <span data-tx="t0065">错过付款？</span></a></p>
	<div class="is-collapsible" id="contribForm">

	<form enctype="application/x-www-form-urlencoded" method="post" th:action="@{/assign-contribution}">
	<div class="panel-block">
	<div class="content">
		<p data-tx="t0066">您是否遗漏了一笔付款？您可以在这里搜索付款。输入您的全名（您的银行/贝宝将您作为发件人）和转账日期：</p>
	
		<div class="field">
		  <label class="label" data-tx="t0067">发件人</label>
		  <p class="control has-icons-left">
		    <input class="input" data-tx="t0089" name="contrib-name" placeholder="马克斯-穆斯特曼" type="text"></input>
		    <span class="icon is-small is-left"><i class="fa-regular fa-user"></i></span>
		  </p>
		  <p class="help" data-tx="t0068">如果是银行转账，请注明转账账户持有人的姓名。还请在下方注明转账日期。</p>
		</div>
	
		<div class="field">
		  <label class="label" data-tx="t0069">日期</label>
		  <p class="control has-icons-left">
		    <input class="input" name="contrib-date" type="date"></input>
		  </p>
		  <p class="help" data-tx="t0070">银行转账日期。还请输入转账账户持有人的全名。</p>
		</div>
	</div>
	</div>

	<div class="panel-block">
		<button class="button is-medium is-primary" type="submit">
		    <span class="icon">
				<i class="fa-solid fa-magnifying-glass-dollar"></i>
		    </span>
			<span data-tx="t0071">搜索贡献</span>
		</button>
	</div>

	</form>
  	</div>
</nav>

</section>

<section class="section">
	<div class="content">
	<h2 data-tx="t0072">危险区</h2>
	<p data-tx="t0073">谨慎使用此功能。使用它可能会破坏你的 PhoneBlock 安装！</p>
	</div>
		
<nav class="panel is-warning" id="resetPassword">
	<p class="panel-heading"><a data-action="collapse" href="#resetForm"><i class="fa-solid fa-eraser"></i> <span data-tx="t0074">创建新密码</span></a></p>
	<div class="is-collapsible" id="resetForm">
		<form enctype="application/x-www-form-urlencoded" method="post" th:action="@{/reset-password}">
  		<div class="panel-block">
	  		<div class="content">
	  			<p data-tx="t0075">请注意，这将使您的旧 PhoneBlock 密码失效。然后，您必须在 Fritz！Box 或手机的设置中输入新密码，以便仍然可以访问拦截列表。</p>
	  		</div>
	  	</div>
	  	
  		<div class="panel-block">
			<button class="button is-medium is-fullwidth is-danger" type="submit">
			    <span class="icon">
					<i class="fa-solid fa-eraser"></i>
			    </span>
				<span data-tx="t0076">重置密码</span>
			</button>
  		</div>
  		</form>
  	</div>
</nav>

<nav class="panel is-warning">
	<p class="panel-heading"><a data-action="collapse" href="#logoutForm"><i class="fa-solid fa-right-from-bracket"></i> <span data-tx="t0077">注销所有设备</span></a></p>
	<div class="is-collapsible" id="logoutForm">
		<form enctype="application/x-www-form-urlencoded" method="post" th:action="@{/logout(url=${contextPath + '/'},all=true)}">
  		<div class="panel-block">
	  		<div class="content">
	  			<p data-tx="t0078">退出登录时激活了 "在此设备上保持登录 "选项的所有设备。下次访问时，您必须在所有设备上重新登录。如果您不小心在公共 PC 上激活了 "在此设备上保持登录 "功能，请使用此注销功能。</p>
	  		</div>
	  	</div>
	  	
  		<div class="panel-block">
			<button class="button is-medium is-fullwidth is-danger" type="submit">
			    <span class="icon">
					<i class="fa-solid fa-right-from-bracket"></i>
			    </span>
				<span data-tx="t0079">随时随地退出登录</span>
			</button>
  		</div>
  		</form>
  	</div>
</nav>
	
<nav class="panel is-warning">
	<p class="panel-heading"><a data-action="collapse" href="#quitForm"><i class="fa-solid fa-power-off"></i> <span data-tx="t0080">删除帐户</span></a></p>
	<div class="is-collapsible" id="quitForm">
		<form enctype="application/x-www-form-urlencoded" method="post" th:action="@{/delete-account}">
  		<div class="panel-block">
	  		<div class="content">
	  			<p data-tx="t0081">请注意，您的所有数据都将被删除。您将无法再从任何设备上检索封锁列表或访问 PhoneBlock 数据库！</p>
	  		</div>
	  	</div>
	  	
  		<div class="panel-block">
			<button class="button is-medium is-fullwidth is-danger" type="submit">
			    <span class="icon">
					<i class="fa-solid fa-power-off"></i>
			    </span>
				<span data-tx="t0082">删除访问权限，不再进行安全查询！</span>
			</button>
  		</div>
  		</form>
  	</div>
</nav>

</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>