<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">作为电话簿安装</h1>

<p data-tx="t0002:10d70c8f">要安装拦截列表，您需要一个来自 AVM 的 <a th:href="@{/link/fritzbox}">"FRITZ!Box" 互联网路由器</a>和一个 PhoneBlock 帐户。路由器不一定是最新型号，但您应检查路由器上是否安装了最新的 FRITZ！OS（07.29 或更新版本）。如果没有，请使用以下安装说明检查您的版本是否已提供必要的选项。</p>

<p data-tx="t0003:d62d702f">注意：由于 Fritz!Box 的技术限制，无法将整个拦截列表加载到电话簿中。因此，设置 <a th:href="@{/anrufbeantworter}">PhoneBlock 应答机</a> 可以更好地防止垃圾邮件电话。</p>

<p data-tx="t0052:818cc317">使用以下步骤设置拦截列表：</p>

<ol>
	<li><a data-tx="t0053:5cb36b90" href="#register">注册 PhoneBlock</a> <span class="tag is-success" data-tx="t0054:3378b39d" th:if="${userName}">✓ 已完成</span></li>
	<li><a data-tx="t0055:d44f7d1" href="#fritzbox">登录 FRITZ!Box</a></li>
	<li><a data-tx="t0056:d6fa7b4e" href="#phonebook">创建新的 "Blocklist "电话簿</a></li>
	<li><a data-tx="t0070:958ad5cf" href="#create-token">生成 CardDAV 令牌</a> <span class="tag is-success" data-tx="t0058:3378b39d" th:if="${cardDavToken}">✓ 已完成</span></li>
	<li><a data-tx="t0071:9e1ea08e" href="#credentials">在 Fritz!Box 中输入登录数据</a></li>
	<li><a data-tx="t0059:4f985acc" href="#verify">检查安装</a></li>
	<li><a data-tx="t0060:91946e2c" href="#block">激活呼叫限制</a></li>
</ol>

<h2 data-tx="t0061:e8d5bb12" id="register">步骤 1：注册 PhoneBlock</h2>

<p data-tx="t0062:fffc269" th:unless="${userName}">首先，你需要注册或登录 PhoneBlock 才能开始设置。</p>

<div class="columns" th:unless="${userName}">
  <div class="column is-half is-offset-one-quarter">
	<a th:href="@{/login(location='/setup')}">
		<button class="button is-medium is-info is-fullwidth">
			<span class="icon">
				<i class="fa-solid fa-right-to-bracket"></i>
			</span>
			<span data-tx="t0063:1dc205">登录</span>
		</button>
	</a>
  </div>
</div>
<p data-tx="t0064:1a4e19e4" th:if="${userName}"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> 您已经以 <code dir="ltr" th:text="${userName}"></code> 的身份登录，很好！继续下一步。</p>
		
		<h2 data-tx="t0065:8bf85697" id="fritzbox">步骤 2：登录 FRITZ!Box</h2>

		<p data-tx="t0012:2354f60">要使用此功能，您必须在家使用无线局域网，或者您的电脑必须通过电缆直接连接到 FRITZ！Box。首先，FRITZ！Box 会询问您的密码。如果您以前从未登录过，您可以在设备底部找到该密码。</p>

		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">登录 FRITZ!Box</button>
			</a>
		  </div>
		</div>

		<h2 data-tx="t0066:502b2c97" id="phonebook">步骤 3：创建新的 "Blocklist "电话簿</h2>
		
		<p data-tx="t0015:60de307b">为了让 FRITZ！Box 阻止垃圾电话，它需要自己的电话簿，在其中输入所有不受欢迎来电的号码。将此电话簿称为 "阻止列表"。为此</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">首先导航至 "电话 "部分、</li>
			<li data-tx="t0017:bf3c833">选择 "电话簿 "菜单项，然后</li>
			<li data-tx="t0018:9545daeb">然后点击 "新建电话簿 "链接。</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Fritz!Box 通话清单" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0072:356d507a" id="create-token">第 4 步：创建 CardDAV 令牌</h2>

		<p data-tx="t0073:5843bc02">在您的Fritz！Box中进行设置时，您需要一个特殊的CardDAV令牌作为密码。该令牌仅用于 Fritz！Box 和 PhoneBlock 之间的连接，并可随时在设置中撤销。</p>

		<th:block th:if="${cardDavToken}">
			<p data-tx="t0074:9b72e482"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> 您已经创建了一个令牌！继续下一步。</p>
		</th:block>

		<th:block th:if="${userName} and ${!cardDavToken}">
			<p data-tx="t0075:ca529190">现在为 Fritz 创建一个标记！您可以选择添加注释，以便日后知道标记的用途（例如 "Fritz!Box 起居室"）。</p>

			<form method="post" th:action="@{/update-settings(action='createToken', location='/setup#credentials')}">
				<input name="token-type" type="hidden" value="CARDDAV"/>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" data-tx="t0049:fe053998" name="token-label" placeholder="可选：注释（例如 &quot;Fritz!Box 起居室）" type="text"/>
					</div>
					<div class="control">
						<button class="button is-primary" data-tx="t0050:21ce66dd" type="submit"><i class="fa-solid fa-key"></i> 创建标记</button>
					</div>
				</div>
			</form>
		</th:block>

		<p data-tx="t0051:9fe447a" th:unless="${userName}">您必须先<a th:href="@{/login(location='/setup')}">登录</a>，才能创建一个标记。</p>

		<h2 data-tx="t0076:35997409" id="credentials">步骤 5：在 Fritz!Box 中输入登录数据</h2>

		<p data-tx="t0020:e4a227b8">现在您必须在 FRITZ 中输入登录数据！</p>

		<ol>
			<li>
				<div data-tx="t0021:d5b1f48a">为要用作拦截列表的电话簿输入名称 <code dir="ltr">拦截列表</code>。下一步将再次使用该名称。</div>
			</li>

			<li data-tx="t0022:32f6ec7">选择选项 <i>使用在线提供商的电话簿</i>。</li>

			<li data-tx="t0023:d59c1b48">选择提供程序 <i>CardDAV 提供程序</i>。</li>

			<li>
				<div data-tx="t0079:c5926e14">传输登录数据（最好使用剪贴法，以避免输入错误）。</div>

				<ul>
					<li data-tx="t0080:d646341e"><span><i>CardDAV 服务器的互联网地址</i>:</span> <code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a>（PhoneBlock 地址簿的 URL）</li>

					<li>
						<i data-tx="t0081:548c40c1">用户名</i>: 
						
						<th:block data-tx="t0082:baafe4ec" th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a> （您的 PhoneBlock 用户名）</th:block>

						<th:block data-tx="t0083:c9c6fa56" th:unless="${userName}">您必须首先登录（请参阅 <a href="#register">步骤 1</a>）。</th:block>
					</li>

					<li>
						<span>
							<i data-tx="t0084:e99dee32">暗号</i>:
						</span>
						
						<th:block data-tx="t0085:1d7c0447" th:if="${cardDavToken}"><code dir="ltr" id="passwd2" th:text="${cardDavToken.token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a>（步骤 4 中的标记）</th:block>
						
						<th:block data-tx="t0078:c657e130" th:unless="${cardDavToken}">您必须首先创建一个令牌（请参阅<a href="#create-token">步骤 4</a>）。</th:block>
					</li>
				</ul>
			</li>

			<li data-tx="t0025:a4fb7bb8">现在您可以确认新电话簿的创建。请注意在 "电话分配 "下选择 <b>"无电话"</b>！否则，您只能在手机联系人中找到垃圾邮件呼叫者。</li>
		</ol>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="创建新地址簿" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0068:49ed5643" id="verify">步骤 6：检查安装</h2>

		<p data-tx="t0027:6bd9c881">如果一切顺利，FRITZ！Box 将加载 PhoneBlock Blocklist 中的所有号码。现在您应该在 "电话/电话簿 "部分有一个新的 "阻止列表 "电话簿。如果您选择 "Blocklist "选项卡，就可以看到当前垃圾来电者的所有号码。</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="显示检索到的拦截列表" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0069:16c40784" id="block">步骤 7：激活呼叫限制</h2>
		
		<p data-tx="t0029:ffbbaf55">在 "电话/呼叫处理 "部分，您现在可以指定新的 "Blocklist "电话簿作为要阻止的号码范围。</p>			
		
		<p data-tx="t0030:2d9a1437">向下滚动到 "区块编号范围 "子项目，点击 "添加范围 "按钮。</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="添加新的呼叫限制" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">在新界面中，选择 "区域 "选项中的 "电话簿"，然后选择新创建的电话簿 "Blocklist "作为要屏蔽的 "电话簿"。</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="阻止拦截列表中电话号码的来电者" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">完美！您已经完成了设置。现在，你的手机应该不会再因为不受欢迎的来电而频繁响铃了。如果出现这种情况，您可以轻松地为自己和整个 PhoneBlock 社区将麻烦制造者静音：</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">阻止电话号码</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>