<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">安装在电话系统中</h1>
		
		<p data-tx="t0002">PhoneBlock 也可以集成到电话系统中。由于电话系统往往用于商业目的，请注意<a th:href="@{/usage}">关于 PhoneBlock 商业用途的说明</a>，尤其是免责声明。电话系统集成脚本由 PhoneBlock 社区贡献。因此，如果你有任何问题，请直接联系相关开发者。</p>
		
		<h2 data-tx="t0003">3CX</h2>
		
		<p data-tx="t0004">要在 <a href="https://www.3cx.com/">3CX</a> 电话系统中使用 PhoneBlock，请查看项目 <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a> 。</p>
		
		<h2 data-tx="t0005">其他</h2>
		
		<p data-tx="t0006">您是否为其他电话系统编写了集成程序？那么请告诉<a th:href="@{/impressum}">我</a>，以便我为您的项目设置一个链接。</p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>