<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5a43e5f">欢迎访问 PhoneBlock！</h1>

		<p data-tx="t0002:ac196de8">您的PhoneBlock账户已成功创建。以下是您的登录信息：</p>

		<form method="get" th:action="@{${#strings.isEmpty(location) ? '/settings' : location}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0003:5df14f18">您的访问数据</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">用户名</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0005:3f7efe41" href="#" id="login_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">暗号</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0007:3f7efe41" href="#" id="passwd_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></div>
			</div>
		  </div>
		</article>

		<p class="help" data-tx="t0011:513d35a4"><strong>重要：</strong>请记下此访问数据（或保存在<a href="https://keepass.info/">密码管理器</a>中）。密码只显示一次。不过，您可以随时在设置中生成新密码。</p>

		<p data-tx="t0009:5aa3701c">下次访问本网站时，您可以使用这些访问数据再次登录。</p>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0010:534ad5e8" type="submit">继续安装</button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>