<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.usage-search.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">搜索数字</h1>

		<p class="subtitle" data-tx="t0002">您可以查询 PhoneBlock 数据库中的任何电话号码，即使没有发生通话。</p>

		<h2 data-tx="t0003">如何搜索数字</h2>

		<div class="columns is-multiline">
			<div class="column is-half">
				<h3 data-tx="t0004">步骤 1：打开搜索</h3>
				<figure class="image">
					<img alt="打开搜索" class="appscreen" data-tx="t0005" th:src="@{/assets/img/mobile/search-1-open.png}"/>
				</figure>
				<p class="has-text-centered mt-2" data-tx="t0006">点击右上角的放大镜图标打开搜索功能</p>
			</div>

			<div class="column is-half">
				<h3 data-tx="t0007">步骤 2：输入编号</h3>
				<figure class="image">
					<img alt="输入编号" class="appscreen" data-tx="t0008" th:src="@{/assets/img/mobile/search-2-enter-number.png}"/>
				</figure>
				<p class="has-text-centered mt-2" data-tx="t0009">输入电话号码并点击 "搜索</p>
			</div>
		</div>

		<h2 class="mt-5" data-tx="t0010">搜索结果</h2>

		<p data-tx="t0011">搜索后，您将看到该号码的以下信息：</p>

		<div class="columns">
			<div class="column is-half">
				<h3 data-tx="t0012">如果号码已知：</h3>
				<ul>
					<li data-tx="t0013"><strong>垃圾邮件得分：</strong>负面评价数量</li>
					<li data-tx="t0014"><strong>类别：</strong>垃圾邮件类型（广告、欺诈等）</li>
					<li data-tx="t0015"><strong>评论：</strong>其他用户的评价</li>
					<li data-tx="t0016"><strong>评论：</strong>正面和负面报道</li>
				</ul>
				<p class="mt-3" data-tx="t0017">您可以直接将该号码评为垃圾邮件或合法号码，或将其添加到您的黑名单/白名单中。</p>
			</div>

			<div class="column is-half">
				<h3 data-tx="t0018">如果号码未知：</h3>
				<ul>
					<li data-tx="t0019">应用程序显示没有可用信息</li>
					<li data-tx="t0020">您可以成为第一个评价该号码的人</li>
					<li data-tx="t0021">可选择加入黑名单或白名单</li>
				</ul>
				<p class="mt-3" data-tx="t0022"><strong>小贴士：</strong>如果您收到了来自未知号码的可疑来电，可以在这里查找并将其报告为垃圾邮件。</p>
			</div>
		</div>

		<h2 class="mt-5" data-tx="t0023">搜索提示</h2>

		<div class="notification is-info">
			<h3 data-tx="t0024">电话号码格式</h3>
			<p class="mt-2" data-tx="t0025">为获得最佳搜索结果，请输入带有国家代码的号码：</p>
			<ul class="mt-2">
				<li data-tx="t0026"><strong>德国：</strong> 号码前加 +49 或 0049（例如：+49 30 12345678）</li>
				<li data-tx="t0027"><strong>瑞士：</strong> +41 或号码前加 0041</li>
				<li data-tx="t0028"><strong>奥地利：</strong> +43 或在号码前加 0043</li>
			</ul>
			<p class="mt-3" data-tx="t0029">不输入国家代码也能进行搜索，但搜索结果的可靠性较低。</p>
		</div>

		<div class="notification is-success mt-4">
			<h3 data-tx="t0030">搜索过程中的数据保护</h3>
			<p class="mt-2" data-tx="t0031">在搜索过程中，号码会以 SHA-1 哈希值的形式传输到 PhoneBlock 服务器。服务器无法据此重新计算原始号码。</p>
			<p class="mt-2" data-tx="t0032"><strong>这意味着：</strong> PhoneBlock 仅会在 SPAM 数据库中已经存在的情况下了解您正在搜索的号码。对于所有其他号码，您的搜索仍然是保密的。</p>
		</div>

		<h2 class="mt-5" data-tx="t0033">什么时候搜索有用？</h2>

		<div class="columns">
			<div class="column is-half">
				<h3 data-tx="t0034">常用案例</h3>
				<ul>
					<li data-tx="t0035">接听电话前查看显示屏上的未知号码</li>
					<li data-tx="t0036">查询未接来电</li>
					<li data-tx="t0037">查看短信或电子邮件中的号码</li>
					<li data-tx="t0038">回拨前请检查号码是否合法</li>
				</ul>
			</div>

			<div class="column is-half">
				<h3 data-tx="t0039">搜索后您可以做什么</h3>
				<ul>
					<li data-tx="t0040">将号码评为垃圾邮件或合法号码</li>
					<li data-tx="t0041">添加到黑名单（始终阻止）</li>
					<li data-tx="t0042">添加到白名单（永不拦截）</li>
					<li data-tx="t0043">阅读其他用户的评论</li>
				</ul>
			</div>
		</div>

		<div th:replace="~{fragments/page :: mobileUsageNav}"></div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>