<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.usage.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:95905892">使用条款</h1>
		
		<p data-tx="t0002:6efd4f42">PhoneBlock 可以帮助您进行数字自卫，抵御恐怖电话和不受欢迎的广告电话。PhoneBlock 是<a th:href="@{/impressum}">我的</a>私人<a href="https://github.com/haumacher/phoneblock">项目</a>，我很乐意让你免费参与其中。</p>
		
		<h2 data-tx="t0003:d7d71708">免责声明</h2>
		
		<p data-tx="t0004:c68bf950">使用 PhoneBlock 完全由您自己承担风险。在使用 PhoneBlock 时，您必须意识到，软件中的错误或在拦截列表中恶意插入的号码可能会拦截您可能希望被呼叫的号码。</p>
		
		<h2 data-tx="t0005:554aa6e2">商业用途</h2>
		
		<p data-tx="t0006:106c9081">我建议不要在商业电话连接上使用 PhoneBlock。无论如何，如果你想这样做，那么你要对可能造成的任何损失承担全部风险。为了最大限度地降低使用风险，我建议你不要在拦截列表中拦截号码，而只把它们转到答录机上。我还强烈建议不要在商业环境中使用 PhoneBlock 应答机--在任何情况下，您都不希望让电话线上的潜在客户冒被应答机 "愚弄 "的风险。</p>
		
		<h2 data-tx="t0007:6753355d">PhoneBlock 服务器的运行</h2>
		
		<p data-tx="t0008:6cab0fe4">您可以免费使用 PhoneBlock。然而，网络应用程序的运行并非免费。如果PhoneBlock对你有帮助，我们欢迎你以<a th:href="@{/support}">小额捐赠</a>的形式为运营成本做出贡献。然而，您这样做并不期望得到任何回报。</p>
		
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>