<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0009:336bea4">Γεια σας <span th:text="${name}">χρήστης</span>,<img align="right" alt="Λογότυπο PhoneBlock" data-tx="t0002:5b0e8765" height="133" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" style="vertical-align: bottom;" th:src="${image}" width="133"/></p>

    <p data-tx="t0003:d4ff0bbe">Χαίρομαι που βρήκατε το <a href="https://phoneblock.net" th:href="${home}">PhoneBlock</a> και το εγκαταστήσατε με επιτυχία. Οι ανεπιθύμητες τηλεφωνικές κλήσεις ελπίζουμε ότι θα μειωθούν σημαντικά στο μέλλον.</p>

    <p data-tx="t0004:57bc0241">Αν είστε ευχαριστημένοι με το PhoneBlock, τότε θα ήμουν ευτυχής αν συνεισφέρατε στο κόστος λειτουργίας του PhoneBlock με μια <a href="https://phoneblock.net/phoneblock/support" th:href="${support}">μικρή δωρεά</a>.</p>

    <p data-tx="t0010:fd8c5cc5">Αλλά ακόμη πιο σημαντικό είναι να το πείτε στους φίλους, τους γνωστούς και τους συγγενείς σας. Γιατί δεν μοιράζεστε την αρχική σελίδα του PhoneBlock (<a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a>) στο Facebook, στο Twitter ή σε κάποιο άλλο κανάλι και ακολουθήστε το PhoneBlock, ώστε να μην χάνετε καμία ενημέρωση: <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a></p>

    <p data-tx="t0006:2be40556">Μόνο αν μιλήσετε στους άλλους για το PhoneBlock, θα διαδοθούν τα καλά νέα ότι κανείς δεν είναι πλέον ανυπεράσπιστος απέναντι στην τηλεφωνική τρομοκρατία.</p>

    <p data-tx="t0007:284b3eac">Με εκτίμηση</p>
    <p data-tx="t0008:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0011:fb9d285" style="color: gray;">--<br/>
Αρχική σελίδα: <a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a><br/>
Δωρεά: <a href="https://phoneblock.net/phoneblock/support" th:href="${support}" th:text="${support}">https://phoneblock.net/phoneblock/support</a><br/>
Ρυθμίσεις: <a href="https://phoneblock.net/phoneblock/settings" th:href="${settings}" th:text="${settings}">https://phoneblock.net/phoneblock/settings</a><br/>
Οδηγίες για το βίντεο: <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a><br/>
Facebook: <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a><br/>
Επικοινωνία: <a href="mailto:phoneblock@haumacher.de" th:href="|mailto:${mail}|" th:text="${mail}">phoneblock@haumacher.de</a><br/></p>

</body>
</html>