<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header-mobile}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001">Έχετε συνδεθεί επιτυχώς</h1>

<p data-tx="t0002">Το διακριτικό εξουσιοδότησης: <code id="token" th:text="${token}"></code></p>

<p data-tx="t0003">Η σύνδεσή σας στο PhoneBlock ήταν επιτυχής. Εάν αυτή η σελίδα δεν κλείσει αυτόματα, μπορεί να υπάρχει κάποιο πρόβλημα με την εφαρμογή κινητού σας.</p>

</div>
</section>

<div th:replace="~{fragments/page :: footer-mobile}"></div>
</body>
</html>