<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title='Rufnummer sperren - PhoneBlock')}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Block phone number</h1>
	
		<p data-tx="t0002">Another nag slipped through the PhoneBlock net? Annoying but no problem, you'll be rid of him in no time. Simply add the number of the troublemaker to the "Blocklist". To do this, log in to your Fritz! box.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank"><button class="button is-medium is-primary is-fullwidth" data-tx="t0003">Log in to FRITZ!Box</button></a>
		  </div>
		</div>
		
		<h2 data-tx="t0004">Show the caller list</h2>
		
		<p data-tx="t0005">In the user interface of your FRITZ!Box you can see all recent callers. If everything went well, the list will look like the one shown below. An unwanted call was recognized, marked as spam and the call was rejected (the call is displayed with a red X).</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Fritz!Box call list" class="image" data-tx="t0021" th:src="@{/assets/img/block/07-spam-caller.png}"></img>
		  </div>
		</div>
		
		<p data-tx="t0006">In this case there is nothing to do. The unwanted caller is already on the "blocklist" and can no longer disturb you.</p>
		
		<h2 data-tx="t0007">New "Blocklist" entry</h2>
		
		<p data-tx="t0008">If the nuisance has a new telephone number or a new telephone terrorist has started his business, you may still receive an unwanted call. In this case, you can add a new entry to the "Blocklist" here.</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<div class="tile is-ancestor">
		      <div class="tile is-parent">
		      	<article class="tile is-child notification is-danger">
			        <p class="title" data-tx="t0009">Attention!</p>
			        <p class="subtitle" data-tx="t0010">Do not enter any personal enemies!</p>
			        <div class="content">
			          <p data-tx="t0011">An entry in the "BlockList" blocks the caller not only for you, but for all members of the PhoneBlock community! So if you no longer want to receive calls from your mother-in-law, please enter her number in the local call blocking list in your FRITZ!Box, but not in the PhoneBlock "Blocklist"!</p>
			          
			          <p data-tx="t0012">In the event of violations, your account will be irrevocably blocked without warning!</p>
			        </div>
			  	</article>
			  </div>
			</div>
	    </div>
	 </div>
	 
	 <p data-tx="t0013">So you're sure that you've received an advertising call that you didn't order and that you're sure nobody else wants to receive? Then go ahead - block the number...</p>
		
	<p data-tx="t0014">A number is blocked by making a new phonebook entry in the phonebook with the name "Blocklist". Your FRITZ!Box will upload this new entry to the PhoneBlock server and all other connected members of the PhoneBlock community will also receive this entry in their blocklist. To make a new phonebook entry, click on the book symbol at the end of the line with the number of the unwanted call.</p>
	
	<p data-tx="t0015">Now select the "Blocklist" phone book:</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Mark call as unwanted" class="image" data-tx="t0022" th:src="@{/assets/img/block/08-mark-as-spam.png}"></img>
	  </div>
	</div>
	
	<p data-tx="t0016">Click "Next" and select "Create new":</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Create a new entry in the blocklist" class="image" data-tx="t0023" th:src="@{/assets/img/block/09-create-entry-create.png}"></img>
	  </div>
	</div>
	
	<p data-tx="t0017">On the next screen, enter a name of your choice and click "OK". After synchronization with the PhoneBlock server, the name will be replaced by "SPAM: phone number", so you don't have to make any effort to enter something nice here:</p>
	
	<p data-tx="t0018"><b>Important:</b> You can only enter <b>one number</b> per phonebook entry in the blocklist. PhoneBlock then sorts the phone number into the correct block. A number entered by you must <b>not contain a wildcard ("*")</b>. Wildcard numbers are only generated by PhoneBlock itself if there are many complaints about telephone numbers that are close together.</p>
	
	<p data-tx="t0019"><b>Important:</b> You must <b>not edit</b> existing entries in the blocklist (do not add numbers, do not delete numbers), otherwise PhoneBlock will discard your changes during the next synchronization. If you want to delete a number from the blocklist, add an entry to your <a th:href="@{/settings/#whitelist}">whitelist in the settings</a> instead.</p>

	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Accept new entry in the block list" class="image" data-tx="t0024" th:src="@{/assets/img/block/10-add-entry-save.png}"></img>
	  </div>
	</div>
	
	<p data-tx="t0020">Done! You've saved yourself and the entire PhoneBlock community from another pain in the ass, thank you!</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>