<html>
<head th:replace="~{fragments/page :: head(title='PhoneBlock Anmeldung')}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Registration</h1>
	</div>
	
	<div class="content">
		<p data-tx="t0002">To set up PhoneBlock as a <a th:href="@{/setup.jsp}">blocklist phonebook</a>, or <a th:href="@{/anrufbeantworter/}">intelligent answering machine</a>, you must first register here.</p>

		<p data-tx="t0003">After logging in, you can define in the <a th:href="@{/settings}">PhoneBlock settings</a>, for example, the confidence level from which a phone number is added to your blocklist or the maximum length of your blocklist.</p>

		<p data-tx="t0004">The management of your <a th:href="@{/ab/}">PhoneBlock answering machine</a> also requires registration.</p> 
	</div>

	<div th:replace="~{fragments/login-forms :: forms(web=true)}">
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>