<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">No Fritz!Box box found</h1>

		<p data-tx="t0002">The search did not find a Fritz!Box There may be several reasons for this.</p>
		
		<ul>
			<li data-tx="t0003">You are not connected to Wi-Fi, are "mobile data" active?</li>
			<li data-tx="t0004">Your Fritz!Box does not have the standard configuration with name <code>fritz.box</code> and address <code>192.168.178.1</code>?</li>
			<li data-tx="t0005">You have a different Internet router. Maybe it can also work with PhoneBlock, check the <a th:href="@{/faq}">FAQ</a>!</li>
		</ul>
	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>