<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001:657a0bf2">The phone number ☎ <span th:text="${number}"></span> does not exist</h1>

	<p data-tx="t0002:d5692a3b">The number you are looking for is not a telephone number. Please correct your search and try again!</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>