<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5a43e5f">Welcome to PhoneBlock!</h1>

		<p data-tx="t0002:ac196de8">Your PhoneBlock account has been successfully created. Here are your login details:</p>

		<form method="get" th:action="@{${#strings.isEmpty(location) ? '/settings' : location}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0003:5df14f18">Your access data</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">User name</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0005:3f7efe41" href="#" id="login_" title="Copy to the clipboard."><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">password</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0007:3f7efe41" href="#" id="passwd_" title="Copy to the clipboard."><i class="fa-solid fa-copy"></i></a></div>
			</div>
		  </div>
		</article>

		<p class="help" data-tx="t0011:513d35a4"><strong>Important:</strong> Please make a note of this access data (or save it in a <a href="https://keepass.info/">password manager</a>). The password is only displayed once. However, you can generate a new password at any time in the settings.</p>

		<p data-tx="t0009:5aa3701c">You can use this access data later to log in again on your next visit to this website.</p>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0010:534ad5e8" type="submit">Continue with the installation</button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>