<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0007:336bea4">Hei <span th:text="${name}">bruker</span>,<img align="right" alt="PhoneBlock-logo" data-tx="t0002:5b0e8765" height="133" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" style="vertical-align: bottom;" th:src="${image}" width="133"/></p>

	<p data-tx="t0008:9985bd2c">Tusen takk for din <span th:text="${attribute}"></span>donasjon til PhoneBlock-prosjektet! Jeg håper det kan hjelpe deg med å redusere uønskede anrop betydelig.</p>

	<p data-tx="t0004:b088fcbb">Og hvis et nytt uønsket nummer slipper gjennom nettet, må du ikke glemme å markere det som SPAM på PhoneBlocks nettsted. Hvis alle gjør dette konsekvent, blir alle nye SPAM-nummer umiddelbart blokkert igjen.</p>

    <p data-tx="t0005:dfdaf9d7">Med vennlig hilsen</p>
    <p data-tx="t0006:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0009:fb9d285" style="color: gray;">--<br/>
Hjemmeside: <a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a><br/>
Donasjon: <a href="https://phoneblock.net/phoneblock/support" th:href="${support}" th:text="${support}">https://phoneblock.net/phoneblock/support</a><br/>
Innstillinger: <a href="https://phoneblock.net/phoneblock/settings" th:href="${settings}" th:text="${settings}">https://phoneblock.net/phoneblock/settings</a><br/>
Videoinstruksjoner: <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a><br/>
Facebook: <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a><br/>
Kontakt: <a href="mailto:phoneblock@haumacher.de" th:href="|mailto:${mail}|" th:text="${mail}">phoneblock@haumacher.de</a><br/></p>

</body>
</html>