<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title='PhoneBlock Anmeldung')}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1>Anmeldung</h1>
	</div>
	
	<div class="content">
		<p>
			Um PhoneBlock als <a th:href="@{/setup.jsp}">Blocklisten-Telefonbuch</a>, 
			oder <a th:href="@{/anrufbeantworter/}">intelligenten Anrufbeantworter</a> einzurichten, 
			musst Du Dich zuvor hier anmelden.
		</p>

		<p> 
			Nach der Anmeldung kannst Du in den <a th:href="@{/settings}">PhoneBlock-Einstellungen</a>
			 z.B. festlegen, ab welcher Konfidenz eine Telefonnummer zu Deiner
			Blocklist hinzugefügt wird oder welche Länge Deine Blocklist höchstens haben darf.
		</p>

		<p>
			 Auch die Verwaltung Deiner <a th:href="@{/ab/}">PhoneBlock-Anrufbeantworter</a>
			 erfordert eine Anmeldung.
		</p> 
	</div>

	<div th:replace="~{fragments/login-forms :: forms(web=true)}">
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>
