<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.datenschutz.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001">Integritetspolicy</h1>

			<h2 data-tx="t0002">IP-adress</h2>
			<p data-tx="t0003">När du besöker denna webbplats lagras din dators IP-adress tillfälligt i en loggfil för felanalysändamål och raderas automatiskt efter 14 dagar. Utan registrering samlar denna webbplats inte in några personuppgifter från sina besökare och innehåller varken reklam eller spårare från tredje part.</p>

			<h2 data-tx="t0004">e-post</h2>
			<p data-tx="t0005">När du registrerar dig för ett PhoneBlock-konto kommer den e-postadress du anger att lagras i syfte att autentisera användaren. E-postadressen kommer inte att vidarebefordras till tredje part. E-postmeddelanden kommer endast att skickas till den angivna adressen för autentisering eller för driften av PhoneBlock.</p>

			<h2 data-tx="t0006">Kakor</h2>
			<p data-tx="t0007">En tekniskt nödvändig sessionscookie sätts under vissa interaktioner med PhoneBlocks webbplats, t.ex. under registrering och utvärdering av telefonnummer.</p>
			<p data-tx="t0008">Om du aktiverar funktionen "Håll mig inloggad på den här enheten" när du loggar in, kommer PhoneBlock att ställa in en beständig cookie med vilken webbplatsen känner igen dig vid ditt nästa besök så att du automatiskt loggas in utan att behöva ange ditt lösenord på nytt eller upprepa Googles inloggningsprocess. Om du klickar på knappen "Logga ut" raderas den här cookien och du måste logga in igen vid nästa besök.</p>

			<h2 data-tx="t0009">Radering av konto</h2>
			<p data-tx="t0010">Du kan när som helst radera ditt PhoneBlock-konto i <a th:href="@{/settings/}">inställningar</a>. Genom att radera ditt konto raderas dina data som lagrats med PhoneBlock.</p>
			
			<h2 data-tx="t0011">Telefonnummer</h2>
			<p data-tx="t0012">Om ditt telefonnummer av misstag har lagts till i blocklistan kan du naturligtvis begära att det tas bort. Skriv ett e-postmeddelande till <code>Bernhard Haumacher &lt;<button class="showaddr">...</button></code>.</p>

			<h2 data-tx="t0013">Telefonsvarare</h2>
			<p data-tx="t0014">När du använder <a th:href="@{/anrufbeantworter/}">PhoneBlocks telefonsvarare</a> måste PhoneBlock permanent spara IP-adressen till din Fritz!Box för att kunna registrera telefonsvararen där och upprätthålla registreringen. För att göra detta har du antingen lagrat värdnamnet för din Fritz!Box eller installerat DynDNS-tjänsten från PhoneBlock i din Fritz!Box</p>
			
			<p data-tx="t0015">Inkommande samtal till din Fritz!Box visas för en registrerad telefonsvarare. Telefonnumret till den som ringer överförs till telefonsvararen PhoneBlock. Telefonnumret används för att jämföra det med databasen för SPAM-telefonnummer. Endast om telefonnumret finns med i SPAM-databasen kommer telefonsvararen att acceptera samtalet och spara det i telefonsvararens samtalslista. I alla andra fall lagras inga uppgifter om samtalet i PhoneBlock.</p>
			
		</div>
	</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>