<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="PhoneBlock logotyp" data-tx="t0015:5b0e8765" th:src="@{/assets/img/animation.svg}"/>
		</div>

		<h1 data-tx="t0001:79729e8b">Avvisa automatiskt oönskade samtal</h1>

		<p data-tx="t0002:d74f7216">Har ditt telefonnummer också hamnat i händerna på tvivelaktiga adresshandlare och du får ständigt irriterande samtal som vill "optimera" din elräkning, ge dig råd om ett solsystem, tillkännage ett annat stort pris eller erbjuda andra "förmåner"? Då är <b>PhoneBlock</b> precis vad du behöver!</p>

		<div th:replace="~{fragments/page :: buttons}"></div>

		<h2 data-tx="t0007:20eeb709">Hur fungerar PhoneBlock?</h2>

		<h3 data-tx="t0029:e557e16d">Gemenskapens svarta lista</h3>

		<p data-tx="t0008:62e0be42">PhoneBlock är en lista som upprätthålls av PhoneBlock-gruppen med telefonnummer som misstänks vara skräppost. <a th:href="@{/anrufbeantworter}">PhoneBlocks telefonsvarare</a> tar sedan emot samtal från personer som finns på blockeringslistan så att din telefon förblir tyst för dessa samtal.</p>

		<h3 data-tx="t0030:397ca321">Alternativ: FRITZ!Box telefonbok</h3>

		<p data-tx="t0009:149bd771">Alternativt kan du också importera den svarta listan som en telefonbok till din "FRITZ!Box"-internetrouter och blockera samtal från nummer i denna <a th:href="@{/setup}">specialiserade telefonbok</a>. Du behöver inte längre blockera nummerserier manuellt, eftersom din Fritz!Box automatiskt uppdaterar den blockerade listan varje kväll. Så snart ett nummer läggs till i den svarta listan avvisar din FRITZ!Box automatiskt samtal från detta nummer. <a th:href="@{/anrufbeantworter}">Svarsmaskinen</a> är dock en bättre lösning eftersom en telefonbok har begränsad storlek och inte kan innehålla alla nummer i blockeringslistan.</p>

		<h3 data-tx="t0031:6045153a">Rapportera SPAM-nummer</h3>

		<p data-tx="t0010:34e8fe06">Om du ändå får ett oönskat samtal på grund av att numret ännu inte har lagts till i blockeringslistan kan du rapportera numret och på så sätt skydda hela PhoneBlock-gruppen från <a th:href="@{/status}">ytterligare spam-samtal</a>. Du har flera alternativ: Rapportera SPAM direkt från PhoneBlock-appen, sök efter och betygsätt numret på webbplatsen eller <a th:href="@{/block}">blockera numret i din FRITZ!Box</a> genom att göra en post i PhoneBlocks adressbok. Så snart ett nummer rapporteras läggs det till i den blockerade listan och alla andra PhoneBlock-användare skyddas automatiskt.</p>

		<h2 data-tx="t0011:db4a3206">Vilka är kraven?</h2>

		<p data-tx="t0020:537ee553">PhoneBlock stöder olika plattformar för blockering av oönskade samtal:</p>

		<div class="columns is-multiline">
			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-router"></i>
							</span>
							<span data-tx="t0021:7852d066">FRITZ!Box</span>
						</span>
					</h3>
					<p data-tx="t0022:342d09aa">Blockera samtal på den fasta telefonen i kombination med en <a th:href="@{/link/fritzbox}">FRITZ!Box Internet-router från AVM</a>. Installera antingen telefonsvararen <a th:href="@{/anrufbeantworter}">PhoneBlock</a> eller importera spärrlistan som en <a th:href="@{/setup}">telefonbok</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-android"></i>
							</span>
							<span data-tx="t0023:aecec7cb">Android</span>
						</span>
					</h3>
					<p data-tx="t0024:b6746620">Blockera spam-samtal direkt på din Android-mobiltelefon med <a th:href="@{/setup-android}">PhoneBlock-appen</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-apple"></i>
							</span>
							<span data-tx="t0025:b21bebc5">iPhone</span>
						</span>
					</h3>
					<p data-tx="t0026:f5b65b16">Inkludera blockeringslistan PhoneBlock på din <a th:href="@{/setup-iphone}">iPhone</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-phone-office"></i>
							</span>
							<span data-tx="t0027:9faa419a">Telefonsystem</span>
						</span>
					</h3>
					<p data-tx="t0028:c76080b9">Integrera PhoneBlock i ditt <a th:href="@{/setup-pbx}">telefonsystem</a> som en blocklista.</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>