<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001">Telefonnumret ☎ <span th:text="${number}"></span> finns inte</h1>

	<p data-tx="t0002">Det nummer du söker är inte ett telefonnummer. Vänligen korrigera din sökning och försök igen!</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>