<!DOCTYPE html>
<html>
<head>
<th:block th:replace="~{fragments/page :: headContent(title=${#messages.msg('page.phone-info.title__nr', number.plus)})}"></th:block>

<script th:src="|${contextPath}${deps.chartjs}/dist/chart.umd.js|" type="text/javascript"></script>
</head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001:c7553dff">Telefonnummer ☎ <th:block th:text="${number.plus}"></th:block></h1>

	<p>
		<th:block th:switch="${state}">
		<span class="tag is-info is-success" data-tx="t0002:3353ba2e" th:case="'whitelisted'"><i class="fa-solid fa-star"></i> På den vita listan</span>
		<span class="tag is-info is-success" data-tx="t0004:dc9fcb71" th:case="'legitimate'">Inga klagomål</span>
		<span class="tag is-info is-warning" data-tx="t0003:c40e7f6a" th:case="'wildcard'">Nummerlapp med misstänkt spam</span>
		<span class="tag is-info is-warning" data-tx="t0005:76640a86" th:case="'suspicious'">Klagomål har inlämnats</span>
		<span class="tag is-info is-warning" data-tx="t0034:9e0a3603" th:case="'archived'">Gamla klagomål</span>
		<span class="tag is-info is-danger" data-tx="t0006:e79cb479" th:case="'blocked'">Blockerad</span>
		</th:block>
		
		<span th:class="|tag is-info ${ratingCssClass}|" th:if="${info.votes &gt; 0 and rating.name != 'B_MISSED' and rating.name != 'A_LEGITIMATE'}" th:text="${#messages.msg(ratingLabelKey)}"></span>
	</p>

<article th:class="|message ${state == 'whitelisted' or state == 'legitimate' ? 'is-success' : (state == 'blocked' ? 'is-danger' : 'is-warning')}|">
  <div class="message-header">
	<p data-tx="t0007:46ce228a">Information om samtalsnummer <th:block th:text="${number.zeroZero}"></th:block></p>
  </div>
  <div class="message-body">
  	<p dir="ltr" lang="de" th:if="${searchResult.aiSummary}" th:text="${searchResult.aiSummary}"></p>
  	
  	<th:block th:switch="${state}">
  	<p data-tx="t0035:32d87c4b" th:case="'whitelisted'">Telefonnumret finns på den vita listan och kan inte blockeras av PhoneBlock. Om du fortfarande känner dig trakasserad av det här numret, vänligen skapa en privat blockering för det här numret.</p>
  	<p data-tx="t0036:90c82d46" th:case="'legitimate'">Telefonnumret finns inte med i <a th:href="@{/status}">PhoneBlock-databasen</a>. Än så länge finns det inga röster för att blockera ☎ <code dir="ltr" th:text="${number.shortcut}"></code>.</p>
  	<p data-tx="t0037:4645ed3" th:case="'wildcard'">Telefonnumret i sig finns inte i <a th:href="@{/status}">PhoneBlock-databasen</a>. Numret ☎ <code dir="ltr" th:text="${number.shortcut}"></code> kommer dock från ett nummerblock med misstänkt spam. <th:block th:if="${info.votesWildcard == 1}"> Det finns en röst för att blockera nummerblocket. </th:block> <th:block th:if="${info.votesWildcard &gt; 1}"> Det finns <th:block th:text="${info.votesWildcard}"></th:block> röster för att blockera nummerblocket. </th:block></p>
  	<p data-tx="t0038:cf3ec3fb" th:case="'suspicious'">Det finns redan <th:block th:text="${info.votes}"></th:block> röster för att blockera ☎ <code dir="ltr" th:text="${number.shortcut}"></code>. Numret är dock ännu inte blockerat.</p>  	
  	<p data-tx="t0039:494c3717" th:case="'archived'">Det finns <th:block th:text="${info.votes}"></th:block> gamla röster som talade för att blockera ☎ <code dir="ltr" th:text="${number.shortcut}"></code>. Numret är dock inte längre blockerat.</p>
  	<p data-tx="t0040:e314d7e8" th:case="'blocked'">Telefonnumret ☎ <code dir="ltr" th:text="${number.shortcut}"></code> är en upprepade gånger rapporterad källa till <a th:href="@{/status}"> oönskade telefonsamtal</a>. <th:block th:text="${info.votes}"></th:block> Rösterna är för att blockera numret.</p>
  	</th:block>

	<ul>
		<li>
			<span data-tx="t0008:324747a0">Alternativa stavningar:</span> 
			<th:block th:if="${number.shortcut}">
				<code dir="ltr" th:text="${number.shortcut}"></code>, 
			</th:block>
			<code dir="ltr" th:text="${number.plus}"></code>, 
			<code dir="ltr" th:text="${number.zeroZero}"></code>
		</li>
		<li data-tx="t0009:c5632ed">Land: <th:block th:text="${number.country}"></th:block> (<code dir="ltr" th:text="${number.countryCode}"></code>)</li>

		<li data-tx="t0050:24a316ca" th:if="${number.usage}">Typ av tal: <th:block th:text="${number.usage}"></th:block>.</li>

		<li data-tx="t0010:61ab95ee" th:if="${number.city}">Stad: <th:block th:text="${number.city}"></th:block> (<code dir="ltr" th:text="${number.cityCode}"></code>)</li>

		<li data-tx="t0011:886a84aa" th:if="${info.votes} &gt; 0">Röster för blockering: <th:block th:text="${info.votes}"></th:block></li>
		
		<li data-tx="t0012:7fff511b" th:if="${info.votesWildcard} &gt; ${info.votes}">Röster för låsning av det numeriska tangentbordet: <th:block th:text="${info.votesWildcard}"></th:block>.</li>
		
		<li data-tx="t0013:b2e85cd7" th:if="${info.votes} &gt; 0 or ${info.votesWildcard} &gt; 0">Senaste klagomål från: <th:block th:text="${#dates.format(#converters.fromEpoch(info.lastUpdate))}"></th:block>.</li>

		<li data-tx="t0014:578dd8de" th:if="${info.votes} &gt; 0 and ${info.dateAdded} &gt; 0">Antal aktiva sedan: <th:block th:text="${#dates.format(#converters.fromEpoch(info.dateAdded))}"></th:block></li>
	</ul>
  </div>
</article>

	<p data-tx="t0015:ccaa5736">Du kan blockera oönskade telefonsamtal <em>automatiskt</em> om du installerar PhoneBlock:</p>
	
	<div th:replace="~{fragments/page :: buttons}"></div>

<th:block th:if="${relatedNumbers.size &gt; 0}">
	<p data-tx="t0020:965827cd">Numret ☎ <th:block th:text="${number.shortcut}"></th:block> kan tillhöra samma anslutning som följande nummer i databasen:</p>
	
	<blockquote class="related-numbers">
		<span th:each="related : ${relatedNumbers}">
			<a data-onclick="showNumber" th:href="@{/nums/{other}(other=${relatedInfo.zeroZero})}" th:with="relatedInfo=${#converters.analyze(related)}">☎ <th:block th:text="${related}"></th:block></a>
		</span>
	</blockquote>
</th:block>	

	<h2 data-tx="t0022:3a9d86a0" id="writeRating">Skriv ett omdöme för <th:block th:text="${number.plus}"></th:block></h2>
	
	<div class="notification is-info" data-tx="t0023:d6b3050" id="thanks" th:if="${thanks}">Tack för ditt betyg, du hjälper andra som också kallas.</div>
	
<th:block th:unless="${thanks}">
	<p data-tx="t0024:b9a6f5c1">Har du blivit uppringd av ☎ <code dir="ltr"><th:block th:text="${number.shortcut}"></th:block></code>? Berätta för andra vad de kan förvänta sig av ☎ <code dir="ltr"><th:block th:text="${number.plus}"></th:block></code>. Om du besväras av samtal från ☎ <code dir="ltr"><th:block th:text="${number.shortcut}"></th:block></code>, <a th:href="@{/setup}">installera PhoneBlock</a> och lämna en recension för ☎ <code dir="ltr"><th:block th:text="${number.zeroZero}"></th:block></code>:</p>

	<form accept-charset="utf-8" enctype="application/x-www-form-urlencoded" method="post" spellcheck="true" th:action="@{/rating}">
		<input name="phone" th:value="${number.id}" type="hidden"/>
		
		<div class="buttons">
		  	<label th:class="|button is-rounded ${rating.cssClass}|" th:each="rating : ${ratings}">
		  		<input name="rating" th:checked="${#strings.equals(rating.name, enteredRating)}" th:value="${rating}" type="radio"/>
				<span class="icon">
					<i th:class="${rating.iconClass}"></i>
				</span>
				<span th:text="${#messages.msg(rating.labelKey)}"></span>
	  		</label>
		</div>

		<p>			
		<textarea class="textarea is-primary" data-tx="t0042:49dda1bd" name="comment" placeholder="Din rapport - Inga förolämpningar, inga svordomar!" th:text="${enteredComment}"></textarea>
		</p>
		
		<th:block th:unless="${userName}">		
		<p data-tx="t0025:92a688">För att säkerställa att ditt betyg har en omedelbar inverkan på din blocklista, <a th:href="@{/login(location=${currentPage})}">logga in först</a>!</p>
		
		<p>
			<label class="label" data-tx="t0041:10d7cfff">Säkerhetskod</label>

			<img alt="Captcha" data-tx="t0043:ccf7588c" th:src="${captchaSrc}"/>

			<div class="control has-icons-left has-icons-right">
			    <input autocomplete="off" class="input" data-tx="t0044:4be67cdf" name="captcha" placeholder="Text i bilden ovan" type="text"/>
 
			    <span class="icon is-small is-left">
			      <i class="fa-solid fa-key"></i>
			    </span>
			</div>
 
			<p class="help is-danger" th:if="${captchaError}" th:text="${captchaError}"></p>
		</p>
		</th:block>
		
		<div class="buttons">
			<button class="button is-rounded is-primary" name="send" type="submit">
				<span class="icon">
					<i class="fas fa-paper-plane"></i>
				</span>
				<span data-tx="t0026:59fa24a4">Skicka</span>
			</button>
		</div>
	</form>
</th:block>

<div class="columns">
	<div class="column is-half">
	<div th:if="${ratings}">
		<canvas aria-label="Antal betyg" data-tx="t0047:d1aff13f" height="200" id="ratings" role="img" width="400"></canvas>
		<pre class="chartjs-data" id="ratings-data">
		{
			"type": "bar",
			"data": {
				"labels": <th:block th:text="${ratingLabels}"></th:block>,
				"datasets": [{
					"label": "<th:block th:text="#{page.phone-info.ratingCount}"></th:block>",
					"data": <th:block th:text="${ratingData}"></th:block>,
					"backgroundColor": <th:block th:text="${ratingBackground}"></th:block>,
					"borderColor": <th:block th:text="${ratingBorder}"></th:block>,
					"borderWidth": 1
				}]
			},
			"options": {
				"scales": {
					"y": {
						"beginAtZero": true
					}
				}
			}
		}
		</pre>
		<script th:src="@{/assets/js/phone-info-ratings.js}" type="text/javascript"></script>
	</div>
	<p data-tx="t0027:b79530bf" th:unless="${ratings}">Det finns inga recensioner ännu, var den första att dela med dig av en!</p>
	</div>

	<div class="column is-half">
	<div id="searches-data" th:data-data="${searchData}" th:data-labels="${searchLabels}" th:if="${searches}">
		<canvas aria-label="Sökfrågor under den senaste veckan" data-tx="t0048:4df2ba2c" dir="ltr" height="200" id="searches" role="img" width="400"></canvas>
		<pre class="chartjs-data" id="searches-data">
		{
			"type": "line",
			"data": {
				"labels": <th:block th:text="${searchLabels}"></th:block>,
				"datasets": [{
					"label": "<th:block th:text="#{page.phone-info.searchRequests}"></th:block>",
					"data": <th:block th:text="${searchData}"></th:block>,
					"fill": false,
					"borderColor": "rgb(75, 192, 192)",
					"tension": 0.1
				}]
			},
			"options": {
				"scales": {
					"y": {
						"beginAtZero": true
					}
				}
			}
		}
		</pre>
		<script th:src="@{/assets/js/phone-info-searches.js}" type="text/javascript"></script>
	</div>
	<p data-tx="t0028:9bfce631" th:unless="${searches}">Det finns inga sökfrågor för detta nummer.</p>
	</div>
</div>

<th:block th:if="${comments.size &gt; 0}">
	<h2 data-tx="t0029:3b54539d">Kommentarer till <th:block th:text="${number.plus}"></th:block></h2>
	
	<th:block th:each="comment,commentIt : ${comments}">
	
	<input id="votePath" th:value="@{/api/commentVote}" type="hidden"/>
<div class="box">
  <article class="media">
	<div class="media-left">
	  <figure class="image is-64x64">
		<i class="fa-solid fa-star" th:if="${#converters.isPositive(comment.rating)}"></i>
		<i class="fa-solid fa-triangle-exclamation" th:unless="${#converters.isPositive(comment.rating)}"></i>
	  </figure>
	</div>
	<div class="media-content">
	  <div class="content">
		<p class="commentHeader" th:with="phoneInfo=${#converters.analyze(comment.phone)}">
		  <strong>☎ <th:span th:text="${phoneInfo.shortcut}" th:title="${phoneInfo.plus}"></th:span></strong>
		  <small>
		  <a target="_blank" th:href="@{/link/{service}/{phone}(service=${comment.service}, phone=${comment.phone})}" th:text="${comment.service}" th:unless="${#strings.isEmpty(comment.service)}"></a>
		  <span data-tx="t0031:88251796" th:if="${#strings.isEmpty(comment.service)}">Telefonblock</span>
		  </small>
		  <small th:text="${#dates.format(#converters.fromEpoch(comment.created))}"></small>
		</p>
		<p class="commentText" th:dir="${comment.direction}" th:lang="${comment.lang}" th:text="${comment.comment}">
		</p>
	  </div>
			
	  <nav class="level is-mobile">
		<div class="level-left">
		  <a aria-label="Bra ledtråd" class="level-item thumbs-up commentVote" data-tx="t0045:3079fd2d" href="#" th:data-comment-id="${comment.id}" th:data-vote-down-id="'down-' + ${commentIt.current}" th:data-vote-up-id="'up-' + ${commentIt.current}" title="Ett gott råd!">
			<span class="icon">
			  <i class="fa-solid fa-thumbs-up"></i>
			</span>
			<span th:id="'up-' + ${commentIt.current}" th:text="${comment.up}"></span>
		  </a>
		  <a aria-label="Nonsens" class="level-item thumbs-down commentVote" data-tx="t0046:7987fa19" href="#" th:data-comment-id="${comment.id}" th:data-vote-down-id="'down-' + ${commentIt.current}" th:data-vote-up-id="'up-' + ${commentIt.current}" title="Nonsens!">
			<span class="icon">
			  <i class="fa-solid fa-thumbs-down"></i>
			</span>
			<span th:id="'down-' + ${commentIt.current}" th:text="${comment.down}"></span>
		  </a>
		</div>
	  </nav>
	</div>
  </article>
</div>
	
	</th:block>
</th:block>

	<nav aria-label="paginering" class="pagination is-centered" data-tx="t0049:44e35151" role="navigation">
		<a class="pagination-previous" data-onclick="showNumber" data-tx="t0032:4b5534cb" th:href="@{/nums/{num}(num=${prevInfo.zeroZero})}" th:if="${prev}" th:with="prevInfo=${#converters.analyze(prev)}">Föregående nummer</a>
		<a class="pagination-next" data-onclick="showNumber" data-tx="t0033:816aeabf" th:href="@{/nums/{num}(num=${nextInfo.zeroZero})}" th:if="${next}" th:with="nextInfo=${#converters.analyze(next)}">Nästa nummer</a>
	</nav>
</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>