<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:56b798e3">Anslutningen avbruten</h1>

		<p data-tx="t0002:42f8f714">PhoneBlock kan inte verifiera att detta inte är en automatiserad bulkbegäran (din webbläsare kanske inte accepterar den tekniska sessionskakan). Därför kan sidans innehåll inte visas. Om du inte är en robot kan du kringgå kontrollen genom att <a th:href="@{/login}">logga in på PhoneBlock</a>. Det är bäst att aktivera alternativet "förbli inloggad" när du loggar in, då kommer det här problemet inte ens att uppstå nästa gång du besöker webbplatsen.</p>
		
		<p data-tx="t0003:55e3a53b">Vi ber om ursäkt för besväret, men PhoneBlocks webbplats attackeras av ett otroligt antal bots med massförfrågningar, vilket allvarligt skulle begränsa webbplatsens tillgänglighet utan denna kontroll eller göra driften av PhoneBlock omöjlig. För att PhoneBlock ska kunna fortsätta att erbjudas kostnadsfritt (eller på <a th:href="@{/support}">donationsbasis</a>) är dessa åtgärder tyvärr oundvikliga.</p>
		
		<div class="columns">
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/login(location=${location})}">
				<span class="icon">
					<i class="fa-solid fa-right-to-bracket"></i>
   				</span>
				<span data-tx="t0004:1dc205">Logga in</span>			
			</a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>