<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">Installation som telefonkatalog</h1>

<p data-tx="t0002:10d70c8f">För att installera blocklistan behöver du en <a th:href="@{/link/fritzbox}">"FRITZ!Box" Internet-router från AVM</a> och ett PhoneBlock-konto. Det behöver inte nödvändigtvis vara den senaste modellen, men du bör kontrollera om det senaste FRITZ!OS är installerat på den (07.29 eller nyare). Om så inte är fallet kan du använda följande installationsinstruktioner för att kontrollera om din version redan erbjuder de nödvändiga alternativen.</p>

<p data-tx="t0003:d62d702f">Obs: På grund av tekniska begränsningar i Fritz!Box kan inte hela blocklistan läsas in i en telefonbok. Om du installerar en <a th:href="@{/anrufbeantworter}">PhoneBlock-svarare</a> får du därför ett bättre skydd mot SPAM-samtal.</p>

<p data-tx="t0052:818cc317">Använd följande steg för att konfigurera blocklistan:</p>

<ol>
	<li><a data-tx="t0053:5cb36b90" href="#register">Registrera dig med PhoneBlock</a> <span class="tag is-success" data-tx="t0054:3378b39d" th:if="${userName}">✓ Klar</span></li>
	<li><a data-tx="t0055:d44f7d1" href="#fritzbox">Logga in på FRITZ!Box</a></li>
	<li><a data-tx="t0056:d6fa7b4e" href="#phonebook">Skapa en ny "Blocklist"-telefonbok</a></li>
	<li><a data-tx="t0070:958ad5cf" href="#create-token">Generera CardDAV-token</a> <span class="tag is-success" data-tx="t0058:3378b39d" th:if="${cardDavToken}">✓ Klar</span></li>
	<li><a data-tx="t0071:9e1ea08e" href="#credentials">Ange inloggningsuppgifter i Fritz!Box</a></li>
	<li><a data-tx="t0059:4f985acc" href="#verify">Kontrollera installationen</a></li>
	<li><a data-tx="t0060:91946e2c" href="#block">Aktivera samtalsspärr</a></li>
</ol>

<h2 data-tx="t0061:e8d5bb12" id="register">Steg 1: Registrera dig med PhoneBlock</h2>

<p data-tx="t0062:fffc269" th:unless="${userName}">För det första måste du registrera dig eller logga in på PhoneBlock för att kunna påbörja installationen.</p>

<div class="columns" th:unless="${userName}">
  <div class="column is-half is-offset-one-quarter">
	<a th:href="@{/login(location='/setup#register')}">
		<button class="button is-medium is-info is-fullwidth">
			<span class="icon">
				<i class="fa-solid fa-right-to-bracket"></i>
			</span>
			<span data-tx="t0063:1dc205">Logga in</span>
		</button>
	</a>
  </div>
</div>
<p data-tx="t0064:c41dd734" th:if="${userName}"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Du är inloggad som <code dir="ltr" th:text="${userName}"></code>, bra! Fortsätt till nästa steg.</p>
		
		<h2 data-tx="t0065:8bf85697" id="fritzbox">Steg 2: Logga in på FRITZ!Box</h2>

		<p data-tx="t0012:2354f60">För att detta ska fungera måste du vara hemma i ditt WLAN eller så måste din dator vara ansluten direkt till FRITZ!Box via kabel. FRITZ!Box kommer först att be dig om ditt lösenord. Om du aldrig har loggat in tidigare hittar du lösenordet på undersidan av enheten.</p>

		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">Logga in på FRITZ!Box</button>
			</a>
		  </div>
		</div>

		<h2 data-tx="t0066:502b2c97" id="phonebook">Steg 3: Skapa en ny telefonbok "Blocklist"</h2>
		
		<p data-tx="t0015:60de307b">För att din FRITZ!Box ska kunna blockera spam-samtal behöver den en egen telefonbok där alla nummer till oönskade uppringare finns inlagda. Denna telefonbok kallas "Blocklist". För detta</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">Navigera först till avsnittet "Telefoni",</li>
			<li data-tx="t0017:bf3c833">välj menyalternativet "Telefonbok" och</li>
			<li data-tx="t0018:9545daeb">och klicka sedan på länken "Ny telefonbok".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Fritz!Box samtalslista" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0072:356d507a" id="create-token">Steg 4: Skapa CardDAV-token</h2>

		<p data-tx="t0073:5843bc02">För installationen i din Fritz!Box behöver du en särskild CardDAV-token som lösenord. Denna token används endast för anslutningen mellan din Fritz!Box och PhoneBlock och kan återkallas när som helst i inställningarna.</p>

		<th:block th:if="${cardDavToken}">
			<p data-tx="t0074:f786328e"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Du har skapat en token! Fortsätt till nästa steg.</p>
		</th:block>

		<th:block th:if="${userName} and ${!cardDavToken}">
			<p data-tx="t0075:ca529190">Skapa nu en token för Fritz! Du kan eventuellt lägga till en kommentar så att du senare vet vad token används till (t.ex. "Fritz!Box vardagsrum").</p>

			<form method="post" th:action="@{/update-settings(action='createToken', location='/setup#create-token')}">
				<input name="token-type" type="hidden" value="CARDDAV"/>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" data-tx="t0049:fe053998" name="token-label" placeholder="Valfritt: Kommentar (t.ex. &quot;Fritz!Box vardagsrum&quot;)" type="text"/>
					</div>
					<div class="control">
						<button class="button is-primary" data-tx="t0050:21ce66dd" type="submit"><i class="fa-solid fa-key"></i> Skapa token</button>
					</div>
				</div>
			</form>
		</th:block>

		<p data-tx="t0051:9fe447a" th:unless="${userName}">Du måste först <a th:href="@{/login(location='/setup')}">logga in</a> för att skapa en token.</p>

		<h2 data-tx="t0076:35997409" id="credentials">Steg 5: Ange inloggningsuppgifter i Fritz!Box</h2>

		<p data-tx="t0020:e4a227b8">Nu måste du ange inloggningsuppgifterna i FRITZ!</p>

		<ol>
			<li>
				<div data-tx="t0021:d5b1f48a">Ange namnet <code dir="ltr">Blocklist</code> för den telefonbok som ska användas som blocklista. Du kommer att behöva detta namn igen i nästa steg.</div>
			</li>

			<li data-tx="t0022:32f6ec7">Välj alternativet <i>Använd telefonbok från en onlineleverantör</i>.</li>

			<li data-tx="t0023:d59c1b48">Välj leverantör <i>CardDAV-leverantör</i>.</li>

			<li>
				<div data-tx="t0079:c5926e14">Överför inloggningsuppgifterna (använd helst klipp &amp; klistra för att undvika skrivfel).</div>

				<ul>
					<li data-tx="t0080:d646341e"><span><i>Internetadress till CardDAV-servern</i>:</span> <code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="Kopiera till urklipp."><i class="fa-solid fa-copy"></i></a> (URL till PhoneBlocks adressbok)</li>

					<li>
						<i data-tx="t0081:548c40c1">Användarens namn</i>: 
						
						<th:block data-tx="t0082:baafe4ec" th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="Kopiera till urklipp."><i class="fa-solid fa-copy"></i></a> (Ditt PhoneBlock-användarnamn)</th:block>

						<th:block data-tx="t0083:c9c6fa56" th:unless="${userName}">Du måste först logga in (se <a href="#register">Steg 1</a>).</th:block>
					</li>

					<li>
						<span>
							<i data-tx="t0084:e99dee32">Lösenord</i>:
						</span>
						
						<th:block data-tx="t0085:1d7c0447" th:if="${cardDavToken}"><code dir="ltr" id="passwd2" th:text="${cardDavToken.token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="Kopiera till urklipp."><i class="fa-solid fa-copy"></i></a> (symbolen från steg 4)</th:block>
						
						<th:block data-tx="t0078:c657e130" th:unless="${cardDavToken}">Du måste först skapa en token (se <a href="#create-token">steg 4</a>).</th:block>
					</li>
				</ul>
			</li>
			
			<li>
				<p data-tx="t0086:95ea1a24"><b>Attention</b>: Välj <b>Ingen av dina telefoner</b> under "Telefontilldelning"! Annars kommer du bara att hitta SPAM-samtal i kontakterna på din telefon.</p>
				<p data-tx="t0087:79f2e6a0">Du kan nu bekräfta att den nya telefonboken har skapats.</p>
			</li>
		</ol>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Skapa ny adressbok" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0068:49ed5643" id="verify">Steg 6: Kontrollera installationen</h2>

		<p data-tx="t0027:6bd9c881">Om allt gick bra har din FRITZ!Box laddat alla nummer från PhoneBlock-blocklistan. Du bör nu ha en ny "Blocklist"-telefonbok i avsnittet "Telefoni / Telefonbok". Om du väljer fliken "Blocklista" kan du se alla nummer till aktuella spamuppringare.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Visa hämtad blocklista" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0069:16c40784" id="block">Steg 7: Aktivera samtalsspärr</h2>
		
		<p data-tx="t0029:ffbbaf55">I avsnittet "Telefoni / Samtalshantering" kan du nu ange den nya telefonboken "Blocklist" som det telefonnummerintervall som ska blockeras.</p>			
		
		<p data-tx="t0030:2d9a1437">Bläddra ner till underrubriken "Blocknummerintervall" och klicka på knappen "Lägg till intervall".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Lägg till ny samtalsspärr" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">På den nya skärmen väljer du alternativet "Telefonbok" i urvalet för "Område" och väljer den nyskapade telefonboken "Blocklista" som den "Telefonbok" som ska blockeras.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Blockera uppringare med ett telefonnummer i blocklistan" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">Perfekt! Du har gjort inställningarna. Nu borde din telefon ringa mycket mer sällan på grund av ett oönskat samtal. Och om den gör det kan du enkelt tysta bråkmakaren för dig och hela PhoneBlock-gemenskapen:</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">Spärra telefonnummer</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>