<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001:4fb302c1">Esta página no puede visualizarse en el navegador</h1>

			<p data-tx="t0002:3d6127e">Debe introducir el enlace de la libreta de direcciones que recibió cuando se <a th:href="@{/login}">registró</a> como libreta de direcciones en su Fritz!Box tal y como se describe en las <a th:href="@{/setup}">instrucciones de instalación</a> junto con su dirección de correo electrónico y la contraseña que se le envió. No puede mostrar este enlace directamente en el navegador porque se accede a las libretas de direcciones a través de un protocolo especial (CardDAV) que su navegador no soporta.</p>
		</div>
	</section>

	<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>