<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">Instalación como guía telefónica</h1>

<th:block th:unless="${token}">
		<p data-tx="t0002:10d70c8f">Para instalar la lista de bloqueo, necesita un router de Internet <a th:href="@{/link/fritzbox}">"FRITZ!Box" de AVM</a> y una cuenta PhoneBlock. No tiene que ser necesariamente el último modelo, pero debe comprobar si el último FRITZ!OS está instalado en él (07.29 o más reciente). Si no es el caso, utilice las siguientes instrucciones de instalación para comprobar si su versión ya ofrece las opciones necesarias.</p>
		
		<p data-tx="t0003:d62d702f">Nota: Debido a limitaciones técnicas del Fritz!Box, no es posible cargar toda la lista de bloqueo en una agenda telefónica. Por lo tanto, la configuración de un <a th:href="@{/anrufbeantworter}">contestador de bloqueo telefónico</a> ofrece una mejor protección contra las llamadas de SPAM.</p>
		
		<div class="columns" th:unless="${login}">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/login(location='/setup')}">
				<button class="button is-medium is-info is-fullwidth" data-tx="t0004:e5f7ac3b">Crear una cuenta PhoneBlock</button>
			</a>
		  </div>
		</div>
		<p data-tx="t0005:d432c618" th:if="${login}">Ya estás registrado como <code dir="ltr" th:text="${userName}"></code>, ¡genial! Puedes empezar ahora mismo.</p>
</th:block>

<div class="columns" th:if="${token}">
  <div class="column">
	<div class="tile is-ancestor">
      <div class="tile is-parent">
      	<article class="tile is-child notification">
	        <p class="title" data-tx="t0006:3c8661fc">Sus datos de acceso</p>
	        <p class="subtitle" data-tx="t0007:da814461">Necesitará los siguientes datos para la instalación.</p>
	        <div class="content">
		
				<div class="field">
				  <label class="label" data-tx="t0008:f48153ce">Dirección de Internet del servidor CardDAV</label>
				  <div class="control"><code dir="ltr" id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0034:3f7efe41" href="#" id="url_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0009:548c40c1">Nombre de usuario</label>
				  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0035:3f7efe41" id="login_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0010:e99dee32">contraseña</label>
				  <div class="control"><code dir="ltr" id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0036:3f7efe41" href="#" id="passwd_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></div>
				</div>
			</div>
		</article>
	  </div>
    </div>
  </div>
</div>
		
		<h2 data-tx="t0011:68345496">Conéctese a su FRITZ Box</h2>
		
		<p data-tx="t0012:2354f60">Para que esto funcione, debe estar en casa en su WLAN o su ordenador debe estar conectado directamente al FRITZ!Box por cable. El FRITZ!Box le pedirá primero su contraseña. Si nunca se ha conectado antes, encontrará esta contraseña en la parte inferior del aparato.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">Iniciar sesión en FRITZ!Box</button>
			</a>
		  </div>
		</div>
		
		<h2 data-tx="t0014:1462db79">Crear una nueva guía telefónica "Blocklist</h2>
		
		<p data-tx="t0015:60de307b">Para que su FRITZ!Box bloquee las llamadas spam, necesita su propia agenda telefónica en la que se introducen todos los números de los llamantes no deseados. Llame a esta agenda telefónica "Blocklist". Para ello</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">Vaya primero a la sección "Telefonía",</li>
			<li data-tx="t0017:bf3c833">seleccione la opción de menú "Listín telefónico" y</li>
			<li data-tx="t0018:9545daeb">y, a continuación, haz clic en el enlace "Nueva guía telefónica".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Lista de llamadas de Fritz Box" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0019:1d99d84a">Introduzca los datos de acceso de su cuenta PhoneBlock</h2>
		
		<p data-tx="t0020:9d799fdb">Ahora necesitas los datos de acceso de tu cuenta PhoneBlock.</p>

		<ul>
			<li data-tx="t0021:4fe53af5"><span class="tag is-danger">11</span> Asigne a la guía telefónica que se va a utilizar como lista de bloqueo el nombre <code dir="ltr">Lista de bloqueo</code>. Necesitará este nombre de nuevo para el siguiente paso.</li>

			<li data-tx="t0022:fceb3cd7">Ahora selecciona <span class="tag is-danger">22</span> la opción <i>Utilizar agenda telefónica de un proveedor online</i>.</li>

			<li data-tx="t0023:1f3cec2">A continuación puede seleccionar <span class="tag is-danger">33</span> el proveedor <i>CardDAV provider</i>.</li>

			<li>
				<div data-tx="t0045:bf8e4ca8">Casi listo, ahora los datos de acceso <span class="tag is-danger">44</span>. ¡Es mejor transferirlos usando Cut&amp;Paste para evitar errores de escritura!</div>
				
				<ul>
					<li>
						<span data-tx="t0046:73e19fbb">Introduzca la URL de la libreta de direcciones de PhoneBlock en el campo <i>Dirección de Internet del servidor CardDAV</i>:</span>
						<code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a>
					</li>

					<li data-tx="t0047:a4773f13">Introduzca el nombre de usuario <th:block th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></th:block> que recibió durante el <a th:href="@{/login(location='/settings')}">registro</a> en el campo <i>nombre de usuario</i>.</li>

					<li data-tx="t0048:fa88d639">La contraseña<th:block th:unless="${token}"> que recibió durante el <a th:href="@{/login(location='/settings')}">registro</a>,</th:block><th:block th:if="${token}"> <code dir="ltr" id="passwd2" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a>,</th:block> debe introducirse ahora en el campo <i>Contraseña</i>. Si ya no encuentra su contraseña, puede restablecerla en la <a th:href="@{/settings/#password}">configuración</a>.</li>
				</ul>
			</li>

			<li data-tx="t0025:4dc0b0c8">Ahora puede confirmar <span class="tag is-danger">55</span> la creación de la nueva agenda telefónica. Tenga en cuenta: ¡Seleccione <b>ninguno de sus teléfonos</b> en "Asignación de teléfonos"! De lo contrario, sólo encontrará las llamadas SPAM en los contactos de su teléfono.</li>
		</ul>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Crear una nueva libreta de direcciones" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0026:688d3d5a">Compruebe si se ha creado su "Lista de bloqueo</h2>
		
		<p data-tx="t0027:6bd9c881">Si todo ha ido bien, entonces su FRITZ!Box ha cargado todos los números de la lista de bloqueo PhoneBlock. Ahora debería tener una nueva agenda "Lista de bloqueo" en la sección "Telefonía / Agenda". Si selecciona la pestaña "Lista de Bloqueo", podrá ver todos los números de las personas que actualmente realizan llamadas spam.</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Mostrar la lista de bloqueos recuperada" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0028:7a66db10">Deje que el FRITZ!Box rechace las llamadas de la "Lista de Bloqueo".</h2>
		
		<p data-tx="t0029:ffbbaf55">En la sección "Telefonía / Gestión de llamadas", ahora puede especificar la nueva guía telefónica "Lista de bloqueo" como rango de números de teléfono a bloquear.</p>			
		
		<p data-tx="t0030:2d9a1437">Desplácese hasta el subapartado "Rangos de números de bloque" y pulse el botón "Añadir rango".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Añadir nueva restricción de llamadas" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">En la nueva pantalla, seleccione la opción "Agenda telefónica" en la selección de "Área" y seleccione la recién creada "Lista de bloqueo" como la "Agenda telefónica" a bloquear.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Bloquear llamadas con un número de teléfono de la lista de bloqueo" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">¡Perfecto! Ya has hecho la configuración. Ahora tu teléfono debería sonar con mucha menos frecuencia debido a una llamada no deseada. Y si lo hace, puede silenciar fácilmente el alborotador para usted y toda la comunidad PhoneBlock:</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">Bloquear número de teléfono</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>