<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Instalación del iPhone</h1>
		
		<p data-tx="t0002">La instalación añade la libreta de direcciones de PhoneBlock a tus contactos. Si recibes una llamada de un número de spam, se mostrará inmediatamente, por ejemplo, "SPAM: 03016637169". También puedes ver inmediatamente en las llamadas perdidas que no merece la pena devolver la llamada sin tener que buscar primero el número en Google.</p>

		<p data-tx="t0003">La instalación se ejecuta en los siguientes pasos:</p>
		
   		<ol>
   		<li><a data-tx="t0004" th:href="@{/login.jsp(location=${currentPage})}">Regístrate en PhoneBlock.</a></li>
   		<li data-tx="t0005">Abre "Ajustes" &gt; "Contactos" &gt; "Cuentas".</li>
   		<li data-tx="t0006">Pulse sobre "Añadir cuenta" - "Otros" &gt; "Añadir cuenta CardDAV".</li>
   		<li data-tx="t0007">Introduzca sus datos de acceso y pulse sobre "Siguiente". <dl>
				<dt><b>Servidor</b></dt>
				<dd><code id="url">https://phoneblock.net<th:block th:text="${contextPath}"></th:block>/contactos/</code><a class="copyToClipboard" data-tx="t0013" href="#" id="url_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></dd>

				<dt><b>Nombre de usuario</b></dt>
				<dd>
				<th:block th:if="${userName}"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0014" href="#" id="login_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${userName}"><a th:href="@{/login.jsp(location=${currentPage})}">Iniciar sesión</a> para ver su nombre de usuario.</span>
				</dd>

				<dt><b>Contraseña</b></dt>
				<dd>
				<th:block th:if="${token}"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0015" href="#" id="passwd_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${token}">Se le mostró directamente tras el primer inicio de sesión, puede <a th:href="@{/settings}">generar una nueva en los ajustes</a> </span>
				</dd>

				<dt><b>Descripción</b></dt>
				<dd>TeléfonoBloqueo</dd>		
   			         </dl> Contraseña Contraseña.</li>
   		<li data-tx="t0008">Active "Contactos" y pulse "Guardar".</li>
		<li data-tx="t0009">Ahora verás las llamadas con "SPAM: ..." en tu agenda de contactos y cuando suenen. Así podrás ver inmediatamente si merece la pena contestar o devolver la llamada.</li>
   		</ol>

		<p data-tx="t0010">¿Ya no tienes a mano tus datos de acceso? No importa, basta con <a th:href="@{/settings}">restablecer la contraseña</a> en los ajustes.</p>
   		
   		<p data-tx="t0011">También puede encontrar <a th:href="@{/link/carddav-install}">instrucciones con imágenes</a> en otros sitios. En esta guía, sólo es necesario utilizar los datos de acceso de PhoneBlock en el paso en el que se introducen el servidor, el nombre de usuario y la contraseña (véase más arriba).</p>
   		
   		<p data-tx="t0012">Si sólo utiliza PhoneBlock en el iPhone, también puede aumentar el número de entradas <a th:href="@{/settings}">en los ajustes</a>. Si hay algún problema con esto, por favor háznoslo saber (ver <a th:href="@{/faq}">FAQ</a>).</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>