<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5df14f18">Sus datos de acceso</h1>

		<form method="get" th:action="@{${location != null ? location : '/settings'}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0002:82b7babd">Su cuenta PhoneBlock ha sido creada con éxito. Aquí están sus datos de acceso.</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0003:f48153ce">Dirección de Internet del servidor CardDAV</label>
			  <div class="control"><code dir="ltr" id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0009:3f7efe41" href="#" id="url_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">Nombre de usuario</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0010:3f7efe41" href="#" id="login_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0005:bceeee4f">Debe introducir este valor como nombre de usuario para <a th:href="@{/setup}">llamar a la lista de bloqueo</a>.</p>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">contraseña</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0011:3f7efe41" href="#" id="passwd_" title="Copiar en el portapapeles."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0007:b5380dd1">Debe utilizar esta contraseña para <a th:href="@{/setup}">configurar la agenda telefónica</a> o para iniciar sesión en este sitio web.</p>
			  <p class="help" data-tx="t0008:90026712">Anote la contraseña (o guárdela en un <a href="https://keepass.info/">gestor de contraseñas</a>), ya que sólo se mostrará hasta que cierre la sesión o ésta expire.</p>
			</div>
		  </div>
		</article>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0012:ad5e318d" type="submit">Más información en</button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>