<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Εγκατάσταση Android</h1>
		
		<h2 data-tx="t0002">Βήμα 7: Εγγραφείτε στη λίστα αποκλεισμού</h2>
		
		<p data-tx="t0003">Επιλέξτε τον πρόσφατα δημιουργημένο λογαριασμό σας και ενεργοποιήστε το βιβλίο διευθύνσεων "Blocklist". Τώρα πατήστε το κουμπί συγχρονισμού.</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Ο λογαριασμός έχει δημιουργηθεί" class="image appscreen" data-tx="t0006" th:src="@{/assets/img/peoplesync/09-people-sync-account-finished.png}"/>
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="Εγγραφείτε στη λίστα αποκλεισμού" class="image appscreen" data-tx="t0007" th:src="@{/assets/img/peoplesync/10-people-sync-subscribe.png}"/>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/07-people-sync-add}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Πίσω</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/11-spam-contacts}">
		    <span data-tx="t0005">Περαιτέρω</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>
<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>