<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Εγκατάσταση Android</h1>
		
		<h2 data-tx="t0002">Έγινε, η λίστα αποκλεισμού καταχωρείται στις επαφές σας</h2>
		
		<p data-tx="t0003">Ανοίξτε τις επαφές σας. Κάτω από το γράμμα "S" θα βρείτε μια μακρά λίστα με αριθμούς ανεπιθύμητης αλληλογραφίας που δεν πρέπει να απαντήσετε ή να καλέσετε.</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Ο λογαριασμός έχει δημιουργηθεί" class="image appscreen" data-tx="t0006" th:src="@{/assets/img/peoplesync/11-spam-contacts.png}"/>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/09-people-sync-account-finished}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Πίσω</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/status}">
		    <span data-tx="t0005">Τελειωμένο</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>