<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:1733978d">Bekræftelse på ændring af e-mail fra PhoneBlock</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock-logo" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">Hej {navn},</h2>

<p data-tx="t0004:496fe8b0">Du har indsendt en anmodning om at ændre din e-mailadresse til din <i>PhoneBlock</i>-konto.
For at bekræfte ændringen skal du indtaste følgende kode i bekræftelsesmasken, som du i øjeblikket har åben i din browser
åben i din browser:</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005:cb2ec23c">Hvis du ikke har anmodet om dette, kan du ignorere denne e-mail og
Din e-mailadresse vil ikke blive ændret.</p>

<p data-tx="t0006:ed88831e">Mange tak, <br/>.
Din <i>PhoneBlock</i>-server</p>

</body>
</html>