<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock: Hjælp til opsætning</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock-logo" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">Hej {navn},</h2>

<p data-tx="t0004">Du er logget ind på <a href="{home}">PhoneBlock</a>. Men at hente bloklisten</p>

<p data-tx="t0005">Dit PhoneBlock-brugernavn: <code>{brugernavn}</code><br/>.</p>

<p data-tx="t0006">Jeg forklarer også installationen i denne YouTube-video <a href="{help}">{help}</a> - måske</p>

<p data-tx="t0007">Med venlig hilsen</p>

<p data-tx="t0008">Bernhard Haumacher</p>

<p data-tx="t0009" style="color: gray;">--<br/>.</p>

</body>
</html>