<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock login-kode</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock-logo" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">Hej {navn},</h2>

<p data-tx="t0004">Her er login-koden til din <i>PhoneBlock</i>-konto. For at bekræfte din e-mailadresse,</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005">Hvis du ikke ønsker at registrere dig hos <i>PhoneBlock</i>, kan du roligt ignorere denne e-mail.</p>

<p data-tx="t0006">Tak for din interesse i <i>PhoneBlock</i>!<br/>.</p>

</body>
</html>