<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001:cee289b8">Hej {navn},<img align="right" alt="PhoneBlock-logo" data-tx="t0002:5b0e8765" height="133" src="{image}" style="vertical-align: bottom;" width="133"/>.</p>

    <p data-tx="t0003:d4ff0bbe">Dejligt, at du har fundet <a href="{home}">PhoneBlock</a> og installeret det med succes. Uønskede telefonopkald vil forhåbentlig falde markant i fremtiden.</p>

    <p data-tx="t0004:57bc0241">Hvis du er tilfreds med PhoneBlock, vil det glæde mig, hvis du vil bidrage til omkostningerne ved at drive PhoneBlock med en <a href="{support}">lille donation</a>.</p>

    <p data-tx="t0005:1d98c39d">Men endnu vigtigere er det, at du fortæller dine venner, bekendte og familie om det. Hvorfor ikke dele PhoneBlocks hjemmeside (<a href="{home}">{home}</a>) på Facebook, Twitter eller en anden kanal og følge PhoneBlock, så du ikke går glip af nogen opdateringer: <a href="{facebook}">{facebook}</a></p>

    <p data-tx="t0006:2be40556">Kun hvis du fortæller andre om PhoneBlock, kan den gode nyhed om, at ingen længere er forsvarsløse over for telefonterror, spredes.</p>

    <p data-tx="t0007:284b3eac">Med venlig hilsen</p>
    <p data-tx="t0008:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0009:d3aaad68" style="color: gray;">--<br/>
Hjemmeside: <a href="{home}">{hjemmeside}</a><br/>
Donation: <a href="{support}">{støtte}</a><br/>
Indstillinger: <a href="{settings}">{indstillinger}</a><br/>
Videovejledning: <a href="{help}">{hjælp}</a><br/>
Facebook: <a href="{facebook}">{facebook}</a><br/>
Kontakt: <a href="mailto:{mail}">{mail}</a><br/></p>

</body>
</html>