<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-tx="t0001:8eacd512">PhoneBlock: Hulp bij het instellen</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock logo" data-tx="t0002:5b0e8765" height="96" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" th:src="${image}" width="96"/>
</div>

<h2 data-tx="t0009:f05885dc">Hallo <span th:text="${name}">gebruiker</span>,</h2>

<p data-tx="t0004:72d2e942">Je bent aangemeld bij <a href="https://phoneblock.net" th:href="${home}">PhoneBlock</a>. Het ophalen van de blokkadelijst</p>

<p data-tx="t0010:5c7907d7">Uw PhoneBlock-gebruikersnaam: <code th:text="${userName}">user123</code><br/>
De laatste keer dat de blokkadelijst is opgehaald was op: <code th:text="${lastAccess}">01.01.2024 12:00:00</code></p>

<p data-tx="t0011:710893df">Ik leg de installatie ook uit in deze YouTube-video <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a> - misschien
helpt het je misschien om de installatie succesvol te voltooien. Het is belangrijk dat u niet uw e-mailadres als gebruikersnaam gebruikt in uw Fritz!
e-mailadres als gebruikersnaam gebruikt, maar de PhoneBlock-gebruikersnaam die u na het inloggen te zien krijgt.
weergegeven na het inloggen. Als u deze inloggegevens niet meer bij de hand heeft, kunt u het registratieproces gewoon herhalen voor hetzelfde e-mailadres.
e-mailadres.</p>

<p data-tx="t0007:284b3eac">Vriendelijke groeten</p>

<p data-tx="t0008:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0012:14e1f6dc" style="color: gray;"><br/>
Homepage: <a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a><br/>
Donatie: <a href="https://phoneblock.net/phoneblock/support" th:href="${support}" th:text="${support}">https://phoneblock.net/phoneblock/support</a><br/>
Instellingen: <a href="https://phoneblock.net/phoneblock/settings" th:href="${settings}" th:text="${settings}">https://phoneblock.net/phoneblock/settings</a><br/>
Antwoordapparaat: <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}" th:text="${app}">https://phoneblock.net/phoneblock/ab/</a><br/>
Video-instructies: <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a><br/>
Facebook: <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a><br/>
Contact: <a href="mailto:phoneblock@haumacher.de" th:href="|mailto:${mail}|" th:text="${mail}">phoneblock@haumacher.de</a><br/></p>

</body>
</html>