<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001">Hallo {naam},<img align="right" alt="PhoneBlock logo" data-tx="t0002" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003">Hartelijk dank voor uw {attribuut} donatie voor het PhoneBlock project! Ik hoop dat het je kan helpen om ongewenste telefoontjes aanzienlijk te verminderen.</p>

	<p data-tx="t0004">En als er weer een ongevraagde beller door de mazen van het net glipt, vergeet deze dan niet als SPAM te markeren op de PhoneBlock website. Als iedereen dit consequent doet, wordt elk nieuw SPAM-nummer meteen weer geblokkeerd.</p>

    <p data-tx="t0005">Vriendelijke groeten</p>
    <p data-tx="t0006">Bernhard Haumacher</p>

<p data-tx="t0007" style="color: gray;"><br/></p>

</body>
</html>