<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Android-installasjon</h1>
		
		<h2 data-tx="t0002">Trinn 4: Legg til en adressebok og skriv inn PhoneBlock-kontodataene</h2>
		
		<ol>
		<li data-tx="t0003">Velg alternativet "Logg på med URL og brukernavn", og skriv inn adressen til PhoneBlock-adresseboken som "Base URL": <code id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code>.</li>
			
		<li data-tx="t0004">For "Brukernavn" skriver du inn brukernavnet du mottok ved <a th:href="@{/login(location=${currentPage})}">PhoneBlock-registrering</a><th:block th:if="${userName}"> (<code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0010" href="#" id="login_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a>)</th:block>.</li>
			
		<li data-tx="t0005">Passordet ble vist til deg etter den første påloggingen<th:block th:if="${token}"> (<code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0011" href="#" id="passwd_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a>)</th:block>.</li>
		</ol>
		
		<p data-tx="t0006">Har du ikke lenger innloggingsinformasjonen din tilgjengelig? Det er bare å logge inn og <a th:href="@{/login(location='/settings')}">tilbakestille passordet</a> i innstillingene.</p>

		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Legg til adressebok" class="image appscreen" data-tx="t0012" th:src="@{/assets/img/peoplesync/07-people-sync-add.png}"/>
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="Legg til adressebok" class="image appscreen" data-tx="t0013" th:src="@{/assets/img/peoplesync/08-people-sync-account.png}"/>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/05-people-sync-accept}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0007">Tilbake</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/09-people-sync-account-finished}">
		    <span data-tx="t0008">Videre</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>
<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>