<!DOCTYPE html>
<html>
<head></head>
<body>

<th:block th:fragment="forms(web)">
	<nav class="panel">
		<p class="panel-heading has-background-grey-lighter">
			<a data-action="collapse" href="#googleLogin"><i class="fa-brands fa-google"></i> <span data-tx="t0001">Mit Google anmelden</span></a>
		</p>
		<div class="is-collapsible" id="googleLogin">
			<div class="panel-block">
	  		<div class="content">
				<form method="get" th:action="@{/oauth/login}">

			    <input name="force_client" th:value="${googleClient}" type="hidden"/>
			    <input name="location" th:if="${location}" th:value="${location}" type="hidden"/>
	
				<div class="field" th:if="${web}">
				  <div class="control">
	  				<label class="checkbox">
					  <input th:name="${rememberParam}" type="checkbox" value="true"/>
					  <span data-tx="t0002">Auf diesem Gerät angemeldet bleiben (setzt ein <a th:href="@{/datenschutz}">Cookie</a>)</span>
					</label>
				  </div>
				</div>

				<div class="field">
				  <div class="control" data-tx="t0003">
				  	Mit Deiner Anmeldung akzeptierst Du die <a th:href="@{/usage}">Nutzungsbedingungen</a>.
				  </div>
				</div>
				
				<div class="field is-grouped">
				  <p class="control">
				    <button class="button is-primary" type="submit">
			          <span class="icon">
					      <i class="fa-solid fa-right-to-bracket"></i>
					  </span>
				      <span data-tx="t0004">Weiter zu Google</span>
				    </button>
				  </p>
				</div>
				
				<p class="help" data-tx="t0005">
					 Wenn Du einen Google-Account hast, dann kannst Du Dich mit diesem bequem bei PhoneBlock anmelden. Das erste Anmelden 
					 mit Google legt einen PhoneBlock-Account an. In Zukunft kannst Du Dich dann entweder mit dem erzeugten PhoneBlock-Nutzernamen 
					 oder erneut über Google anmelden.
				</p>
				
				</form>
			</div>
			</div>
		</div>
	</nav>

	<nav class="panel">
		<p class="panel-heading has-background-grey-lighter"><a data-action="collapse" href="#emailLogin"><i class="fas fa-envelope"></i> <span data-tx="t0006">Mit E-Mail anmelden</span></a></p>
		<div id="emailLogin" th:class="'is-collapsible' + ${!#strings.isEmpty(emailMessage) or !#strings.isEmpty(captchaMessage) ? ' is-active' : ''}">
			<form enctype="application/x-www-form-urlencoded" method="post" th:action="${contextPath} + (${web} ? '/login-web' : '/login-mobile')">
	  		<div class="panel-block">
	  		<div class="content">
			    <input name="location" th:if="${location}" th:value="${location}" type="hidden"/>
				<div class="field">
					<label class="label" data-tx="t0007">E-Mail</label>
					<div class="control has-icons-left has-icons-right">
					    <input data-tx="t0020" name="email" placeholder="Deine E-Mail-Adresse" th:class="'input' + (${emailMessage} ? ' is-danger' : '')" th:value="${email}" type="email"/>
					    <span class="icon is-small is-left">
					      <i class="fas fa-envelope"></i>
					    </span>
					    <span class="icon is-small is-right" th:if="${emailMessage}">
					      <i class="fas fa-exclamation-triangle"></i>
					    </span>
					</div>
					<p class="help is-danger" th:if="${emailMessage}" th:text="${emailMessage}"></p>
				</div>

				<div>
					<label class="label" data-tx="t0019">Sicherheitscode</label>

					<img alt="Captcha" data-tx="t0021" th:src="${captchaSrc}"/>

					<div class="control has-icons-left has-icons-right">
					    <input data-tx="t0022" name="captcha" placeholder="Text im Bild oben" th:class="'input' + (${captchaMessage} ? ' is-danger' : '')" type="text"/>
					    <span class="icon is-small is-left">
					      <i class="fa-solid fa-key"></i>
					    </span>
					    <span class="icon is-small is-right" th:if="${captchaMessage}">
					      <i class="fas fa-exclamation-triangle"></i>
					    </span>
					</div>
					<p class="help is-danger" th:if="${captchaMessage}" th:text="${captchaMessage}"></p>
				</div>
				
				<div class="field" th:if="${web}">
				  <div class="control">
	  				<label class="checkbox">
					  <input th:name="${rememberParam}" type="checkbox" value="true"/>
					  <span data-tx="t0008">Auf diesem Gerät angemeldet bleiben (setzt ein <a th:href="@{/datenschutz}">Cookie</a>)</span>
					</label>
				  </div>
				</div>

				<div class="field">
				  <div class="control" data-tx="t0009">
				  	Mit Deiner Anmeldung akzeptierst Du die <a th:href="@{/usage}">Nutzungsbedingungen</a>.
				  </div>
				</div>

				<div class="field is-grouped">
				  <p class="control">
				    <button class="button is-primary" type="submit">
			          <span class="icon">
					      <i class="fa-solid fa-right-to-bracket"></i>
					  </span>
				      <span data-tx="t0010">Code anfordern</span>
				    </button>
				  </p>
				</div>
				
				<p class="help" data-tx="t0011">
					 Du erhälst einen Code an die angegebene E-Mail-Adresse, mit dem Du Dich anmelden kannst.
					 Das erste Anmelden mit E-Mail legt einen PhoneBlock-Account an. In Zukunft kannst Du Dich dann 
					 mit dem erzeugten PhoneBlock-Nutzernamen oder aber über das erneute Zusenden eines Einmal-Codes  
					 anmelden.
				</p>
			</div>
			</div>
			</form>
		</div>
	</nav>
	
	<nav class="panel">
		<p class="panel-heading has-background-grey-lighter">
			<a data-action="collapse" href="#loginForm"><i class="fas fa-user"></i> <span data-tx="t0012">Mit PhoneBlock-Nutzernamen anmelden</span></a>
		</p>
		<div id="loginForm" th:class="'is-collapsible' + (${loginError} ? ' is-active' : '')">
			<div class="panel-block">
	  		<div class="content">
				<form method="post" th:action="${contextPath} + ${loginAction}">
			    <input name="location" th:if="${location}" th:value="${location}" type="hidden"/>
				<div class="field">
				  <p class="control has-icons-left has-icons-right">
				    <input class="input" data-tx="t0023" placeholder="Benutzername" th:name="${userNameParam}" type="text"/>
				    <span class="icon is-small is-left">
				      <i class="fa-solid fa-user"></i>
				    </span>
				    <span class="icon is-small is-right">
				      <i class="fas fa-check"></i>
				    </span>
				  </p>
				  <p class="help" data-tx="t0013">Verwende den Benutzernamen, den Du bei Deiner Anmeldung mit Google oder E-Mail-Adresse erhalten hast.</p>
				</div>
				<div class="field">
				  <p class="control has-icons-left">
				    <input class="input" data-tx="t0024" placeholder="PhoneBlock-Passwort" th:name="${passwordParam}" type="password"/>
				    <span class="icon is-small is-left">
				      <i class="fas fa-lock"></i>
				    </span>
				  </p>
					  <p class="help is-danger" data-tx="t0014" th:if="${loginError}">Die Anmeldedaten stimmen nicht überein, bitte überprüfe die Eingaben und versuche es noch einmal.</p>
					  <p class="help" data-tx="t0015" th:unless="${loginError}">
					  	Das Passwort wurde Dir nach der ersten Anmeldung angezeigt. Wenn Du das Passwort nicht mehr zur Hand hast, 
					  	dann melde Dich einfach mit Google oder Deiner E-Mail-Adresse an, siehe oben.
					  </p>
				</div>

				<div class="field" th:if="${web}">
				  <div class="control">
	  				<label class="checkbox">
					  <input th:name="${rememberParam}" type="checkbox" value="true"/>
					  <span data-tx="t0016">Auf diesem Gerät angemeldet bleiben (setzt ein <a th:href="@{/datenschutz}">Cookie</a>)</span>
					</label>
				  </div>
				</div>

				<div class="field">
				  <div class="control" data-tx="t0017">
				  	Mit Deiner Anmeldung akzeptierst Du die <a th:href="@{/usage}">Nutzungsbedingungen</a>.
				  </div>
				</div>
				
				<div class="field is-grouped">
				  <p class="control">
				    <button class="button is-primary" type="submit">
			          <span class="icon">
					      <i class="fa-solid fa-right-to-bracket"></i>
					  </span>
				      <span data-tx="t0018">Anmelden</span>
				    </button>
				  </p>
				</div>
				</form>
			</div>
			</div>
		</div>
	</nav>	
</th:block>

</body>
</html>