<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-tx="t0001:572a4b02">PhoneBlock: автовідповідач вимкнено</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Логотип PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" th:src="${image}" width="96"/>
</div>

<h2 data-tx="t0009:f05885dc">Доброго дня, <span th:text="${name}">користувачу</span>,</h2>

<p data-tx="t0004:f6b0dee3">Ви зареєстрували автовідповідач за допомогою <a href="https://phoneblock.net" th:href="${home}">PhoneBlock</a>.</p>

<p data-tx="t0010:fc5c006">Ваше ім'я користувача PhoneBlock: <code th:text="${userName}">user123</code><br/>
Ідентифікатор вашого автовідповідача: <code th:text="${botId}">bot123</code><br/>&lt;/x4
Остання успішна реєстрація: <code th:text="${lastSuccess}">01.01.2024 12:00:00</code><br/>
Останнє повідомлення про помилку: <code th:text="${lastMessage}">Реєстрація не вдалася</code></p>

<p data-tx="t0011:3cc418fa">Будь ласка, <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}">перевірте свої налаштування</a>, інакше до вас можуть надходити СПАМ-дзвінки
знову можуть безперешкодно до вас надходити: <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}" th:text="${app}">https://phoneblock.net/phoneblock/ab/</a></p>

<p data-tx="t0007:284b3eac">З повагою</p>

<p data-tx="t0008:70c6d927">Бернхард Гаумахер</p>

<p data-tx="t0012:14e1f6dc" style="color: gray;">--<br/>
Головна сторінка: <a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a><br/>
Пожертва: <a href="https://phoneblock.net/phoneblock/support" th:href="${support}" th:text="${support}">https://phoneblock.net/phoneblock/support</a><br/>
Налаштування: <a href="https://phoneblock.net/phoneblock/settings" th:href="${settings}" th:text="${settings}">https://phoneblock.net/phoneblock/settings</a><br/>
Автовідповідач: <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}" th:text="${app}">https://phoneblock.net/phoneblock/ab/</a><br/>
Відеоінструкції: <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a><br/>
Facebook: <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a><br/>
Контакт: <a href="mailto:phoneblock@haumacher.de" th:href="|mailto:${mail}|" th:text="${mail}">phoneblock@haumacher.de</a><br/></p>

</body>
</html>