<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock: автовідповідач вимкнено</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Логотип PhoneBlock" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">Привіт,</h2>

<p data-tx="t0004">Ви зареєстрували автовідповідач за допомогою <a href="{home}">PhoneBlock</a>.</p>

<p data-tx="t0005">Ваше ім'я користувача PhoneBlock: <code>{userName}</code><br/></p>

<p data-tx="t0006">Будь ласка, <a href="{app}">перевірте свої налаштування</a>, інакше ви будете отримувати СПАМ-дзвінки.</p>

<p data-tx="t0007">З повагою</p>

<p data-tx="t0008">Бернхард Гаумахер</p>

<p data-tx="t0009" style="color: gray;">--<br/></p>

</body>
</html>