<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-tx="t0001:1733978d">Підтвердження зміни електронної пошти PhoneBlock</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Логотип PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" th:src="${image}" width="96"/>
</div>

<h2 data-tx="t0007:f05885dc">Доброго дня, <span th:text="${name}">користувачу</span>,</h2>

<p data-tx="t0004:496fe8b0">Ви надіслали запит на зміну адреси електронної пошти для вашого облікового запису <i>PhoneBlock</i>.
Для підтвердження зміни, будь ласка, введіть наступний код у маску підтвердження, яка зараз відкрита у вашому браузері
відкрийте у вашому браузері:</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;" th:text="${code}">123456</code>
</p>

<p data-tx="t0005:cb2ec23c">Якщо ви не зробили цього запиту, ви можете проігнорувати цей лист, і ваша електронна адреса не буде змінена.
Ваша електронна адреса не буде змінена.</p>

<p data-tx="t0006:ed88831e">Щиро дякуємо,<br/>
Ваш сервер <i>PhoneBlock</i></p>

</body>
</html>