<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001:cee289b8">Привіт {name},<img align="right" alt="Логотип PhoneBlock" data-tx="t0002:5b0e8765" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

    <p data-tx="t0003:d4ff0bbe">Приємно, що ви знайшли <a href="{home}">PhoneBlock</a> і успішно його встановили. Сподіваємося, що в майбутньому кількість небажаних телефонних дзвінків значно зменшиться.</p>

    <p data-tx="t0004:57bc0241">Якщо ви задоволені роботою PhoneBlock, то я буду радий, якщо ви зробите невелику пожертву на підтримку роботи PhoneBlock.<a href="{support}"></a></p>

    <p data-tx="t0005:1d98c39d">Але ще важливіше, щоб ви розповіли про нього своїм друзям, знайомим і родичам. Чому б не поділитися домашньою сторінкою PhoneBlock (<a href="{home}">{home}</a>) на Facebook, Twitter або іншому каналі і не підписатися на PhoneBlock, щоб не пропустити жодного оновлення: <a href="{facebook}">{facebook}</a></p>

    <p data-tx="t0006:2be40556">Тільки якщо ви розповісте іншим про PhoneBlock, хороша новина про те, що ніхто більше не захищений від телефонного терору, може поширитися.</p>

    <p data-tx="t0007:284b3eac">З повагою</p>
    <p data-tx="t0008:70c6d927">Бернхард Гаумахер</p>

<p data-tx="t0009:d3aaad68" style="color: gray;">--<br/>
Головна сторінка: <a href="{home}">{home}</a><br/>
Пожертва: <a href="{support}">{підтримка}</a><br/>
Налаштування: <a href="{settings}">{settings}</a><br/>
Відеоурок: <a href="{help}">{допомога}</a><br/>
Facebook: <a href="{facebook}">{facebook}</a><br/>
Контакт: <a href="mailto:{mail}">{mail}</a><br/></p>

</body>
</html>