<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">

<div th:replace="~{../fragments/mobile :: header}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001">U bent succesvol ingelogd</h1>

<p data-tx="t0002">Uw autorisatietoken: <code id="token" th:text="${loginToken}"></code></p>

<p data-tx="t0003">Uw aanmelding bij PhoneBlock is gelukt. Deze pagina zou automatisch moeten sluiten en uw mobiele apparaat zou verbinding moeten maken met PhoneBlock. Als dit niet gebeurt, is er mogelijk iets mis met uw mobiele applicatie.</p>

</div>
</section>

<script th:src="@{/assets/js/mobile-response.js}" type="text/javascript"></script>

</body>
</html>