<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-tx="t0001:8eacd512">PhoneBlock: Hilfe bei der Einrichtung</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock Logo" data-tx="t0002:5b0e8765" height="96" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" th:src="${image}" width="96"/>
</div>

<h2 data-tx="t0009:f05885dc">
Hallo <span th:text="${name}">User</span>,
</h2>

<p data-tx="t0004:72d2e942">
Du bist bei <a href="https://phoneblock.net" th:href="${home}">PhoneBlock</a> angemeldet. Allerdings scheint der Abruf der Blocklist
von Deiner Fritz!Box nicht richtig zu funktionieren. Kann ich Dir bei der Einrichtung helfen, oder hast Du beschlossen
den Dienst nicht weiter in Anspruch zu nehmen? Dein Feedback ist willkommen!
</p>

<p data-tx="t0010:5c7907d7">
Dein PhoneBlock Nutzer-Name: <code th:text="${userName}">user123</code><br/>
Der letzte Abruf der Block-List war am: <code th:text="${lastAccess}">01.01.2024 12:00:00</code>
</p>

<p data-tx="t0011:710893df">
Ich erkläre die Installation auch in diesem YouTube-Video <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a> - vielleicht
hilft Dir das, die Einrichtung erfolgreich abzuschließen. Wichtig ist, dass Du in Deiner Fritz!Box nicht Deine
E-Mail-Adresse als Benutzernamen verwendest, sondern den PhoneBlock-Benutzernamen, der Dir nach der Anmeldung angezeigt
wird. Wenn Du Diese Anmeldedaten nicht mehr zur Hand hast, kannst Du die Registrierung einfach noch einmal für dieselbe
E-Mail-Adresse durchführen.
</p>

<p data-tx="t0007:284b3eac">
Viele Grüße
</p>

<p data-tx="t0008:70c6d927">
Bernhard Haumacher
</p>

<p data-tx="t0012:14e1f6dc" style="color: gray;">
--<br/>
Homepage: <a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a><br/>
Spende: <a href="https://phoneblock.net/phoneblock/support" th:href="${support}" th:text="${support}">https://phoneblock.net/phoneblock/support</a><br/>
Einstellungen: <a href="https://phoneblock.net/phoneblock/settings" th:href="${settings}" th:text="${settings}">https://phoneblock.net/phoneblock/settings</a><br/>
Anrufbeantworter: <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}" th:text="${app}">https://phoneblock.net/phoneblock/ab/</a><br/>
Videoanleitung: <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a><br/>
Facebook: <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a><br/>
Kontakt: <a href="mailto:phoneblock@haumacher.de" th:href="|mailto:${mail}|" th:text="${mail}">phoneblock@haumacher.de</a><br/>
</p>

</body>
</html>