<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001">Hallo {name},<img align="right" alt="PhoneBlock Logo" data-tx="t0002" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003">
	vielen lieben Dank für Deine {attribute}Spende für das PhoneBlock-Projekt! Ich hoffe, es kann Dir
	dabei helfen, unerwünschte Anrufe deutlich zu reduzieren.
	</p>

	<p data-tx="t0004">
	Und wenn doch wieder ein ungebetener Anrufer durch die Maschen schlüpft, vergiss bitte
	nicht, diesen gleich auf der PhoneBlock-Webseite als SPAM zu markieren. Wenn das alle
	konsequent machen, ist auch jede neue SPAM-Nummer gleich wieder gesperrt.
	</p>

    <p data-tx="t0005">Viele liebe Grüße</p>
    <p data-tx="t0006">Bernhard Haumacher</p>

<p data-tx="t0007" style="color: gray;">
--<br/>
Homepage: <a href="{home}">{home}</a><br/>
Spende: <a href="{support}">{support}</a><br/>
Einstellungen: <a href="{settings}">{settings}</a><br/>
Videoanleitung: <a href="{help}">{help}</a><br/>
Facebook: <a href="{facebook}">{facebook}</a><br/>
Kontakt: <a href="mailto:{mail}">{mail}</a><br/>
</p>

</body>
</html>