<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">

<div th:replace="~{../fragments/mobile :: header}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001:1bd232b9">最后确定链接</h1>

<p data-tx="t0008:39b22977">如果你看到这个页面，说明你的浏览器没有将链接转发到你的 PhoneBlock 应用程序。点击以下按钮在应用程序中打开链接：</p>

<p>
	<a class="button is-primary" th:href="|intent://phoneblock.net${contextPath}/mobile/response?loginToken=${loginToken}#Intent;scheme=https;package=de.haumacher.phoneblock_mobile;end|">
		<span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>
		<span data-tx="t0009:70167705">在应用程序中打开</span>
	</a>
</p>

<p data-tx="t0010:a6c05ee6">如果也不行，请 "在应用程序中 "手动打开该页面。为此，请打开底部的菜单：</p>

<img alt="打开菜单" data-tx="t0003:4910225c" th:src="@{/assets/img/mobile/connect-1.png}"/>
	
<p data-tx="t0004:2210ca0d">然后选择 "用应用程序打开 "选项：</p>

<img alt="选项 &quot;用应用程序打开" data-tx="t0005:7971c7c3" th:src="@{/assets/img/mobile/connect-2.png}"/>

<p data-tx="t0006:4da0a1ad">您的授权令牌： <code id="loginToken" th:text="${loginToken}"></code><a class="copyToClipboard" data-tx="t0007:3f7efe41" id="loginToken_" title="复制到剪贴板"><i class="fa-solid fa-copy"></i></a></p>

</div>
</section>

<div th:replace="~{../fragments/mobile :: footer}"></div>

</body>
</html>