<!DOCTYPE html>
<html>
<head></head>
<body>

<th:block th:fragment="forms(web)">
	<nav class="panel">
		<p class="panel-heading">
			<a href="#googleLogin" data-action="collapse"><i class="fa-brands fa-google"></i> <span>Mit Google anmelden</span></a>
		</p>
		<div id="googleLogin" class="is-collapsible">
			<div class="panel-block">
	  		<div class="content">
				<form th:action="@{/oauth/login}" method="get">

			    <input type="hidden" name="force_client" th:value="${googleClient}">
			    <input th:if="${location}" type="hidden" name="location" th:value="${location}">
	
				<div th:if="${web}" class="field">
				  <div class="control">
	  				<label class="checkbox">
					  <input type="checkbox" th:name="${rememberParam}" value="true"/>
					  <span>Auf diesem Gerät angemeldet bleiben (setzt ein <a th:href="@{/datenschutz.jsp}">Cookie</a>)</span>
					</label>
				  </div>
				</div>

				<div class="field">
				  <div class="control">
				  	Mit Deiner Anmeldung akzeptierst Du die <a th:href="@{/usage.jsp}">Nutzungsbedingungen</a>.
				  </div>
				</div>
				
				<div class="field is-grouped">
				  <p class="control">
				    <button class="button is-primary" type="submit">
			          <span class="icon">
					      <i class="fa-solid fa-right-to-bracket"></i>
					  </span>
				      <span>Weiter zu Google</span>
				    </button>
				  </p>
				</div>
				
				<p class="help">
					 Wenn Du einen Google-Account hast, dann kannst Du Dich mit diesem bequem bei PhoneBlock anmelden. Das erste Anmelden 
					 mit Google legt einen PhoneBlock-Account an. In Zukunft kannst Du Dich dann entweder mit dem erzeugten PhoneBlock-Nutzernamen 
					 oder erneut über Google anmelden.
				</p>
				
				</form>
			</div>
			</div>
		</div>
	</nav>

	<nav class="panel">
		<p class="panel-heading"><a href="#emailLogin" data-action="collapse"><i class="fas fa-envelope"></i> <span>Mit E-Mail anmelden</span></a></p>
		<div id="emailLogin" th:class="'is-collapsible' + (${emailMessage} ? ' is-active' : '')">
			<form th:action="${contextPath} + (${web} ? '/login-web' : '/login-mobile')" method="post" enctype="application/x-www-form-urlencoded">
	  		<div class="panel-block">
	  		<div class="content">
			    <input th:if="${location}" type="hidden" name="location" th:value="${location}">
				<div class="field">
					<label class="label">E-Mail</label>
					<div class="control has-icons-left has-icons-right">
					    <input name="email" 
					    	th:class="'input' + (${emailMessage} ? ' is-danger' : '')" 
					    	type="email" 
					    	placeholder="Deine E-Mail-Adresse" 
					    	th:value="${email}"
					    />
					    <span class="icon is-small is-left">
					      <i class="fas fa-envelope"></i>
					    </span>
					    <span th:if="${emailMessage}" class="icon is-small is-right">
					      <i class="fas fa-exclamation-triangle"></i>
					    </span>
					</div>
					<p th:if="${emailMessage}" class="help is-danger" th:text="${emailMessage}">
					</p>
				</div>

				<div th:if="${web}" class="field">
				  <div class="control">
	  				<label class="checkbox">
					  <input type="checkbox" th:name="${rememberParam}" value="true"/>
					  <span>Auf diesem Gerät angemeldet bleiben (setzt ein <a th:href="@{/datenschutz.jsp}">Cookie</a>)</span>
					</label>
				  </div>
				</div>

				<div class="field">
				  <div class="control">
				  	Mit Deiner Anmeldung akzeptierst Du die <a th:href="@{/usage.jsp}">Nutzungsbedingungen</a>.
				  </div>
				</div>

				<div class="field is-grouped">
				  <p class="control">
				    <button class="button is-primary" type="submit">
			          <span class="icon">
					      <i class="fa-solid fa-right-to-bracket"></i>
					  </span>
				      <span>Code anfordern</span>
				    </button>
				  </p>
				</div>
				
				<p class="help">
					 Du erhälst einen Code an die angegebene E-Mail-Adresse, mit dem Du Dich anmelden kannst.
					 Das erste Anmelden mit E-Mail legt einen PhoneBlock-Account an. In Zukunft kannst Du Dich dann 
					 mit dem erzeugten PhoneBlock-Nutzernamen oder aber über das erneute Zusenden eines Einmal-Codes  
					 anmelden.
				</p>
			</div>
			</div>
			</form>
		</div>
	</nav>
	
	<nav class="panel">
		<p class="panel-heading">
			<a href="#loginForm" data-action="collapse"><i class="fas fa-user"></i> <span>Mit PhoneBlock-Nutzernamen anmelden</span></a>
		</p>
		<div id="loginForm" th:class="'is-collapsible' + (${loginError} ? ' is-active' : '')">
			<div class="panel-block">
	  		<div class="content">
				<form th:action="${contextPath} + ${loginAction}" method="post">
			    <input th:if="${location}" type="hidden" name="location" th:value="${location}">
				<div class="field">
				  <p class="control has-icons-left has-icons-right">
				    <input class="input" type="text" placeholder="Benutzername" th:name="${userNameParam}">
				    <span class="icon is-small is-left">
				      <i class="fa-solid fa-user"></i>
				    </span>
				    <span class="icon is-small is-right">
				      <i class="fas fa-check"></i>
				    </span>
				  </p>
				  <p class="help">Verwende den Benutzernamen, den Du bei Deiner Anmeldung mit Google oder E-Mail-Adresse erhalten hast.</p>
				</div>
				<div class="field">
				  <p class="control has-icons-left">
				    <input class="input" type="password" placeholder="PhoneBlock-Passwort" th:name="${passwordParam}">
				    <span class="icon is-small is-left">
				      <i class="fas fa-lock"></i>
				    </span>
				  </p>
					  <p th:if="${loginError}" class="help is-danger">Die Anmeldedaten stimmen nicht überein, bitte überprüfe die Eingaben und versuche es noch einmal.</p>
					  <p th:unless="${loginError}" class="help">
					  	Das Passwort wurde Dir nach der ersten Anmeldung angezeigt. Wenn Du das Passwort nicht mehr zur Hand hast, 
					  	dann melde Dich einfach mit Google oder Deiner E-Mail-Adresse an, siehe oben.
					  </p>
				</div>

				<div th:if="${web}" class="field">
				  <div class="control">
	  				<label class="checkbox">
					  <input type="checkbox" th:name="${rememberParam}" value="true"/>
					  <span>Auf diesem Gerät angemeldet bleiben (setzt ein <a th:href="@{/datenschutz.jsp}">Cookie</a>)</span>
					</label>
				  </div>
				</div>

				<div class="field">
				  <div class="control">
				  	Mit Deiner Anmeldung akzeptierst Du die <a th:href="@{/usage.jsp}">Nutzungsbedingungen</a>.
				  </div>
				</div>
				
				<div class="field is-grouped">
				  <p class="control">
				    <button class="button is-primary" type="submit">
			          <span class="icon">
					      <i class="fa-solid fa-right-to-bracket"></i>
					  </span>
				      <span>Anmelden</span>
				    </button>
				  </p>
				</div>
				</form>
			</div>
			</div>
		</div>
	</nav>	
</th:block>

</body>
</html>
