<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title='Rufnummer sperren - PhoneBlock')}"/>

<body>
<div th:replace="~{fragments/page :: header}"/>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Rufnummer sperren</h1>
	
		<p data-tx="t0002">
			Es ist doch noch eine Nervensäge durch das PhoneBlock-Netz geschlüpft? Ärgerlich aber kein Problem, 
			gleich bist Du ihn los. Hierfür fügst Du die Nummer des Störenfrieds einfach der "Blocklist" hinzu. 
			Melde Dich hierfür an Deiner Fritz!Box an.
		</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank"><button class="button is-medium is-primary is-fullwidth" data-tx="t0003">An FRITZ!Box anmelden</button></a>
		  </div>
		</div>
		
		<h2 data-tx="t0004">Zeige die Anruferliste an</h2>
		
		<p data-tx="t0005">
			In der Benutzeroberfläche Deiner FRITZ!Box kannst Du alle Anrufer des letzten Zeit sehen. Wenn alles 
			gut geglaufen ist, sieht die Liste aus wie unten gezeigt. Ein unerwünschter Anruf wurde erkannt, als
			Spam markiert und das Gespräch wurde abgewiesen (der Anruf wir mit einem roten X dargestellt). 
		</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Anrufliste der Fritz!Box" class="image" th:src="@{/assets/img/block/07-spam-caller.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0006">
			In diesem Fall ist nichts zu tun. Der unerwünschte Anrufer befindet sich schon auf der "Blocklist" und 
			kann Dich nicht mehr stören. 
		</p>
		
		<h2 data-tx="t0007">Neuer "Blocklist"-Eintrag</h2>
		
		<p data-tx="t0008">
			Hat die Nervensäge eine neue Telefonnummer oder hat ein neuer Telefonterrorist sein Business aufgenommen, 
			kann Dich immer noch ein unerwünschter Anruf erreichen. In diesem Fall kannst Du hier einen neuen Eintrag
			zur "Blocklist" hinzufügen. 
		</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<div class="tile is-ancestor">
		      <div class="tile is-parent">
		      	<article class="tile is-child notification is-danger">
			        <p class="title" data-tx="t0009">Achtung!</p>
			        <p class="subtitle" data-tx="t0010">Keine persönlichen Feinde eintragen!</p>
			        <div class="content">
			          <p data-tx="t0011">
			          Ein Eintrag in der "BlockList" sperrt den Anrufer nicht nur für Dich, sondern 
			          für alle Mitglieder der PhoneBlock-Community! Wenn Du also keine Anrufe von Deiner
			          Schwiegermutter mehr erhalten möchtest, dann trage bitte ihre Nummer in die lokale Liste
			          mit Rufsperren in Deiner FRITZ!Box ein, aber nicht in die PhoneBlock-"Blocklist"!
			          </p>
			          
			          <p data-tx="t0012">
			          Bei Verstößen wird Dein Account ohne Vorwarnung unwiderruflich gesperrt!
			          </p>
			        </div>
			  	</article>
			  </div>
			</div>
	    </div>
	 </div>
	 
	 <p data-tx="t0013">
	 	Du bist also sicher, dass dich ein Werbeanruf erreicht hat, den Du nicht bestellt hast und von dem Du 
	 	sicher bist, dass auch niemand anderes ihn erhalten will? Dann los - sperr die Nummer...
	 </p>
		
	<p data-tx="t0014">
		Eine Nummer wird gesperrt, indem Du einen neuen Telefonbucheintrag in dem Telefonbuch mit Namen "Blocklist" 
		machst. Deine FRITZ!Box lädt diesen neuen Eintrag auf den PhoneBlock-Server und alle anderen angeschlossenen
		Mitglieder der PhoneBlock-Community erhalten diesen Eintrag ebenfalls in ihrer Blocklist. Um einen neuen
		Telefonbucheintrag zu machen, klicke auf das Buch-Symbol am Ende der Zeile mit der Nummer des unerwünschten
		Anrufs.
	</p>
	
	<p data-tx="t0015">
		Wähle jetzt das Telefonbuch "Blocklist" aus:
	</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Anruf als unerwünscht markieren" class="image" th:src="@{/assets/img/block/08-mark-as-spam.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0016">
		Klicke "Weiter" und wähle "neu anlegen":
	</p>
	
	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Neuen Eintrag in der Blocklist anlegen" class="image" th:src="@{/assets/img/block/09-create-entry-create.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0017">
		Auf der Folgemaske gib noch einen beliebigen Namen ein und klicke "OK". Der Name wird nach der Synchronisation 
		mit dem PhoneBlock-Server ersetzt durch "SPAM: Rufnummer", du musst Dir als keine Mühe geben, hier etwas 
		hübsches einzugeben:
	</p>
	
	<p data-tx="t0018">
		<b>Wichtig:</b> Du darfst bei einem neuen Eintrag in die Blocklist immer nur <b>eine Nummer</b> pro Telefonbucheintrag 
		vornehmen. PhoneBlock sortiert die Telefonnummer dann in den richtigen Block ein. Eine von Dir eingetragene Nummer darf
		<b>keinen Wildcard ("*")</b> enthalten. Wildcard-Nummern werden nur von PhoneBlock selbst erzeugt, wenn es viele
		 Beschwerden über eng nebeneinanderliegende Telefonnummern gibt.
	</p>
	
	<p data-tx="t0019">
		<b>Wichtig:</b> Du darfst existierende Einträge der Blocklist <b>nicht bearbeiten</b> (keine Nummern hinzufügen, keine 
		Nummern löschen), PhoneBlock verwirft sonst Deine Änderungen bei der nächsten Synchronisierung. Wenn Du eine 
		Nummer aus der Blocklist löschen möchtest, dann füge stattdessen einen Eintrag zu Deiner 
		<a th:href="@{/settings/#whitelist}">Whitelist in den Einstellungen</a> hinzu.  
	</p>

	<div class="columns">
	  <div class="column is-8 is-offset-2">
		<img alt="Neuen Eintrag in der Blockliste übernehmen" class="image" th:src="@{/assets/img/block/10-add-entry-save.png}"/>
	  </div>
	</div>
	
	<p data-tx="t0020">
		Fertig! Du hast Dich und die ganze PhoneBlock-Community von einer weiteren Nervensäge erlöst, danke!		
	</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"/>
</body>
</html>