<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001">Die Rufnummer ☎ <span th:text="${number}"></span> existiert nicht</h1>

	<p data-tx="t0002">
		Bei der von Dir gesuchten Nummer handelt es sich nicht um eine Telefonnummer. 
		Bitte korrigiere Deine Sucheingabe und versuche es noch einmal!
	</p>
</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>