<!DOCTYPE html>
<html>
<head>
<th:block th:replace="~{fragments/page :: headContent(title=${#messages.msg('page.phone-info.title__nr', number.plus)})}"></th:block>

<script th:src="|${contextPath}${deps.chartjs}/dist/chart.umd.js|" type="text/javascript"></script>
</head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001">Rufnummer ☎ <th:block th:text="${number.plus}"></th:block></h1>

	<p>
		<th:block th:switch="${state}">
		<span class="tag is-info is-success" data-tx="t0002" th:case="'whitelisted'"><i class="fa-solid fa-star"></i> Auf der weißen Liste</span>
		<span class="tag is-info is-success" data-tx="t0004" th:case="'legitimate'">Keine Beschwerden</span>
		<span class="tag is-info is-warning" data-tx="t0003" th:case="'wildcard'">Nummernblock mit Spamverdacht</span>
		<span class="tag is-info is-warning" data-tx="t0005" th:case="'suspicious'">Beschwerde liegt vor</span>
		<span class="tag is-info is-warning" data-tx="t0034" th:case="'archived'">Alte Beschwerden</span>
		<span class="tag is-info is-danger" data-tx="t0006" th:case="'blocked'">Blockiert</span>
		</th:block>
		
		<span th:class="|tag is-info ${ratingCssClass}|" th:if="${info.votes &gt; 0 and rating.name != 'B_MISSED' and rating.name != 'A_LEGITIMATE'}" th:text="${#messages.msg(ratingLabelKey)}"></span>
	</p>

<article th:class="|message ${state == 'whitelisted' or state == 'legitimate' ? 'is-success' : (state == 'blocked' ? 'is-danger' : 'is-warning')}|">
  <div class="message-header">
	<p data-tx="t0007">Information zur Rufnummer <th:block th:text="${number.zeroZero}"></th:block></p>
  </div>
  <div class="message-body">
  	<p dir="ltr" lang="de" th:if="${searchResult.aiSummary}" th:text="${searchResult.aiSummary}"></p>
  	
  	<th:block th:switch="${state}">
  	<p data-tx="t0035" th:case="'whitelisted'">
		Die Telefonnummer steht auf der weißen Liste und kann von PhoneBlock nicht gesperrt werden. 
		Wenn Du dich trotzdem von dieser Nummer belästigt fühlst, richte bitte eine private Sperre für diese Nummer ein.  	
  	</p>
  	<p data-tx="t0036" th:case="'legitimate'">
  		Die Telefonnummer ist nicht in der <a th:href="@{/status}">PhoneBlock-Datenbank</a> enthalten. 
  		Es gibt bisher keine Stimmen, die für eine Sperrung von ☎ <code dir="ltr" th:text="${number.shortcut}"></code> sprechen.
	</p>
  	<p data-tx="t0037" th:case="'wildcard'">
  		Die Telefonnummer selbst ist nicht in der <a th:href="@{/status}">PhoneBlock-Datenbank</a> enthalten. 
  		Die Nummer ☎ <code dir="ltr" th:text="${number.shortcut}"></code> stammt aber aus einem Nummernblock mit Spam-Verdacht.
  		<th:block th:if="${info.votesWildcard == 1}">
		Es spricht eine Stimme für die Sperrung des Nummernblocks.
		</th:block>
  		<th:block th:if="${info.votesWildcard &gt; 1}">
		Es sprechen <th:block th:text="${info.votesWildcard}"></th:block> Stimmen für die Sperrung des Nummernblocks.
		</th:block>
  	</p>
  	<p data-tx="t0038" th:case="'suspicious'">
  		Es gibt bereits <th:block th:text="${info.votes}"></th:block> Stimmen, die für eine Sperrung von ☎ <code dir="ltr" th:text="${number.shortcut}"></code> sprechen.
  		Die Nummer wird aber noch nicht blockiert.
	</p>  	
  	<p data-tx="t0039" th:case="'archived'">
  		Es gibt zwar <th:block th:text="${info.votes}"></th:block> alte Stimmen, die für eine Sperrung von ☎ <code dir="ltr" th:text="${number.shortcut}"></code> sprachen.
  		Die Nummer wird aber nicht mehr blockiert.
  	</p>
  	<p data-tx="t0040" th:case="'blocked'">
		Die Telefonnummer ☎ <code dir="ltr" th:text="${number.shortcut}"></code> ist eine mehrfach berichtete Quelle von <a th:href="@{/status}">unerwünschten Telefonanrufen</a>.
		<th:block th:text="${info.votes}"></th:block> Stimmen sprechen sich für eine Sperrung der Nummer aus.
  	</p>
  	</th:block>

	<ul>
		<li data-tx="t0008">
			Alternative Schreibweisen: 
			<th:block th:if="${number.shortcut}">
				<code dir="ltr" th:text="${number.shortcut}"></code>, 
			</th:block>
			<code dir="ltr" th:text="${number.plus}"></code>, 
			<code dir="ltr" th:text="${number.zeroZero}"></code>
		</li>
		<li data-tx="t0009">
			Land: <th:block th:text="${number.country}"></th:block> (<code dir="ltr" th:text="${number.countryCode}"></code>)
		</li>

		<li data-tx="t0050" th:if="${number.usage}">
			Art der Nummer: <th:block th:text="${number.usage}"></th:block>
		</li>

		<li data-tx="t0010" th:if="${number.city}">
			Stadt: <th:block th:text="${number.city}"></th:block> (<code dir="ltr" th:text="${number.cityCode}"></code>)
		</li>

		<li data-tx="t0011" th:if="${info.votes} &gt; 0">
			Stimmen für Sperrung: <th:block th:text="${info.votes}"></th:block>
		</li>
		
		<li data-tx="t0012" th:if="${info.votesWildcard} &gt; ${info.votes}">
			Stimmen für Sperrung des Nummernblocks: <th:block th:text="${info.votesWildcard}"></th:block>
		</li>
		
		<li data-tx="t0013" th:if="${info.votes} &gt; 0 or ${info.votesWildcard} &gt; 0">
			Letzte Beschwerde vom: <th:block th:text="${#dates.format(#converters.fromEpoch(info.lastUpdate))}"></th:block>
		</li>

		<li data-tx="t0014" th:if="${info.votes} &gt; 0 and ${info.dateAdded} &gt; 0">
			Nummer aktiv seit: <th:block th:text="${#dates.format(#converters.fromEpoch(info.dateAdded))}"></th:block>
		</li>
	</ul>
  </div>
</article>

	<p data-tx="t0015">
		Unerwünschte Telefonanrufe kannst Du <em>automatisch blockieren</em>, wenn Du PhoneBlock installierst: 
	</p>
	
		<div class="columns">
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox  ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/anrufbeantworter}">
				<span class="icon">
					<img th:src="@{/assets/img/ab/logo/ab-logo-white.svg}"/>
				</span>
				<span data-tx="t0016">Anrufbeantworter</span>			
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup}">
				<span class="icon">
					<i class="fa-solid fa-phone"></i>
				</span>
				<span data-tx="t0017">Fritz!Box Telefonbuch</span>			
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${android ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-android}">
				<span class="icon">
					<i class="fa-solid fa-mobile-screen"></i>
				</span>
				<span data-tx="t0018">Für Android</span>
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${iphone ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-iphone}">
				<span class="icon">
					<i class="fa-brands fa-apple"></i>
				</span>
				<span data-tx="t0019">Für iPhone</span>
			</a>
		  </div>
		</div>

<th:block th:if="${relatedNumbers.size &gt; 0}">
	<p data-tx="t0020">Die Nummer ☎ <th:block th:text="${number.shortcut}"></th:block> könnte zum selben Anschluss gehören wie die folgenden Nummern in der Datenbank:</p>
	
	<blockquote class="related-numbers">
		<span th:each="related : ${relatedNumbers}">
			<a data-onclick="showNumber" data-tx="t0021" th:href="@{/nums/{other}(other=${related})}">☎ <th:block th:text="${related}"></th:block></a>
		</span>
	</blockquote>
</th:block>	

	<h2 data-tx="t0022" id="writeRating">Schreib eine Bewertung für <th:block th:text="${number.plus}"></th:block></h2>
	
	<div class="notification is-info" data-tx="t0023" id="thanks" th:if="${thanks}">
	  Danke für Deine Bewertung, Du hilfst damit anderen, die ebenfalls angerufen werden. 
	</div>
	
<th:block th:unless="${thanks}">
	<p data-tx="t0024">
		Du wurdest von ☎ <code dir="ltr"><th:block th:text="${number.shortcut}"></th:block></code> angerufen? 
		Sag anderen, was sie von ☎ <code dir="ltr"><th:block th:text="${number.plus}"></th:block></code> zu erwarten haben.
		Wenn Du Dich von Anrufen von ☎ <code dir="ltr"><th:block th:text="${number.shortcut}"></th:block></code> belästigt fühlst, 
		<a th:href="@{/setup}">installiere PhoneBlock</a> 
		und gibt eine Bewertung für ☎ <code dir="ltr"><th:block th:text="${number.zeroZero}"></th:block></code> ab:
	</p>

	<form accept-charset="utf-8" enctype="application/x-www-form-urlencoded" method="post" spellcheck="true" th:action="@{/rating}">
		<input name="phone" th:value="${number.id}" type="hidden"/>
		
		<div class="buttons">
		  	<label th:class="|button is-rounded ${rating.cssClass}|" th:each="rating : ${ratings}">
		  		<input name="rating" th:checked="${#strings.equals(rating.name, enteredRating)}" th:value="${rating}" type="radio"/>
				<span class="icon">
					<i th:class="${rating.iconClass}"></i>
				</span>
				<span th:text="${#messages.msg(rating.labelKey)}"></span>
	  		</label>
		</div>

		<p>			
		<textarea class="textarea is-primary" data-tx="t0042" name="comment" placeholder="Dein Bericht - Keine Beleidigungen, keine Schimpfwörter!" th:text="${enteredComment}"></textarea>
		</p>
		
		<th:block th:unless="${userName}">		
		<p data-tx="t0025">
		Damit Deine Bewertung sofort einen Einfluss auf Deine Blocklist hat, <a th:href="@{/login(location=${currentPage})}">melde Dich vorher an</a>!
		</p>
		
		<p>
			<label class="label" data-tx="t0041">Sicherheitscode</label>

			<img alt="Captcha" data-tx="t0043" th:src="${captchaSrc}"/>

			<div class="control has-icons-left has-icons-right">
			    <input class="input" data-tx="t0044" name="captcha" placeholder="Text im Bild oben" type="text"/>
 
			    <span class="icon is-small is-left">
			      <i class="fa-solid fa-key"></i>
			    </span>
			</div>
 
			<p class="help is-danger" th:if="${captchaError}" th:text="${captchaError}"></p>
		</p>
		</th:block>
		
		<div class="buttons">
			<button class="button is-rounded is-primary" name="send" type="submit">
				<span class="icon">
					<i class="fas fa-paper-plane"></i>
				</span>
				<span data-tx="t0026">Abschicken</span>
			</button>
		</div>
	</form>
</th:block>

<div class="columns">
	<div class="column is-half">
	<div th:if="${ratings}">
		<canvas aria-label="Anzahl Bewertungen" data-tx="t0047" height="200" id="ratings" role="img" width="400"></canvas>
		<pre class="chartjs-data" id="ratings-data">
		{
			"type": "bar",
			"data": {
				"labels": <th:block th:text="${ratingLabels}"></th:block>,
				"datasets": [{
					"label": "<th:block th:text="#{page.phone-info.ratingCount}"></th:block>",
					"data": <th:block th:text="${ratingData}"></th:block>,
					"backgroundColor": <th:block th:text="${ratingBackground}"></th:block>,
					"borderColor": <th:block th:text="${ratingBorder}"></th:block>,
					"borderWidth": 1
				}]
			},
			"options": {
				"scales": {
					"y": {
						"beginAtZero": true
					}
				}
			}
		}
		</pre>
		<script th:src="@{/assets/js/phone-info-ratings.js}" type="text/javascript"></script>
	</div>
	<p data-tx="t0027" th:unless="${ratings}">
		Es gibt bisher noch keine Bewertungen, sei der erste, der eine seine Einschätzung teilt!
	</p>
	</div>

	<div class="column is-half">
	<div id="searches-data" th:data-data="${searchData}" th:data-labels="${searchLabels}" th:if="${searches}">
		<canvas aria-label="Suchanfragen in der letzten Woche" data-tx="t0048" dir="ltr" height="200" id="searches" role="img" width="400"></canvas>
		<pre class="chartjs-data" id="searches-data">
		{
			"type": "line",
			"data": {
				"labels": <th:block th:text="${searchLabels}"></th:block>,
				"datasets": [{
					"label": "<th:block th:text="#{page.phone-info.searchRequests}"></th:block>",
					"data": <th:block th:text="${searchData}"></th:block>,
					"fill": false,
					"borderColor": "rgb(75, 192, 192)",
					"tension": 0.1
				}]
			},
			"options": {
				"scales": {
					"y": {
						"beginAtZero": true
					}
				}
			}
		}
		</pre>
		<script th:src="@{/assets/js/phone-info-searches.js}" type="text/javascript"></script>
	</div>
	<p data-tx="t0028" th:unless="${searches}">Es gibt keine Suchanfragen für diese Nummer.</p>
	</div>
</div>

<th:block th:if="${comments.size &gt; 0}">
	<h2 data-tx="t0029">Kommentare zu <th:block th:text="${number.plus}"></th:block></h2>
	
	<th:block th:each="comment,commentIt : ${comments}">
	
	<input id="votePath" th:value="@{/api/commentVote}" type="hidden"/>
<div class="box">
  <article class="media">
	<div class="media-left">
	  <figure class="image is-64x64">
		<i class="fa-solid fa-star" th:if="${#converters.isPositive(comment.rating)}"></i>
		<i class="fa-solid fa-triangle-exclamation" th:unless="${#converters.isPositive(comment.rating)}"></i>
	  </figure>
	</div>
	<div class="media-content">
	  <div class="content">
		<p class="commentHeader" th:with="phoneInfo=${#converters.analyze(comment.phone)}">
		  <strong data-tx="t0030">☎ <th:span th:text="${phoneInfo.shortcut}" th:title="${phoneInfo.plus}"></th:span></strong>
		  <small>
		  <a target="_blank" th:href="@{/link/{service}/{phone}(service=${comment.service}, phone=${comment.phone})}" th:text="${comment.service}" th:unless="${#strings.isEmpty(comment.service)}"></a>
		  <span data-tx="t0031" th:if="${#strings.isEmpty(comment.service)}">PhoneBlock</span>
		  </small>
		  <small th:text="${#dates.format(#converters.fromEpoch(comment.created))}"></small>
		</p>
		<p class="commentText" th:dir="${comment.direction}" th:lang="${comment.lang}" th:text="${comment.comment}">
		</p>
	  </div>
			
	  <nav class="level is-mobile">
		<div class="level-left">
		  <a aria-label="Guter Hinweis" class="level-item thumbs-up commentVote" data-tx="t0045" href="#" th:data-comment-id="${comment.id}" th:data-vote-down-id="'down-' + ${commentIt.current}" th:data-vote-up-id="'up-' + ${commentIt.current}" title="Guter Hinweis!">
			<span class="icon">
			  <i class="fa-solid fa-thumbs-up"></i>
			</span>
			<span th:id="'up-' + ${commentIt.current}" th:text="${comment.up}"></span>
		  </a>
		  <a aria-label="Unsinn" class="level-item thumbs-down commentVote" data-tx="t0046" href="#" th:data-comment-id="${comment.id}" th:data-vote-down-id="'down-' + ${commentIt.current}" th:data-vote-up-id="'up-' + ${commentIt.current}" title="Unsinn!">
			<span class="icon">
			  <i class="fa-solid fa-thumbs-down"></i>
			</span>
			<span th:id="'down-' + ${commentIt.current}" th:text="${comment.down}"></span>
		  </a>
		</div>
	  </nav>
	</div>
  </article>
</div>
	
	</th:block>
</th:block>

	<nav aria-label="pagination" class="pagination is-centered" data-tx="t0049" role="navigation">
		<a class="pagination-previous" data-onclick="showNumber" data-tx="t0032" th:href="@{/nums/{num}(num=${prev})}" th:if="${prev}">Vorherige Nummer</a>
		<a class="pagination-next" data-onclick="showNumber" data-tx="t0033" th:href="@{/nums/{num}(num=${next})}" th:if="${next}">Nächste Nummer</a>
	</nav>
</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>