<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">Installation als Telefonbuch</h1>

<th:block th:unless="${token}">
		<p data-tx="t0002:10d70c8f">
			Für die Installation der Blockliste benötigst Du einen <a th:href="@{/link/fritzbox}">"FRITZ!Box"
			Internetrouter von AVM</a> und einen PhoneBlock-Account. Es muss nicht unbedingt das neuste Modell
			sein, aber Du solltest prüfen, ob das aktuelle FRITZ!OS darauf
			installiert ist (07.29 oder neuer). Ist dies nicht der Fall, prüfe
			anhand der folgenden Installationsanleitung, ob Deine Version die notwendigen
			Optionen schon bietet.
		</p>
		
		<p data-tx="t0003:d62d702f">
			Beachte: Aufgrund technischer Beschränkungen der Fritz!Box kann nicht die gesamte Blockliste in ein
			Telefonbuch geladen werden. Daher bietet die Einrichtung eines 
			<a th:href="@{/anrufbeantworter}">PhoneBlock-Anrufbeantworters</a> den 
			besseren Schutz vor SPAM-Anrufen.
		</p>
		
		<div class="columns" th:unless="${login}">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/login(location='/setup')}">
				<button class="button is-medium is-info is-fullwidth" data-tx="t0004:e5f7ac3b">PhoneBlock-Account erstellen</button>
			</a>
		  </div>
		</div>
		<p data-tx="t0005:d432c618" th:if="${login}">
			Du bist bereits als <code dir="ltr" th:text="${userName}"></code> angemeldet, prima! Du kannst sofort loslegen.
		</p>
</th:block>

<div class="columns" th:if="${token}">
  <div class="column">
	<div class="tile is-ancestor">
      <div class="tile is-parent">
      	<article class="tile is-child notification">
	        <p class="title" data-tx="t0006:3c8661fc">Deine Anmeldedaten</p>
	        <p class="subtitle" data-tx="t0007:da814461">Die folgenden Daten benötigst Du für die Installation.</p>
	        <div class="content">
		
				<div class="field">
				  <label class="label" data-tx="t0008:f48153ce">Internetadresse des CardDAV-Servers</label>
				  <div class="control"><code dir="ltr" id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0034:3f7efe41" href="#" id="url_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0009:548c40c1">Benutzername</label>
				  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0035:3f7efe41" id="login_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0010:e99dee32">Passwort</label>
				  <div class="control"><code dir="ltr" id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0036:3f7efe41" href="#" id="passwd_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></div>
				</div>
			</div>
		</article>
	  </div>
    </div>
  </div>
</div>
		
		<h2 data-tx="t0011:68345496">Melde Dich an Deiner FRITZ!Box an</h2>
		
		<p data-tx="t0012:2354f60">
			Damit das funktioniert, muss Du Dich zuhause in deinem WLAN befinden, oder Dein Computer muss 
			direkt mit der FRITZ!Box über Kabel verbunden sein. Die FRITZ!Box fragt Dich als erstes nach 
			Deinem Passwort. Wenn Du Dich noch nie angemeldet hattest, dann findest Du dieses Passwort auf der 
			Unterseite des Gerätes.
		</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">An FRITZ!Box anmelden</button>
			</a>
		  </div>
		</div>
		
		<h2 data-tx="t0014:1462db79">Erstelle ein neues Telefonbuch "Blocklist"</h2>
		
		<p data-tx="t0015:60de307b">
			Damit Deine FRITZ!Box Spam-Anrufe blockieren kann, benötigt sie ein eigenes Telefonbuch, in das 
			alle Nummern von unerwünschten Anrufern eingetragen werden. Nenne Dieses Telefonbuch "Blocklist". 
			Hierfür
		</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">Navigiere zuerst in die Rubrik "Telefonie", </li>
			<li data-tx="t0017:bf3c833">wähle den Menüpunkt "Telefonbuch" aus und</li>
			<li data-tx="t0018:9545daeb">klicke dann auf den Link "Neues Telefonbuch".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Anrufliste der Fritz!Box" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0019:1d99d84a">Trage die Anmeldedaten deines PhoneBlock-Accounts ein</h2>
		
		<p data-tx="t0020:9d799fdb">
			Jetzt benötigst Du die Anmelde-Daten Deines PhoneBlock-Accounts. 
		</p>

		<ul>
			<li data-tx="t0021:4fe53af5">
				<span class="tag is-danger">1</span> 
				gib dem Telefonbuch, das als Sperrliste dienen soll, den Namen <code dir="ltr">Blocklist</code>. Du benötigst diesen 
				Namen nochmals für den nächsten Schritt.
			</li>

			<li data-tx="t0022:fceb3cd7">
				Wähle jetzt <span class="tag is-danger">2</span> die Option 
				<i>Telefonbuch eines Online-Anbieters nutzen</i> aus.
			</li>

			<li data-tx="t0023:1f3cec2">
				Dann kannst Du <span class="tag is-danger">3</span>
				den Anbieter <i>CardDAV-Anbieter</i> wählen.
			</li>

			<li>
				<div data-tx="t0045:bf8e4ca8">Fast geschafft, jetzt kommen die Anmeldedaten <span class="tag is-danger">4</span>. Am besten Du überträgst sie mit Cut&amp;Paste, um Tippfehler zu vermeiden!</div>
				
				<ul>
					<li>
						<span data-tx="t0046:73e19fbb">Trage die URL von des PhoneBlock-Adressbuchs in das Feld <i>Internetadresse des CardDAV-Servers</i> ein:</span>
						<code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a>
					</li>

					<li data-tx="t0047:d95b548">
						Trage den Benutzernamen <th:block th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>, den Du bei der
						<a th:href="@{/login(location='/settings')}">Registrierung</a> erhalten hast, in das Feld 
						<i>Benutzername</i> ein. 
					</li>

					<li data-tx="t0048:e8cdfbe5">
						Das Passwort<th:block th:unless="${token}">, 
						das Du bei der <a th:href="@{/login(location='/settings')}">Registrierung</a> erhalten 
						hast, </th:block><th:block th:if="${token}"> <code dir="ltr" id="passwd2" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a>,</th:block> muss Du jetzt noch in das Feld
						<i>Passwort</i> eintragen werden.
					</li>
				</ul>
			</li>

			<li data-tx="t0025:4dc0b0c8">
				Jetzt kannst Du <span class="tag is-danger">5</span> die Anlage des neuen Telefonbuchs bestätigen. Bitte beachte: Wähle <b>keines Deiner Telefone</b> 
				bei dem Punkt "Telefon-Zuordnung" aus! Ansonsten findest Du auf Deinem Telefon nur noch SPAM-Anrufer in den Kontakten.  
			</li>
		</ul>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Neues Adressbuch anlegen" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0026:688d3d5a">Prüfe ob Deine "Blocklist" angelegt wurde</h2>
		
		<p data-tx="t0027:6bd9c881">
			Wenn alles geklappt hat, dann hat Deine FRITZ!Box alle Nummer aus der PhoneBlock-Sperrliste geladen. 
			Du müsstest jetzt ein neues Telefonbuch "Blocklist" in der Rubrik "Telefonie / Telefonbuch" haben. 
			Wenn Du den Reiter "Blocklist" auswählst, kannst Du alle Nummern von aktuellen Spam-Anrufern sehen.
		</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Abgerufene Blocklist anzeigen" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0028:7a66db10">Lass die FRITZ!Box Anrufe aus der "Blocklist" abweisen</h2>
		
		<p data-tx="t0029:ffbbaf55">
			In der Rubrik "Telefonie / Rufbehandlung" kannst Du jetzt das neue Telefonbuch "Blocklist" als zu
			sperrenden Rufnummernbereich festlegen. 
		</p>			
		
		<p data-tx="t0030:2d9a1437">
			Scrolle nach unten bis zu dem Unterpunkt "Rufnummernbereiche sperren" und klicke den Knopf 
			"Bereich hinzufügen".
		</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Neue Rufsperre hinzufügen" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">
			In der neuen Maske, wähle die Option "Telefonbuch" in der Auswahl für "Bereich" und selektiere
			das neu angelegte Telefonbuch "Blocklist" als zu sperrendes "Telefonbuch".
		</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Anrufer mit Telefonnummer in der Blocklist sperren" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">
			Perfekt! Du hast die Einrichtung erledigt. Dein Telefon sollte jetzt deutlich weniger häufig wegen 
			eines unerwünschten Anrufers klingeln. Und wenn doch, dann kannst Du den 
			Störenfried ganz einfach für Dich und die ganze PhoneBlock-Community zum Schweigen bringen:
		</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">Rufnummer sperren</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>