<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5df14f18">Deine Zugangsdaten</h1>

		<form method="get" th:action="@{${location != null ? location : '/settings'}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0002:82b7babd">Dein PhoneBlock-Account wurde erfolgreich erstellt. Hier sind Deine Zugangsdaten.</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0003:f48153ce">Internetadresse des CardDAV-Servers</label>
			  <div class="control"><code dir="ltr" id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0009:3f7efe41" href="#" id="url_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">Benutzername</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0010:3f7efe41" href="#" id="login_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0005:bceeee4f">
			  	Diesen Wert musst du als Benutzernamen für den <a th:href="@{/setup}">Abruf der Blocklist</a> eintragen.
			  </p>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">Passwort</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0011:3f7efe41" href="#" id="passwd_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0007:b5380dd1">Dieses Passwort musst Du für die <a th:href="@{/setup}">Einrichtung des Telefonbuchs</a> oder für die Anmeldung an dieser Webseite verwenden. </p>
			  <p class="help" data-tx="t0008:90026712">
			  	Bitte notiere Dir das Passwort (oder speichere es am besten in einem <a href="https://keepass.info/">Passwort-Manager</a>),
			  	denn es wird nur solange angezeigt bis Du Dich abmeldest, oder Deine Sitzung abläuft.
			  </p>
			</div>
		  </div>
		</article>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0012:ad5e318d" type="submit">
		      Weiter
		    </button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>