<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.status.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001">Aktuelle Berichte über unerwünschte Anrufer</h1>
	
	<p data-tx="t0002">
		Unerwünschte Telefonanrufe kannst Du <em>automatisch blockieren</em>, wenn Du PhoneBlock installierst.
	</p>
	
		<div class="columns">
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/anrufbeantworter}">
			    <span class="icon">
					<img th:src="@{/assets/img/ab/logo/ab-logo-white.svg}"/>
			    </span>
				<span data-tx="t0003">Anrufbeantworter</span>			
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium is-info is-fullwidth|" th:href="@{/setup}">
			    <span class="icon">
					<i class="fa-solid fa-phone"></i>
			    </span>
				<span data-tx="t0004">Fritz!Box Telefonbuch</span>			
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${android ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-android}">
			    <span class="icon">
					<i class="fa-solid fa-mobile-screen"></i>
			    </span>
				<span data-tx="t0005">Für Android</span>
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${iphone ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-iphone}">
			    <span class="icon">
					<i class="fa-brands fa-apple"></i>
			    </span>
				<span data-tx="t0006">Für iPhone</span>
			</a>
		  </div>
		</div>

	<p data-tx="t0007">
		Mit PhoneBlock bleibt bei solchen Anrufen Dein Telefon stumm. Täglich kommen mehrere Nummern dazu. 
		Teile die <a th:href="@{/}">PhoneBlock-Seite</a> z.B. auf FaceBook, damit möglichst viele mitmachen und so der Telefonterror endet.
	</p>
	
	<th:block th:if="${searches.size &gt; 0}">
		<h2 data-tx="t0008">Aktuelle Suchanfragen</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0009">Rufnummer</th>
					<th data-tx="t0010" title="Anzahl an Suchanfragen nach dieser Nummer seit gestern">Heute und gestern</th>
					<th data-tx="t0011" title="Insgesammt gestellte Suchanfragen nach dieser Nummer">Gesamt</th>
					<th data-tx="t0012">Letzte Anfrage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${searches}">
					<td>
						<a data-onclick="showNumber" data-tx="t0013" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${#converters.analyze(report.phone).shortcut}"></th:block></a>
					</td>
					
					<td th:text="${report.count}"></td>
					<td th:text="${report.total}"></td>
					<td th:text="${report.lastSearch &gt; 0 ? #dates.format(#converters.fromEpoch(report.lastSearch)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${reports.size &gt; 0}">
		<h2 data-tx="t0014">Spam-Reports der letzten Stunde</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0015">Rufnummer</th>
					<th data-tx="t0016" title="Je größer die Zahl, desto sicherer ist PhoneBlock, dass die Rufnummer ein Quelle von unerwünschten Anrufen ist.">Konfidenz</th>
					<th data-tx="t0017">Berichtet</th>
					<th data-tx="t0018" title="Datum, ab dem die Nummer zum ersten Mal berichtet wurde.">Aktiv seit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${reports}">
					<td>
						<a data-onclick="showNumber" data-tx="t0019" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${#converters.analyze(report.phone).shortcut}"></th:block></a>
					</td>
					
					<td th:text="${report.votes}"></td>
					<td data-tx="t0020">
						<th:block th:text="${(now - report.updated) / 1000 / 60}"></th:block> minutes ago
					</td>
					
					<td th:text="${report.added &gt; 0 ? #dates.format(#converters.fromEpoch(report.added)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${newlyBlocked.size &gt; 0}">
		<h2 data-tx="t0021">Neuste Einträge in der Block-List</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0022">Rufnummer</th>
					<th data-tx="t0023" title="Je größer die Zahl, desto sicherer ist PhoneBlock, dass die Rufnummer ein Quelle von unerwünschten Anrufen ist.">Konfidenz</th>
					<th data-tx="t0024">Letze Beschwerde</th>
					<th data-tx="t0025" title="Datum, ab dem die Nummer zum ersten Mal berichtet wurde.">Aktiv seit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${newlyBlocked}">
					<td>
						<a data-onclick="showNumber" data-tx="t0026" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${#converters.analyze(report.phone).shortcut}"></th:block></a>
					</td>
					
					<td th:text="${report.votes}"></td>
					<td th:text="${#dates.format(#converters.fromEpoch(report.updated))}"></td>
					<td th:text="${report.added &gt; 0 ? #dates.format(#converters.fromEpoch(report.added)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${topSpammers.size &gt; 0}">
		<h2 data-tx="t0027">Aktuelle Top-Spammer</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0028">Rufnummer</th>
					<th data-tx="t0029" title="Je größer die Zahl, desto sicherer ist PhoneBlock, dass die Rufnummer ein Quelle von unerwünschten Anrufen ist.">Konfidenz</th>
					<th data-tx="t0030">Letze Beschwerde</th>
					<th data-tx="t0031" title="Datum, ab dem die Nummer zum ersten Mal berichtet wurde.">Aktiv seit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${topSpammers}">
					<td>
						<a data-onclick="showNumber" data-tx="t0032" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${#converters.analyze(report.phone).shortcut}"></th:block></a>
					</td>
					
					<td th:text="${report.votes}"></td>
					<td th:text="${#dates.format(#converters.fromEpoch(report.updated))}"></td>
					<td th:text="${report.added &gt; 0 ? #dates.format(#converters.fromEpoch(report.added)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${topSearches.size &gt; 0}">
		<h2 data-tx="t0033">Meistgesuchte Nummern</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0034">Rufnummer</th>
					<th data-tx="t0035" title="Anzahl an Suchanfragen nach dieser Nummer">Suchanfragen</th>
					<th data-tx="t0036" title="Anzahl der SPAM-Votes for diese Nummer">Votes</th>
					<th data-tx="t0037">Letzte Anfrage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${topSearches}">
					<td>
						<a data-onclick="showNumber" data-tx="t0038" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${#converters.analyze(report.phone).shortcut}"></th:block></a>
					</td>
					
					<td th:text="${report.searches}"></td>
					<td th:text="${report.votes}"></td>
					<td th:text="${report.lastSearch &gt; 0 ? #dates.format(#converters.fromEpoch(report.lastSearch)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<h2 data-tx="t0039">PhoneBlock-Datenbank</h2>

	<p data-tx="t0040">
		Bekannte SPAM-Nummern: 
		<th:block th:text="${statistics['02-blocked']}"></th:block> aktive Nummern auf der Blocklist, <th:block th:text="${statistics['01-reported']}"></th:block> Nummern mit Beschwerden. 
		Insgesamt <th:block th:text="${status.totalVotes}"></th:block> User-Reports, <th:block th:text="${status.archivedReports}"></th:block> inaktive Nummern mit Spam-Verdacht.
	</p>
</div>

</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>