<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">

<div th:replace="~{../fragments/mobile :: header}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001">Fullfør lenken</h1>

<p data-tx="t0002">Hvis du ser denne siden, har ikke nettleseren din videresendt lenken til PhoneBlock-appen din. Du må gjøre dette manuelt ved å åpne denne siden "i appen". Åpne menyen nederst:</p>

<img alt="Åpne menyen" data-tx="t0003" th:src="@{/assets/img/mobile/connect-1.png}"/>
	
<p data-tx="t0004">Og velg alternativet "Åpne med app":</p>

<img alt="Alternativet &quot;Åpne med app" data-tx="t0005" th:src="@{/assets/img/mobile/connect-2.png}"/>

<p data-tx="t0006">Ditt autorisasjonstoken: <code id="loginToken" th:text="${loginToken}"></code><a class="copyToClipboard" data-tx="t0007" id="loginToken_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></p>

</div>
</section>

<div th:replace="~{../fragments/mobile :: footer}"></div>

</body>
</html>