<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Android-Installation</h1>
		
		<h2 data-tx="t0002">Fertig, die Blocklist ist in Deinen Kontakten eingetragen</h2>
		
		<p data-tx="t0003">
			Öffne Deine Kontakte. Unter dem Buchstaben "S" hast Du eine lange Liste von Spam-Nummern, bei denen Du besser nicht 
			rangehst und nicht zurückrufst.
		</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Konto ist eingerichtet" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/11-spam-contacts.png}"></img>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/09-people-sync-account-finished}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Zurück</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/status}">
		    <span data-tx="t0005">Fertig</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>