<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">安装安卓系统</h1>
		
		<h2 data-tx="t0002">步骤 3：设置 PeopleSync 授权</h2>
		
		<p data-tx="t0003">PeopleSync 需要一些授权才能正常同步和自动更新拦截列表。</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="授权" class="image appscreen" data-tx="t0006" th:src="@{/assets/img/peoplesync/05-people-sync-accept.png}"/>
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="同步间隔" class="image appscreen" data-tx="t0007" th:src="@{/assets/img/peoplesync/06-people-sync-sync.png}"/>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/03-people-sync-install}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">返回</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/07-people-sync-add}">
		    <span data-tx="t0005">更多</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>