<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">安装安卓系统</h1>
		
		<h2 data-tx="t0002">完成，阻止列表已输入通讯录</h2>
		
		<p data-tx="t0003">打开通讯录。在字母 "S "下面，你会发现一长串垃圾号码，这些号码都是你不应该接听或回拨的。</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="账户已设立" class="image appscreen" data-tx="t0006" th:src="@{/assets/img/peoplesync/11-spam-contacts.png}"/>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/09-people-sync-account-finished}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">返回</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/status}">
		    <span data-tx="t0005">完成</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>