<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">حظر الهاتف: جهاز الرد الآلي مغلق</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="شعار فون بلوك" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">مرحباً {الاسم},</h2>

<p data-tx="t0004">لقد قمت بتسجيل جهاز رد آلي مع <a href="{home}">حظر الهاتف</a>.</p>

<p data-tx="t0005">اسم مستخدم PhoneBlock الخاص بك: <code>{اسم المستخدم}<br/></code></p>

<p data-tx="t0006">يرجى <a href="{app}"> التحقق من إعداداتك ، وإلا ستتلقى مكالمات غير مرغوب فيها.</a></p>

<p data-tx="t0007">مع أطيب التحيات</p>

<p data-tx="t0008">برنهارد هاوماخر</p>

<p data-tx="t0009" style="color: gray;">--<br/></p>

</body>
</html>