<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:1733978d">تأكيد تغيير البريد الإلكتروني الخاص ب PhoneBlock عبر الهاتف</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="شعار فون بلوك" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">مرحباً {الاسم},</h2>

<p data-tx="t0004:496fe8b0">لقد قمت بإرسال طلب لتغيير عنوان بريدك الإلكتروني لحسابك على <i> فون بلوك</i>.
لتأكيد التغيير، يرجى إدخال الرمز التالي في قناع التأكيد المفتوح حاليًا في متصفحك
مفتوح في متصفحك</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005:cb2ec23c">إذا لم تكن قد قدمت هذا الطلب، يمكنك تجاهل هذا البريد الإلكتروني و
لن يتم تغيير عنوان بريدك الإلكتروني.</p>

<p data-tx="t0006:ed88831e">شكرًا جزيلاً لك، <br/>
الخادم الخاص بك <i>خادمك </i></p>

</body>
</html>