<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">

<div th:replace="~{../fragments/mobile :: header}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001:1bd232b9">Sfinalizuj połączenie</h1>

<p data-tx="t0002:73beecd2">Jeśli widzisz tę stronę, oznacza to, że Twoja przeglądarka nie przekazała linku do aplikacji PhoneBlock. Musisz to zrobić ręcznie, otwierając tę stronę "w aplikacji". Otwórz menu na dole:</p>

<img alt="Otwórz menu" data-tx="t0003:4910225c" th:src="@{/assets/img/mobile/connect-1.png}"/>
	
<p data-tx="t0004:2210ca0d">I wybierz opcję "Otwórz za pomocą aplikacji":</p>

<img alt="Opcja &quot;Otwórz za pomocą aplikacji" data-tx="t0005:7971c7c3" th:src="@{/assets/img/mobile/connect-2.png}"/>

<p data-tx="t0006:4da0a1ad">Twój token autoryzacji: <code id="loginToken" th:text="${loginToken}"></code><a class="copyToClipboard" data-tx="t0007:3f7efe41" id="loginToken_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a></p>

</div>
</section>

<div th:replace="~{../fragments/mobile :: footer}"></div>

</body>
</html>