<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:1733978d">Potwierdzenie zmiany adresu e-mail w usłudze PhoneBlock</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">Witaj {imię},</h2>

<p data-tx="t0004:496fe8b0">Złożono wniosek o zmianę adresu e-mail dla konta <i>PhoneBlock</i>.
Aby potwierdzić zmianę, wprowadź następujący kod w masce potwierdzenia, która jest obecnie otwarta w przeglądarce
otwarty w przeglądarce:</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005:cb2ec23c">Jeśli nie złożyłeś takiego wniosku, możesz zignorować tę wiadomość e-mail.
Twój adres e-mail nie zostanie zmieniony.</p>

<p data-tx="t0006:ed88831e">Dziękuję bardzo,<br/>
Twój serwer <i>PhoneBlock</i></p>

</body>
</html>