<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock: Pomoc w konfiguracji</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">Witaj {imię},</h2>

<p data-tx="t0004">Jesteś zalogowany do <a href="{home}">PhoneBlock</a>. Jednak pobieranie listy bloków</p>

<p data-tx="t0005">Nazwa użytkownika PhoneBlock: <code>{userName}</code><br/>.</p>

<p data-tx="t0006">Wyjaśniam również instalację w tym filmie na YouTube <a href="{help}">{help}</a> - być może</p>

<p data-tx="t0007">Z wyrazami szacunku</p>

<p data-tx="t0008">Bernhard Haumacher</p>

<p data-tx="t0009" style="color: gray;">--<br/></p>

</body>
</html>