<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001">Witaj {nazwa},<img align="right" alt="Logo PhoneBlock" data-tx="t0002" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003">Bardzo dziękuję za {attribute} darowiznę na rzecz projektu PhoneBlock! Mam nadzieję, że pomoże on znacznie ograniczyć liczbę niechcianych połączeń.</p>

	<p data-tx="t0004">A jeśli kolejny niechciany rozmówca prześlizgnie się przez sieć, nie zapomnij oznaczyć go jako SPAM na stronie PhoneBlock. Jeśli wszyscy będą to robić konsekwentnie, każdy nowy numer SPAM zostanie natychmiast zablokowany.</p>

    <p data-tx="t0005">Z wyrazami szacunku</p>
    <p data-tx="t0006">Bernhard Haumacher</p>

<p data-tx="t0007" style="color: gray;">--<br/></p>

</body>
</html>