<!DOCTYPE html>
<html>
<head th:fragment="head">
<th:block th:fragment="headContent">
	<title th:text="${#messages.msg(titleKey)}"></title>
	
	<meta content="text/html;charset=utf-8" http-equiv="content-type"/>

	<meta http-equiv="content-language" th:content="${currentLang.tag}"/>
	<link rel="alternate" th:each="lang : ${languages}" th:href="|https://phoneblock.net${contextPath}${currentPage}?lang=${lang.tag}|" th:hreflang="${lang.tag}" th:unless="${lang == currentLang}"/>	
	
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<meta name="description" th:content="${#messages.msg(descriptionKey)}" th:if="${descriptionKey}"/>
	<meta name="keywords" th:content="${keywords}" th:if="${keywords}"/>
	<meta content="summary" name="twitter:card"/>
	<meta content="@bhaumacher" name="twitter:site"/>
	<meta content="@bhaumacher" name="twitter:creator"/>
	<meta name="twitter:image" th:content="@{/assets/img/app-preview.png}"/>
	
	<meta name="og:title" th:content="${#messages.msg(titleKey)}"/>
	<meta name="og:url" th:content="${canonical}"/>
	<link rel="canonical" th:href="${canonical}"/>
	<meta name="og:description" th:content="${#messages.msg(descriptionKey)}" th:if="${descriptionKey}"/>
	<meta name="og:image" th:content="@{/assets/img/app-preview.png}"/>
	<meta content="website" name="og:type"/>
	<meta content="de_DE" name="og:locale"/>
	<meta content="PhoneBlock" name="og:site_name"/>
	
	<link rel="stylesheet" th:href="|${contextPath}${deps.bulma}/css/bulma.min.css|"/>
	<link rel="stylesheet" th:href="|${contextPath}${deps.bulmaCollapsible}/css/bulma-collapsible.min.css|"/>
	<link rel="stylesheet" th:href="|${contextPath}${deps.bulmaCalendar}/dist/css/bulma-calendar.min.css|"/>
	<link rel="stylesheet" th:href="|${contextPath}${deps.fontawesome}/css/all.min.css|"/>
	<link rel="stylesheet" th:href="|${contextPath}${deps.flags}/css/flag-icons.min.css|"/>
	
	<link data-tx="t0042" href="https://news.phoneblock.net/feed" rel="alternate" title="PhoneBlock Updates" type="application/rss+xml"/>
	
	<link rel="stylesheet" th:href="@{/assets/css/phoneblock-style.css}"/>
	
	<script th:src="|${contextPath}${deps.jquery}/jquery.min.js|" type="text/javascript"></script>
	<script th:src="@{/assets/js/phoneblock.js(v=5)}" type="text/javascript"></script>
	<script th:src="|${contextPath}${deps.bulmaCollapsible}/js/bulma-collapsible.min.js|" type="text/javascript"></script>
	<script th:src="|${contextPath}${deps.bulmaCalendar}/dist/js/bulma-calendar.min.js|" type="text/javascript"></script>
</th:block>
</head>

<body th:dir="${currentLang.direction}">
<section class="hero is-small is-primary" th:fragment="header" th:unless="${inMobileApp}">
	<div class="hero-body">
		<div class="title">
			<img alt="PhoneBlock Logo" class="logo-image" data-tx="t0043" th:src="@{/assets/img/app-logo.svg}"/>
			<a data-tx="t0001" th:href="@{/}">PhoneBlock</a>
			
			<div class="dropdown is-hoverable">
			  <div class="dropdown-trigger">
			    <button aria-controls="dropdown-menu" aria-haspopup="true" class="button lang-select">
			      <span th:class="|fi fi-${currentLang.flag}|"></span>
			      <span class="icon is-small">
			        <i aria-hidden="true" class="fas fa-angle-down"></i>
			      </span>
			    </button>
			  </div>
			  <div class="dropdown-menu" dir="ltr" id="dropdown-menu" role="menu">
			    <div class="dropdown-content">
			      <a class="dropdown-item" th:each="lang : ${languages}" th:href="|?lang=${lang.tag}|"><span th:class="|fi fi-${lang.flag}|"></span> <span th:text="${lang.label}"></span></a>
			    </div>
			  </div>
			</div>			
		</div>
		<div class="subtitle" data-tx="t0002">The spam filter for your phone</div>
		<a target="_blank" th:href="@{/link/github}">
			<img alt="Fork me on GitHub" class="github-image ltr is-hidden-touch" data-tx="t0044" height="149" th:src="@{/assets/forkme.png}" width="149"/>
			<img alt="" class="github-image ltr is-hidden-desktop" data-tx="t0049" height="45" th:src="@{/assets/forkme.png}" width="45"/>
			<img alt="Fork me on GitHub" class="github-image rtl is-hidden-touch" data-tx="t0054" height="149" th:src="@{/assets/forkme_rtl.png}" width="149"/>
			<img alt="" class="github-image rtl is-hidden-desktop" data-tx="t0055" height="45" th:src="@{/assets/forkme_rtl.png}" width="45"/>
		</a>
	</div>
  <div class="hero-foot">
  <nav aria-label="main navigation" class="navbar" data-tx="t0056" role="navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
		<form enctype="application/x-www-form-urlencoded" method="post" th:action="@{/nums}">
		<div class="control has-icons-left has-icons-right">
		  <input class="input is-rounded" data-tx="t0045" name="num" placeholder="Check telephone number" type="tel"/>
		  <span class="icon is-small is-left">
		    <i class="fas fa-phone"></i>
		  </span>
		  <button class="icon is-small is-right is-clickable" type="submit">
		    <i class="fas fa-search"></i>
		  </button>
		</div>
		</form>
		</div>

		<a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navbarBasicExample" data-tx="t0057" role="button"> <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span>
		</a>
	</div>
	<div class="navbar-menu" id="navbarBasicExample">
		<div class="navbar-start">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link prevent-default" data-tx="t0003" href="#">Installation</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" data-tx="t0004" th:href="@{/anrufbeantworter}">Answering machine</a>
					<a class="navbar-item" data-tx="t0005" th:href="@{/setup}">Blocklist phonebook</a>
					<a class="navbar-item" data-tx="t0006" th:href="@{/setup-android}">Android</a>
					<a class="navbar-item" data-tx="t0007" th:href="@{/setup-iphone}">iPhone</a>
					<a class="navbar-item" data-tx="t0060" th:href="@{/setup-switchboard}">Telephone systems</a>
				</div>
			</div>

			<a class="navbar-item" data-tx="t0008" th:href="@{/faq}">FAQ</a>
			<a class="navbar-item" data-tx="t0009" th:href="@{/status}">Status</a>

			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link prevent-default" data-tx="t0010">More</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" data-tx="t0011" th:href="@{/support}">Donate to PhoneBlock</a>
					<hr class="navbar-divider"/>
					<a class="navbar-item" data-tx="t0012" th:href="@{/api}">API for developers</a>
					<a class="navbar-item" data-tx="t0013" target="_blank" th:href="@{/link/github}">GitHub Project</a>
					<a class="navbar-item" data-tx="t0014" th:href="@{/block}">Add call barring</a>
					
					<hr class="navbar-divider"/>
					<a class="navbar-item" data-tx="t0015" target="_blank" th:href="@{/link/new-issue}">Report error</a>
				</div>
			</div>
		</div>

		<div class="navbar-end">
			<a class="navbar-item" data-tx="t0046" target="_blank" th:href="@{/ab/}" title="Answerbot app">
				<img height="20px" th:src="@{/assets/img/ab/logo/ab-logo-appbar.svg}" width="20px"/>
		    </a>

			<a class="navbar-item" data-tx="t0047" href="https://news.phoneblock.net" target="_blank" title="To the news page">
				<img height="20px" th:src="@{/assets/no-facebook.svg}" width="20px"/>
		    </a>
      			
			<a class="navbar-item" data-tx="t0048" href="https://news.phoneblock.net/feed" target="_blank" title="RSS feed">
				<span class="icon">
			    	<i class="fa-solid fa-rss"></i>
		        </span>
		    </a>
      			
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-light" th:href="@{/login(location=${location})}" th:unless="${loggedIn}">
						<span class="icon">
							<i class="fa-solid fa-right-to-bracket"></i>
          				</span>
						<strong data-tx="t0016">Log in</strong>
					</a>
					<a class="button is-info" th:href="@{/settings}" th:if="${loggedIn}">
						<span class="icon">
							<i class="fa-solid fa-user"></i>
          				</span>
						<strong data-tx="t0017">Settings</strong>
					</a>
					<a class="button is-light" th:href="@{/logout(url=${contextPath + currentPage})}" th:if="${loggedIn}">
						<span class="icon">
							<i class="fa-solid fa-right-from-bracket"></i>
          				</span>
						<strong data-tx="t0018">Log out</strong>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
</div>  
</section>

<div class="columns" th:fragment="buttons">
  <div class="column is-one-fifth">
	<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/anrufbeantworter}">
	    <span class="icon">
			<img th:src="@{/assets/img/ab/logo/ab-logo-white.svg}"/>
	    </span>
		<span data-tx="t0061">Answering machine</span>			
	</a>
  </div>
  <div class="column is-one-fifth">
	<a th:class="|button is-medium is-info is-fullwidth|" th:href="@{/setup}">
	    <span class="icon">
			<i class="fa-solid fa-phone"></i>
	    </span>
		<span data-tx="t0062">Block list</span>			
	</a>
  </div>
  <div class="column is-one-fifth">
	<a th:class="|button is-medium ${android ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-android}">
	    <span class="icon">
			<i class="fa-solid fa-mobile-screen"></i>
	    </span>
		<span data-tx="t0063">Android</span>
	</a>
  </div>
  <div class="column is-one-fifth">
	<a th:class="|button is-medium ${iphone ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-iphone}">
	    <span class="icon">
			<i class="fa-brands fa-apple"></i>
	    </span>
		<span data-tx="t0064">iPhone</span>
	</a>
  </div>
  <div class="column is-one-fifth">
	<a class="button is-medium is-info is-fullwidth" th:href="@{/setup-switchboard}">
	    <span class="icon">
			<i class="fa-solid fa-asterisk"></i>
	    </span>
		<span data-tx="t0065">Telephone system</span>
	</a>
  </div>
</div>

<section class="section" th:fragment="actions">
	<div class="grid is-col-min-15" th:if="${android}">
		<div class="cell">
			<a class="card" th:href="@{/setup-android}">
			  <div class="card-content has-background-primary">
				<p class="title" data-tx="t0034">PhoneBlock for Android</p>
				<p class="subtitle" data-tx="t0035">Not installed yet? Then go for it!</p>
			  </div>
			</a>
		</div>
	
		<div class="cell">
			<a class="card" th:href="@{/anrufbeantworter}">
			  <div class="card-content has-background-info">
				<p class="title" data-tx="t0036">PhoneBlock for Fritz!Box</p>
				<p class="subtitle" data-tx="t0037">Switch off landline advertising calls!</p>
			  </div>
			</a>
		</div>
	</div>

	<div class="grid is-col-min-15" th:if="${iphone}">
		<div class="cell">
			<a class="card" th:href="@{/setup-ipone/}">
			  <div class="card-content has-background-primary">
				<p class="title" data-tx="t0038">PhoneBlock for iPhone</p>
				<p class="subtitle" data-tx="t0039">Not installed yet? Then go for it!</p>
			  </div>
			</a>
		</div>
	
		<div class="cell">
			<a class="card" th:href="@{/anrufbeantworter}">
			  <div class="card-content has-background-info">
				<p class="title" data-tx="t0040">PhoneBlock for Fritz!Box</p>
				<p class="subtitle" data-tx="t0041">Switch off landline advertising calls!</p>
			  </div>
			</a>
		</div>
	</div>

	<div class="grid is-col-min-15" th:if="${fritzbox}">
		<div class="cell">
			<a class="card" th:href="@{/anrufbeantworter}">
			  <div class="card-content has-background-primary">
				<p class="title" data-tx="t0050">PhoneBlock for Fritz!Box</p>
				<p class="subtitle" data-tx="t0051">Switch off landline advertising calls!</p>
			  </div>
			</a>
		</div>
	
		<div class="cell">
			<a class="card" th:href="@{/setup-android}">
			  <div class="card-content has-background-info">
				<p class="title" data-tx="t0052">PhoneBlock for Android</p>
				<p class="subtitle" data-tx="t0053">Not installed yet? Then go for it!</p>
			  </div>
			</a>
		</div>
	</div>
</section>


<th:block th:fragment="footer">

<th:block th:unless="${inMobileApp}">
<section class="section">
	<div class="content">
		<h2 data-tx="t0019">Get involved!</h2>

		<p data-tx="t0020">If you like PhoneBlock, please help spread the word and share it with your friends. The more people who take part, the less chance there is that you will still receive an advertising call!</p>
	</div>
</section>

<footer class="footer">
	<div class="content has-text-centered">
		<p data-tx="t0021"><strong th:text="|PhoneBlock ${props.project.version}|" th:title="${props.maven.build.timestamp}"></strong> © 2025 by <a href="https://haumacher.de" target="_blank">Bernhard Haumacher</a>. The source code is licensed under <a href="https://opensource.org/licenses/GPL-3.0" target="_blank">GPL-3.0</a>. The website content is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY NC SA 4.0</a>.</p>

		<p data-tx="t0022"><strong>FRITZ!Box</strong> and <strong>FRITZ!OS</strong> are registered trademarks of <a target="_blank" th:href="@{/link/avm}">AVM</a>. <strong>PhoneBlock</strong> has no relation to this.</p>

		<p>
			<strong><a data-tx="t0023" th:href="@{/datenschutz}">Data protection - no tracking, no advertising, no cookies</a></strong><br/>
			<th:block th:unless="${#strings.equals(currentLang.tag, 'de')}">
			<strong><a data-tx="t0058" th:href="@{link/deepl}">Translations from deepl.com, thank you!</a></strong><br/>
			<strong><a data-tx="t0059" th:href="|${contextPath}/link/translations${template}|">Edit translations of this page</a></strong><br/>
			</th:block>
			<strong><a data-tx="t0024" th:href="@{/usage}">Terms of use</a></strong><br/>
			<strong><a data-tx="t0025" th:href="@{/impressum}">Imprint</a></strong>
		</p>
	</div>
</footer>
</th:block>

<div th:fragment="mobileUsageNav">
	<h2 class="mt-5" data-tx="t9001">Further functions</h2>
	<div class="buttons">
		<a class="button is-link" th:href="@{/usage-view-calls}">
			<span class="icon">
				<i class="fas fa-phone"></i>
			</span>
			<span data-tx="t9002">View call history</span>
		</a>
		<a class="button is-link" th:href="@{/usage-report-spam}">
			<span class="icon">
				<i class="fas fa-flag"></i>
			</span>
			<span data-tx="t9003">Report SPAM numbers</span>
		</a>
		<a class="button is-link" th:href="@{/usage-manage-lists}">
			<span class="icon">
				<i class="fas fa-list"></i>
			</span>
			<span data-tx="t9004">Manage blacklist/whitelist</span>
		</a>
		<a class="button is-link" th:href="@{/usage-search}">
			<span class="icon">
				<i class="fas fa-search"></i>
			</span>
			<span data-tx="t9005">Search by number</span>
		</a>
	</div>

	<div class="buttons mt-3">
		<a class="button" th:href="@{/setup-android}">
			<span class="icon">
				<i class="fas fa-arrow-left"></i>
			</span>
			<span data-tx="t9006">Back to the installation</span>
		</a>
	</div>
</div>

<script th:src="@{/assets/js/bulma.js}" type="text/javascript"></script>
</th:block>

</body>
</html>