<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:1733978d">PhoneBlock 电子邮件变更确认</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock 徽标" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">你好{name}、</h2>

<p data-tx="t0004:496fe8b0">您已提交更改 <i>PhoneBlock</i> 帐户电子邮件地址的请求。
要确认更改，请在浏览器中打开的确认掩码中输入以下代码
在浏览器中打开：</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005:cb2ec23c">如果您没有提出此要求，您可以忽略此电子邮件，并且
您的电子邮件地址不会被更改。</p>

<p data-tx="t0006:ed88831e">非常感谢，<br/>&lt;/x1
您的<i>PhoneBlock</i>服务器</p>

</body>
</html>