<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock: 帮助设置</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock 徽标" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">你好{name}、</h2>

<p data-tx="t0004">您已登录<a href="{home}">PhoneBlock</a>。但是，检索拦截列表</p>

<p data-tx="t0005">您的 PhoneBlock 用户名： <code>{userName}</code><br/></p>

<p data-tx="t0006">我还在这段 YouTube 视频 <a href="{help}">{help}</a> 中介绍了安装方法，也许会有帮助。</p>

<p data-tx="t0007">致以最诚挚的问候</p>

<p data-tx="t0008">伯恩哈德-豪马赫</p>

<p data-tx="t0009" style="color: gray;">--<br/></p>

</body>
</html>