<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:8eacd512">PhoneBlock: 帮助设置</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock 徽标" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">你好{name}、</h2>

<p data-tx="t0004:72d2e942">您已登录<a href="{home}">PhoneBlock</a>。但是，检索拦截列表</p>

<p data-tx="t0005:1eb9427b">您的 PhoneBlock 用户名： <code>{userName}</code><br/><code></code></p>

<p data-tx="t0006:19eaeef4">我还在这段 YouTube 视频 <a href="{help}">{help}</a> 中介绍了安装方法，也许会有帮助。</p>

<p data-tx="t0007:284b3eac">致以最诚挚的问候</p>

<p data-tx="t0008:70c6d927">伯恩哈德-豪马赫</p>

<p data-tx="t0009:cb09622c" style="color: gray;">--<br/>
主页：<a href="{home}">{首页}</a><br/>&lt;/x3
捐款： <a href="{support}">{support}</a><br/>
设置：<a href="{settings}">{settings}</a><br/>&lt;/x7
应答机：<a href="{app}">{app}</a><br/>&lt;/x9
视频教程：<a href="{help}">{help}</a><br/>&lt;/x11
脸书：<a href="{facebook}">{facebook}</a><br/>
联系方式：<a href="mailto:{mail}">{电子邮件}</a><br/>&lt;/x15</p>

</body>
</html>