<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock 登录代码</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock 徽标" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">你好{name}、</h2>

<p data-tx="t0004">这是您的 <i>PhoneBlock</i> 账户的登录代码。验证您的电子邮件地址、</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005">如果您不想注册 <i>PhoneBlock</i>，可以放心地忽略这封邮件。</p>

<p data-tx="t0006">感谢您关注 <i>PhoneBlock</i>!</p>

</body>
</html>