<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001">你好，{姓名}，<img align="right" alt="PhoneBlock 徽标" data-tx="t0002" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003">非常感谢您对 PhoneBlock 项目的 {attribute} 捐助！我希望它能帮助您大大减少不必要的电话。</p>

	<p data-tx="t0004">如果又有未经请求的来电漏网，请不要忘记在 PhoneBlock 网站上将其标记为垃圾邮件。如果每个人都坚持这样做，每一个新的垃圾邮件号码都会立即再次被拦截。</p>

    <p data-tx="t0005">致以最诚挚的问候</p>
    <p data-tx="t0006">伯恩哈德-豪马赫</p>

<p data-tx="t0007" style="color: gray;">--<br/></p>

</body>
</html>