<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001:cee289b8">你好，{姓名}，<img align="right" alt="PhoneBlock 徽标" data-tx="t0002:5b0e8765" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003:a8d0d40f">非常感谢您对 PhoneBlock 项目的 {attribute} 捐助！我希望它能帮助您大大减少不必要的电话。</p>

	<p data-tx="t0004:b088fcbb">如果又有未经请求的来电漏网，请不要忘记在 PhoneBlock 网站上将其标记为垃圾邮件。如果每个人都坚持这样做，每一个新的垃圾邮件号码都会立即再次被拦截。</p>

    <p data-tx="t0005:dfdaf9d7">致以最诚挚的问候</p>
    <p data-tx="t0006:70c6d927">伯恩哈德-豪马赫</p>

<p data-tx="t0007:d3aaad68" style="color: gray;">--<br/>
主页：<a href="{home}">{首页}</a><br/>&lt;/x3
捐款：<a href="{support}">{support}</a><br/>&lt;/x5
设置：<a href="{settings}">{settings}</a><br/>&lt;/x7
视频教程：<a href="{help}">{help}</a><br/>&lt;/x9
Facebook：<a href="{facebook}">{facebook}</a><br/>
联系方式：<a href="mailto:{mail}">{电子邮件}</a><br/>&lt;/x13</p>

</body>
</html>