<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Встановлення Android</h1>
		
		<h2 data-tx="t0002">Крок 3: Налаштуйте авторизації PeopleSync</h2>
		
		<p data-tx="t0003">PeopleSync вимагає ряд авторизацій для того, щоб синхронізація та автоматичне оновлення списку блоків працювали належним чином.</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Дозволи" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/05-people-sync-accept.png}">Встановлення Android</img>
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="Інтервали синхронізації" class="image appscreen" data-tx="t0002" th:src="@{/assets/img/peoplesync/06-people-sync-sync.png}">Крок 3: Налаштуйте авторизації PeopleSync</img>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/03-people-sync-install}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Назад</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/07-people-sync-add}">
		    <span data-tx="t0005">Далі</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>