<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.datenschutz.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001">Polityka prywatności</h1>

			<h2 data-tx="t0002">Adres IP</h2>
			<p data-tx="t0003">Podczas wizyty na tej stronie adres IP komputera jest tymczasowo przechowywany w pliku dziennika do celów analizy błędów i automatycznie usuwany po 14 dniach. Bez rejestracji, ta strona nie zbiera żadnych danych osobowych od odwiedzających i nie zawiera reklam ani trackerów stron trzecich.</p>

			<h2 data-tx="t0004">e-mail</h2>
			<p data-tx="t0005">Podczas rejestracji konta PhoneBlock podany adres e-mail będzie przechowywany w celu uwierzytelnienia użytkownika. Adres e-mail nie będzie przekazywany osobom trzecim. Wiadomości e-mail będą wysyłane na podany adres wyłącznie w celu uwierzytelnienia lub obsługi PhoneBlock.</p>

			<h2 data-tx="t0006">Pliki cookie</h2>
			<p data-tx="t0007">Niezbędny technicznie sesyjny plik cookie jest ustawiany podczas niektórych interakcji z witryną PhoneBlock, np. podczas rejestracji i oceny numerów telefonów.</p>
			<p data-tx="t0008">Jeśli podczas logowania aktywujesz funkcję "Zaloguj mnie na tym urządzeniu", PhoneBlock ustawi trwały plik cookie, za pomocą którego witryna rozpozna Cię podczas następnej wizyty, dzięki czemu zostaniesz automatycznie zalogowany bez konieczności ponownego wprowadzania hasła lub powtarzania procesu logowania Google. Jeśli klikniesz przycisk "Wyloguj", ten plik cookie zostanie usunięty i będziesz musiał zalogować się ponownie przy następnej wizycie.</p>

			<h2 data-tx="t0009">Usuwanie konta</h2>
			<p data-tx="t0010">Konto PhoneBlock można usunąć w dowolnym momencie w <a th:href="@{/settings/}">ustawieniach</a>. Usunięcie konta spowoduje usunięcie danych przechowywanych w usłudze PhoneBlock.</p>
			
			<h2 data-tx="t0011">Numery telefonów</h2>
			<p data-tx="t0012">Jeśli Twój numer telefonu został dodany do listy zablokowanych przez pomyłkę, możesz oczywiście poprosić o jego usunięcie. Napisz e-mail do <code>Bernhard Haumacher <button class="button is-small is-link is-light showaddr">...</button></code>.</p>

			<h2 data-tx="t0013">Automatyczna sekretarka</h2>
			<p data-tx="t0014">Podczas korzystania z automatycznej sekretarki <a th:href="@{/anrufbeantworter}">PhoneBlock</a>, PhoneBlock musi na stałe zapisać adres IP Fritz!Box, aby zarejestrować tam automatyczną sekretarkę i utrzymać rejestrację. W tym celu należy zapisać nazwę hosta urządzenia Fritz!Box lub zainstalować usługę DynDNS firmy PhoneBlock w urządzeniu Fritz!Box</p>
			
			<p data-tx="t0015">Połączenia przychodzące do urządzenia Fritz!Box są wyświetlane na zarejestrowanej automatycznej sekretarce. Numer telefonu osoby dzwoniącej jest przesyłany do automatycznej sekretarki PhoneBlock. Ten numer telefonu jest używany do porównania go z bazą danych numerów telefonów SPAM. Tylko jeśli numer telefonu znajduje się w bazie danych SPAM, automatyczna sekretarka przyjmie połączenie i zapisze je na liście połączeń automatycznej sekretarki. We wszystkich innych przypadkach żadne dane o połączeniu nie zostaną zapisane w PhoneBlock.</p>
			
		</div>
	</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>