<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001:e67c7b43">Musisz się zalogować.</h1>

			<p data-tx="t0002:b48b86e6">Aby wyświetlić żądaną stronę, należy <a th:href="@{/login}">zalogować się</a> do PhoneBlock.</p>
		</div>
	</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>