<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Nie znaleziono skrzynki Fritz!Box</h1>

		<p data-tx="t0002">Wyszukiwanie nie znalazło Fritza! Powodów może być kilka.</p>
		
		<ul>
			<li data-tx="t0003">Nie jesteś zalogowany do sieci WLAN, czy "dane mobilne" są aktywne?</li>
			<li data-tx="t0004">Twój Fritz!Box nie ma standardowej konfiguracji z nazwą <code>fritz.box</code> i adresem <code>192.168.178.1</code>?</li>
			<li data-tx="t0005">Masz inny router internetowy. Może może również działać z PhoneBlock, sprawdź <a th:href="@{/faq}">FAQ</a>!</li>
		</ul>
	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>