<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:78f11aec">Instalacja w systemach telefonicznych</h1>
		
		<p data-tx="t0002:f5752a3f">PhoneBlock może być również zintegrowany z systemami telefonicznymi. Ponieważ system telefoniczny jest zwykle używany do celów biznesowych, należy zwrócić uwagę na <a th:href="@{/usage}">Uwagi dotyczące komercyjnego wykorzystania</a> PhoneBlock, w szczególności na wyłączenie odpowiedzialności. Skrypty do integracji systemu telefonicznego są wkładem społeczności PhoneBlock. Jeśli więc masz jakiekolwiek pytania/problemy z nimi, skontaktuj się bezpośrednio z odpowiednim deweloperem.</p>
		
		<h2 data-tx="t0003:d214c60">3CX</h2>
		
		<p data-tx="t0004:f7cf2141">Aby użyć PhoneBlock w systemie telefonicznym <a href="https://www.3cx.com/">3CX</a>, zapoznaj się z projektem <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a>.</p>
		
		<h2 data-tx="t0005:cf48ad92">Inne</h2>
		
		<p data-tx="t0006:20abbcfa">Napisałeś integrację dla innego systemu telefonicznego? Daj znać <a th:href="@{/impressum}">mnie</a>, abym mógł umieścić link do Twojego projektu.</p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>