<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">Instalacja jako książka telefoniczna</h1>

<p data-tx="t0002:10d70c8f">Aby zainstalować listę blokad, potrzebny jest router internetowy <a th:href="@{/link/fritzbox}">"FRITZ!Box" firmy AVM</a> i konto PhoneBlock. Nie musi to być najnowszy model, ale należy sprawdzić, czy jest na nim zainstalowany najnowszy FRITZ!OS (07.29 lub nowszy). Jeśli tak nie jest, skorzystaj z poniższych instrukcji instalacji, aby sprawdzić, czy Twoja wersja oferuje już niezbędne opcje.</p>

<p data-tx="t0003:d62d702f">Uwaga: Ze względu na ograniczenia techniczne Fritz!Box, cała lista blokad nie może zostać załadowana do książki telefonicznej. Dlatego skonfigurowanie automatycznej sekretarki <a th:href="@{/anrufbeantworter}">PhoneBlock</a> zapewnia lepszą ochronę przed połączeniami SPAM.</p>

<p data-tx="t0052:818cc317">Wykonaj poniższe kroki, aby skonfigurować listę bloków:</p>

<ol>
	<li><a data-tx="t0053:5cb36b90" href="#register">Zarejestruj się w PhoneBlock</a> <span class="tag is-success" data-tx="t0054:3378b39d" th:if="${userName}">Gotowe</span></li>
	<li><a data-tx="t0055:d44f7d1" href="#fritzbox">Zaloguj się do FRITZ!Box</a></li>
	<li><a data-tx="t0056:d6fa7b4e" href="#phonebook">Utwórz nową książkę telefoniczną "Blocklist"</a></li>
	<li><a data-tx="t0070:958ad5cf" href="#create-token">Generowanie tokena CardDAV</a> <span class="tag is-success" data-tx="t0058:3378b39d" th:if="${cardDavToken}">Gotowe</span></li>
	<li><a data-tx="t0071:9e1ea08e" href="#credentials">Wprowadź dane logowania do Fritz!Box</a></li>
	<li><a data-tx="t0059:4f985acc" href="#verify">Sprawdź instalację</a></li>
	<li><a data-tx="t0060:91946e2c" href="#block">Aktywacja blokowania połączeń</a></li>
</ol>

<h2 data-tx="t0061:e8d5bb12" id="register">Krok 1: Rejestracja w PhoneBlock</h2>

<p data-tx="t0062:fffc269" th:unless="${userName}">Po pierwsze, musisz zarejestrować się lub zalogować do PhoneBlock, aby rozpocząć konfigurację.</p>

<div class="columns" th:unless="${userName}">
  <div class="column is-half is-offset-one-quarter">
	<a th:href="@{/login(location='/setup#register')}">
		<button class="button is-medium is-info is-fullwidth">
			<span class="icon">
				<i class="fa-solid fa-right-to-bracket"></i>
			</span>
			<span data-tx="t0063:1dc205">Zaloguj się</span>
		</button>
	</a>
  </div>
</div>
<p data-tx="t0064:c41dd734" th:if="${userName}"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Jesteś zalogowany jako <code dir="ltr" th:text="${userName}"></code>, świetnie! Przejdź do następnego kroku.</p>
		
		<h2 data-tx="t0065:8bf85697" id="fritzbox">Krok 2: Zaloguj się do FRITZ!Box</h2>

		<p data-tx="t0012:2354f60">Aby to zadziałało, użytkownik musi znajdować się w domu w sieci WLAN lub komputer musi być podłączony bezpośrednio do urządzenia FRITZ!Box za pomocą kabla. Urządzenie FRITZ!Box poprosi najpierw o podanie hasła. Jeśli nigdy wcześniej się nie logowałeś, hasło znajdziesz na spodzie urządzenia.</p>

		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">Zaloguj się do FRITZ!Box</button>
			</a>
		  </div>
		</div>

		<h2 data-tx="t0066:502b2c97" id="phonebook">Krok 3: Utwórz nową książkę telefoniczną "Blocklist"</h2>
		
		<p data-tx="t0015:60de307b">Aby urządzenie FRITZ!Box mogło blokować połączenia spamowe, potrzebuje ono własnej książki telefonicznej, do której wpisywane są wszystkie numery niechcianych rozmówców. Tę książkę telefoniczną należy nazwać "Blocklist". W tym celu</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">Najpierw przejdź do sekcji "Telefonia",</li>
			<li data-tx="t0017:bf3c833">wybierz pozycję menu "Książka telefoniczna" i</li>
			<li data-tx="t0018:9545daeb">a następnie kliknij łącze "Nowa książka telefoniczna".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Lista połączeń Fritz!Box" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0072:356d507a" id="create-token">Krok 4: Utworzenie tokena CardDAV</h2>

		<p data-tx="t0073:5843bc02">Do konfiguracji w Fritz!Box potrzebny jest specjalny token CardDAV jako hasło. Ten token jest używany tylko do połączenia między Fritz!Box i PhoneBlock i może zostać odwołany w dowolnym momencie w ustawieniach.</p>

		<th:block th:if="${cardDavToken}">
			<p data-tx="t0074:f786328e"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Utworzyłeś token! Przejdź do następnego kroku.</p>
		</th:block>

		<th:block th:if="${userName} and ${!cardDavToken}">
			<p data-tx="t0075:ca529190">Teraz utwórz token dla Fritz! Opcjonalnie możesz dodać komentarz, aby później wiedzieć, do czego służy token (np. "Fritz!Box living room").</p>

			<form method="post" th:action="@{/update-settings(action='createToken', location='/setup#create-token')}">
				<input name="token-type" type="hidden" value="CARDDAV"/>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" data-tx="t0049:fe053998" name="token-label" placeholder="Opcjonalnie: Komentarz (np. &quot;Fritz!Box living room&quot;)" type="text"/>
					</div>
					<div class="control">
						<button class="button is-primary" data-tx="t0050:21ce66dd" type="submit"><i class="fa-solid fa-key"></i> Utwórz token</button>
					</div>
				</div>
			</form>
		</th:block>

		<p data-tx="t0051:9fe447a" th:unless="${userName}">Aby utworzyć token, należy się najpierw <a th:href="@{/login(location='/setup')}">zalogować</a>.</p>

		<h2 data-tx="t0076:35997409" id="credentials">Krok 5: Wprowadź dane logowania do Fritz!Box</h2>

		<p data-tx="t0020:e4a227b8">Teraz należy wprowadzić dane logowania w aplikacji FRITZ!</p>

		<ol>
			<li>
				<div data-tx="t0021:d5b1f48a">Wprowadź nazwę <code dir="ltr">Blocklist</code> dla książki telefonicznej, która ma być używana jako lista blokowania. Nazwa ta będzie ponownie potrzebna w następnym kroku.</div>
			</li>

			<li data-tx="t0022:32f6ec7">Wybierz opcję <i>Użyj książki telefonicznej dostawcy online</i>.</li>

			<li data-tx="t0023:d59c1b48">Wybierz dostawcę <i>Dostawca CardDAV</i>.</li>

			<li>
				<div data-tx="t0079:c5926e14">Przenieś dane logowania (najlepiej za pomocą funkcji Wytnij i Wklej, aby uniknąć błędów podczas wpisywania).</div>

				<ul>
					<li data-tx="t0080:d646341e"><span><i>Adres internetowy serwera CardDAV</i>:</span> <code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a> (URL książki adresowej PhoneBlock)</li>

					<li>
						<i data-tx="t0081:548c40c1">Nazwa użytkownika</i>: 
						
						<th:block data-tx="t0082:baafe4ec" th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a> (Twoja nazwa użytkownika PhoneBlock)</th:block>

						<th:block data-tx="t0083:c9c6fa56" th:unless="${userName}">Najpierw należy się zalogować (patrz <a href="#register">Krok 1</a>).</th:block>
					</li>

					<li>
						<span>
							<i data-tx="t0084:e99dee32">hasło</i>:
						</span>
						
						<th:block data-tx="t0085:1d7c0447" th:if="${cardDavToken}"><code dir="ltr" id="passwd2" th:text="${cardDavToken.token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a> (token z kroku 4)</th:block>
						
						<th:block data-tx="t0078:c657e130" th:unless="${cardDavToken}">Najpierw należy utworzyć token (patrz <a href="#create-token">krok 4</a>).</th:block>
					</li>
				</ul>
			</li>
			
			<li>
				<p data-tx="t0086:95ea1a24"><b>Uwaga</b>: Wybierz <b>żaden z Twoich telefonów</b> w sekcji "Przypisanie telefonu"! W przeciwnym razie dzwoniący SPAM będą znajdować się tylko w kontaktach w telefonie.</p>
				<p data-tx="t0087:79f2e6a0">Można teraz potwierdzić utworzenie nowej książki telefonicznej.</p>
			</li>
		</ol>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Utwórz nową książkę adresową" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0068:49ed5643" id="verify">Krok 6: Sprawdź instalację</h2>

		<p data-tx="t0027:6bd9c881">Jeśli wszystko przebiegło pomyślnie, urządzenie FRITZ!Box załadowało wszystkie numery z listy blokowej PhoneBlock. W sekcji "Telephony / Phonebook" (Telefonia / Książka telefoniczna) powinna teraz znajdować się nowa książka telefoniczna "Blocklist" (Lista blokowanych numerów). Po wybraniu zakładki "Blocklist" (Lista blokowanych numerów) można wyświetlić wszystkie numery aktualnych spamerów.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Pokaż pobraną listę bloków" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0069:16c40784" id="block">Krok 7: Aktywacja blokady połączeń</h2>
		
		<p data-tx="t0029:ffbbaf55">W sekcji "Telefonia / Obsługa połączeń" można teraz określić nową książkę telefoniczną "Blocklist" jako zakres numerów telefonów do zablokowania.</p>			
		
		<p data-tx="t0030:2d9a1437">Przewiń w dół do podpunktu "Blokuj zakresy numerów" i kliknij przycisk "Dodaj zakres".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Dodaj nową blokadę połączeń" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">Na nowym ekranie wybierz opcję "Phone book" (Książka telefoniczna) w wyborze "Area" (Obszar) i wybierz nowo utworzoną książkę telefoniczną "Blocklist" (Lista zablokowanych) jako "Phone book" (Książka telefoniczna) do zablokowania.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Blokowanie rozmówców z numerem telefonu na liście blokowanych połączeń" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">Doskonale! Dokonałeś konfiguracji. Twój telefon powinien teraz dzwonić znacznie rzadziej z powodu niechcianego rozmówcy. A jeśli tak się stanie, możesz łatwo uciszyć sprawcę kłopotów dla siebie i całej społeczności PhoneBlock:</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">Zablokuj numer telefonu</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>