<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.status.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
<div class="content">
	<h1 data-tx="t0001">Aktualne zgłoszenia dotyczące niechcianych rozmówców</h1>
	
	<p data-tx="t0002">Po zainstalowaniu aplikacji PhoneBlock można <em>automatycznie</em> blokować niechciane połączenia telefoniczne.</p>
	
		<div class="columns">
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/anrufbeantworter}">
			    <span class="icon">
					<img th:src="@{/assets/img/ab/logo/ab-logo-white.svg}"/>
			    </span>
				<span data-tx="t0003">Automatyczna sekretarka</span>			
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium is-info is-fullwidth|" th:href="@{/setup}">
			    <span class="icon">
					<i class="fa-solid fa-phone"></i>
			    </span>
				<span data-tx="t0004">Książka telefoniczna Fritz!Box</span>			
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${android ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-android}">
			    <span class="icon">
					<i class="fa-solid fa-mobile-screen"></i>
			    </span>
				<span data-tx="t0005">Dla systemu Android</span>
			</a>
		  </div>
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${iphone ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/setup-iphone}">
			    <span class="icon">
					<i class="fa-brands fa-apple"></i>
			    </span>
				<span data-tx="t0006">Dla iPhone</span>
			</a>
		  </div>
		</div>

	<p data-tx="t0007">Dzięki PhoneBlock telefon pozostaje cichy podczas takich połączeń. Codziennie dodawanych jest kilka numerów. Udostępnij stronę <a th:href="@{/}">PhoneBlock</a> na przykład na Facebooku, aby jak najwięcej osób mogło się przyłączyć i zakończyć terror telefoniczny.</p>
	
	<th:block th:if="${searches.size &gt; 0}">
		<h2 data-tx="t0008">Bieżące zapytania wyszukiwania</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0009">Numer telefonu</th>
					<th data-tx="t0010" title="Liczba wyszukiwań tego numeru od wczoraj">Dziś i wczoraj</th>
					<th data-tx="t0011" title="Całkowita liczba zapytań dla tego numeru">Łącznie</th>
					<th data-tx="t0012">Ostatnie zapytanie</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${searches}">
					<td>
						<a data-onclick="showNumber" data-tx="t0013" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${report.phone}"></th:block></a>
					</td>
					
					<td th:text="${report.count}"></td>
					<td th:text="${report.total}"></td>
					<td th:text="${report.lastSearch &gt; 0 ? #dates.format(#converters.fromEpoch(report.lastSearch)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${reports.size &gt; 0}">
		<h2 data-tx="t0014">Zgłoszenia spamu z ostatniej godziny</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0015">Numer telefonu</th>
					<th data-tx="t0016" title="Im większy numer, tym większa pewność, że PhoneBlock jest źródłem niechcianych połączeń.">Zaufanie</th>
					<th data-tx="t0017">Zgłoszono</th>
					<th data-tx="t0018" title="Data, od której numer został zgłoszony po raz pierwszy.">Aktywny od</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${reports}">
					<td>
						<a data-onclick="showNumber" data-tx="t0019" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${report.phone}"></th:block></a>
					</td>
					
					<td th:text="${report.votes}"></td>
					<td data-tx="t0020"><th:block th:text="${(now - report.updated) / 1000 / 60}"></th:block> minut temu</td>
					
					<td th:text="${report.added &gt; 0 ? #dates.format(#converters.fromEpoch(report.added)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${newlyBlocked.size &gt; 0}">
		<h2 data-tx="t0021">Najnowsze wpisy na liście bloków</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0022">Numer telefonu</th>
					<th data-tx="t0023" title="Im większy numer, tym większa pewność, że PhoneBlock jest źródłem niechcianych połączeń.">Zaufanie</th>
					<th data-tx="t0024">Ostatnia skarga</th>
					<th data-tx="t0025" title="Data, od której numer został zgłoszony po raz pierwszy.">Aktywny od</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${newlyBlocked}">
					<td>
						<a data-onclick="showNumber" data-tx="t0026" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${report.phone}"></th:block></a>
					</td>
					
					<td th:text="${report.votes}"></td>
					<td th:text="${#dates.format(#converters.fromEpoch(report.updated))}"></td>
					<td th:text="${report.added &gt; 0 ? #dates.format(#converters.fromEpoch(report.added)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${topSpammers.size &gt; 0}">
		<h2 data-tx="t0027">Obecni najwięksi spamerzy</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0028">Numer telefonu</th>
					<th data-tx="t0029" title="Im większy numer, tym większa pewność, że PhoneBlock jest źródłem niechcianych połączeń.">Zaufanie</th>
					<th data-tx="t0030">Ostatnia skarga</th>
					<th data-tx="t0031" title="Data, od której numer został zgłoszony po raz pierwszy.">Aktywny od</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${topSpammers}">
					<td>
						<a data-onclick="showNumber" data-tx="t0032" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${report.phone}"></th:block></a>
					</td>
					
					<td th:text="${report.votes}"></td>
					<td th:text="${#dates.format(#converters.fromEpoch(report.updated))}"></td>
					<td th:text="${report.added &gt; 0 ? #dates.format(#converters.fromEpoch(report.added)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block th:if="${topSearches.size &gt; 0}">
		<h2 data-tx="t0033">Najczęściej wyszukiwane liczby</h2> 

		<table class="table">
			<thead>
				<tr>
					<th data-tx="t0034">Numer telefonu</th>
					<th data-tx="t0035" title="Liczba wyszukiwań dla tego numeru">Zapytania wyszukiwania</th>
					<th data-tx="t0036" title="Liczba głosów SPAM dla tego numeru">Głosy</th>
					<th data-tx="t0037">Ostatnie zapytanie</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${topSearches}">
					<td>
						<a data-onclick="showNumber" data-tx="t0038" th:href="@{/nums/{num}(num=${report.phone})}">☎ <th:block th:text="${report.phone}"></th:block></a>
					</td>
					
					<td th:text="${report.searches}"></td>
					<td th:text="${report.votes}"></td>
					<td th:text="${report.lastSearch &gt; 0 ? #dates.format(#converters.fromEpoch(report.lastSearch)) : '-'}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<h2 data-tx="t0039">Baza danych PhoneBlock</h2>

	<p data-tx="t0040">Znane numery SPAM: <th:block th:text="${statistics['02-blocked']}"></th:block> aktywne numery na liście blokowanych, <th:block th:text="${statistics['01-reported']}"></th:block> numery ze skargami. Łącznie <th:block th:text="${status.totalVotes}"></th:block> zgłoszeń użytkowników, <th:block th:text="${status.archivedReports}"></th:block> nieaktywnych numerów z podejrzeniem spamu.</p>
</div>

</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>