<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:1733978d">Bekräftelse på ändring av e-post från PhoneBlock</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock logotyp" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">Hej {namn},</h2>

<p data-tx="t0004:496fe8b0">Du har skickat in en begäran om att ändra din e-postadress för ditt <i>PhoneBlock</i>-konto.
För att bekräfta ändringen, vänligen ange följande kod i bekräftelsemasken som du för närvarande har öppen i din webbläsare
öppen i din webbläsare:</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005:cb2ec23c">Om du inte har gjort denna begäran kan du ignorera detta e-postmeddelande och din e-postadress kommer inte att ändras.
Din e-postadress kommer inte att ändras.</p>

<p data-tx="t0006:ed88831e">Tack så mycket, <br/>.
Din <i>PhoneBlock</i> server</p>

</body>
</html>