<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001">PhoneBlock inloggningskod</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="PhoneBlock logotyp" data-tx="t0002" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003">Hej {namn},</h2>

<p data-tx="t0004">Här är inloggningskoden för ditt <i>PhoneBlock</i>-konto. För att verifiera din e-postadress,</p>

<p style="margin-left: 5em;">
<code style="font-weight: bold; font-size: larger; padding: 4px; border-style: solid; border-width: 2px; border-radius: 3px;">{code}</code>
</p>

<p data-tx="t0005">Om du inte vill registrera dig hos <i>PhoneBlock</i> kan du ignorera det här e-postmeddelandet.</p>

<p data-tx="t0006">Tack för ditt intresse för <i>PhoneBlock</i>!<br/></p>

</body>
</html>