<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001">Hej {namn},<img align="right" alt="PhoneBlock logotyp" data-tx="t0002" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003">Tack så mycket för din {attribut}donation till PhoneBlock-projektet! Jag hoppas att det kan hjälpa dig att avsevärt minska antalet oönskade samtal.</p>

	<p data-tx="t0004">Och om ännu ett oönskat samtal slinker igenom nätet, glöm inte att markera det som SPAM på PhoneBlocks webbplats. Om alla gör detta konsekvent blockeras varje nytt SPAM-nummer omedelbart igen.</p>

    <p data-tx="t0005">Bästa hälsningar</p>
    <p data-tx="t0006">Bernhard Haumacher</p>

<p data-tx="t0007" style="color: gray;">-<br/> -</p>

</body>
</html>