<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001:cee289b8">Hej {namn},<img align="right" alt="PhoneBlock logotyp" data-tx="t0002:5b0e8765" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

	<p data-tx="t0003:a8d0d40f">Tack så mycket för din {attribut}donation till PhoneBlock-projektet! Jag hoppas att det kan hjälpa dig att avsevärt minska antalet oönskade samtal.</p>

	<p data-tx="t0004:b088fcbb">Och om ännu ett oönskat samtal slinker igenom nätet, glöm inte att markera det som SPAM på PhoneBlocks webbplats. Om alla gör detta konsekvent blockeras varje nytt SPAM-nummer omedelbart igen.</p>

    <p data-tx="t0005:dfdaf9d7">Bästa hälsningar</p>
    <p data-tx="t0006:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0007:d3aaad68" style="color: gray;">--<br/>
Hemsida: <a href="{home}">{hemma}</a><br/>
Donation: <a href="{support}">{stöd}</a><br/>
Inställningar: <a href="{settings}">{inställningar}</a><br/>
Videohandledning: <a href="{help}">{hjälp}</a><br/>
Facebook: <a href="{facebook}">{facebook}</a><br/>
Kontakt: <a href="mailto:{mail}">{mail}</a><br/></p>

</body>
</html>