<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001:cee289b8">Hej {namn},<img align="right" alt="PhoneBlock logotyp" data-tx="t0002:5b0e8765" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

    <p data-tx="t0003:d4ff0bbe">Trevligt att du har hittat <a href="{home}">PhoneBlock</a> och installerat det framgångsrikt. Oönskade telefonsamtal kommer förhoppningsvis att minska betydligt i framtiden.</p>

    <p data-tx="t0004:57bc0241">Om du är nöjd med PhoneBlock skulle jag bli glad om du ville bidra till kostnaderna för att driva PhoneBlock med en <a href="{support}">liten donation</a>.</p>

    <p data-tx="t0005:1d98c39d">Men ännu viktigare är att du berättar om det för dina vänner, bekanta och släktingar. Varför inte dela PhoneBlocks hemsida (<a href="{home}">{home}</a>) på Facebook, Twitter eller någon annan kanal och följ PhoneBlock så att du inte missar några uppdateringar: <a href="{facebook}">{facebook}</a></p>

    <p data-tx="t0006:2be40556">Det är bara om du berättar för andra om PhoneBlock som den goda nyheten kan spridas att ingen längre är försvarslös mot telefonterror.</p>

    <p data-tx="t0007:284b3eac">Bästa hälsningar</p>
    <p data-tx="t0008:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0009:d3aaad68" style="color: gray;">--<br/>
Hemsida: <a href="{home}">{hemma}</a><br/>
Donation: <a href="{support}">{stöd}</a><br/>
Inställningar: <a href="{settings}">{inställningar}</a><br/>
Videohandledning: <a href="{help}">{hjälp}</a><br/>
Facebook: <a href="{facebook}">{facebook}</a><br/>
Kontakt: <a href="mailto:{mail}">{mail}</a><br/></p>

</body>
</html>