<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001:4fb302c1">لا يمكن عرض هذه الصفحة في المتصفح</h1>

			<p data-tx="t0002:3d6127e">يجب عليك إدخال رابط دفتر العناوين الذي تلقيته عندما قمت بـ <a th:href="@{/login}">التسجيل</a> كدفتر عناوين في فريتز! بوكس الخاص بك كما هو موضح في <a th:href="@{/setup}">تعليمات التثبيت</a> مع عنوان بريدك الإلكتروني وكلمة المرور المرسلة إليك. لا يمكنك عرض هذا الرابط مباشرةً في المتصفح لأن دفاتر العناوين يتم الوصول إليها عبر بروتوكول خاص (CardDAV) لا يدعمه متصفحك.</p>
		</div>
	</section>

	<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>