<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="شعار فون بلوك" data-tx="t0015:5b0e8765" th:src="@{/assets/img/animation.svg}"/>
		</div>

		<h1 data-tx="t0001:79729e8b">رفض المتصلين غير المرغوب فيهم تلقائياً</h1>

		<p data-tx="t0002:d74f7216">هل وقع رقم هاتفك أيضًا في أيدي تجار العناوين المراوغين وتتلقى باستمرار مكالمات مزعجة تريد "تحسين" فاتورة الكهرباء الخاصة بك، أو تقديم المشورة بشأن نظام الطاقة الشمسية، أو الإعلان عن جائزة كبرى أخرى أو تقديم "امتيازات" أخرى؟ إذن فإن <b>PhoneBlock</b> هو بالضبط ما تحتاجه!</p>

		<div th:replace="~{fragments/page :: buttons}"></div>

		<h2 data-tx="t0007:20eeb709">كيف يعمل PhoneBlock PhoneBlock؟</h2>

		<h3 data-tx="t0029:e557e16d">القائمة السوداء للمجتمع</h3>

		<p data-tx="t0008:62e0be42">PhoneBlock عبارة عن قائمة يحتفظ بها مجتمع PhoneBlock لأرقام الهواتف التي يشتبه في كونها غير مرغوب فيها. ثم يقبل جهاز الرد الآلي <a th:href="@{/anrufbeantworter}"> PhoneBlock المكالمات الواردة من المتصلين المدرجين في قائمة الحظر بحيث يبقى هاتفك صامتاً لهذه المكالمات.</a></p>

		<h3 data-tx="t0030:397ca321">البديل: دليل الهاتف FRITZ!</h3>

		<p data-tx="t0009:149bd771">بدلاً من ذلك، يمكنك أيضًا استيراد القائمة السوداء كدفتر هاتف إلى جهاز توجيه الإنترنت "FRITZ!Box" الخاص بك وحظر المكالمات من الأرقام الموجودة في دفتر الهاتف الخاص هذا. لم تعد مضطرًا لحظر نطاقات الأرقام يدويًا، لأن جهاز "فريتز!بوكس" الخاص بك يقوم تلقائيًا بتحديث القائمة المحظورة كل ليلة. بمجرد إضافة رقم ما إلى هذه القائمة السوداء، يرفض جهاز FRITZ!Box تلقائيًا المتصلين بهذا الرقم. ومع ذلك، فإن <a th:href="@{/setup}"> جهاز الرد الآلي هو الحل الأفضل لأن دفتر الهاتف محدود الحجم ولا يمكنه استيعاب جميع الأرقام في قائمة الحظر.</a><a th:href="@{/anrufbeantworter}"></a></p>

		<h3 data-tx="t0031:6045153a">الإبلاغ عن أرقام الرسائل الاقتحامية</h3>

		<p data-tx="t0010:34e8fe06">إذا كنت لا تزال تتلقى مكالمة غير مرغوب فيها لأن الرقم لم تتم إضافته بعد إلى قائمة الحظر، يمكنك الإبلاغ عن الرقم وبالتالي حماية مجتمع PhoneBlock بأكمله من <a th:href="@{/status}"> مكالمات أخرى غير مرغوب فيها. لديك عدة خيارات: الإبلاغ عن الرسائل الاقتحامية مباشرةً من تطبيق PhoneBlock، أو البحث عن الرقم وتقييمه على الموقع الإلكتروني، أو <a th:href="@{/block}"> حظر الرقم في صندوق FRITZ!</a> عن طريق إدخال إدخال في دفتر عناوين PhoneBlock. بمجرد الإبلاغ عن رقم ما، تتم إضافته إلى القائمة المحظورة وتتم حماية جميع مستخدمي PhoneBlock الآخرين تلقائيًا.</a></p>

		<h2 data-tx="t0011:db4a3206">ما هي المتطلبات؟</h2>

		<p data-tx="t0020:537ee553">يدعم PhoneBlock العديد من المنصات لحظر المكالمات غير المرغوب فيها:</p>

		<div class="columns is-multiline">
			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-router"></i>
							</span>
							<span data-tx="t0021:7852d066">صندوق فريتز!</span>
						</span>
					</h3>
					<p data-tx="t0022:342d09aa">حظر المكالمات على الخط الأرضي بالاقتران مع <a th:href="@{/link/fritzbox}"> جهاز توجيه الإنترنت من AVM. إما أن تقوم بتثبيت <a th:href="@{/anrufbeantworter}"> جهاز الرد على المكالمات الهاتفي أو استيراد قائمة الحظر كـ <a th:href="@{/setup}"> دفتر هاتف .</a></a></a></p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-android"></i>
							</span>
							<span data-tx="t0023:aecec7cb">أندرويد</span>
						</span>
					</h3>
					<p data-tx="t0024:b6746620">قم بحظر المكالمات غير المرغوب فيها مباشرةً على هاتفك المحمول الذي يعمل بنظام Android باستخدام تطبيق <a th:href="@{/setup-android}">PhoneBlock</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-apple"></i>
							</span>
							<span data-tx="t0025:b21bebc5">آيفون</span>
						</span>
					</h3>
					<p data-tx="t0026:f5b65b16">قم بتضمين قائمة حظر الهاتف على هاتفك <a th:href="@{/setup-iphone}"> iPhone</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-phone-office"></i>
							</span>
							<span data-tx="t0027:9faa419a">نظام الهاتف</span>
						</span>
					</h3>
					<p data-tx="t0028:c76080b9">قم بدمج PhoneBlock في نظام الهاتف الخاص بك كقائمة حظر.<a th:href="@{/setup-pbx}"></a></p>
				</div>
			</div>
		</div>

	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>