<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">لم يتم العثور على صندوق فريتز!</h1>

		<p data-tx="t0002">لم يعثر البحث على فريتز! قد يكون هناك عدة أسباب لذلك.</p>
		
		<ul>
			<li data-tx="t0003">لم تقم بتسجيل الدخول إلى شبكة WLAN، هل "بيانات الجوال" نشطة؟</li>
			<li data-tx="t0004">لا يحتوي Fritz!Box الخاص بك على التكوين القياسي بالاسم <code>fritz.box</code> والعنوان <code>192.168.178.1</code>؟</li>
			<li data-tx="t0005">لديك جهاز توجيه إنترنت مختلف. ربما يمكن أن يعمل أيضًا مع PhoneBlock، تحقق من <a th:href="@{/faq}">FAQ</a>!</li>
		</ul>
	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>