<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">التثبيت كدليل الهاتف</h1>

<th:block th:unless="${token}">
		<p data-tx="t0002">لتثبيت قائمة الحظر، أنت بحاجة إلى جهاز توجيه إنترنت <a th:href="@{/link/fritzbox}"> "FRITZ!Box" من AVM وحساب PhoneBlock. لا يجب بالضرورة أن يكون أحدث طراز، ولكن يجب عليك التحقق مما إذا كان أحدث نظام تشغيل FRITZ!OS مثبتًا عليه (07.29 أو أحدث). إذا لم تكن هذه هي الحالة، استخدم إرشادات التثبيت التالية للتحقق مما إذا كان الإصدار الخاص بك يوفر بالفعل الخيارات الضرورية.</a></p>
		
		<p data-tx="t0003">ملاحظة: نظرًا للقيود التقنية الخاصة بـ Fritz!Box، لا يمكن تحميل قائمة الحظر بأكملها في دفتر الهاتف. ولذلك، فإن إعداد <a th:href="@{/anrufbeantworter}"> جهاز الرد على المكالمات الهاتفية المحظورة  يوفر حماية أفضل ضد المكالمات غير المرغوب فيها.</a></p>
		
		<div class="columns" th:unless="${login}">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/login(location='/setup')}">
				<button class="button is-medium is-info is-fullwidth" data-tx="t0004">إنشاء حساب "حظر الهاتف</button>
			</a>
		  </div>
		</div>
		<p data-tx="t0005" th:if="${login}">أنت مسجل بالفعل باسم <code th:text="${userName}"></code>، رائع! يمكنك البدء على الفور.</p>
</th:block>

<div class="columns" th:if="${token}">
  <div class="column">
	<div class="tile is-ancestor">
      <div class="tile is-parent">
      	<article class="tile is-child notification">
	        <p class="title" data-tx="t0006">تفاصيل تسجيل الدخول الخاصة بك</p>
	        <p class="subtitle" data-tx="t0007">ستحتاج إلى البيانات التالية للتثبيت.</p>
	        <div class="content">
		
				<div class="field">
				  <label class="label" data-tx="t0008">عنوان الإنترنت الخاص بخادم CardDAV</label>
				  <div class="control"><code id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0034" href="#" id="url_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0009">اسم المستخدم</label>
				  <div class="control"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0035" id="login_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0010">كلمة السر</label>
				  <div class="control"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0036" href="#" id="passwd_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></div>
				</div>
			</div>
		</article>
	  </div>
    </div>
  </div>
</div>
		
		<h2 data-tx="t0011">تسجيل الدخول إلى صندوق FRITZ!Box الخاص بك</h2>
		
		<p data-tx="t0012">لكي يعمل هذا، يجب أن تكون في المنزل في شبكة WLAN الخاصة بك أو يجب أن يكون جهاز الكمبيوتر الخاص بك متصلاً مباشرةً بشبكة FRITZ!Box عبر الكابل. سيطلب منك FRITZ!Box أولاً كلمة المرور الخاصة بك. إذا لم تقم بتسجيل الدخول من قبل، فستجد كلمة المرور هذه في الجزء السفلي من الجهاز.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013">تسجيل الدخول إلى FRITZ!Box</button>
			</a>
		  </div>
		</div>
		
		<h2 data-tx="t0014">إنشاء دفتر هاتف جديد "قائمة الحظر"</h2>
		
		<p data-tx="t0015">لكي يتمكن صندوق FRITZ!Box الخاص بك من حظر المكالمات غير المرغوب فيها، فإنه يحتاج إلى دفتر الهاتف الخاص به والذي يتم فيه إدخال جميع أرقام المتصلين غير المرغوب فيهم. أطلق على دفتر الهاتف هذا اسم "قائمة الحظر". لهذا</p>
		
		<ol>
			<li data-tx="t0016">انتقل أولاً إلى قسم "الاتصالات الهاتفية",</li>
			<li data-tx="t0017">حدد عنصر القائمة "دفتر الهاتف" و</li>
			<li data-tx="t0018">ثم انقر على رابط "دليل الهاتف الجديد".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="قائمة مكالمات فريتز!" class="image" data-tx="t0037" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0019">أدخل تفاصيل تسجيل الدخول لحساب PhoneBlock الخاص بك</h2>
		
		<p data-tx="t0020">أنت الآن بحاجة إلى تفاصيل تسجيل الدخول لحساب PhoneBlock الخاص بك.</p>

		<ul>
			<li data-tx="t0021"><span class="tag is-danger">1</span> امنح دفتر الهاتف الذي سيتم استخدامه كقائمة حظر الاسم <code>قائمة الحظر</code>. ستحتاج إلى هذا الاسم مرة أخرى في الخطوة التالية.</li>

			<li data-tx="t0022">حدد الآن الخيار <span class="tag is-danger">2</span> الخيار <i>استخدام دليل الهاتف الخاص بمزود خدمة عبر الإنترنت</i>.</li>

			<li data-tx="t0023">بعد ذلك يمكنك تحديد <span class="tag is-danger">3</span> الموفر <i>موفر بطاقة كارد ديف</i>.</li>

			<li data-tx="t0024">أوشكت على الانتهاء، والآن بيانات تسجيل الدخول <span class="tag is-danger">4</span>. من الأفضل نقلها باستخدام القص واللصق لتجنب أخطاء الكتابة! <ul>
					<li> أدخل عنوان URL الخاص بدفتر عناوين PhoneBlock في الحقل <i> عنوان الإنترنت لخادم CardDAV: <code id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042" href="#" id="url2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a>  <li>  أدخل اسم المستخدم <th:block th:if="${userName}"><code id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043" href="#" id="login2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block> الذي تلقيته أثناء <a th:href="@{/login(location='/settings')}">التسجيل في الحقل <i>اسم المستخدم. </i></a></li> <li> كلمة المرور <th:block th:unless="${token}"> التي تلقيتها أثناء <a th:href="@{/login(location='/settings')}"> التسجيل، ،  يجب الآن إدخال كلمة المرور <code id="passwd2" th:text="${token}">  </code></a></th:block></li></i></li>

					

					
				 </ul></li>

			<li data-tx="t0025">يمكنك الآن تأكيد <span class="tag is-danger">5</span> إنشاء دفتر الهاتف الجديد. يرجى الملاحظة: حدد <b> لا شيء من هواتفك  تحت "تعيين الهاتف"! وإلا ستجد فقط المتصلين غير المرغوب فيهم في جهات الاتصال على هاتفك.</b></li>
		</ul>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="إنشاء دفتر عناوين جديد" class="image" data-tx="t0038" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0026">تحقق مما إذا كانت "قائمة الحظر" قد تم إنشاؤها أم لا</h2>
		
		<p data-tx="t0027">إذا سار كل شيء على ما يرام، فإن جهاز FRITZ!Box الخاص بك قد قام بتحميل جميع الأرقام من قائمة حظر الهاتف. يجب أن يكون لديك الآن دليل هاتف جديد "قائمة الحظر" في قسم "الهاتف / دليل الهاتف". إذا حددت علامة التبويب "قائمة الحظر"، يمكنك رؤية جميع أرقام المتصلين الحاليين غير المرغوب فيهم.</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="إظهار قائمة الحظر المسترجعة" class="image" data-tx="t0039" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0028">دع FRITZ!Box يرفض المكالمات من "قائمة الحظر"</h2>
		
		<p data-tx="t0029">في قسم "الاتصالات الهاتفية/معالجة المكالمات"، يمكنك الآن تحديد دفتر الهاتف الجديد "Blocklist" كنطاق الأرقام المراد حظرها.</p>			
		
		<p data-tx="t0030">قم بالتمرير لأسفل إلى البند الفرعي "نطاقات أرقام الحظر" وانقر على زر "إضافة نطاق".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="إضافة حظر مكالمات جديدة" class="image" data-tx="t0040" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031">في الشاشة الجديدة، حدد الخيار "دفتر الهاتف" في اختيار "المنطقة" وحدد دفتر الهاتف الذي تم إنشاؤه حديثًا "قائمة الحظر" باعتباره "دفتر الهاتف" المراد حظره.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="حظر المتصلين الذين لديهم رقم هاتف في قائمة الحظر" class="image" data-tx="t0041" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032">ممتاز! لقد انتهيت من الإعداد. يجب أن يرن هاتفك الآن بشكل أقل بكثير بسبب متصل غير مرغوب فيه. وإذا حدث ذلك، يمكنك بسهولة إسكات المتصل المزعج لك ولمجتمع PhoneBlock بأكمله:</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033">حظر رقم الهاتف</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>