<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title='PhoneBlock auf iPhone einrichten')}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">تثبيت الآيفون</h1>
		
		<p data-tx="t0002">يضيف التثبيت دفتر عناوين PhoneBlock إلى جهات الاتصال الخاصة بك. إذا تلقيت مكالمة من رقم غير مرغوب فيه، فسيتم عرض ذلك على الفور، على سبيل المثال "SPAM: 03016637169". يمكنك أيضًا أن ترى على الفور في المكالمات الفائتة أنه لا يستحق معاودة الاتصال دون الحاجة إلى البحث عن الرقم على Google أولاً.</p>

		<p data-tx="t0003">يتم التثبيت في الخطوات التالية:</p>
		
   		<ol>
   		<li><a data-tx="t0004" th:href="@{/login.jsp(location=${currentPage})}">قم بالتسجيل في PhoneBlock.</a></li>
   		<li data-tx="t0005">افتح "الإعدادات"&gt; "جهات الاتصال"&gt; "الحسابات".</li>
   		<li data-tx="t0006">اضغط على "إضافة حساب" - "أخرى"&gt; "إضافة حساب CardDAV".</li>
   		<li data-tx="t0007">أدخل بيانات الوصول الخاصة بك واضغط على "التالي". <dl>
				<dt><b>الخادم</b></dt>
				<dd><code id="url">https://phoneblock.net<th:block th:text="${contextPath}"></th:block>/x4&gt;/x4&gt;/contacts/</code><a class="copyToClipboard" data-tx="t0013" href="#" id="url_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></dd>

				<dt><b>اسم المستخدم</b></dt>
				<dd>
				<th:block th:if="${userName}"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0014" href="#" id="login_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${userName}"><a th:href="@{/login.jsp(location=${currentPage})}">تسجيل الدخول</a> لرؤية اسم المستخدم الخاص بك.</span>
				</dd>

				<dt><b>كلمة المرور</b></dt>
				<dd>
				<th:block th:if="${token}"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0015" href="#" id="passwd_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${token}">تظهر لك مباشرةً بعد تسجيل الدخول الأول، يمكنك <a th:href="@{/settings}">إنشاء كلمة مرور جديدة في الإعدادات</a> </span>
				</dd>

				<dt><b>الوصف</b></dt>
				<dd>حظر الهاتف</dd>		
   			         </dl></li>
   		<li data-tx="t0008">قم بتنشيط "جهات الاتصال" وانقر على "حفظ".</li>
		<li data-tx="t0009">سترى الآن المكالمات التي تحتوي على "الرسائل الاقتحامية: ..." في دفتر جهات الاتصال الخاص بك وعندما ترن. يمكنك بعد ذلك أن ترى على الفور ما إذا كان الأمر يستحق الرد أو معاودة الاتصال.</li>
   		</ol>

		<p data-tx="t0010">لم يعد لديك بيانات الوصول الخاصة بك في متناول اليد؟ لا يهم، ما عليك سوى <a th:href="@{/settings}"> إعادة تعيين كلمة المرور</a> في الإعدادات.</p>
   		
   		<p data-tx="t0011">يمكنك أيضًا العثور على <a th:href="@{/link/carddav-install}"> تعليمات مع الصور</a> في مكان آخر. في هذا الدليل، تحتاج فقط إلى استخدام بيانات الوصول إلى PhoneBlock في الخطوة التي يتم فيها إدخال الخادم واسم المستخدم وكلمة المرور (انظر أعلاه).</p>
   		
   		<p data-tx="t0012">إذا كنت تستخدم PhoneBlock فقط على جهاز iPhone، يمكنك أيضًا زيادة عدد الإدخالات <a th:href="@{/settings}"> في الإعدادات . إذا كانت هناك أي مشاكل في ذلك، يُرجى إعلامنا (انظر <a th:href="@{/faq}"> سؤال ).</a></a></p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>