<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.support-banktransfer.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:6f579ca4">التبرع عن طريق التحويل المصرفي</h1>

		<p data-tx="t0002:d29aa510">شكرًا لك على مساهمتك في تكاليف PhoneBlock. في حال مشاركة العديد من الأشخاص، يكفي مبلغ صغير، على سبيل المثال <b> 1 يورو في السنة أو <b> 0.01 يورو لكل مكالمة مزعجة تم اعتراضها، ولكن يمكنك اختيار مبلغ مساهمتك بنفسك.</b></b></p>
		
		<p data-tx="t0003:63a76038">يرجى استخدام تفاصيل الحساب التالي للتحويل المصرفي الخاص بك:</p>

		<ul>
			<li><span data-tx="t0013:3b923d1a">المتلقي</span> <code dir="ltr" id="receiver" th:text="${props.bank.receiver}"></code><a class="copyToClipboard" data-tx="t0009:3f7efe41" href="#" id="receiver_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></li>
			<li><span data-tx="t0014:774d4eda">رقم الحساب</span> <code dir="ltr" id="account"><span class="token" th:text="${#strings.substring(props.bank.account,0,4)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,4,8)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,8,12)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,12,16)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,16,20)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,20)}"></span></code><a class="copyToClipboard" data-tx="t0010:3f7efe41" href="#" id="account_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></li>
			<li><span data-tx="t0015:1b5215fe">BIC:</span> <code dir="ltr" id="bic" th:text="${props.bank.bic}"></code><a class="copyToClipboard" data-tx="t0011:3f7efe41" href="#" id="bic_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></li>
			<li><span data-tx="t0016:8b109041">الاستخدام المقصود:</span> <code dir="ltr" id="purpose" th:text="${supporterId}"></code><a class="copyToClipboard" data-tx="t0012:3f7efe41" href="#" id="purpose_" title="نسخ إلى الحافظة."><i class="fa-solid fa-copy"></i></a></li>
		</ul>
		
		<p data-tx="t0008:b6f47ba0">شكراً لك على مساهمتك في استخدام PhoneBlock!</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>