<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installazione Android</h1>
		
		<h2 data-tx="t0002">Passo 2: Installare e aprire "PeopleSync".</h2>

		<p data-tx="t0003"><a href="https://play.google.com/store/apps/details?id=com.messageconcept.peoplesyncclient" target="_blank">PeopleSync</a> non è comunque collegato a PhoneBlock. L'applicazione consente solo l'accesso a una rubrica Internet tramite il protocollo CardDAV sotto Anroid. Se avete problemi con questa applicazione, contattate direttamente il suo produttore.</p>

		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Installare PeopleSync" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/03-people-sync-install.png}"/>Installazione Android
	  		</div>
		
			<div class="column is-two-fifths">
				<img alt="Aprire PeopleSync" class="image appscreen" data-tx="t0002" th:src="@{/assets/img/peoplesync/04-people-sync-open.png}"/>Passo 2: Installare e aprire "PeopleSync".
			</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Indietro</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/05-people-sync-accept}">
		    <span data-tx="t0005">Ulteriori</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>
<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>