<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installazione Android</h1>
		
		<h2 data-tx="t0002">Passo 7: iscrizione alla blocklist</h2>
		
		<p data-tx="t0003">Selezionare l'account appena creato e attivare la rubrica "Blocklist". Ora premete il pulsante di sincronizzazione.</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Il conto è impostato" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/09-people-sync-account-finished.png}"/>Installazione Android
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="Iscriviti alla lista di blocco" class="image appscreen" data-tx="t0002" th:src="@{/assets/img/peoplesync/10-people-sync-subscribe.png}"/>Passo 7: iscrizione alla blocklist
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/07-people-sync-add}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Indietro</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/11-spam-contacts}">
		    <span data-tx="t0005">Ulteriori</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>
<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>