<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <p data-tx="t0001">Hello {name},<img align="right" alt="PhoneBlock Logo" data-tx="t0002" height="133" src="{image}" style="vertical-align: bottom;" width="133"/></p>

    <p data-tx="t0003">Nice that you have found <a href="{home}">PhoneBlock</a> and installed it successfully. Unwanted phone calls will hopefully decrease significantly in the future.</p>

    <p data-tx="t0004">If you are happy with PhoneBlock, then I would be delighted if you would make a <a href="{support}">small donation</a> towards the costs of running PhoneBlock.</p>

    <p data-tx="t0005">But even more important is that you tell your friends, acquaintances and relatives about it. Share the PhoneBlock homepage (<a href="{home}">{home}</a>) on Facebook, Twitter or another channel and follow PhoneBlock so that you don't miss any updates: <a href="{facebook}">{facebook}</a></p>

    <p data-tx="t0006">Only if you tell others about PhoneBlock can the good news spread that no one is at the mercy of phone terror anymore.</p>

    <p data-tx="t0007">Best regards</p>
    <p data-tx="t0008">Bernhard Haumacher</p>

<p data-tx="t0009" style="color: gray;">--<br/></p>

</body>
</html>