<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.impressum.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:9752b6bd">Impronta</h1>

		<p data-tx="t0002:c4d85df">PhoneBlock è un <a href="https://github.com/haumacher/phoneblock">progetto privato</a> che può aiutarvi nell'autodifesa digitale contro il terrore telefonico e le chiamate pubblicitarie indesiderate. PhoneBlock non è né un prodotto né un servizio commerciale ai sensi del <a href="https://www.gesetze-im-internet.de/ddg/__5.html">Digital Services Act</a>.</p>
		
		<p data-tx="t0003:2e52c3a">Io (Bernhard Haumacher <button class="button is-small is-link is-light showaddr">...</button>) gestisco questo sito web come persona privata per mio piacere personale e per interesse tecnologico. Vi rendo possibile l'utilizzo gratuito del software e vi metto a disposizione gratuitamente la capacità del server necessaria. Se volete contribuire ai costi di gestione o semplicemente ringraziare, siete invitati a "donare" un <a th:href="@{/support}">piccolo importo</a>. Tuttavia, lo farete senza aspettarvi nulla in cambio.</p>
		
		<p data-tx="t0004:e8e4ca56">Il software alla base di questo sito web è stato sviluppato da Bernhard Haumacher <button class="button is-small is-link is-light showaddr">...</button> e altri. Se avete domande che non trovano risposta nelle <a th:href="@{/faq}">FAQ</a> e nelle <a th:href="@{/usage}">Terms of Use</a>, non esitate a contattarmi (<button class="button is-small is-link is-light showaddr">...</button>). Tuttavia, non desidero ricevere telefonate o visite, per cui l'unica possibilità di contatto è l'e-mail. In caso di problemi, ad esempio se il vostro numero di telefono è stato accidentalmente aggiunto alla blocklist, sarò lieto di aiutarvi immediatamente e senza complicazioni.</p>

		</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>