<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="Logo PhoneBlock" data-tx="t0015:5b0e8765" th:src="@{/assets/img/animation.svg}"/>
		</div>

		<h1 data-tx="t0001:79729e8b">Rifiuta automaticamente i chiamanti indesiderati</h1>

		<p data-tx="t0002:d74f7216">Anche il vostro numero di telefono è caduto nelle mani di loschi commercianti di indirizzi e ricevete costantemente chiamate fastidiose che vogliono "ottimizzare" la vostra bolletta elettrica, darvi consigli su un sistema solare, annunciare un altro grande premio o offrire altri "vantaggi"? Allora <b>PhoneBlock</b> è esattamente ciò che vi serve!</p>

		<div th:replace="~{fragments/page :: buttons}"></div>

		<h2 data-tx="t0007:20eeb709">Come funziona PhoneBlock?</h2>

		<h3 data-tx="t0029:e557e16d">La lista nera della comunità</h3>

		<p data-tx="t0008:62e0be42">PhoneBlock è un elenco gestito dalla comunità PhoneBlock di numeri telefonici sospettati di essere spam. La segreteria telefonica di <a th:href="@{/anrufbeantworter}">PhoneBlock</a> accetta quindi le chiamate dei chiamanti presenti nell'elenco di blocco, in modo che il telefono rimanga silenzioso per queste chiamate.</p>

		<h3 data-tx="t0030:397ca321">Alternativa: Rubrica telefonica FRITZ!Box</h3>

		<p data-tx="t0009:149bd771">In alternativa, potete anche importare la lista nera come rubrica telefonica nel vostro router Internet "FRITZ!Box" e bloccare le chiamate dai numeri presenti in questa <a th:href="@{/setup}">rubrica telefonica speciale</a>. Non è più necessario bloccare manualmente gli intervalli di numeri, perché il Fritz!Box aggiorna automaticamente l'elenco dei numeri bloccati ogni notte. Non appena un numero viene aggiunto a questa lista nera, il FRITZ!Box rifiuta automaticamente chi chiama con questo numero. Tuttavia, la <a th:href="@{/anrufbeantworter}">segreteria telefonica</a> è la soluzione migliore perché la rubrica telefonica ha dimensioni limitate e non può contenere tutti i numeri dell'elenco di blocco.</p>

		<h3 data-tx="t0031:6045153a">Segnala numeri SPAM</h3>

		<p data-tx="t0010:34e8fe06">Se si riceve ancora una chiamata indesiderata perché il numero non è ancora stato aggiunto alla lista di blocco, è possibile segnalare il numero e proteggere così l'intera comunità di PhoneBlock da <a th:href="@{/status}">ulteriori chiamate spam</a>. Avete diverse opzioni: Segnalare lo SPAM direttamente dall'app PhoneBlock, cercare e valutare il numero sul sito web, oppure <a th:href="@{/block}">bloccare il numero nella vostra FRITZ!Box</a> inserendo una voce nella rubrica di PhoneBlock. Non appena un numero viene segnalato, viene aggiunto alla lista di blocco e tutti gli altri utenti di PhoneBlock sono automaticamente protetti.</p>

		<h2 data-tx="t0011:db4a3206">Quali sono i requisiti?</h2>

		<p data-tx="t0020:537ee553">PhoneBlock supporta diverse piattaforme per bloccare le chiamate indesiderate:</p>

		<div class="columns is-multiline">
			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-router"></i>
							</span>
							<span data-tx="t0021:7852d066">FRITZ!Box</span>
						</span>
					</h3>
					<p data-tx="t0022:342d09aa">Bloccare le chiamate sulla linea fissa in combinazione con un router Internet <a th:href="@{/link/fritzbox}">FRITZ!Box di AVM</a>. Installare la segreteria telefonica <a th:href="@{/anrufbeantworter}">PhoneBlock</a> o importare l'elenco di blocco come <a th:href="@{/setup}">rubrica telefonica</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-android"></i>
							</span>
							<span data-tx="t0023:aecec7cb">Android</span>
						</span>
					</h3>
					<p data-tx="t0024:b6746620">Bloccate le chiamate di spam direttamente sul vostro cellulare Android con l'applicazione <a th:href="@{/setup-android}">PhoneBlock</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-brands fa-apple"></i>
							</span>
							<span data-tx="t0025:b21bebc5">iPhone</span>
						</span>
					</h3>
					<p data-tx="t0026:f5b65b16">Includere la lista di blocco PhoneBlock sul proprio <a th:href="@{/setup-iphone}">iPhone</a>.</p>
				</div>
			</div>

			<div class="column is-half">
				<div class="box">
					<h3 class="title is-5">
						<span class="icon-text">
							<span class="icon">
								<i class="fa-solid fa-phone-office"></i>
							</span>
							<span data-tx="t0027:9faa419a">Sistema telefonico</span>
						</span>
					</h3>
					<p data-tx="t0028:c76080b9">Integrate PhoneBlock nel vostro <a th:href="@{/setup-pbx}">sistema telefonico</a> come elenco di blocco.</p>
				</div>
			</div>
		</div>

	</div>
</section>

<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>