<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-android.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installazione Android</h1>
		
		<p data-tx="t0002">L'installazione aggiunge la rubrica di PhoneBlock ai vostri contatti. Se si riceve una chiamata da un numero spam, questo viene visualizzato immediatamente, ad esempio "SPAM: 03016637169". È anche possibile vedere immediatamente nelle chiamate perse che non vale la pena richiamare senza dover prima cercare il numero su Google.</p>
		
		<p data-tx="t0003">Non è possibile utilizzare questa funzione per bloccare le chiamate SPAM (il telefono continuerà a squillare, ma si vedrà che si tratta di una chiamata SPAM). È possibile bloccare le chiamate SPAM installando <a href="https://news.phoneblock.net/setup-spamblocker-mit-phoneblock/">SpamBlocker</a> e integrando il database PhoneBlock. <a href="https://github.com/aj3423/SpamBlocker">SpamBlocker</a> è un'applicazione indipendente; in caso di problemi, contattare direttamente lo sviluppatore.</p>
		
		<p data-tx="t0004">Per la sincronizzazione della rubrica, è necessaria un'applicazione che possa essere utilizzata per sincronizzare le rubriche di Internet. È possibile utilizzare "<a href="https://play.google.com/store/apps/details?id=com.messageconcept.peoplesyncclient" target="_blank">PeopleSync</a>", ad esempio, o "<a href="https://play.google.com/store/apps/details?id=at.bitfire.davdroid">DAVx⁵</a>". Le istruzioni qui riportate sono scritte per "PeopleSync", ma la procedura con "DAVx⁵" è molto simile:</p>
		
		<h2 data-tx="t0005">Passo 1: Aprire il Playstore e cercare "PeopleSync".</h2>
		
		<div class="columns">
			<div class="column">
	  			<img alt="Aprire il Playstore" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/01-home.png}"/>Installazione Android
	  		</div>
		
			<div class="column">
				<img alt="Ricerca di PeopleSync" class="image appscreen" data-tx="t0002" th:src="@{/assets/img/peoplesync/02-playstore.png}"/>L'installazione aggiunge la rubrica di PhoneBlock ai vostri contatti. Se si riceve una chiamata da un numero spam, questo viene visualizzato immediatamente, ad esempio "SPAM: 03016637169". È anche possibile vedere immediatamente nelle chiamate perse che non vale la pena richiamare senza dover prima cercare il numero su Google.
			</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" href="#">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0006">Indietro</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/03-people-sync-install}">
		    <span data-tx="t0007">Ulteriori</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>