<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:78f11aec">Installazione nei sistemi telefonici</h1>
		
		<p data-tx="t0002:f5752a3f">PhoneBlock può anche essere integrato nei sistemi telefonici. Poiché un sistema telefonico tende ad essere usato per scopi commerciali, si prega di notare le <a th:href="@{/usage}">Note riguardanti l'uso commerciale</a> di PhoneBlock, in particolare il disclaimer. Gli script per l'integrazione del sistema telefonico sono contributi della comunità di PhoneBlock. Pertanto, in caso di domande/problemi, si prega di contattare direttamente il rispettivo sviluppatore.</p>
		
		<h2 data-tx="t0003:d214c60">3CX</h2>
		
		<p data-tx="t0004:f7cf2141">Per utilizzare PhoneBlock nel sistema telefonico di <a href="https://www.3cx.com/">3CX</a>, date un'occhiata al progetto <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a>.</p>
		
		<h2 data-tx="t0005:cf48ad92">Altro</h2>
		
		<p data-tx="t0006:20abbcfa">Avete scritto un'integrazione per un altro sistema telefonico? Fatelo sapere a <a th:href="@{/impressum}">me</a> in modo che possa inserire un link al vostro progetto.</p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>