<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.usage-view-calls.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Visualizzare le chiamate bloccate e perse</h1>

		<p class="subtitle" data-tx="t0002">PhoneBlock Mobile mostra tutte le chiamate SPAM bloccate e le chiamate perse da numeri sconosciuti.</p>

		<div class="notification is-info">
			<p data-tx="t0003"><strong>Protezione dei dati:</strong> Le chiamate dai numeri presenti nell'elenco dei contatti non vengono registrate. L'applicazione elabora solo i numeri sconosciuti.</p>
		</div>

		<h2 data-tx="t0004">Come funziona</h2>

		<div class="columns is-multiline">
			<div class="column is-half">
				<h3 data-tx="t0005">Blocco automatico</h3>
				<figure class="image">
					<img alt="Chiamata SPAM bloccata" class="appscreen" data-tx="t0006" th:src="@{/assets/img/mobile/usage-1-spam-call-blocked.png}"/>
				</figure>
				<p class="has-text-centered mt-2" data-tx="t0007">Le chiamate SPAM bloccate vengono visualizzate automaticamente nell'app. Riceverete una notifica con il numero e il punteggio SPAM.</p>
			</div>

			<div class="column is-half">
				<h3 data-tx="t0008">Dettagli della chiamata</h3>
				<p class="mt-5" data-tx="t0009">Toccare una voce della cronologia delle chiamate per visualizzarne i dettagli:</p>
				<ul>
					<li data-tx="t0010"><strong>Punteggio SPAM:</strong> Numero di valutazioni negative da parte della comunità</li>
					<li data-tx="t0011"><strong>Ora:</strong> quando è stata effettuata la chiamata</li>
					<li data-tx="t0012"><strong>Categorie:</strong> Tipo di SPAM (es. pubblicità, frode, concorrenza)</li>
					<li data-tx="t0013"><strong>Commenti:</strong> Rapporti ed esperienze di altri utenti di PhoneBlock</li>
				</ul>
				<p class="mt-4" data-tx="t0014">Da qui si può anche valutare il numero o aggiungerlo alla propria blacklist/whitelist personale.</p>
			</div>
		</div>

		<div class="notification is-success mt-5">
			<p><strong data-tx="t0015">Come funziona il blocco?</strong></p>
			<p class="mt-2" data-tx="t0016">PhoneBlock Mobile utilizza il servizio CallScreeningService di Android per esaminare le chiamate in arrivo prima che squillino. Se il numero è presente nel database SPAM e la soglia impostata viene superata, la chiamata viene automaticamente bloccata.</p>
		</div>

		<h2 class="mt-5" data-tx="t0017">Le prossime tappe</h2>
		<div class="buttons">
			<a class="button is-link" th:href="@{/usage-report-spam}">
				<span class="icon">
					<i class="fas fa-flag"></i>
				</span>
				<span data-tx="t0018">Segnala numeri SPAM</span>
			</a>
			<a class="button is-link" th:href="@{/usage-manage-lists}">
				<span class="icon">
					<i class="fas fa-list"></i>
				</span>
				<span data-tx="t0019">Gestione di blacklist/whitelist</span>
			</a>
		</div>

		<div class="buttons mt-3">
			<a class="button" th:href="@{/setup-android}">
				<span class="icon">
					<i class="fas fa-arrow-left"></i>
				</span>
				<span data-tx="t0020">Torniamo all'installazione</span>
			</a>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>