<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001">Denne side kan ikke vises i browseren</h1>

			<p data-tx="t0002">Du skal indtaste det adressebogslink, som du modtog, da du <a th:href="@{/login}">registrerede</a> dig som adressebog i din Fritz!Box som beskrevet i <a th:href="@{/setup}">installationsvejledningen</a> sammen med din e-mailadresse og den adgangskode, som du har fået tilsendt. Du kan ikke vise dette link direkte i browseren, fordi adressebøger tilgås via en særlig protokol (CardDAV), som din browser ikke understøtter.</p>
		</div>
	</section>

	<section th:replace="~{fragments/page :: actions}"></section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>