<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.index.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:56b798e3">Forbindelse afbrudt</h1>

		<p data-tx="t0002:42f8f714">PhoneBlock kan ikke bekræfte, at dette ikke er en automatiseret masseanmodning (din browser accepterer muligvis ikke den tekniske sessionscookie). Derfor kan sidens indhold ikke vises. Hvis du ikke er en robot, kan du omgå kontrollen ved at logge ind <a th:href="@{/login}">på PhoneBlock</a>. Det er bedst at aktivere indstillingen "forbliv logget ind", når du logger ind, så vil dette problem ikke engang opstå, næste gang du besøger hjemmesiden.</p>
		
		<p data-tx="t0003:55e3a53b">Undskyld ulejligheden, men PhoneBlock-hjemmesiden bliver angrebet af et utroligt antal bots med masseforespørgsler, som i høj grad ville begrænse tilgængeligheden af siden uden denne kontrol eller gøre driften af PhoneBlock umulig. For at PhoneBlock fortsat kan tilbydes gratis (eller på <a th:href="@{/support}">donationsbasis</a>), er disse foranstaltninger desværre uundgåelige.</p>
		
		<div class="columns">
		  <div class="column is-one-quarter">
			<a th:class="|button is-medium ${fritzbox ? 'is-primary' : 'is-info'} is-fullwidth|" th:href="@{/login(location=${location})}">
				<span class="icon">
					<i class="fa-solid fa-right-to-bracket"></i>
   				</span>
				<span data-tx="t0004:1dc205">Log ind</span>			
			</a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>