<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installation af iPhone</h1>
		
		<p data-tx="t0002">Installationen tilføjer PhoneBlock-adressebogen til dine kontakter. Hvis du modtager et opkald fra et spamnummer, vises det med det samme, f.eks. "SPAM: 03016637169". Du kan også straks se i de ubesvarede opkald, at det ikke er værd at ringe tilbage uden at skulle google nummeret først.</p>

		<p data-tx="t0003">Installationen foregår i følgende trin:</p>
		
   		<ol>
   		<li><a data-tx="t0004" th:href="@{/login(location=${currentPage})}">Registrer dig hos PhoneBlock.</a></li>
   		<li data-tx="t0005">Åbn "Indstillinger" &gt; "Kontakter" &gt; "Konti".</li>
   		<li data-tx="t0006">Tryk på "Tilføj konto" - "Andet" &gt; "Tilføj CardDAV-konto".</li>
   		<li data-tx="t0007">Indtast dine adgangsdata, og tryk på "Næste". <dl>
				<dt><b>Server</b></dt>
				<dd><code id="url">https://phoneblock.net<th:block th:text="${contextPath}"></th:block>/kontakter/</code><a class="copyToClipboard" data-tx="t0013" href="#" id="url_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></dd>

				<dt><b>Brugernavn</b></dt>
				<dd>
				<th:block th:if="${userName}"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0014" href="#" id="login_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${userName}"><a th:href="@{/login(location=${currentPage})}">Log ind</a> for at se dit brugernavn.</span>
				</dd>

				<dt><b>Password</b></dt>
				<dd>
				<th:block th:if="${token}"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0015" href="#" id="passwd_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${token}">Vises til dig direkte efter første login, du kan <a th:href="@{/settings}">generere et nyt i indstillingerne</a> </span>
				</dd>

				<dt><b>Beskrivelse</b></dt>
				<dd>PhoneBlock</dd>		
   			         </dl>.</li>
   		<li data-tx="t0008">Aktivér "Kontakter", og tryk på "Gem".</li>
		<li data-tx="t0009">Nu kan du se opkald med "SPAM: ..." i din kontaktbog, og når de ringer. Så kan du med det samme se, om det er værd at besvare eller ringe tilbage.</li>
   		</ol>

		<p data-tx="t0010">Har du ikke længere dine adgangsdata ved hånden? Det gør ikke noget, du skal bare <a th:href="@{/settings}">genindstille adgangskoden</a> i indstillingerne.</p>
   		
   		<p data-tx="t0011">Du kan også finde <a th:href="@{/link/carddav-install}">instruktioner med billeder</a> andre steder. I denne vejledning skal du kun bruge PhoneBlock-adgangsdataene i det trin, hvor serveren, brugernavnet og adgangskoden indtastes (se ovenfor).</p>
   		
   		<p data-tx="t0012">Hvis du kun bruger PhoneBlock på iPhone, kan du også øge antallet af poster <a th:href="@{/settings}">i indstillingerne</a>. Hvis der er problemer med dette, så lad os det vide (se <a th:href="@{/faq}">FAQ</a>).</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>