<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installation som telefonbog</h1>

<th:block th:unless="${token}">
		<p data-tx="t0002">For at installere blokeringslisten skal du bruge en <a th:href="@{/link/fritzbox}">"FRITZ!Box"-internetrouter fra AVM</a> og en PhoneBlock-konto. Det behøver ikke nødvendigvis at være den nyeste model, men du bør tjekke, om den nyeste FRITZ!OS er installeret på den (07.29 eller nyere). Hvis det ikke er tilfældet, kan du bruge følgende installationsvejledning til at tjekke, om din version allerede tilbyder de nødvendige muligheder.</p>
		
		<p data-tx="t0003">Bemærk: På grund af tekniske begrænsninger i Fritz!Box kan hele blokeringslisten ikke indlæses i en telefonbog. Derfor giver opsætning af en <a th:href="@{/anrufbeantworter/}">PhoneBlock-telefonsvarer</a> bedre beskyttelse mod SPAM-opkald.</p>
		
		<div class="columns" th:unless="${login}">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/login(location='/setup')}">
				<button class="button is-medium is-info is-fullwidth" data-tx="t0004">Opret en PhoneBlock-konto</button>
			</a>
		  </div>
		</div>
		<p data-tx="t0005" th:if="${login}">Du er allerede registreret som <code th:text="${userName}"></code>, fantastisk! Du kan komme i gang med det samme.</p>
</th:block>

<div class="columns" th:if="${token}">
  <div class="column">
	<div class="tile is-ancestor">
      <div class="tile is-parent">
      	<article class="tile is-child notification">
	        <p class="title" data-tx="t0006">Dine login-oplysninger</p>
	        <p class="subtitle" data-tx="t0007">Du skal bruge følgende data til installationen.</p>
	        <div class="content">
		
				<div class="field">
				  <label class="label" data-tx="t0008">Internetadresse på CardDAV-serveren</label>
				  <div class="control"><code id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0034" href="#" id="url_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0009">Brugernavn</label>
				  <div class="control"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0035" id="login_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
				</div>
				
				<div class="field">
				  <label class="label" data-tx="t0010">adgangskode</label>
				  <div class="control"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0036" href="#" id="passwd_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
				</div>
			</div>
		</article>
	  </div>
    </div>
  </div>
</div>
		
		<h2 data-tx="t0011">Log ind på din FRITZ!Box</h2>
		
		<p data-tx="t0012">For at det skal fungere, skal du være hjemme i dit WLAN, eller din computer skal være forbundet direkte til FRITZ!Box via et kabel. FRITZ!Box vil først bede dig om din adgangskode. Hvis du aldrig har logget ind før, finder du adgangskoden på undersiden af enheden.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013">Log ind på FRITZ!Box</button>
			</a>
		  </div>
		</div>
		
		<h2 data-tx="t0014">Opret en ny "Blocklist"-telefonbog</h2>
		
		<p data-tx="t0015">For at din FRITZ!Box kan blokere spamopkald, skal den have sin egen telefonbog, hvor alle numre på uønskede opkaldere er skrevet ind. Kald denne telefonbog for "Blokeringsliste". Til denne</p>
		
		<ol>
			<li data-tx="t0016">Gå først til afsnittet "Telefoni",</li>
			<li data-tx="t0017">vælg menupunktet "Telefonbog", og</li>
			<li data-tx="t0018">Klik derefter på linket "Ny telefonbog".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Fritz!Box opkaldsliste" class="image" data-tx="t0037" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0019">Indtast login-oplysningerne til din PhoneBlock-konto</h2>
		
		<p data-tx="t0020">Nu skal du bruge loginoplysningerne til din PhoneBlock-konto.</p>

		<ul>
			<li data-tx="t0021"><span class="tag is-danger">1</span> Giv den telefonbog, der skal bruges som blokeringsliste, navnet <code>Blokeringsliste</code>. Du skal bruge dette navn igen i næste trin.</li>

			<li data-tx="t0022">Vælg nu <span class="tag is-danger">2</span> indstillingen <i>Brug telefonbog fra en onlineudbyder</i>.</li>

			<li data-tx="t0023">Derefter kan du vælge <span class="tag is-danger">3</span> udbyderen <i>CardDAV-udbyder</i>.</li>

			<li data-tx="t0024">Næsten færdig, nu er login-dataene <span class="tag is-danger">4</span>. Det er bedst at overføre dem med Cut&amp;Paste for at undgå tastefejl! <ul>
					<li> Indtast URL'en til PhoneBlock-adressebogen i feltet <i>Internetadressen til CardDAV-serveren</i>: <code id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042" href="#" id="url2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a> </li>

					<li> Indtast brugernavnet <th:block th:if="${userName}"><code id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043" href="#" id="login2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>, som du modtog under <a th:href="@{/login(location='/settings')}">registreringen</a>, i feltet <i>Brugernavn</i>. </li>

					<li>Kodeordet<th:block th:unless="${token}">, som du fik under <a th:href="@{/login(location='/settings')}">registreringen</a>, </th:block><th:block th:if="${token}"> <code id="passwd2" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0044" href="#" id="passwd2_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a>,</th:block> skal nu indtastes i feltet <i>Kodeord</i>. </li>
				    </ul>.</li>

			<li data-tx="t0025">Nu kan du bekræfte <span class="tag is-danger">5</span> oprettelsen af den nye telefonbog. Vær opmærksom på dette: Vælg <b>ingen af dine telefoner</b> under "Telefontildeling"! Ellers vil du kun finde SPAM-opkald i kontakterne på din telefon.</li>
		</ul>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Opret ny adressebog" class="image" data-tx="t0038" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0026">Tjek, om din "blokliste" er blevet oprettet</h2>
		
		<p data-tx="t0027">Hvis alt gik godt, har din FRITZ!Box indlæst alle numrene fra PhoneBlock-blokeringslisten. Du bør nu have en ny "Blocklist"-telefonbog i afsnittet "Telefoni / Telefonbog". Hvis du vælger fanen "Blokliste", kan du se alle numrene på de aktuelle spamopkald.</p>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Vis den hentede blokliste" class="image" data-tx="t0039" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0028">Lad FRITZ!Box afvise opkald fra "blokeringslisten"</h2>
		
		<p data-tx="t0029">I afsnittet "Telefoni / Opkaldshåndtering" kan du nu angive den nye "Blocklist"-telefonbog som det telefonnummerområde, der skal blokeres.</p>			
		
		<p data-tx="t0030">Rul ned til underpunktet "Bloker nummerintervaller", og klik på knappen "Tilføj interval".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Tilføj ny opkaldsspærring" class="image" data-tx="t0040" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031">I det nye skærmbillede skal du vælge "Telefonbog" i udvalget for "Område" og vælge den nyoprettede telefonbog "Blokeringsliste" som den "Telefonbog", der skal blokeres.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Bloker opkald med et telefonnummer på blokeringslisten" class="image" data-tx="t0041" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032">Perfekt! Du er færdig med opsætningen. Din telefon burde nu ringe meget sjældnere på grund af en uønsket opkalder. Og hvis den gør, kan du nemt lukke munden på ballademageren for dig og hele PhoneBlock-fællesskabet:</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033">Bloker telefonnummer</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>