<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5df14f18">Dine adgangsdata</h1>

		<form method="get" th:action="@{${location != null ? location : '/settings'}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0002:82b7babd">Din PhoneBlock-konto er blevet oprettet. Her er dine login-oplysninger.</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0003:f48153ce">Internetadresse på CardDAV-serveren</label>
			  <div class="control"><code dir="ltr" id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0009:3f7efe41" href="#" id="url_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">Brugernavn</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0010:3f7efe41" href="#" id="login_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0005:bceeee4f">Du skal indtaste denne værdi som brugernavn for at <a th:href="@{/setup}">kalde bloklisten op</a>.</p>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">adgangskode</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0011:3f7efe41" href="#" id="passwd_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0007:b5380dd1">Du skal bruge denne adgangskode til at <a th:href="@{/setup}">opsætte telefonbogen</a> eller til at logge ind på denne hjemmeside.</p>
			  <p class="help" data-tx="t0008:90026712">Skriv adgangskoden ned (eller gem den i en <a href="https://keepass.info/">password manager</a>), da den kun vil blive vist, indtil du logger ud, eller din session udløber.</p>
			</div>
		  </div>
		</article>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0012:ad5e318d" type="submit">Yderligere</button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>