<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5a43e5f">Velkommen til PhoneBlock!</h1>

		<p data-tx="t0002:ac196de8">Din PhoneBlock-konto er blevet oprettet. Her er dine login-oplysninger:</p>

		<form method="get" th:action="@{${#strings.isEmpty(location) ? '/settings' : location}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0003:5df14f18">Dine adgangsdata</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">Brugernavn</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0005:3f7efe41" href="#" id="login_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">adgangskode</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0007:3f7efe41" href="#" id="passwd_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a></div>
			</div>
		  </div>
		</article>

		<p class="help" data-tx="t0011:513d35a4"><strong>Vigtigt:</strong> Noter venligst disse adgangsdata (eller gem dem i en <a href="https://keepass.info/">password manager</a>). Adgangskoden vises kun én gang. Du kan dog til enhver tid generere en ny adgangskode i indstillingerne.</p>

		<p data-tx="t0009:5aa3701c">Du kan bruge disse adgangsdata senere til at logge ind igen ved dit næste besøg på dette websted.</p>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0010:534ad5e8" type="submit">Fortsæt med installationen</button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>