<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.support-banktransfer.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Donér via bankoverførsel</h1>

		<p data-tx="t0002">Tak, fordi du vil bidrage til omkostningerne ved PhoneBlock. Hvis mange deltager, er et lille beløb tilstrækkeligt, f.eks. <b>1€ pr. år</b> eller <b>0,01€ pr. opsnappet spamopkald</b>, men du kan selv vælge, hvor stort dit bidrag skal være.</p>
		
		<p data-tx="t0003">Brug venligst følgende kontooplysninger til din bankoverførsel:</p>

		<ul>
			<li data-tx="t0004">Modtager: <code dir="ltr" id="receiver" th:text="${props.bank.receiver}"></code><a class="copyToClipboard" data-tx="t0009" href="#" id="receiver_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a>.</li>
			<li data-tx="t0005">Kontonummer: <code dir="ltr" id="account"><span class="token" th:text="${#strings.substring(props.bank.account,0,4)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,4,8)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,8,12)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,12,16)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,16,20)}"></span><span class="token" th:text="${#strings.substring(props.bank.account,20)}"></span></code><a class="copyToClipboard" data-tx="t0010" href="#" id="account_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a>.</li>
			<li data-tx="t0006">BIC: <code dir="ltr" id="bic" th:text="${props.bank.bic}"></code><a class="copyToClipboard" data-tx="t0011" href="#" id="bic_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a>.</li>
			<li data-tx="t0007">Tilsigtet brug: <code dir="ltr" id="purpose" th:text="${supporterId}"></code><a class="copyToClipboard" data-tx="t0012" href="#" id="purpose_" title="Kopier til udklipsholderen."><i class="fa-solid fa-copy"></i></a>.</li>
		</ul>
		
		<p data-tx="t0008">Tak, fordi du bidrager til brugen af PhoneBlock!</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>