<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.response.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{../fragments/page :: header-mobile}"></div>

<section class="section">
<div class="content">

<h1 data-tx="t0001">Ha iniciado sesión correctamente</h1>

<p data-tx="t0002">Su token de autorización: <code id="token" th:text="${token}"></code></p>

<p data-tx="t0003">Su acceso a PhoneBlock se ha realizado correctamente. Si esta página no se cierra automáticamente, es posible que haya algún problema con su aplicación móvil.</p>

</div>
</section>

<div th:replace="~{../fragments/page :: footer-mobile}"></div>
</body>
</html>