<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.anrufbeantworter.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<div class="logo-animation">
			<img alt="PhoneBlock-logo for telefonsvarer" data-tx="t0059" th:src="@{/assets/img/ab/logo/ab-logo.svg}"/>
		</div>
	
		<h1 data-tx="t0001">Installasjon som telefonsvarer</h1>
		
		<p data-tx="t0002">PhoneBlock tilbyr deg en intelligent telefonsvarer som automatisk bare besvarer anrop hvis nummeret til den som ringer er oppført i PhoneBlocks <a th:href="@{/status.jsp}">SPAM-database</a>. Akkurat som for <a th:href="@{/setup.jsp}">oppsett av blokkeringslisten</a>, trenger du ikke din egen enhet eller datamaskin for dette. Du oppretter en PhoneBlock-telefonsvarer her på nettstedet og registrerer den via Internett på din Fritz!Box eller en annen VOIP-kompatibel Internett-ruter. Du kan finne ut nøyaktig hvordan PhoneBlock-telefonsvareren fungerer <a href="https://medium.com/@haui_81991/der-phoneblock-anrufbeantworter-erkl%C3%A4rt-e0c8e7a12822" target="_blank">her</a>.</p>
		
		<p data-tx="t0003">Følgende trinn tar deg til PhoneBlock-telefonsvareren din:</p>
		
		<ol>
			<li><a data-tx="t0004" href="#register">Registrer deg med PhoneBlock</a></li>
			<li><a data-tx="t0005" href="#create">Opprett telefonsvarer</a></li>
			<li><a data-tx="t0006" href="#dyndns">Konfigurer DynDNS i Fritz!Box</a></li>
			<li><a data-tx="t0007" href="#sip">Sette opp telefonienheten i Fritz!Box</a></li>
			<li><a data-tx="t0008" href="#enable">Slå på PhoneBlock-telefonsvareren</a></li>
			<li><a data-tx="t0009" href="#test">Test telefonsvareren</a></li>
		</ol>
		
		 <p data-tx="t0010">Instruksjonene vil veilede deg trinn for trinn gjennom oppsettet. Konfigurasjonen i Fritz!Box er ikke enkel, men hvis du følger prosedyren som er beskrevet her nøyaktig, kan ingenting gå galt.</p>
		 
		<h2 data-tx="t0011" id="register">Trinn 1: Registrer deg hos PhoneBlock</h2>

		<p data-tx="t0012">Herfra trenger du tre nettleservinduer (eller faner). Ett for denne veiledningen, ett for PhoneBlock-telefonsvarer-appen og ett for konfigurasjonsgrensesnittet til Fritz!Box</p>
		
		<p data-tx="t0013" th:if="${loggedIn}">Først må du registrere deg eller logge inn på PhoneBlock for å starte oppsettet.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a class="button is-medium is-info is-fullwidth" th:href="@{/login.jsp(location='/anrufbeantworter/#create')}">
			    <span class="icon">
					<i class="fa-solid fa-right-to-bracket"></i>
			    </span>
				<span data-tx="t0014">Logg inn</span>			
			</a>
		  </div>
		</div>
		<p data-tx="t0015" unless:if="${loggedIn}">Du er logget inn som <code th:text="${userName}"></code>, flott, la oss gå videre til neste trinn!</p>
		
		<h2 data-tx="t0016" id="create">Trinn 2: Opprett telefonsvarer</h2>
		
		<p data-tx="t0017">Når du klikker her, åpnes et vindu med appen <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">PhoneBlock telefonsvarer</a>. Når du åpner den for første gang, er listen over telefonsvarerne dine tom, og det er en knapp nederst til høyre som du kan bruke til å opprette en telefonsvarer. Trykk på denne plussknappen.</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a class="button is-medium is-primary is-fullwidth showAB" target="phoneblock-ab" th:href="@{/ab/}">
			    <span class="icon">
					<i class="fa-solid fa-arrow-up-right-from-square"></i>
			    </span>
				<span data-tx="t0018">Åpne app</span>			
			</a>
		  </div>
		</div>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Konfigurer DynDNS" class="image appscreen" data-tx="t0060" th:src="@{/assets/img/ab/app/01-create-answerbot.png}"/>
	  		</div>
		</div>
		
		<h2 data-tx="t0019" id="dyndns">Trinn 4: Konfigurer DynDNS</h2>
		
		<p data-tx="t0020">Via "DynDNS" informerer Fritz!Box-boksen din PhoneBlock om IP-adressen sin. Dette er nødvendig for at PhoneBlock-telefonsvareren skal kunne finne Fritz!Box</p>
		
		<h3 data-tx="t0021">Aktiver PhoneBlock DynDNS</h3>
		
		<p data-tx="t0022">Aktiver bryteren "Use PhoneBlock DynDNS" i <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">svarmaskin-appen</a> (hvis du er erfaren og allerede bruker en annen DynDNS-leverandør, kan du også skrive inn vertsnavnet til Fritz!Boxen din direkte).</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Konfigurer DynDNS" class="image appscreen" data-tx="t0061" th:src="@{/assets/img/ab/app/02-enable-dyndns.png}"/>
	  		</div>
		</div>
		
		<p data-tx="t0023">På neste side bekrefter du med "Activate DynDNS".</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Konfigurer DynDNS" class="image appscreen" data-tx="t0062" th:src="@{/assets/img/ab/app/03-create-dyndns-account.png}"/>
	  		</div>
		</div>
		
		<p data-tx="t0024">Du vil nå motta tilgangsdata for PhoneBlock DynDNS, som du kan legge inn i Fritz!Boxen din (se nedenfor).</p>

		<h3 data-tx="t0025">Skriv inn påloggingsdata i Fritz!Box</h3>
		
		<p data-tx="t0026">Denne lenken <a class="showFB" href="http://fritz.box" target="fritzbox">åpner et vindu for din Fritz!Box</a>. Logg inn der med passordet ditt for Fritz!Box. Hvis du aldri har gjort dette før, finner du passordet nederst på Fritz!Box</p>
		
		<p data-tx="t0027">I <a class="showFB" href="http://fritz.box" target="fritzbox">Fritz!Box</a> navigerer du til "Internet &gt; Shares" i sidepanelet og velger "DynDNS"-fanen.</p>

		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a class="button is-medium is-primary is-fullwidth showFB" href="http://fritz.box" target="fritzbox">
			    <span class="icon">
					<i class="fa-solid fa-arrow-up-right-from-square"></i>
			    </span>
				<span data-tx="t0028">Åpne Fritz!Box</span>			
			</a>
		  </div>
		</div>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Konfigurer DynDNS" class="image" data-tx="t0063" th:src="@{/assets/img/ab/setup/02-configure-dyndns.png}"/>
	  		</div>
		</div>
		
		<p data-tx="t0029">Kopier dataene for "Oppdater url", "Domenenavn", "Brukernavn" og "Passord" fra <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">svarmaskin-appen</a> og skriv dem inn i <a class="showFB" href="http://fritz.box" target="fritzbox">Fritz!Box</a>. Bekreft med "Apply" (punkt 5 i bildet nedenfor).</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Konfigurer DynDNS" class="image" data-tx="t0064" th:src="@{/assets/img/ab/app/04-copy-dyndns-settings.png}"/>
	  		</div>
		</div>
		
		<h3 data-tx="t0030">Sjekk DynDNS</h3>

		<p data-tx="t0031">Gå nå tilbake til <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">Telefonsvarer-appen</a> og sjekk innstillingene (punkt 6 i bildet ovenfor). Hvis PhoneBlock har funnet Fritz!Boxen din, kommer du til neste side med tilgangsdata for selve telefonsvareren.</p>
		
		<h2 data-tx="t0032" id="sip">Trinn 4: Konfigurere telefonsvareren i Fritz!Box</h2>
		
		<p data-tx="t0033">Telefonsvareren er nå satt opp som en telefonienhet i Fritz!Box For å gjøre dette åpner du <a class="showFB" href="http://fritz.box" target="fritzbox">Fritz!Box-grensesnittet</a> igjen.</p>

		<h3 data-tx="t0034">Sette opp telefonienheten</h3>

		<p data-tx="t0035">Gå til "Telefoni &gt; Telefonienheter" i sidepanelet, og klikk på knappen "Konfigurer ny enhet".</p>

		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Konfigurer enheten" class="image" data-tx="t0065" th:src="@{/assets/img/ab/setup/03-create-new-device.png}"/>
	  		</div>
		</div>
		
		<h3 data-tx="t0036">Velg type enhet</h3>

		<p data-tx="t0037">Velg alternativet "Telefon (med og uten telefonsvarer)", og klikk på "Neste". Merk: Ikke velg det åpenbare alternativet "Telefonsvarer", da dette kun kan brukes til å konfigurere telefonsvarere som er permanent installert i Fritz!Box</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Opprett enhet" class="image" data-tx="t0066" th:src="@{/assets/img/ab/setup/04-create-phone.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0038">Konfigurere IP-telefonen</h3>

		<p data-tx="t0039">På siden "Koble til telefon" velger du alternativet "LAN/WLAN (IP-telefon)" og gir den nye enheten navnet "PhoneBlock" i tekstfeltet nedenfor. Klikk deretter på "Neste".</p>

		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Opprett IP-telefon" class="image" data-tx="t0067" th:src="@{/assets/img/ab/setup/05-choose-ip-phone.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0040">Overfør tilgangsdata</h3>

		<p data-tx="t0041">På neste side "Bruk innstillinger i IP-telefonen" vil du bli bedt om "Brukernavn" og "Passord". Kopier de tilsvarende dataene som vises i <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">svarmaskin-appen&lt;/x1 Klikk på "Neste".</a></p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Brukerdata" class="image" data-tx="t0068" th:src="@{/assets/img/ab/app/05-copy-sip-settings.png}"/>
	  		</div>
		</div>
		
		<h3 data-tx="t0042">Innstillinger for utgående anrop</h3>

		<p data-tx="t0043">På siden "Konfigurer telefon for utgående anrop" kan du ganske enkelt klikke på "Neste". PhoneBlock-telefonsvareren trenger ikke et telefonnummer for utgående anrop fordi den aldri ringer aktivt. Vi vil deaktivere dette nummeret i et senere trinn, slik at telefonsvareren virkelig ikke kan ringe.</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Utgående samtaler" class="image" data-tx="t0069" th:src="@{/assets/img/ab/setup/07-choose-local-number.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0044">Velg numre som skal beskyttes</h3>

		<p data-tx="t0045">På siden "Konfigurer telefoninnstillinger for innkommende anrop" bør du la standardinnstillingen "Godta alle anrop" stå. Hvis du bare vil beskytte visse numre mot SPAM-anrop, kan du også velge hvilke numre telefonsvareren i det hele tatt skal se et anrop for. Klikk på "Neste".</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Beskyttede tall" class="image" data-tx="t0070" th:src="@{/assets/img/ab/setup/08-numbers-to-protect.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0046">Bekreft konfigurasjonen</h3>

		<p data-tx="t0047">Du kommer nå til oppsummeringssiden "Bruk innstillinger". Her kan du sjekke innstillingene du har gjort på nytt, og bekrefte dem med "Bruk".</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Kontroller innstillingene" class="image" data-tx="t0071" th:src="@{/assets/img/ab/setup/10-check-settings.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0048">Fullfør konfigureringen av enheten</h3>

		<p data-tx="t0049">Du er tilbake i "Enhetsoversikten". Du bør nå se den nye telefonsvareren "PhoneBlock" i listen. Før du kan slå på telefonsvareren, må du imidlertid foreta ytterligere innstillinger. Dette gjør du ved å klikke på redigeringsblyanten på slutten av PhoneBlock-linjen.</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Rediger telefonsvareren" class="image" data-tx="t0072" th:src="@{/assets/img/ab/setup/09-edit-phone.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0050">Stopp utgående anrop</h3>

		<p data-tx="t0051">I valgfeltet "Utgående anrop" kan du nå velge den siste tomme oppføringen for å sikre at telefonsvareren din ikke kan ringe uavhengig. Klikk <b>ikke</b> på Bruk-knappen nederst, men på den andre fanen "Innloggingsdata". Du blir nå spurt om du vil lagre endringene. Klikk på "Bruk" i denne dialogen.</p>
		
		<div class="columns">
			<div class="column">
	  			<img alt="Forhindre utgående anrop" class="image" data-tx="t0073" th:src="@{/assets/img/ab/setup/11-prevent-call.png}"/>
	  		</div>
			<div class="column">
	  			<img alt="Bekreft" class="image" data-tx="t0074" th:src="@{/assets/img/ab/setup/12-confirm.png}"/>
	  		</div>
		</div>

		<h3 data-tx="t0052">Tillat pålogging fra Internett</h3>

		<p data-tx="t0053">I fanen "Innloggingsdata" må du nå aktivere alternativet "Tillat innlogging fra Internett" og kopiere passordet igjen fra <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">svarmaskin-appen</a> og skrive det inn i feltet "Passord". Klikk deretter på knappen "Bruk".</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Tilgang fra Internett" class="image" data-tx="t0075" th:src="@{/assets/img/ab/setup/13-allow-internet-access.png}"/>
	  		</div>
		</div>
		
		<h2 data-tx="t0054" id="enable">Trinn 5: Slå på telefonsvareren</h2>
		
		<p data-tx="t0055">Konfigurasjonen av telefonsvareren er nå fullført. Bytt tilbake til <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">Telefonsvarer-appen</a> og slå på den nye telefonsvareren.</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Tilgang fra Internett" class="image appscreen" data-tx="t0076" th:src="@{/assets/img/ab/app/06-register-answerbot.png}"/>
	  		</div>
		</div>
		
		<p data-tx="t0056">Gratulerer, hvis alt gikk bra, skal telefonsvareren nå vises i grønt som "slått på" i <a class="showAB" target="phoneblock-ab" th:href="@{/ab/}">telefonsvarer-appen</a>. De neste ubehagelige innringerne kan diskutere med PhoneBlock i fremtiden.</p>

		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Telefonsvarer tilkoblet" class="image appscreen" data-tx="t0077" th:src="@{/assets/img/ab/app/10-answerbot-activated.png}"/>
	  		</div>
		</div>
		
		<h2 data-tx="t0057" id="test">Trinn 6: Test telefonsvareren</h2>

		<p data-tx="t0058">Hvis du vil prøve hvordan en samtale med den ikke helt hverdagslige PhoneBlock-telefonsvareren fungerer, kan du ringe den fra en telefon som er koblet direkte til Fritz!Box (f.eks. en trådløs DECT-telefon) via telefonsvarerens <b>internnummer</b>. Telefonsvareren godtar alltid slike testanrop. <b>Viktig:</b> Dette fungerer <b>kun</b> via telefonsvarerens interne nummer (begynner vanligvis med "**"). Du finner det interne nummeret i enhetsoversikten til Fritz!Boxen din i linjen "PhoneBlock". Hvorfor prøver du ikke å estimere et solcelleanlegg for ham? Ha det gøy!</p>
		
		<div class="columns">
			<div class="column is-8 is-offset-2">
	  			<img alt="Telefonsvarer tilkoblet" class="image" data-tx="t0078" th:src="@{/assets/img/ab/setup/14-answerbot-local-number.png}"/>
	  		</div>
		</div>
		
	</div>
</section>
<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>