<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.impressum.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:9752b6bd">Avtrykk</h1>

		<p data-tx="t0002:c4d85df">PhoneBlock er et <a href="https://github.com/haumacher/phoneblock">privat prosjekt</a> som kan hjelpe deg med digitalt selvforsvar mot telefonterror og uønskede reklameanrop. PhoneBlock er verken et produkt eller en kommersiell tjeneste i henhold til <a href="https://www.gesetze-im-internet.de/ddg/__5.html">Digitaltjenesteloven</a>.</p>
		
		<p data-tx="t0003:2e52c3a">Jeg (Bernhard Haumacher <button class="button is-small is-link is-light showaddr">...</button>) driver dette nettstedet som privatperson for min personlige fornøyelses skyld og av teknologisk interesse. Jeg gjør det mulig for deg å bruke programvaren gratis og stiller også den nødvendige serverkapasiteten gratis til rådighet. Hvis du ønsker å bidra til driftskostnadene eller bare si "takk", er du velkommen til å "donere" et <a th:href="@{/support}">lite beløp</a>. Dette gjør du imidlertid uten å forvente noe i retur.</p>
		
		<p data-tx="t0004:e8e4ca56">Programvaren bak dette nettstedet er utviklet av Bernhard Haumacher <button class="button is-small is-link is-light showaddr">...</button> og andre. Hvis du har spørsmål som ikke allerede er besvart i <a th:href="@{/faq}">FAQ</a> og <a th:href="@{/usage}">Brukervilkår</a>, er du velkommen til å kontakte meg (<button class="button is-small is-link is-light showaddr">...</button>). Jeg ønsker imidlertid ikke å motta telefonsamtaler eller besøk, og derfor er e-post det eneste kontaktalternativet. I tilfelle problemer, f.eks. hvis telefonnummeret ditt ved et uhell har blitt lagt til i blokkeringslisten, vil jeg gjerne hjelpe deg umiddelbart og uten komplikasjoner.</p>

		</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>