<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installasjon i telefonsystemer</h1>
		
		<p data-tx="t0002">PhoneBlock kan også integreres i telefonsystemer. Ettersom et telefonsystem vanligvis brukes i forretningsøyemed, bør du ta hensyn til <a th:href="@{/usage}">Notes regarding the commercial use</a> av PhoneBlock, spesielt ansvarsfraskrivelsen. Skriptene for integrering av telefonsystemer er bidrag fra PhoneBlock-fellesskapet. Hvis du har spørsmål/problemer med dem, kan du kontakte den respektive utvikleren direkte.</p>
		
		<h2 data-tx="t0003">3CX</h2>
		
		<p data-tx="t0004">Hvis du vil bruke PhoneBlock i telefonsystemet til <a href="https://www.3cx.com/">3CX</a>, kan du ta en titt på prosjektet <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a>.</p>
		
		<h2 data-tx="t0005">Annet</h2>
		
		<p data-tx="t0006">Har du skrevet en integrasjon for et annet telefonsystem? Gi <a th:href="@{/impressum}">meg</a> beskjed, slik at jeg kan legge inn en lenke til prosjektet ditt.</p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>