<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:ab611ecc">iPhone-installasjon</h1>

		<div class="notification is-info">
			<p class="is-size-5"><strong data-tx="t0025:944f7a03">Nytt: PhoneBlock iPhone-app</strong></p>
			<p class="mt-2" data-tx="t0026:41efd170">En egen PhoneBlock-app for iPhone er under utvikling! Appen vil tilby betydelig flere funksjoner enn CardDAV-integrasjonen. Du kan allerede nå delta i betatesten:</p>
			<p class="mt-3">
				<a class="button is-primary" href="https://testflight.apple.com/join/Xb2kpjDs" rel="noopener" target="_blank">
					<span class="icon">
						<i class="fa-brands fa-apple"></i>
					</span>
					<span data-tx="t0027:6c59829">Til betatestregistreringen (TestFlight)</span>
				</a>
			</p>
		</div>

		<h2 data-tx="t0028:f6081a2d">Installasjon som CardDAV-telefonbok</h2>

		<p data-tx="t0002:2b88b172">Installasjonen legger til PhoneBlock-adresseboken i kontaktene dine. Hvis du mottar en oppringning fra et spam-nummer, vises dette umiddelbart, f.eks. "SPAM: 03016637169". Du kan også umiddelbart se i listen over ubesvarte anrop at det ikke er verdt å ringe tilbake, uten å måtte google nummeret først.</p>

		<div class="notification is-warning">
			<p data-tx="t0023:f940709d"><strong>Note:</strong> Med denne metoden blir alle SPAM-numrene i blokkeringslisten (flere tusen oppføringer) synkronisert som kontakter i adresseboken på iPhone. Dette er normalt og nødvendig for at SPAM-merkingen skal fungere når du ringer. SPAM-oppføringene vises i kontaktlisten din, men kan ikke slettes enkeltvis uten å fjerne hele PhoneBlock-synkroniseringen.</p>
			<p class="mt-2" data-tx="t0024:f5b69b15">Hvis du er plaget av mange SPAM-oppføringer i adresseboken din, kan du redusere antallet synkroniserte oppføringer i <a th:href="@{/settings}">innstillinger</a>. Vær imidlertid oppmerksom på at dette også vil begrense beskyttelsen mot SPAM-anrop.</p>
		</div>

		<p data-tx="t0003:85b28045">Installasjonen foregår i følgende trinn:</p>

   		<ol>
   		<li><a data-tx="t0004:61875b8b" th:href="@{/login(location=${currentPage})}">Registrer deg hos PhoneBlock.</a></li>
   		<li data-tx="t0005:a31aa698">Åpne "Innstillinger" &gt; "Kontakter" &gt; "Kontoer".</li>
   		<li data-tx="t0006:ab5dd94a">Trykk på "Legg til konto" - "Annet" &gt; "Legg til CardDAV-konto".</li>
   		<li>
   			<div data-tx="t0007:77f669c0">Skriv inn tilgangsdataene dine, og trykk på "Fortsett".</div>
   			<dl>
			<dt><b data-tx="t0016:e4287b86">Server</b></dt>
			<dd><code dir="ltr" id="url">https://phoneblock.net<th:block th:text="${contextPath}"></th:block>/contacts/</code><a class="copyToClipboard" data-tx="t0013:3f7efe41" href="#" id="url_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></dd>

			<dt><b data-tx="t0017:548c40c1">Brukernavn</b></dt>
			<dd>
			<th:block th:if="${userName}"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0014:3f7efe41" href="#" id="login_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></th:block>
			<span data-tx="t0018:ae0111da" th:unless="${userName}"><a th:href="@{/login(location=${currentPage})}">Logg inn</a> for å se brukernavnet ditt.</span>
			</dd>

			<dt><b data-tx="t0019:e99dee32">passord</b></dt>
			<dd>
			<th:block th:if="${token}"><code dir="ltr" id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0015:3f7efe41" href="#" id="passwd_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></th:block>
			<span data-tx="t0020:aa45285a" th:unless="${token}">ble vist til deg direkte etter første innlogging, kan du generere en ny <a th:href="@{/settings}">i innstillingene</a>.</span>
			</dd>

			<dt><b data-tx="t0021:c1a59138">Beskrivelse av</b></dt>
			<dd data-tx="t0022:88251796">PhoneBlock</dd>
   			</dl>
   		</li>
   		<li data-tx="t0008:e822af69">Aktiver "Kontakter" og trykk på "Lagre".</li>
		<li data-tx="t0009:257d1868">Nå vil du se anrop med "SPAM: ..." i kontaktboken din og når de ringer. Da kan du med en gang se om det er verdt å svare eller ringe tilbake.</li>
   		</ol>

		<p data-tx="t0010:943e8468">Har du ikke lenger tilgangsdataene dine tilgjengelig? Det er bare å <a th:href="@{/settings}">gjenopprette passordet</a> i innstillingene.</p>

   		<p data-tx="t0012:707461f9">Hvis du bare bruker PhoneBlock på iPhone, kan du også øke antall oppføringer <a th:href="@{/settings}">i innstillingene</a>. Hvis det oppstår problemer med dette, vennligst gi oss beskjed (se <a th:href="@{/faq}">FAQ</a>).</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>