<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.show-credentials.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:5df14f18">Dine tilgangsdata</h1>

		<form method="get" th:action="@{${location != null ? location : '/settings'}}">

		<article class="message is-info">
		  <div class="message-header">
		    <p data-tx="t0002:82b7babd">PhoneBlock-kontoen din har blitt opprettet. Her er påloggingsopplysningene dine.</p>
		  </div>

		  <div class="message-body">
			<div class="field">
			  <label class="label" data-tx="t0003:f48153ce">Internett-adressen til CardDAV-serveren</label>
			  <div class="control"><code dir="ltr" id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0009:3f7efe41" href="#" id="url_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></div>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0004:548c40c1">Brukernavn</label>
			  <div class="control"><code dir="ltr" id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0010:3f7efe41" href="#" id="login_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0005:bceeee4f">Du må oppgi denne verdien som brukernavn for <a th:href="@{/setup}">å hente opp blokkeringslisten</a>.</p>
			</div>

			<div class="field">
			  <label class="label" data-tx="t0006:e99dee32">passord</label>
			  <div class="control"><code dir="ltr" id="passwd" th:text="${passwd}"></code><a class="copyToClipboard" data-tx="t0011:3f7efe41" href="#" id="passwd_" title="Kopier til utklippstavlen."><i class="fa-solid fa-copy"></i></a></div>
			  <p class="help" data-tx="t0007:b5380dd1">Du må bruke dette passordet for å <a th:href="@{/setup}">opprette telefonboken</a> eller for å logge inn på dette nettstedet.</p>
			  <p class="help" data-tx="t0008:90026712">Skriv ned passordet (eller lagre det i en <a href="https://keepass.info/">passordbehandler</a>), ettersom det bare vises til du logger ut eller økten din utløper.</p>
			</div>
		  </div>
		</article>

		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" data-tx="t0012:ad5e318d" type="submit">Videre</button>
		  </p>
		</div>

		</form>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>