<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">تثبيت أندرويد</h1>
		
		<h2 data-tx="t0002">تم، يتم إدخال قائمة الحظر في جهات الاتصال الخاصة بك</h2>
		
		<p data-tx="t0003">افتح جهات الاتصال الخاصة بك. تحت الحرف "S" ستجد قائمة طويلة من الأرقام غير المرغوب فيها التي يجب ألا ترد عليها أو تعاود الاتصال بها.</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="تم إعداد الحساب" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/11-spam-contacts.png}"/>تثبيت أندرويد
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/09-people-sync-account-finished}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">رجوع</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/status}">
		    <span data-tx="t0005">تم الانتهاء</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>