<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.login.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{../fragments/page :: header-mobile}"></div>

<section class="section">
	<div class="content">
	<h1 data-tx="t0001">Прив'язати обліковий запис PhoneBlock</h1>
	
	<p data-tx="t0002">Тут ви зв'язуєте свій обліковий запис PhoneBlock з вашим мобільним пристроєм.</p>

	<p data-tx="t0003" th:if="${#strings.isEmpty(login)}">Спочатку ви повинні зареєструватися в PhoneBlock або створити обліковий запис PhoneBlock. Обліковий запис PhoneBlock потрібен для того, щоб ваш мобільний телефон міг використовувати базу даних PhoneBlock для фільтрації дзвінків.</p>
	</div>

	<div th:if="${#strings.isEmpty(login)}" th:replace="~{../fragments/login-forms :: forms(web=false, location='/mobile/login')}">
	</div>

	<th:block th:unless="${#strings.isEmpty(login)}">
	<form method="post" th:action="@{/create-token}">
		<div class="field is-grouped">
		  <p class="control">
		    <button class="button is-primary" type="submit">
	          <span class="icon">
			      <i class="fa-solid fa-link"></i>
			  </span>
		      <span data-tx="t0004">Прив'язати обліковий запис PhoneBlock</span>
		    </button>
		  </p>
		</div>
	</form>	
	</th:block>
</section>

<div th:replace="~{../fragments/page :: footer-mobile}"></div>
</body>
</html>