<!DOCTYPE html>
<html>
<head>
<title data-tx="t0001:572a4b02">PhoneBlock : Répondeur désactivé</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="{image}" width="96"/>
</div>

<h2 data-tx="t0003:246aceaa">Bonjour {nom},</h2>

<p data-tx="t0004:f6b0dee3">Tu as enregistré un répondeur chez <a href="{home}">PhoneBlock</a>.</p>

<p data-tx="t0005:4ffb31e5">Ton nom d'utilisateur PhoneBlock : <code>{nom d'utilisateur}</code><br/><code></code><br/><code></code><br/><code></code></p>

<p data-tx="t0006:e6148ea6">Veuillez <a href="{app}">vérifier vos paramètres</a>, sinon vous risquez de recevoir des SPAM.<a href="{app}"></a></p>

<p data-tx="t0007:284b3eac">Salutations</p>

<p data-tx="t0008:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0009:cb09622c" style="color: gray;">--<br/>
Page d'accueil : <a href="{home}">{home}</a><br/>
donation : <a href="{support}">{support}</a><br/>
Paramètres : <a href="{settings}">{settings}</a><br/>
Répondeur : <a href="{app}">{app}</a><br/>
Tutoriel vidéo : <a href="{help}">{help}</a><br/>
Facebook : <a href="{facebook}">{facebook}</a><br/>
Contact : <a href="mailto:{mail}">{mail}</a><br/></p>

</body>
</html>