<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title data-tx="t0001:572a4b02">PhoneBlock : Répondeur désactivé</title>
</head>

<body>
<div style="float:right; margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
<img alt="Logo PhoneBlock" data-tx="t0002:5b0e8765" height="96" src="https://phoneblock.net/phoneblock/assets/img/app-logo.svg" th:src="${image}" width="96"/>
</div>

<h2 data-tx="t0009:f05885dc">Bonjour <span th:text="${name}">Utilisateur</span>,</h2>

<p data-tx="t0004:f6b0dee3">Tu as enregistré un répondeur chez <a href="https://phoneblock.net" th:href="${home}">PhoneBlock</a>.</p>

<p data-tx="t0010:fc5c006">Ton nom d'utilisateur PhoneBlock : <code th:text="${userName}">user123</code><br/>
L'ID de ton répondeur : <code th:text="${botId}">bot123</code><br/>
Le dernier enregistrement réussi : <code th:text="${lastSuccess}">01.01.2024 12:00:00</code><br/>
Le dernier message d'erreur : <code th:text="${lastMessage}">Registration failed</code></p>

<p data-tx="t0011:3cc418fa">Veuillez <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}"> vérifier vos paramètres</a>, sinon les appels SPAM vous
peuvent à nouveau être atteints librement : <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}" th:text="${app}">https://phoneblock.net/phoneblock/ab/</a>.</p>

<p data-tx="t0007:284b3eac">Salutations</p>

<p data-tx="t0008:70c6d927">Bernhard Haumacher</p>

<p data-tx="t0012:14e1f6dc" style="color: gray;">--<br/>
Page d'accueil : <a href="https://phoneblock.net" th:href="${home}" th:text="${home}">https://phoneblock.net</a><br/>
Don : <a href="https://phoneblock.net/phoneblock/support" th:href="${support}" th:text="${support}">https://phoneblock.net/phoneblock/support</a><br/>
Réglages : <a href="https://phoneblock.net/phoneblock/settings" th:href="${settings}" th:text="${settings}">https://phoneblock.net/phoneblock/settings</a><br/>
Répondeur : <a href="https://phoneblock.net/phoneblock/ab/" th:href="${app}" th:text="${app}">https://phoneblock.net/phoneblock/ab/</a><br/>
Instructions vidéo : <a href="https://www.youtube.com/@phoneblock" th:href="${help}" th:text="${help}">https://www.youtube.com/@phoneblock</a><br/>
Facebook : <a href="https://www.facebook.com/PhoneBlock" th:href="${facebook}" th:text="${facebook}">https://www.facebook.com/PhoneBlock</a><br/>
Contact : <a href="mailto:phoneblock@haumacher.de" th:href="|mailto:${mail}|" th:text="${mail}">phoneblock@haumacher.de</a><br/></p>

</body>
</html>