<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Instalacja w systemie Android</h1>
		
		<h2 data-tx="t0002">Krok 4: Dodanie książki adresowej i wprowadzenie danych konta PhoneBlock</h2>
		
		<ol>
		<li data-tx="t0003">Wybierz opcję "Log in with URL and user name" i wprowadź adres książki adresowej PhoneBlock jako "Base URL": <code id="url" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0009" href="#" id="url_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a>.</li>
			
		<li data-tx="t0004">W polu "User name" (Nazwa użytkownika) wprowadź nazwę użytkownika otrzymaną podczas rejestracji <a th:href="@{/login(location=${currentPage})}">PhoneBlock</a><th:block th:if="${userName}"> (<code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0010" href="#" id="login_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a>)</th:block>.</li>
			
		<li data-tx="t0005">Hasło zostało wyświetlone po pierwszym logowaniu<th:block th:if="${token}"> (<code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0011" href="#" id="passwd_" title="Kopiuj do schowka."><i class="fa-solid fa-copy"></i></a>)</th:block>.</li>
		</ol>
		
		<p data-tx="t0006">Nie masz już pod ręką swoich danych logowania? Nieważne, po prostu zaloguj się i <a th:href="@{/login(location='/settings')}">zresetuj hasło</a> w ustawieniach.</p>

		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Dodaj książkę adresową" class="image appscreen" data-tx="t0012" th:src="@{/assets/img/peoplesync/07-people-sync-add.png}"/>
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="Dodaj książkę adresową" class="image appscreen" data-tx="t0013" th:src="@{/assets/img/peoplesync/08-people-sync-account.png}"/>
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/05-people-sync-accept}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0007">Powrót</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/09-people-sync-account-finished}">
		    <span data-tx="t0008">Dalej</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>
<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>