<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">iPhone-installatie</h1>
		
		<p data-tx="t0002">De installatie voegt het PhoneBlock-adresboek toe aan uw contacten. Als je gebeld wordt door een spornummer, wordt dit onmiddellijk weergegeven, bv. "SPAM: 03016637169". Je kunt ook meteen in de gemiste oproepen zien dat het niet de moeite waard is om terug te bellen zonder eerst het nummer te hoeven googelen.</p>

		<p data-tx="t0003">De installatie verloopt in de volgende stappen:</p>
		
   		<ol>
   		<li><a data-tx="t0004" th:href="@{/login.jsp(location=${currentPage})}">Registreren bij PhoneBlock.</a></li>
   		<li data-tx="t0005">Open "Instellingen" &gt; "Contacten" &gt; "Accounts".</li>
   		<li data-tx="t0006">Druk op "Account toevoegen" - "Andere" &gt; "CardDAV-account toevoegen".</li>
   		<li data-tx="t0007">Voer je toegangsgegevens in en tik op "Volgende". <dl>
				<dt><b>Server</b></dt>
				<dd><code id="url">https://phoneblock.net<th:block th:text="${contextPath}"></th:block>/contacts/</code><a class="copyToClipboard" data-tx="t0013" href="#" id="url_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></dd>

				<dt><b>Gebruikersnaam</b></dt>
				<dd>
				<th:block th:if="${userName}"><code id="login" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0014" href="#" id="login_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${userName}"><a th:href="@{/login.jsp(location=${currentPage})}">Log in</a> om uw gebruikersnaam te zien.</span>
				</dd>

				<dt><b>Wachtwoord</b></dt>
				<dd>
				<th:block th:if="${token}"><code id="passwd" th:text="${token}"></code><a class="copyToClipboard" data-tx="t0015" href="#" id="passwd_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></th:block>
				<span th:unless="${token}">Werd direct aan u getoond na de eerste keer inloggen, u kunt <a th:href="@{/settings}">een nieuwe genereren in de instellingen</a> </span>
				</dd>

				<dt><b>Beschrijving</b></dt>
				<dd>Telefoonblok</dd>		
   			         </dl>.</li>
   		<li data-tx="t0008">Activeer "Contacten" en tik op "Opslaan".</li>
		<li data-tx="t0009">Nu zie je oproepen met "SPAM: ..." in je contactlijst en wanneer ze overgaan. Je kunt dan meteen zien of het de moeite waard is om op te nemen of terug te bellen.</li>
   		</ol>

		<p data-tx="t0010">Heb je je toegangsgegevens niet meer bij de hand? Geen probleem, je hoeft alleen maar <a th:href="@{/settings}">het wachtwoord opnieuw in te stellen</a> in de instellingen.</p>
   		
   		<p data-tx="t0011">U kunt elders ook <a th:href="@{/link/carddav-install}">instructies met afbeeldingen</a> vinden. In deze handleiding hoeft u de PhoneBlock-toegangsgegevens alleen te gebruiken in de stap waarin de server, de gebruikersnaam en het wachtwoord worden ingevoerd (zie hierboven).</p>
   		
   		<p data-tx="t0012">Als je PhoneBlock alleen op de iPhone gebruikt, kun je ook het aantal vermeldingen <a th:href="@{/settings}">in de instellingen</a> verhogen. Als hier problemen mee zijn, laat het ons dan weten (zie <a th:href="@{/faq}">FAQ</a>).</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>