<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installatie in telefoonsystemen</h1>
		
		<p data-tx="t0002">PhoneBlock kan ook worden geïntegreerd in telefoonsystemen. Aangezien een telefoonsysteem meestal gebruikt wordt voor zakelijke doeleinden, gelieve de <a th:href="@{/usage}">Notes regarding the commercial use</a> van PhoneBlock te lezen, in het bijzonder de disclaimer. De scripts voor de telefoonsysteemintegratie zijn bijdragen van de PhoneBlock-community. Dus als u vragen/problemen heeft, neem dan direct contact op met de betreffende ontwikkelaar.</p>
		
		<h2 data-tx="t0003">3CX</h2>
		
		<p data-tx="t0004">Als je PhoneBlock wilt gebruiken in het telefoonsysteem van <a href="https://www.3cx.com/">3CX</a>, bekijk dan het project <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a>.</p>
		
		<h2 data-tx="t0005">Andere</h2>
		
		<p data-tx="t0006">Heb je een integratie geschreven voor een ander telefoonsysteem? Laat het dan <a th:href="@{/impressum}">mij</a> weten, zodat ik een link naar je project kan plaatsen.</p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>