<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head(title=#{page.mobile.code.title})}"></head>

<body th:dir="${currentLang.direction}">

<div th:replace="~{../fragments/mobile :: header}"></div>

<section class="section">
<div class="content">

<div class="columns">
  <div class="column">
	<div class="tile is-ancestor">
      <div class="tile is-parent">
      	<article class="tile is-child notification">
	        <h1 class="title">E-Mail-Adresse bestätigen</h1>
	        <p class="subtitle">Code aus E-Mail eingeben.</p>
	        <div class="content">
				<p>
					Eine E-Mail wurde an die Adresse <code th:text="${email}"></code> gesendet. 
				</p>
				<p>
					Bitte schau in Deiner Mailbox nach, kopiere den Code und gib ihn hier ein. Damit bestätigst 
					Du Deine E-Mail-Adresse.
				</p>
				<form th:action="@{/register-mobile}" method="post" enctype="application/x-www-form-urlencoded">
					<div class="field">
						<label class="label">Code</label>
						<div class="control has-icons-left has-icons-right">
							<input name="code" th:class="|input${message == null ? '' : ' is-danger'}|" type="text" placeholder="Bestätigungscode" value=""/>
							<span class="icon is-small is-left">
							  <i class="fa-solid fa-barcode"></i>
							</span>
							<span th:if="${message != null}" class="icon is-small is-right">
							  <i class="fas fa-exclamation-triangle"></i>
							</span>
						</div>

						<p th:if="${message != null}" class="help is-danger">
							<span th:text="${message}"></span>
							<a th:href="@{/mobile/login}">Nochmal probieren</a>.								
						</p>

						<p th:if="${message == null}" class="help">
							<span>Keine E-Mail erhalten? Prüfe bitte Deinen Spam-Ordner!</span>
							<a th:href="@{/mobile/login}">Nochmal probieren</a>.								
						</p>
					</div>		
							
					<div class="buttons is-right">
				    	<button class="button is-link" type="submit">Account erstellen</button>
					</div>
				</form>
	        </div>
	  	</article>
	  </div>
	</div>
   </div>
</div>

</div>
</section>

</body>
</html>