<!DOCTYPE html>
<html>
<head th:replace="~{../fragments/page :: head}"></head>

<body>
<div th:replace="~{../fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Android-installatie</h1>
		
		<h2 data-tx="t0002">Stap 7: Abonneer je op de blocklist</h2>
		
		<p data-tx="t0003">Selecteer je nieuw aangemaakte account en activeer het adresboek "Blocklist". Druk nu op de synchronisatieknop.</p>
		
		<div class="columns">
			<div class="column is-two-fifths">
	  			<img alt="Account is ingesteld" class="image appscreen" data-tx="t0001" th:src="@{/assets/img/peoplesync/09-people-sync-account-finished.png}"/>Android-installatie
	  		</div>
			<div class="column is-two-fifths">
	  			<img alt="Abonneren op de blokkadelijst" class="image appscreen" data-tx="t0002" th:src="@{/assets/img/peoplesync/10-people-sync-subscribe.png}"/>Stap 7: Abonneer je op de blocklist
	  		</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" th:href="@{/setup-android/07-people-sync-add}">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0004">Terug</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/11-spam-contacts}">
		    <span data-tx="t0005">Verder</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>
<div th:replace="~{../fragments/page :: footer}"></div>
</body>
</html>