.swagger-ui pre {
    background-color: inherit;
}

.navbar-dropdown {
    background-color:#00d1b2;
}

.hero.is-primary .navbar-item, .hero.is-primary .navbar-link {
    color: rgba(255,255,255);
}

/* Reduce spacing around rating images */
.content figure {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 1024px) {
    .navbar-item.has-dropdown.is-active .navbar-link,
    .navbar-item.has-dropdown:focus .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link {
        background-color:#00b89c;
    }

    .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
        background-color: #00b89c;
    }

    .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
        background-color: #00b89c;
    }
}

.tag:not(body).is-legitimate,
.button.is-legitimate {
    background-color: rgba(72, 199, 142, 1);
    color: #fff;
}

.tag:not(body).is-missed,
.button.is-missed {
    background-color: rgba(170, 172, 170, 1);
    color: #fff;
}

.tag:not(body).is-ping,
.button.is-ping {
    background-color: rgba(31, 94, 220, 1);
    color: #fff;
}

.tag:not(body).is-poll,
.button.is-poll {
    background-color: rgba(157, 31, 220, 1);
    color: #fff;
}

.tag:not(body).is-advertising,
.button.is-advertising {
    background-color: rgba(255, 224, 138, 1);
    color: rgba(0,0,0,.7);
}

.tag:not(body).is-gamble,
.button.is-gamble {
    background-color: rgba(241, 122, 70, 1);
    color: #fff;
}

.tag:not(body).is-fraud,
.button.is-fraud {
    background-color: rgba(241, 70, 104, 1);
    color: #fff;
}

.logo-image {
    height: 37px;
    vertical-align: bottom;
}

.github-image {
    position: absolute;
    top: 0;
    right: 0;
}

.hero-body {
    position: relative;
}

.logo-animation {
    float: right;
    max-width: 15%;
}

.facebook-color {
    color: #1877F2;
}

.fritzbox-position {
    float: right;
}

.related-numbers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 0;
}

.token {
	padding-right:5px;
}

.copyToClipboard {
	padding-left: 0.5ex;	
}

.appscreen {
	border: 5px solid #555;
	border-radius: 10px;
}