<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.datenschutz.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

	<section class="section">
		<div class="content">
			<h1 data-tx="t0001">Déclaration de confidentialité</h1>

			<h2 data-tx="t0002">Adresse IP</h2>
			<p data-tx="t0003">Lors de la visite de ce site, l'adresse IP de ton ordinateur est temporairement enregistrée dans un fichier journal à des fins d'analyse d'erreurs et automatiquement effacée après 14 jours. Sans inscription, ce site ne collecte aucune donnée personnelle de ses visiteurs et ne contient ni publicité ni tracker tiers.</p>

			<h2 data-tx="t0004">Courrier électronique</h2>
			<p data-tx="t0005">Lors de l'inscription à un compte PhoneBlock, l'adresse e-mail que tu as indiquée est enregistrée à des fins d'authentification de l'utilisateur. L'adresse e-mail n'est pas transmise à des tiers. Seuls les e-mails nécessaires à l'authentification ou au fonctionnement de PhoneBlock seront envoyés à l'adresse indiquée.</p>

			<h2 data-tx="t0006">Cookies</h2>
			<p data-tx="t0007">Lors de certaines interactions avec le site Web de PhoneBlock, par exemple lors de l'inscription et de l'évaluation des numéros de téléphone, un cookie de session techniquement nécessaire est créé.</p>
			<p data-tx="t0008">Si tu actives la fonction "Rester connecté sur cet appareil" lors de la connexion, PhoneBlock place un cookie persistant qui permet au site de te reconnaître lors de ta prochaine visite, de sorte que tu sois automatiquement connecté sans devoir saisir à nouveau ton mot de passe ou répéter le processus de connexion Google. Si tu cliques sur le bouton "Déconnexion", ce cookie est supprimé et tu devras te reconnecter lors de ta prochaine visite.</p>

			<h2 data-tx="t0009">Suppression de compte</h2>
			<p data-tx="t0010">Tu peux à tout moment supprimer ton compte PhoneBlock dans les <a th:href="@{/settings/}">Préférences</a>. La suppression de ton compte entraîne la suppression de tes données enregistrées chez PhoneBlock.</p>
			
			<h2 data-tx="t0011">Numéros de téléphone</h2>
			<p data-tx="t0012">Si ton numéro de téléphone a été placé par erreur sur la liste de blocage, tu peux bien sûr demander à ce qu'il soit supprimé. Envoyez un e-mail à <code>Bernhard Haumacher &lt;<button class="showaddr">...</button>&gt;</code>.</p>

			<h2 data-tx="t0013">Répondeur téléphonique</h2>
			<p data-tx="t0014">Lors de l'utilisation du répondeur téléphonique <a th:href="@{/anrufbeantworter/}">PhoneBlock</a>, PhoneBlock doit enregistrer en permanence l'adresse IP de ta Fritz!Box pour y connecter le répondeur téléphonique et maintenir l'enregistrement. Pour cela, tu as soit enregistré le nom d'hôte de ta Fritz!Box, soit installé le service DynDNS de PhoneBlock dans ta Fritz!Box.</p>
			
			<p data-tx="t0015">Les appels entrants sur ta Fritz!Box sont signalés à un répondeur enregistré. Le numéro de téléphone de l'appelant est alors transmis au répondeur PhoneBlock. Ce numéro de téléphone est utilisé pour le faire correspondre à la base de données des numéros de téléphone SPAM. Ce n'est que si le numéro de téléphone figure dans la base de données SPAM que le répondeur prendra l'appel et l'enregistrera dans la liste des appels de ton répondeur. Dans tous les autres cas, aucune donnée relative à l'appel n'est enregistrée par PhoneBlock.</p>
			
		</div>
	</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>