<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-android.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installation d'Android</h1>
		
		<p data-tx="t0002">L'installation ajoute le carnet d'adresses PhoneBlock à tes contacts. Si tu reçois un appel d'un numéro de spam, tu en seras immédiatement informé, par exemple "SPAM : 03016637169". De même, tu vois tout de suite dans les appels manqués qu'il ne vaut pas la peine de rappeler ici sans googler d'abord le numéro.</p>
		
		<p data-tx="t0003">Tu ne peux pas bloquer les appels SPAM par ce biais (ton téléphone sonne quand même, mais tu vois qu'il s'agit d'un appel SPAM). Tu peux bloquer les appels SPAM en installant <a href="https://news.phoneblock.net/setup-spamblocker-mit-phoneblock/">SpamBlocker</a> et en intégrant la base de données PhoneBlock. <a href="https://github.com/aj3423/SpamBlocker">SpamBlocker</a> est une application indépendante. En cas de problème, adresse-toi directement au développeur.</p>
		
		<p data-tx="t0004">Pour la synchronisation du carnet d'adresses, tu as besoin d'une application qui permet de synchroniser les répertoires téléphoniques sur Internet. Pour cela, tu peux par exemple utiliser "<a href="https://play.google.com/store/apps/details?id=com.messageconcept.peoplesyncclient" target="_blank">PeopleSync</a>", ou "<a href="https://play.google.com/store/apps/details?id=at.bitfire.davdroid">DAVx⁵</a>". Les instructions ici sont écrites pour "PeopleSync", mais la procédure avec "DAVx⁵" est très similaire :</p>
		
		<h2 data-tx="t0005">Étape 1 : Ouvre Playstore et cherche "PeopleSync".</h2>
		
		<div class="columns">
			<div class="column">
	  			<img alt="Ouvre Playstore" class="image appscreen" data-tx="t0008" th:src="@{/assets/img/peoplesync/01-home.png}"/>
	  		</div>
		
			<div class="column">
				<img alt="Recherche de PeopleSync" class="image appscreen" data-tx="t0009" th:src="@{/assets/img/peoplesync/02-playstore.png}"/>
			</div>
		</div>
		
		<p class="buttons is-centered">
		  <a class="button" href="#">
		    <span class="icon">
		      <i class="fa-solid fa-caret-left"></i>
		    </span>
		    <span data-tx="t0006">Retour</span>
		  </a>
		  
		  <a class="button is-primary" th:href="@{/setup-android/03-people-sync-install}">
		    <span data-tx="t0007">Continuer</span>
		    <span class="icon">
		      <i class="fa-solid fa-caret-right"></i>
		    </span>
		  </a>
		</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>