<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001:3dfe1d89">Installation comme annuaire téléphonique</h1>

<p data-tx="t0002:10d70c8f">Pour installer la liste de blocage, tu as besoin d'un routeur Internet <a th:href="@{/link/fritzbox}">"FRITZ!Box" d'AVM</a> et d'un compte PhoneBlock. Il ne doit pas nécessairement s'agir du modèle le plus récent, mais tu devrais vérifier si le FRITZ!OS actuel y est installé (07.29 ou plus récent). Si ce n'est pas le cas, vérifie à l'aide des instructions d'installation suivantes si ta version propose déjà les options nécessaires.</p>

<p data-tx="t0003:d62d702f">Attention : en raison de limitations techniques de la Fritz!Box, il n'est pas possible de charger la totalité de la liste de blocage dans un annuaire téléphonique. C'est pourquoi la mise en place d'un <a th:href="@{/anrufbeantworter}">répondeur téléphonique</a> offre une meilleure protection contre les appels SPAM.</p>

<p data-tx="t0052:818cc317">Les étapes suivantes te permettent de configurer la liste de blocage :</p>

<ol>
	<li><a data-tx="t0053:5cb36b90" href="#register">S'inscrire sur PhoneBlock</a> <span class="tag is-success" data-tx="t0054:3378b39d" th:if="${userName}">✓ Fait</span></li>
	<li><a data-tx="t0055:d44f7d1" href="#fritzbox">Se connecter à la FRITZ!Box</a></li>
	<li><a data-tx="t0056:d6fa7b4e" href="#phonebook">Créer un nouveau répertoire téléphonique "Blocklist</a></li>
	<li><a data-tx="t0070:958ad5cf" href="#create-token">Créer un jeton CardDAV</a> <span class="tag is-success" data-tx="t0058:3378b39d" th:if="${cardDavToken}">✓ Fait</span></li>
	<li><a data-tx="t0071:9e1ea08e" href="#credentials">Saisir les données de connexion dans la Fritz!Box</a></li>
	<li><a data-tx="t0059:4f985acc" href="#verify">Vérifier l'installation</a></li>
	<li><a data-tx="t0060:91946e2c" href="#block">Activer le blocage d'appel</a></li>
</ol>

<h2 data-tx="t0061:e8d5bb12" id="register">Étape 1 : S'inscrire sur PhoneBlock</h2>

<p data-tx="t0062:fffc269" th:unless="${userName}">Tout d'abord, tu dois t'inscrire ou te connecter à PhoneBlock pour commencer la configuration.</p>

<div class="columns" th:unless="${userName}">
  <div class="column is-half is-offset-one-quarter">
	<a th:href="@{/login(location='/setup#register')}">
		<button class="button is-medium is-info is-fullwidth">
			<span class="icon">
				<i class="fa-solid fa-right-to-bracket"></i>
			</span>
			<span data-tx="t0063:1dc205">S'inscrire</span>
		</button>
	</a>
  </div>
</div>
<p data-tx="t0064:c41dd734" th:if="${userName}"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Tu es connecté en tant que <code dir="ltr" th:text="${userName}"></code>, super ! Passe à l'étape suivante.</p>
		
		<h2 data-tx="t0065:8bf85697" id="fritzbox">Étape 2 : se connecter à la FRITZ!Box</h2>

		<p data-tx="t0012:2354f60">Pour que cela fonctionne, tu dois te trouver à la maison sur ton réseau WLAN ou ton ordinateur doit être directement connecté à la FRITZ!Box par câble. La FRITZ!Box te demande d'abord ton mot de passe. Si tu ne t'es encore jamais connecté, tu trouveras ce mot de passe sur le dessous de l'appareil.</p>

		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a href="http://fritz.box" target="_blank">
				<button class="button is-medium is-primary is-fullwidth" data-tx="t0013:d44f7d1">Se connecter à la FRITZ!Box</button>
			</a>
		  </div>
		</div>

		<h2 data-tx="t0066:502b2c97" id="phonebook">Étape 3 : Créer un nouveau répertoire téléphonique "Blocklist</h2>
		
		<p data-tx="t0015:60de307b">Pour que ta FRITZ!Box puisse bloquer les appels de spam, elle a besoin de son propre annuaire téléphonique dans lequel tous les numéros d'appelants indésirables sont enregistrés. Appelle ce répertoire "Blocklist". Pour cela,</p>
		
		<ol>
			<li data-tx="t0016:ee677f2e">Navigue d'abord dans la rubrique "Téléphonie",</li>
			<li data-tx="t0017:bf3c833">sélectionne l'option de menu "Répertoire" et</li>
			<li data-tx="t0018:9545daeb">clique ensuite sur le lien "Nouvel annuaire".</li>
		</ol>
		
		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Liste d'appels de la Fritz!Box" class="image" data-tx="t0037:b9f34dc9" th:src="@{/assets/img/setup/02-navigate-to-addressbooks.png}"/>
		  </div>
		</div>
		
		<h2 data-tx="t0072:356d507a" id="create-token">Étape 4 : Créer un jeton CardDAV</h2>

		<p data-tx="t0073:5843bc02">Pour l'installation dans ta Fritz!Box, tu as besoin d'un token CardDAV spécial comme mot de passe. Ce token sert uniquement à la connexion entre ta Fritz!Box et PhoneBlock et peut être révoqué à tout moment dans les paramètres.</p>

		<th:block th:if="${cardDavToken}">
			<p data-tx="t0074:f786328e"><span class="tag is-success is-large"><i class="fa-solid fa-check"></i></span> Tu as créé un token ! Passe à l'étape suivante.</p>
		</th:block>

		<th:block th:if="${userName} and ${!cardDavToken}">
			<p data-tx="t0075:ca529190">Crée maintenant un token pour la Fritz!Box. Tu peux éventuellement ajouter une remarque pour savoir plus tard à quoi sert le token (par exemple "Fritz!Box Salon").</p>

			<form method="post" th:action="@{/update-settings(action='createToken', location='/setup#create-token')}">
				<input name="token-type" type="hidden" value="CARDDAV"/>
				<div class="field has-addons">
					<div class="control is-expanded">
						<input class="input" data-tx="t0049:fe053998" name="token-label" placeholder="Facultatif : Remarque (par ex. 'Fritz!Box Salon')" type="text"/>
					</div>
					<div class="control">
						<button class="button is-primary" data-tx="t0050:21ce66dd" type="submit"><i class="fa-solid fa-key"></i> Créer un jeton</button>
					</div>
				</div>
			</form>
		</th:block>

		<p data-tx="t0051:9fe447a" th:unless="${userName}">Tu dois d'abord te <a th:href="@{/login(location='/setup')}"> connecter</a> pour créer un token.</p>

		<h2 data-tx="t0076:35997409" id="credentials">Étape 5 : Saisir les données de connexion dans la Fritz!Box</h2>

		<p data-tx="t0020:e4a227b8">Maintenant, tu dois entrer les données de connexion dans la FRITZ!Box.</p>

		<ol>
			<li>
				<div data-tx="t0021:d5b1f48a">Donne le nom <code dir="ltr">Blocklist</code> à l'annuaire téléphonique qui doit servir de liste de blocage. Tu auras à nouveau besoin de ce nom pour l'étape suivante.</div>
			</li>

			<li data-tx="t0022:32f6ec7">Sélectionne l'option <i>Utiliser le répertoire d'un fournisseur en ligne</i>.</li>

			<li data-tx="t0023:d59c1b48">Choisis le fournisseur <i>CardDAV</i>.</li>

			<li>
				<div data-tx="t0079:c5926e14">Transmets les données de connexion (de préférence par copier-coller pour éviter les fautes de frappe).</div>

				<ul>
					<li data-tx="t0080:d646341e"><span><i>Adresse Internet du serveur CardDAV</i>:</span> <code dir="ltr" id="url2" th:text="|https://phoneblock.net${contextPath}/contacts/|"></code><a class="copyToClipboard" data-tx="t0042:3f7efe41" href="#" id="url2_" title="Copier dans le presse-papiers."><i class="fa-solid fa-copy"></i></a> (URL du carnet d'adresses PhoneBlock)</li>

					<li>
						<i data-tx="t0081:548c40c1">Nom d'utilisateur</i>: 
						
						<th:block data-tx="t0082:baafe4ec" th:if="${userName}"><code dir="ltr" id="login2" th:text="${userName}"></code><a class="copyToClipboard" data-tx="t0043:3f7efe41" href="#" id="login2_" title="Copier dans le presse-papiers."><i class="fa-solid fa-copy"></i></a> (votre nom d'utilisateur PhoneBlock)</th:block>

						<th:block data-tx="t0083:c9c6fa56" th:unless="${userName}">Tu dois d'abord t'inscrire (voir <a href="#register">étape 1</a>).</th:block>
					</li>

					<li>
						<span>
							<i data-tx="t0084:e99dee32">Mot de passe</i>:
						</span>
						
						<th:block data-tx="t0085:1d7c0447" th:if="${cardDavToken}"><code dir="ltr" id="passwd2" th:text="${cardDavToken.token}"></code><a class="copyToClipboard" data-tx="t0044:3f7efe41" href="#" id="passwd2_" title="Copier dans le presse-papiers."><i class="fa-solid fa-copy"></i></a> (le jeton de l'étape 4)</th:block>
						
						<th:block data-tx="t0078:c657e130" th:unless="${cardDavToken}">Tu dois d'abord créer un token (voir <a href="#create-token">étape 4</a>).</th:block>
					</li>
				</ul>
			</li>
			
			<li>
				<p data-tx="t0086:95ea1a24"><b>Attention</b> : sélectionne <b>aucun de tes téléphones</b> au point "Attribution des téléphones" ! Sinon, tu ne trouveras sur ton téléphone que des appelants SPAM dans tes contacts.</p>
				<p data-tx="t0087:79f2e6a0">Tu peux maintenant confirmer la création du nouveau répertoire.</p>
			</li>
		</ol>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Créer un nouveau carnet d'adresses" class="image" data-tx="t0038:50de9d04" th:src="@{/assets/img/setup/03-add-address-book.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0068:49ed5643" id="verify">Étape 6 : Vérifier l'installation</h2>

		<p data-tx="t0027:6bd9c881">Si tout s'est bien passé, ta FRITZ!Box a chargé tous les numéros de la liste de blocage PhoneBlock. Tu devrais maintenant avoir un nouveau répertoire "Blocklist" dans la rubrique "Téléphonie / Répertoire". Si tu sélectionnes l'onglet "Blocklist", tu peux voir tous les numéros des appelants spam actuels.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Afficher la blocklist consultée" class="image" data-tx="t0039:3d7cbd9f" th:src="@{/assets/img/setup/04-check-blocklist.png}"/>
		  </div>
		</div>

		<h2 data-tx="t0069:16c40784" id="block">Étape 7 : Activer le blocage d'appel</h2>
		
		<p data-tx="t0029:ffbbaf55">Dans la rubrique "Téléphonie / Traitement des appels", tu peux maintenant définir le nouveau répertoire téléphonique "Blocklist" comme plage de numéros à bloquer.</p>			
		
		<p data-tx="t0030:2d9a1437">Fais défiler vers le bas jusqu'à la sous-rubrique "Bloquer les plages de numéros" et clique sur le bouton "Ajouter une plage".</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Ajouter un nouveau blocage d'appel" class="image" data-tx="t0040:e5649829" th:src="@{/assets/img/setup/05-add-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0031:56b8a409">Dans le nouveau masque, choisis l'option "Annuaire" dans le choix "Domaine" et sélectionne le nouvel annuaire "Blocklist" comme "Annuaire" à bloquer.</p>

		<div class="columns">
		  <div class="column is-8 is-offset-2">
			<img alt="Bloquer les appelants dont le numéro de téléphone figure dans la liste de blocage" class="image" data-tx="t0041:a8687137" th:src="@{/assets/img/setup/06-create-blocklist.png}"/>
		  </div>
		</div>
		
		<p data-tx="t0032:8943dc0d">Parfait! Tu as terminé la configuration. Ton téléphone devrait maintenant sonner beaucoup moins souvent à cause d'un appel indésirable. Et si c'est le cas, tu peux facilement faire taire le gêneur pour toi et pour toute la communauté PhoneBlock :</p>
		
		<div class="columns">
		  <div class="column is-half is-offset-one-quarter">
			<a th:href="@{/block}"><button class="button is-medium is-primary is-fullwidth" data-tx="t0033:fcebb7bf">Bloquer un numéro de téléphone</button></a>
		  </div>
		</div>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>