<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.setup-iphone.title})}"></head>

<body th:dir="${currentLang.direction}">
<div th:replace="~{fragments/page :: header(location=${currentPage})}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Installation dans les systèmes téléphoniques</h1>
		
		<p data-tx="t0002">PhoneBlock peut également être intégré dans des installations téléphoniques. Étant donné qu'un PBX est plutôt utilisé à des fins professionnelles, veuillez consulter les <a th:href="@{/usage}">Informations relatives à l'utilisation commerciale</a> de PhoneBlock, notamment la clause de non-responsabilité. Les scripts d'intégration du PBX sont des contributions de la communauté PhoneBlock. Par conséquent, si tu as des questions/problèmes à ce sujet, merci de t'adresser directement au développeur concerné.</p>
		
		<h2 data-tx="t0003">3CX</h2>
		
		<p data-tx="t0004">Pour utiliser PhoneBlock dans le système téléphonique de <a href="https://www.3cx.com/">3CX</a>, consulte le projet <a href="https://github.com/rawbyne/phoneblock-for-3cx/">phoneblock-for-3cx</a>.</p>
		
		<h2 data-tx="t0005">Autres</h2>
		
		<p data-tx="t0006">Tu as écrit une intégration pour un autre système téléphonique ? Alors fais-le moi savoir <a th:href="@{/impressum}">pour que je puisse mettre un lien vers ton projet.</a></p>
		
	</div>	
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>