<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title='PhoneBlock unterstützen')}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Faire un don par virement bancaire</h1>

		<p data-tx="t0002">Merci de participer aux frais de PhoneBlock. Si beaucoup participent, un petit montant suffit, par exemple <b>1 ? par an</b> ou <b>0,01 ? par appel spam intercepté</b>, mais tu peux choisir toi-même le montant de ta contribution.</p>
		
		<p data-tx="t0003">Veuillez utiliser les coordonnées bancaires suivantes pour effectuer votre virement :</p>

		<ul>
			<li data-tx="t0004">Récepteur : <code id="receiver" th:text="${props.bank.receiver}"></code><a class="copyToClipboard" href="#" id="receiver_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></li>
			<li data-tx="t0005">Numéro de compte : <code id="account" th:text="${props.bank.account}"></code><a class="copyToClipboard" href="#" id="account_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></li>
			<li data-tx="t0006">BIC : <code id="bic" th:text="${props.bank.bic}"></code><a class="copyToClipboard" href="#" id="bic_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></li>
			<li data-tx="t0007">Motif de l'utilisation : <code id="purpose" th:text="${supporterId}"></code><a class="copyToClipboard" href="#" id="purpose_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></a></li>
		</ul>
		
		<p data-tx="t0008">Merci de contribuer à l'utilisation de PhoneBlock !</p>
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>