<!DOCTYPE html>
<html>
<head th:replace="~{fragments/page :: head(title=#{page.support.title})}"></head>

<body>
<div th:replace="~{fragments/page :: header}"></div>

<section class="section">
	<div class="content">
		<h1 data-tx="t0001">Soutenir PhoneBlock</h1>

		<p data-tx="t0002">L'utilisation de PhoneBlock est gratuite, tu peux installer PhoneBlock sur toutes tes Fritz!Box et téléphones portables sans payer. Cependant, l'exploitation de PhoneBlock n'est pas gratuite. La location du serveur, l'accès à Internet et l'enregistrement du domaine entraînent des frais courants. <a th:href="@{/impressum}">Je</a> finance cela de ma propre poche.</p>
		
		<p data-tx="t0003">Si tu aimes PhoneBlock et qu'il t'aide à éloigner les nuisibles de ta ligne téléphonique, tu peux participer aux frais de PhoneBlock ou simplement dire "merci" en faisant un petit don. Si de nombreux utilisateurs participent, un petit montant - par exemple <b>1? par an</b> ou <b>0,01? par appel spam intercepté</b> - suffira à couvrir les frais. Le montant est toutefois laissé à ta discrétion. Ton don n'est pas une "cotisation" et tu n'attends rien en retour.</p>
		
		<div class="columns">
			<div class="column is-full">
				<a class="card" href="http://paypal.me/phoneblock" target="_blank">
				  <div class="card-content has-background-primary">
					<div class="title">
					    <span class="icon">
							<i class="fa-brands fa-paypal"></i>
					    </span>
						<span data-tx="t0004">Faire un don avec PayPal</span>			
					</div>
					<p class="subtitle" data-tx="t0005">Utilise "Envoyer de l'argent à des amis", PayPal facture sinon des frais absurdes, pour 1€, il n'arrive que 60Ct.</p>
					<p class="subtitle" data-tx="t0006" th:unless="${loggedIn}">Veuillez inclure les premiers caractères de votre nom d'utilisateur dans votre message afin que je puisse attribuer le paiement.</p>
					<p class="subtitle" data-tx="t0007" th:if="${loggedIn}">Veuillez saisir <code id="purpose" th:text="${supporterId}"></code><span class="copyToClipboard" data-tx="t0013" href="#" id="purpose_" title="In die Zwischenablage kopieren."><i class="fa-solid fa-copy"></i></span> comme message pour que je puisse attribuer le paiement.</p>
				  </div>
				</a>
			</div>
		</div>

		<div class="columns">
			<div class="column is-half">
				<a class="card" href="https://github.com/sponsors/haumacher" target="_blank">
				  <div class="card-content has-background-info">
					<p class="title">
					    <span class="icon">
							<i class="fa-brands fa-github"></i>
					    </span>
						<span data-tx="t0008">Devenir sponsor sur GitHub</span>
					</p>
					<p class="subtitle" data-tx="t0009">Tu peux faire un don unique ou régulier.</p>
				  </div>
				</a>
			</div>
			<div class="column is-half">
				<a class="card" th:href="@{/support-banktransfer}">
				  <div class="card-content has-background-info">
					<p class="title">
					    <span class="icon">
							<i class="fa-solid fa-building-columns"></i>
					    </span>
						<span data-tx="t0010">Faire un don par virement bancaire</span>
					</p>
					<p class="subtitle" data-tx="t0011">Tu dois te connecter pour voir les détails du compte.</p>
				  </div>
				</a>
			</div>
		</div>
				
		<p data-tx="t0012">Merci de participer aux frais de PhoneBlock!</p>
		
	</div>
</section>

<div th:replace="~{fragments/page :: footer}"></div>
</body>
</html>